{% extends "base.html" %}

{% block title %} Preferences {% endblock %}

{% block content %}

    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap-tagsinput-custom.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap-tagsinput.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/typeahead-bootstrap3.css" />

    <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap-tagsinput.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/typeahead.bundle.min.js"></script>

<script type="text/javascript">

    $(document).ready(function() {

        var engine = new Bloodhound({
            name: 'tags',
            remote: {
                url: '{% url 'tag_search' %}?query=%QUERY',
                wildcard: '%QUERY'
            },
            datumTokenizer: function(d) { return Bloodhound.tokenizers.whitespace(d.val); },
            queryTokenizer: Bloodhound.tokenizers.whitespace
        });

        engine.initialize();

        $('#id_favorite_tags').tagsinput({
            confirmKeys: [13, 188],
            tagClass: function(item) {
                return 'label label-primary';
            },
            typeaheadjs: {
                source: engine,
                displayKey: 'value',
                valueKey: 'value',
                options: {'autoselect': true}
            }

        });

    });

</script>

{% if message %}
    <div class="alert alert-success">{{ message }}</div>
{% endif %}

<form class="form-horizontal" action="{{ request.path }}" method="post">
    {% csrf_token %}

    <div class="form-group">
        <label class="col-lg-2 control-label" for="inputTitle">RSS Feeds</label>
        <div class="col-lg-5"><a href="{% url 'feed_subscriptions' %}">Edit</a></div>
    </div>

    {% for field in form %}
        <div class="form-group{% if field.errors %} error{% endif %}">
            <label class="col-lg-2 control-label" for="inputTitle">{{ field.label }}</label>
            <div class="col-lg-5">
                {{ field }}

                {% for error in field.errors %}
                    <span class="form-error">{{ error }}</span>
                {% endfor %}

            </div>

        </div>
    {% endfor %}

    <div class="form-group">
        <div class="col-lg-3 col-lg-offset-2">
            <input class="btn btn-default" type="submit" name="Go" value="Edit">
        </div>
    </div>

</form>

{% endblock %}
