{% extends "base.html" %}

{% block title %} Preferences {% endblock %}

{% block content %}

{% if message %}
    <div class="alert alert-success">{{ message }}</div>
{% endif %}

<form id="prefs-form" action="{{ request.path }}" method="post">
    {% csrf_token %}

    <div class="form-group row">
        <label class="bold col-lg-2 col-form-label text-right" for="inputTitle">API Token</label>
        <div class="col-lg-5 align-self-center">{{ user.auth_token }}</div>
    </div>

    {% if user.groups.all %}
        <div class="form-group row">
            <label class="bold col-lg-2 col-form-label text-right" for="inputTitle">Groups</label>
            <div class="col-lg-5 align-self-center">{{ groups }}</div>
        </div>
    {% endif %}

    <div class="form-group row">
        <label class="bold col-lg-2 col-form-label text-right" for="inputTitle">RSS Feeds</label>
        <div class="col-lg-5 align-self-center"><a href="{% url 'feed_subscriptions' %}">Edit</a></div>
    </div>

    {% for field in form %}
        <div class="form-group{% if field.errors %} error{% endif %} row">
            <label class="bold col-lg-2 col-sm-2 col-form-label text-right" for="inputTitle">{{ field.label }}</label>
            <div class="col-lg-5">
                {% if field.label == 'Favorite tags' %}
                    <tags-input></tags-input>
                {% else %}
                {{ field }}
                {% endif %}

                {% for error in field.errors %}
                    <span class="form-error">{{ error }}</span>
                {% endfor %}

            </div>

        </div>
    {% endfor %}

    <div class="form-group">
        <div class="col-lg-3 offset-lg-2">
            <input class="btn btn-secondary" type="submit" name="Go" value="Edit">
        </div>
    </div>

</form>

{% endblock %}

{% block javascript %}

    {{ block.super }}

    {{ tags|json_script:"initial-tags"|default:"" }}

    <script type="text/javascript">

        Vue.mixin({ delimiters: ["[[", "]]"] });

        const TagsInput = {
            template: `
                <div>
                    <vue-tags-input
                        ref="tagsInputComponent"
                        v-model="tag"
                        :tags="tags"
                        @tags-changed="newTags => tags = newTags"
                        :autocomplete-items="filteredItems"
                        :add-only-from-autocomplete="false"
                        placeholder="">
                        <div slot="autocomplete-item" slot-scope="scope" @click="scope.performAdd(scope.item)">
                            <div>[[ scope.item.text ]]</div>
                        </div>
                    </vue-tags-input>
                    <input type="hidden" name="favorite_tags" :value="tagsCommaSeparated" />
                </div>
            `,
            data() {
                return {
                    tag: "",
                    tags: [],
                    autocompleteItems: [],
                }
            },
            watch: {
                "tag": "initItems",
            },
            methods: {
                initItems() {

                    // Set a minimum character count to trigger the ajax call
                    if (this.tag.length < 3) return;

                    return doGet(
                        this,
                        "{% url "tag_search" %}?query=" + this.tag,
                        (response) => {
                            this.autocompleteItems = response.data.map(a => {
                                return { text: a.text, value: a.value };
                            })
                        },
                        ""
                    );

                }
            },
            mounted() {
                initialTags = JSON.parse(document.getElementById("initial-tags").textContent);
                if (initialTags) {
                    this.tags = initialTags;
                }
            },
            computed: {
                tagsCommaSeparated: function() {
                    // Be sure to use the 'text' field rather than 'value'.
                    //  The 'value' field only exists for existing tags that
                    //  are added by autocomplete, not new tags typed in
                    //  by the user.
                    return this.tags.map(x => x.text).join(",")
                },
                filteredItems() {
                    return this.autocompleteItems.filter(i => {
                        return i.text.toLowerCase().indexOf(this.tag.toLowerCase()) !== -1;
                    });
                }
            }
        }

        new Vue({
            el: "#prefs-form",
            components: {
                TagsInput
            }
        });

    </script>

{% endblock %}
