{% extends "base.html" %}

{% block title %} Preferences {% endblock %}

{% block content %}

    <div class="row g-0 h-100">

        <div class="col-lg-3 d-flex flex-column">

            <div class="card-body">

                <div class="row ms-5 mt-5">
                    <div class="col-3">
                        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                            <a class="nav-link" id="v-pills-home-tab" href="{% url 'accounts:prefs' %}" role="tab" aria-controls="v-pills-home" aria-selected="true">Main</a>
                            <a class="nav-link active" id="v-pills-profile-tab" href="#" role="tab" aria-controls="v-pills-profile" aria-selected="false">Password</a>
                        </div>
                    </div>
                </div>

            </div>

        </div>

        <div class="col-lg-9">

            <div class="card-grid ms-2">

                <form enctype="multipart/form-data" action="{% url 'accounts:password' %}" method="post">

                    <div id="vue-app" class="row">
                        <label class="col-lg-2"></label>
                    </div>

                    <h3 class="row offset-lg-2 mt-3">
                        Change Password
                    </h3>

                     {% csrf_token %}

                    <div class="row mb-3">
                        <label class="fw-bold col-lg-2 col-form-label text-end" for="inputTitle">Old Password</label>
                        <div class="col-lg-5">
                            <input type="password" name="old_password" value="" class="form-control" autofocus required id="id_old_password">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label class="fw-bold col-lg-2 col-form-label text-end" for="inputTitle">New Password</label>
                        <div class="col-lg-5">
                            <input type="password" name="new_password1" value="" class="form-control" required id="id_new_password1">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label class="fw-bold col-lg-2 col-form-label text-end" for="inputTitle">New Password Confirmation</label>
                        <div class="col-lg-5">
                            <input type="password" name="new_password2" value="" class="form-control" required id="id_new_password2">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-lg-3 offset-lg-2">
                            <button class="btn btn-secondary" type="submit">Save changes</button>
                            <!-- <input class="btn btn-secondary" type="submit" name="Go" value="Save Changes"> -->
                        </div>
                    </div>

                </form>

            </div>

        </div>

    </div>

{% endblock %}

{% block javascript %}

    {{ block.super }}

    <script type="text/javascript">

        new Vue({
            el: "#vue-app",
        });

    </script>

{% endblock %}
