{% extends "base.html" %}

{% load dict_get %}

{% block title %} Tags {% endblock %}

{% block content %}

    <div class="row g-0 h-100 mx-2" id="vue-app">

        <div class="col-lg-3 d-flex flex-column flex-grow-last">

            <div class="card-body backdrop-filter">

                <div class="d-flex position-relative">
                    <h4>
                        Tag Info
                    </h4>
                    <div id="tags-search" class="d-none">
                        <simple-suggest
                            ref="simpleSuggest"
                            class="w-100"
                            display-attribute="display"
                            value-attribute="text"
                            place-holder="Tag name"
                            search-url="{% url 'tag:search' %}?query="
                            @blur="onBlur"
                        />
                    </div>
                    <div class="ms-auto d-flex align-items-center" @click="openSearchWindow">
                        <font-awesome-icon icon="search" class="glow text-emphasis" />
                    </div>
                </div>
                <h4 v-cloak>
                    <strong class="text-primary">[[ tagInfo.name ]]</strong>
                </h4>

                <div class="d-flex flex-column">

                    <div class="list-header-border mb-2 pb-2 mt-4">
                        Objects using this tag
                    </div>

                    <div v-if="tagInfo.blob__count" v-cloak>
                        Blobs: <span class="text-info">[[ tagInfo.blob__count ]]</span>
                    </div>
                    <div v-if="tagInfo.bookmark__count" v-cloak>
                        Bookmarks: <span class="text-info">[[ tagInfo.bookmark__count ]]</span>
                    </div>
                    <div v-if="tagInfo.todo__count" v-cloak>
                        Todos: <span class="text-info">[[ tagInfo.todo__count ]]</span>
                    </div>
                    <div v-if="tagInfo.question__count" v-cloak>
                        Questions: <span class="text-info">[[ tagInfo.question__count ]]</span>
                    </div>
                    <div v-if="tagInfo.song__count" v-cloak>
                        Songs: <span class="text-info">[[ tagInfo.song__count ]]</span>
                    </div>
                    <div v-if="tagInfo.album__count" v-cloak>
                        Albums: <span class="text-info">[[ tagInfo.album__count ]]</span>
                    </div>
                    <div v-if="tagInfo.collection__count" v-cloak>
                        Collections: <span class="text-info">[[ tagInfo.collection__count ]]</span>
                    </div>

                </div>

            </div>

        </div>

        <div class="col-lg-9">

            <div class="me-3">
                <card class="backdrop-filter">
                    <template v-slot:title-slot>
                        <div class="d-flex">
                            <h4>
                            Tag Aliases
                            </h4>
                            <div class="ms-auto me-2">
                                <div class="button-add" @click="openModal">
                                    <font-awesome-icon icon="plus" class="text-emphasis" />
                                </div>
                            </div>
                        </div>
                    </template>
                    <template v-slot:content>

                        <div class="d-flex">

                            <div class="side-panel highlight-box mt-5 me-5">
                                <div class="circle me-3 mb-2">
                                    <font-awesome-icon icon="info"></font-awesome-icon>
                                </div>
                                Tag aliases are labels you can assign as synonyms for tags.
                                <br /><br />
                                An example might be the alias <span class="text-primary">math</span> for the tag <span class="text-primary">mathematics</span>
                            </div>

                            <b-table
                                :data="items"
                                :mobile-cards="false"
                                :default-sort="['tag.name']"
                                hoverable
                                class="w-100"
                                sort-icon="chevron-up"
                                :row-class="(row, index) => 'hover-target'"
                            >

                                <b-table-column field="tag.name" label="Tag" header-class="cursor-pointer" sortable v-slot="props">
                                    <span>[[ props.row.tag.name ]]</span>
                                </b-table-column>

                                <b-table-column field="name" label="Alias" header-class="cursor-pointer" sortable v-slot="props">
                                    <span>[[ props.row.name ]]</span>
                                </b-table-column>

                                <b-table-column field="uuid" label="" cell-class="col-action" v-slot="props">
                                    <drop-down-menu :show-on-hover="true">
                                        <div slot="dropdown">
                                            <li>
                                                <a class="dropdown-item" href="#" @click.prevent="onClickDelete(props.row)">
                                                    <font-awesome-icon icon="trash-alt" class="text-primary me-3"></font-awesome-icon>Delete
                                                </a>
                                            </li>
                                        </div>
                                    </drop-down-menu>
                                </b-table-column>

                                </template>

                                <template #empty>
                                    <div class="text-center">No tag aliases found</div>
                                </template>

                            </b-table>

                        </div>

                    </template>
                </card>
            </div>

            <div class="modal fade" id="modal-tagalias" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="myModalLabel">Add Tag Alias</h4>
                            <button type="button" class="close-button btn-close" data-bs-dismiss="modal"></button>
                        </div>
                        <div class="modal-body">
                            <div class="form-row align-items-center">
                                <div class="mx-1 d-flex">
                                    <simple-suggest
                                        id="tag-alias-name"
                                        ref="tagAliasSuggest"
                                        display-attribute="text"
                                        value-attribute="text"
                                        search-url="{% url 'tag:search' %}?skip_tag_aliases=true&query="
                                        place-holder="Tag"
                                        wrapper-class="w-100 me-3"
                                        :debounce="500"
                                    >
                                    </simple-suggest>
                                    <input v-model="addAliasAliasName" class="form-control" type="text" name="alias" autocomplete="off" placeholder="Alias" @keydown.enter="addAlias" />
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer align-items-start align-items-center">

                            <div class="mt-2 text-info">
                                <font-awesome-icon v-if="addAliasMessage" class="me-1 pt-1 success" icon="exclamation-triangle" />
                                {{ addAliasMessage }}
                            </div>

                            <input class="btn btn-primary" type="button" value="Add" @click="addAlias" />
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>

{% endblock %}

{% block javascript %}

    {{ block.super }}

    {{ random_tag_info|json_script:"random_tag_info" }}

    <script type="text/javascript" charset="utf-8">

        new Vue({
            el: "#vue-app",
            components: {
                SimpleSuggest,
            },
            data() {
                return {
                    filterSearch: "",
                    items: [
                    ],
                    addAliasTagName: "",
                    addAliasAliasName: "",
                    addAliasMessage: "",
                    tagInfo: JSON.parse(document.getElementById("random_tag_info").textContent),
                };
            },
            mounted() {
                this.getTagAliasList();
                this.getTodoCounts();
            },
            methods: {
                getTagAliasList() {
                    doGet(
                        this,
                        "{% url 'tagalias-list' %}",
                        (response) => {
                            this.items = response.data.results;
                        },
                        "Error retrieving tag alias list",
                    );
                },
                getTodoCounts(tagName) {
                    let url = "{% url 'tag:get_todo_counts' %}";
                    if (tagName) {
                        url = url + "?tag_name=" + tagName;
                    }
                    doGet(
                        this,
                        url,
                        (response) => {
                            this.tagInfo = response.data.info;
                        },
                        "Error retrieving tag alias list",
                    );
                },
                onBlur() {
                    document.getElementById("tags-search").classList.add("d-none");
                },
                openSearchWindow() {
                    document.getElementById("tags-search").classList.remove("d-none");
                    setTimeout( () => {
                        this.$refs.simpleSuggest.$refs.suggestComponent.input.focus();
                    }, 100);
                },
                onClickDelete(item, index, evt) {
                    const selectedUuid = item;
                    axios.delete("{% url 'tagalias-detail' '00000000-0000-0000-0000-000000000000' %}".replace("00000000-0000-0000-0000-000000000000", selectedUuid))
                         .then((response) => {
                             EventBus.$emit(
                                 "toast",
                                 {
                                     "body": "Tag alias deleted",
                                 },
                             );

                             this.getTagAliasList();

                             console.log("Success");
                         }, (error) => {
                             console.log(error);
                         });
                },
                getTagClass(tag) {
                    if (tag === this.filterTag) {
                        return "selected rounded-sm";
                    }
                },
                openModal() {
                    const modal = new Modal("#modal-tagalias");
                    modal.show();
                    setTimeout( () => {
                        this.$refs.tagAliasSuggest.$refs.suggestComponent.input.focus();
                    }, 500);
                },
                select(tagName) {
                    document.getElementById("tags-search").classList.add("d-none");
                    this.getTodoCounts(tagName.text);
                },
                resetModal() {
                    this.$refs.tagAliasSuggest.$refs.suggestComponent.clearSuggestions();
                    this.$refs.tagAliasSuggest.$refs.suggestComponent.setText("");
                    this.addAliasAliasName = "";
                },
                addAlias() {
                    doPost(
                        this,
                        "{% url 'tag:add_alias' %}",
                        {
                            "tag_name": this.addAliasTagName,
                            "alias_name": this.addAliasAliasName,
                        },
                        () => {
                            this.resetModal();

                            const modal = Modal.getInstance(document.getElementById("modal-tagalias"));
                            modal.hide();
                            this.getTagAliasList();
                        },
                        "Tag alias added",
                        "",
                    );
                },
            },
        });

    </script>

{% endblock %}
