[run]
plugins = django_coverage_plugin

[django_coverage_plugin]
template_extensions = html

[report]
omit =
    #
    # Python __init__.py files
    #
    */__init__.py*

    #
    # the tests themselves
    #
    *test*

    #
    # Django migrations
    #
    */migrations/*

    #
    # third-party code
    #
    bordercore/apps/rfc3339.py

    #
    # virtualenv
    #
    */env/*

    #
    # NPM modules
    #
    *node_modules*

    #
    # AWS files
    #
    *aws-sam*
