*.ipynb
*.pyc
.#*
bordercore/static/docs/
bordercore/static/img/favicons/*
!bordercore/static/img/favicons/README
bordercore/static/blobs
bordercore/static/fonts/*zip
secrets.json
.projectile
node_modules/

packaged.yaml
**/.aws-sam/*
**/htmlcov/*
*.coverage

bordercore/aws/create_thumbnail/lib/*
bordercore/aws/index_blobs/lib/*
bordercore/aws/create_bookmark_thumbnail/lib/*
bordercore/aws/create_collection_thumbnail/lib/*

**/css/theme-dark.css
**/css/theme-dark.min.css
**/css/theme-light.css
**/css/theme-light.min.css
**/javascript-bundle.js.gz
**/javascript-bundle.min.js.gz