*.ipynb
*.pyc
.#*
bordercore/static/docs/
bordercore/static/img/favicons/*
!bordercore/static/img/favicons/README
bordercore/static/blobs
secrets.json

bordercore/aws/.aws-sam/build/
bordercore/aws/index_blobs/.aws-sam/build/
packaged.yaml
