*.ipynb
*.pyc
.#*
bordercore/static/admin/
bordercore/static/docs/
bordercore/static/img/favicons/*
!bordercore/static/img/favicons/README
bordercore/static/blobs
bordercore/static/fonts/*zip
secrets.json
secrets.env
.projectile
node_modules/

packaged.yaml
**/.aws-sam/*
**/htmlcov/*
*.coverage

bordercore/aws/create_thumbnail/lib/*
bordercore/aws/index_blobs/lib/*
bordercore/aws/create_bookmark_thumbnail/lib/*
bordercore/aws/create_collection_thumbnail/lib/*

**/static/dist
bordercore/webpack-stats.json