{% extends "base.html" %}

{% load dict_get %}

{% block title %} Blob :: Detail {% endblock %}

{% block extra_head %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/code_style.css" />
{% endblock %}

{% block left-block %}

    <h1>{{ caption }}</h1>

    <h5>{{ object.get_edition_string }}</h5>

    <br />

    {% if metadata.Author %}by {{ metadata.Author }}<br />{% endif %}

    {% if date %}{{ date }}<br /><br />{% endif  %}

    {% if object.tags.all %}
            Tags:
        {% for tag in object.tags.all %}
            <a class="badge badge-primary" href="{% url 'kb_search_tag_detail' tag.name %}">{{ tag.name }}</a>
        {% endfor %}
        <br /><br />
    {% endif %}

    {% if urls %}

        {% for url in urls %}
            <strong><a href="{{ url.url }}">{{ url.domain }}</a></strong>
            <br />
        {% endfor %}

        <br />

    {% endif %}

    {% for key, values in metadata.items %}
        {% if not key in fields_ignore %}
            <div>
                <strong>{{ key }}</strong><br />
                {{ values }}
            </div>
            {% endif %}
    {% endfor %}
    {% if content_type %}
        <div>
            <strong>Object Type</strong><br />
            {{ content_type }}
        </div>
    {% endif %}
    {% if object.sha1sum %}
        <div>
            <strong>Sha1sum</strong><br />
            <small><a href="{{ aws_url }}">{{ object.sha1sum }}</a></small>
        </div>
    {% endif %}

    {% if solr_info.note %}
        <div id="blob_note">{{ object.get_note|safe }}</div>
    {% endif %}

    {% if object.has_been_modified %}
        <div class="mt-3">Last edited: {{ object.modified }}</div>
    {% endif %}

    {% if linked_blobs %}
        <div class="row top-buffer">
            <div class="col-lg-12">
                {% for collection in linked_blobs %}
                    <div id="blob_collection_list">
Linked with: <a href="{% url 'blob_add' %}?linked_collection={{ collection.id }}"></a>
                    </div>
                    <ul class="list-group">
                        {% for blob in collection.blob_list %}
                            <li class="list-group-item">
                                {% if blob.has_thumbnail_url %}
                                    <img src="{{ STATIC_URL }}{{ blob.get_cover_url_small }}" />
                                {% endif %}
                                <a href="{% url 'blob_detail' blob.uuid %}">{{ blob.title|default:"No Title" }}</a>
                            </li>
                        {% endfor %}
                        <li class="list-group-item">
                            <a class="btn btn-secondary" href="{% url 'blob_add' %}?linked_collection={{ collection.id }}">Add Blob</a>
                        </li>
                        <br />
                {% endfor %}
            </div>
        </div>
    {% endif %}
    {% if collection_info %}
        <div class="row top-buffer">
            <div class="col-lg-12">
                In collections:
                {% for collection in collection_info %}
                    <a href="{% url 'collection_detail' collection.id %}">{{ collection.name }}{% if not forloop.last %}, {% endif %}</a>
                {% endfor %}
            </div>
        </div>
    {% endif %}

    <hr />

    <form action="{% url 'blob_edit' object.uuid %}">

    {% if object.sha1sum %}
        <a class="btn btn-secondary" href="{{ MEDIA_URL }}blobs/{{ object.get_url|safe }}" role="button" target="blob">Download</a>
    {% endif %}
        <input type="submit" class="btn btn-primary" value="Edit">

        <br /><br />

    </form>

    <br /><br />

    <a href="{% url 'blob_add' %}?linked_blob={{ object.id }}">Link to New Blob</a> <strong>|</strong>
    <a href="{% url 'blob_thumbnail' object.uuid %}">Edit Thumbnail</a>
    <br /><br />

    {% for blob in object.get_related_blobs %}
        {% if forloop.first %}
                Related blobs:
            <ul>
        {% endif %}
        {% if forloop.last %}
            </ul>
        {% endif %}
        <li> <a href="{% url 'blob_detail' blob.uuid %}">{{ blob.title|default:"No Title" }}</a> </li>
    {% endfor %}

{% endblock %}

{% block content %}

    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui.min.js"></script>

    <script type="text/javascript" charset="utf-8">

        $(document).ready(function() {

            // Dynamically set the width of the modal dialog based on the width of the image.
            //  Add 32 to account for the modal dialog border.
            $('.modal-dialog').css('width', {{ cover_info.width}} + 32);

        });

    </script>


    {% if content_type == 'Audio' %}

        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/jplayer.clean.player.light.css" />
        <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.jplayer.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/jplayer.cleanskin.js"></script>

        <script type="text/javascript" charset="utf-8">

            $(document).ready(function() {

                $('.webPlayer').videoPlayer({
                    swfPath: "/js",
                    supplied: "mp3",
                    useStateClassSkin: true,
                    autoBlur: false,
                    smoothPlayBar: true,
                    keyEnabled: true,
                    remainingDuration: true,
                    toggleDuration: true,
                    volume: 1.0,
                    size: {
                        "width": "600px"
                    },
                    name: "{{ title }}",
                    "media": {
                        "mp3": "{{ MEDIA_URL }}blobs/{{ object.get_url|safe }}"
                    }
                });

            });

        </script>

    {% endif %}

    <div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <img src="{{ MEDIA_URL }}{{ cover_info.url }}" height="{{ cover_info.height }}" width="{{ cover_info.width }}"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row alert-margin">
        {% include "common/show_messages.html" with width="10" offset="0" %}
    </div>

    <div class="row">

      <div class="col-lg-12">

          {% if object.content %}
              {{ object.get_content|safe }}
          {% endif %}

          {% if cover_info %}
              <img src="{{ MEDIA_URL }}{{ cover_info.url }}" height="{{ cover_info.height_cropped }}" width="{{ cover_info.width_cropped }}" data-toggle="modal" data-target="#myModal3" />
            {% endif %}

            <br /><br />

            {% if content_type == 'Audio' %}
                {% include "common/jplayer.html" %}
            {% endif %}

        </div>

    </div>

{% endblock %}
