{% extends "base.html" %}

{% load dict_get %}

{% block title %} Blob :: Detail {% endblock %}

{% block content %}

    <style>

        #bookshelf { float: left; width: 32%; padding: 1%; }
        #bookshelf li { float: left; padding: 0.4em; margin: 0 1.6em 1.6em 0; border: solid 1px; width: 96px; display:inline; text-align: center;}

        .top-buffer { margin-top:20px; }

    </style>

    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui.min.js"></script>

    <script type="text/javascript" charset="utf-8">

        $(document).ready(function() {

            function bookshelf_action(action, shelf_id) {
                if (action == 'add') {
                    url = '{% url 'add_to_bookshelf' %}';
                } else {
                    url = '{% url 'remove_from_bookshelf' %}';
                }
                $.ajax( { type: 'POST',
                          url: url,
                          data: {
                        blob_id: {{ id }},
                        shelf_id: shelf_id
                    }
                          } ).done( function(data) {
                    if (action == 'add') {
                        $("#shelf_" + shelf_id + " > img").attr("src", "{{ STATIC_URL }}blobs/{{ cover_url_small }}");
                    } else {
                        $("#shelf_" + shelf_id + " > img").attr("src", "{{ STATIC_URL }}img/empty_shelf.jpg");
                    }
                    $('#bookshelf-feedback').fadeIn(1000).html(data.message);
                    setTimeout( function() {
                        $('#bookshelf-feedback').fadeOut(1000);
                    }, 3000);
                    set_drag_and_drop();
                } )

            };

            function set_drag_and_drop() {

                var draggable_properties = {
                    cancel: "a.ui-icon", // clicking an icon won't initiate dragging
                    revert: "invalid", // when not dropped, the item will revert back to its initial position
                    containment: "panel",
                    helper: "clone",
                    cursor: "move"
                }

                $("#current-blob").draggable(draggable_properties);
                $(".on-shelf").draggable(draggable_properties);

                $("#current-blob").droppable({
                    accept: ".on-shelf",
                    activeClass: "ui-state-highlight",
                    drop: function( event, ui ) {
                        matched_shelf = $(ui.draggable).attr('id').match(/shelf_(.*)$/);
                        bookshelf_action('remove', matched_shelf[1]);
                        $(ui.draggable).removeClass('on-shelf').addClass('not-on-shelf');
                        $('.on-shelf').draggable(draggable_properties);
                    }
                });

                $('.not-on-shelf').droppable({
                    accept: "#current-blob",
                    activeClass: "ui-state-highlight",
                    drop: function( event, ui ) {
                        matched_shelf = $(this).attr('id').match(/shelf_(.*)$/);
                        bookshelf_action('add', matched_shelf[1]);
                        $(this).removeClass('not-on-shelf').addClass('on-shelf');
                        $('.on-shelf').draggable(draggable_properties);
                    }
                });

            }

            set_drag_and_drop();

        });

    </script>


    {% if content_type == 'audio/mpeg' %}

        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/jplayer.clean.player.light.css" />
        <script type="text/javascript" src="{{ STATIC_URL }}/js/jquery.jplayer.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}/js/jplayer.cleanskin.js"></script>

        <script type="text/javascript" charset="utf-8">

            $(document).ready(function() {

                $('.webPlayer').videoPlayer({
                    swfPath: "/js",
                    supplied: "mp3",
                    useStateClassSkin: true,
                    autoBlur: false,
                    smoothPlayBar: true,
                    keyEnabled: true,
                    remainingDuration: true,
                    toggleDuration: true,
                    volume: 1.0,
                    size: {
                        "width": "600px"
                    },
                    name: "{{ title }}",
                    "media": {
                        "mp3": "{{ STATIC_URL }}blobs/{{ object.get_url }}"
                    }
                });

            });

        </script>

    {% endif %}

    <div class="row">

        <div class="col-md-5">

            <h1>{{ title }}</h1>
            <h5>{{ object.get_edition_string }}</h5>
            <br />

            {% if error %}
                <div class="alert alert-danger">{{ error  }}</div>
            {% endif %}

            {% if metadata.Author %}
            by {{ metadata.Author }}
            {% endif %}

            <br />

            {% if metadata|dict_get:"Publication Date" %}

            {{ metadata|dict_get:"Publication Date" }}

            <br />

            {% endif  %}

            <br />

            Tags:
            {% for tag in object.tags.all %}
                <a class="label label-primary" href="{% url 'kb_search_tag_detail' tag.name %}">{{ tag.name }}</a>
            {% endfor %}

            <br /><br />

            {% if metadata.Url %}

            <strong><a href="{{ metadata.Url }}">Reference Link</a></strong>

            <br /><br />

            {% endif %}

            Object Type: <strong>{{ content_type }}</strong>

            <br /><br />

            {% if metadata.Description %}
                <div class="panel panel-default">
                    <div class="panel-body">
                        {{ metadata.Description }}


                    </div>
                </div>
                <br /><br />
            {% endif %}

            <form action="{% url 'blob_edit' object.sha1sum %}">

                <a class="btn btn-default" href="{{ STATIC_URL }}blobs/{{ object.get_url }}" role="button" target="blob">Download</a>
                <input type="submit" class="btn btn-primary" value="Edit">

                <br /><br />

            </form>

            <br /><br />

            {% if object.get_related_blobs %}
                Related blobs:
                <ul>
                {% for blob in object.get_related_blobs %}
                    <li> <a href="{% url 'blob_detail' blob.sha1sum %}">{{ blob.title.0.value|default:"No Title" }}</a> </li>
                {% endfor %}
                </ul>
            {% endif %}

        </div>

        <div class="col-md-6">

            {% if cover_url %}
                <img src="{{ STATIC_URL }}{{ cover_info.1 }}" height="{{ cover_info.0.1 }}" width="{{ cover_info.0.0 }}"/>
            {% endif %}

            <br /><br />

            {% if content_type == 'audio/mpeg' %}
                {% include "common/jplayer.html" %}
            {% endif %}

        </div>

    </div>

    <div class="row top-buffer">
        <div class="col-md-12">

            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Bookshelf Management</h3>
                </div>
                <div class="panel-body panel">

                    <div id="current-blob" class="ui-widget-content ui-state-default">
                        <img src="{{ STATIC_URL }}{{ cover_url_small }}" width="57" height="75" />
                    </div>

                    <h4><strong>Book Shelves</strong></h4>
                    <ul id="bookshelf"">
                        {% for shelf in all_shelves %}
                            {% if current_shelves|dict_get:shelf.id %}
                                <li id="shelf_{{ shelf.id }}" class="ui-widget-content ui-corner-tr on-shelf">
                                    <img src="{{ STATIC_URL }}{{ cover_url_small }}" width="57" height="75" />
                                    <h5 class="ui-widget-header">{{ shelf.name }}</h5>
                                </li>
                            {% else %}
                                <li id="shelf_{{ shelf.id }}" class="ui-widget-content ui-corner-tr not-on-shelf">
                                    <img src="{{ STATIC_URL }}img/empty_shelf.jpg" width="57" height="75" />
                                    <h5 class="ui-widget-header">{{ shelf.name }}</h5>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>

                    <br />
                    <div class="alert alert-success collapse" style="float: left" id="bookshelf-feedback" _role="alert"></div>

                </div>
            </div>

        </div>
    </div>

{% endblock %}
