{% extends "base.html" %}

{% block title %} Blog {% endblock %}

{% block content %}

{% include "blob/blog_header.html" %}

{% include "common/show_messages.html" with offset="0" width="12" %}

{% include "blob/blog_posts.html" with posts=object_list %}

    {% if object_list %}

        <nav class="mb-5">
            {% if object_list.has_previous %}
                <a class="btn btn-primary" href="?page={{ object_list.previous_page_number }}&tagsearch={{ request.GET.tagsearch }}&search_item={{ request.GET.search_item }}">previous</a>
            {% endif %}
            Page <strong>{{ object_list.number }}</strong> of <strong>{{ object_list.paginator.num_pages }}</strong>
            {% if object_list.has_next %}
                <a class="btn btn-primary" href="?page={{ object_list.next_page_number }}&tagsearch={{ request.GET.tagsearch }}&search_item={{ request.GET.search_item }}">next</a>
            {% endif %}
        </nav>

    {% endif %}

{% endblock %}
