{% extends "base.html" %}

{% block title %} KB :: Documents {% endblock %}

{% block left-block %}

    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/smoke.min.css" />
    <script type="text/javascript" src="{{ STATIC_URL }}js/smoke.min.js"></script>

    <script type="text/javascript">

        $(document).ready(function() {

            $('#collections_other, #collections_current').change( function(e) {
                var collection_id = $(this).val();
                console.log(collection_id);

                var mutation = 'add';
                if ($(this).attr('id') == 'collections_current') {
                    mutation = 'delete';
                }

                $.ajax( { type: 'POST',
                          url: '{% url 'collection_mutate' %}',
                          data: {'mutation': mutation,
                                 'blob_id': {{ object.id }},
                                 'collection_id': collection_id}
                          }).done(function( json ) {
                    if (json) {
                        $.smkAlert({text: json.message, type: 'success', position:'top-right'});
                    } else {
                        $.smkAlert({text: 'Error changing collection status', type: 'error', position:'top-right'});
                    }
                })

            });

        });

    </script>

    {% if object %}

    <img id="amazon-cover-image" src="{{ STATIC_URL }}{{ cover_info.url }}" height="{{ cover_info.height_cropped }}" width="{{ cover_info.width_cropped }}" />

    <br /><br />

    <div id="update-cover-div">
        <input id="update-cover" class="btn btn-default" type="button" value="Update Image" />
    </div>

    <div id="set-cover-div" class="hidden">
        <span id="progress" class="glyphicon glyphicon-refresh glyphicon-refresh-animate hidden"></span>
        <input id="next-cover" class="btn btn-default" type="button" value="Next Image" />
        <input id="set-cover" class="btn btn-primary" type="button" value="Set Image" />
        <span id="amazon-feedback"></span>
    </div>

    <br /><br />

    <div class="form-group">
        <div class="row">
            <div class="col-lg-5">
            Add to collection
                <select id="collections_other" class="form-control">
                    <option value="666">--Select--</option>
                    {% for collection in collections_other %}
                        <option value="{{ collection.id }}">{{ collection.name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>

{% if object.get_collection_info %}
    <div class="form-group">
        <div class="row">
            <div class="col-lg-5">
            Remove from collection
                <select id="collections_current" class="form-control">
                    <option>--Select--</option>
                    {% for collection in object.get_collection_info %}
                        <option value="{{ collection.id }}">{{ collection.name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>
{% endif %}

    </form>

    <form action="{% url 'blob_delete' object.uuid %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="uuid" value="{{ object.uuid }}" />
        <input type="submit" name="Delete" value="Delete" class="btn btn-default" />
    </form>

    <hr/>

    {% endif %}

    <div class="row">
        <div class="col-lg-4">
            <select id="markdown-support" class="form-control">
                <option>Markdown</option>
                <option>Insert link</option>
                <option>Bold</option>
                <option>Indent Code</option>
                <option>Insert list</option>
                <option>Escape HTML</option>
            </select>
        </div>
    </div>

    {% if linked_blob %}
        <br /><br />
Linking to <a href="{% url 'blob_detail' linked_blob.uuid %}">{{ linked_blob.title|default:"Blob" }}</a>
    {% endif %}
    {% if linked_collection_blob_list %}
        <br /><br />
        <div style="font-size: 18px; margin-bottom: 10px">Linking to a collection with these blobs: </div>
        <ul class="list-group">
            {% for blob in linked_collection_blob_list %}
                <li class="list-group-item">
                    <a href="{% url 'blob_detail' blob.uuid %}">{{ blob.title|default:"No Title" }}</a>
                </li>
        {% endfor %}
    {% endif %}

{% endblock %}

{% block content %}

    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap-tagsinput-custom.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap-tagsinput.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap-datepicker3.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/datatables.min.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/typeahead-bootstrap3.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/smoke.min.css" />

    <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap-datepicker.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap-tagsinput.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.color-2.1.2.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.field_selection.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/typeahead.bundle.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.jeditable.mini.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/datatables.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/smoke.min.js"></script>

    <script type="text/javascript">

        $(document).ready(function() {

            table = $('#metadata').DataTable( {
                info: false,
                paging: false,
                searching: false
            });

            // Call this function anytime a row is added to the metadata table
            //  so that the jEditable plugin will work with it
            function makeEditable() {

                $('#metadata tbody td.metadata-value').editable( function( sValue ) {
                    // Update the data in the DataTables
                    table.cell(this).data(sValue);
                    return sValue;
                } );

            }

            // Enable the jEditable plugin for the initial set of metadata
            makeEditable();

            $('#metadata tbody').on( 'click', 'tr', function () {
                if ( $(this).hasClass('selected') ) {
                    $(this).removeClass('selected');
                    $('#btn-delete').attr("disabled", "disabled");
                }
                else {
                    table.$('tr.selected').removeClass('selected');
                    $(this).addClass('selected');
                    $('#btn-delete').removeAttr("disabled");
                }
            } );

            $('#btn-delete').click( function () {
                table.row('.selected').remove().draw( false );
            } );

            var engine = new Bloodhound({
                name: 'tags',
                remote: {
                    url: '{% url 'tag_search' %}?query=%QUERY',
                    wildcard: '%QUERY'
                },
                datumTokenizer: function(d) { return Bloodhound.tokenizers.whitespace(d.val); },
                queryTokenizer: Bloodhound.tokenizers.whitespace
            });

            engine.initialize();

            $('#id_tags').tagsinput({
                confirmKeys: [13, 188],
                tagClass: function(item) {
                    return 'label label-primary';
                },
                typeaheadjs: {
                    source: engine,
                    displayKey: 'value',
                    valueKey: 'value',
                    options: {'autoselect': true}
                }
            });

            var engineMetadata = new Bloodhound({
                name: 'metadata',
                remote: {
                    url: '{% url 'metadata_name_search' %}?query=%QUERY',
                    wildcard: '%QUERY'
                },
                datumTokenizer: Bloodhound.tokenizers.obj.whitespace('value'),
                queryTokenizer: Bloodhound.tokenizers.whitespace
            });

            engineMetadata.initialize();

            $('#btn-add').click( function () {
                $('#metadata-name').focus();
            } );

            $('#metadata-name').typeahead({
                autoselect: true
            }, {
                display: 'value',
                source: engineMetadata,
            });

            $('#metadata-name').bind('typeahead:selected', function(obj, datum, name) {
                $('#metadata-value').focus();
            });

            function addMetadata() {

                event.preventDefault();

                // Add the new metadata to the table
                var rowNode = table.row.add( [ $('#metadata-name').val(), $('#metadata-value').val() ] ).draw().node();
                $( rowNode ).find('td').eq(1).addClass('metadata-value');
                makeEditable();

                $( rowNode ).css( 'color', 'red' ).animate( { color: '#666666' }, 2000 );

                // Reset the fields
                $('#metadata-name').typeahead('val', '').focus();
                $('#metadata-value').val('');

            }

            // Focus the text input when the dialog is displayed
            $('#myModal2').on('shown.bs.modal', function () {
                $('#metadata-name').focus();
            })

            $('#btn-addandcontinue').click( function () {
                addMetadata();
            } );

            $('#metadata-value').keydown(function(event) {
                // If the enter key is pressed...
                if (event.keyCode == 13) {
                    addMetadata();
                }
            });

            $("#form-blob").submit(function(e) {
                $('#input-metadata').val(JSON.stringify(table.data().toArray()));
            });

            $('#markdown-support').change( function(event) {
                var value = $(this).val();
                var range = $('#id_content').getSelection();
                var text = $('#id_content').val();
                if (value == 'Bold') {
                    $('#id_content').val( text.substr(0, range.start) + '**' + range.text + '**' +  text.substr(range.end, text.length - range.end));
                } else if (value == 'Insert link') {
                    $('#id_content').val( text.substr(0, range.start) + '[text](url)' + range.text + text.substr(range.end, text.length - range.end));
                } else if (value == 'Insert list') {
                    $('#id_content').val( text.substr(0, range.start) + '\n - List item\n' + text.substr(range.end, text.length - range.end));
                } else if (value == 'Indent Code') {
                    var newtext = '    ' + range.text.replace(/\n/g, "\n    ");
                    $('#id_content').val( text.substr(0, range.start) + newtext  + text.substr(range.end, text.length - range.end));
                } else if (value == 'Escape HTML') {
                    var escapedText = range.text.replace(/</g, "&lt;").replace(/>/g, "&gt;");
                    $('textarea').val( text.substr(0, range.start) + escapedText +  text.substr(range.end, text.length - range.end));
                }
                // Reset the dropdown
                $('#markdown-support')[0].selectedIndex = 0
            } );

            $('.date').datepicker({
                autoclose: true,
                todayBtn: "linked",
                forceParse: false,
                format: "yyyy-mm-dd",
                multidate: false
            });

            $('#metadata-value').keypress( function(e) {
                // Transforms 'JERRELL SCHIVERS' to 'Jerrell Schivers'
                if (e.which && (e.which == 2 || e.which == 8747)) { // Control-B (Linux) or Alt-B (Mac)
                    $(this).val( $(this).val().toLowerCase().replace(/(\s+)(.)|^(.)/g, formatName) );
                    return false;
                }
            });

        });

        function formatName(match, capture1, capture2) {
            return capture2 ? capture1 + capture2.toUpperCase() : match.toUpperCase();
        }

    </script>

{% if request.POST.Go and not form.errors %}

    {% include "common/show_messages.html" %}

{% endif %}

{% if object %}
<div class="row">
    <div class="col-lg-8">
        <ol class="breadcrumb">
            <li><a href="{% url 'blob_detail' object.uuid %}">Blob Detail</a></li>
            <li class="active">Edit Blob</li>
        </ol>
    </div>
</div>
{% endif %}

<form class="form-horizontal" id="form-blob" action="{{ request.path }}" method="post" enctype="multipart/form-data">
    <input type="hidden" name="metadata" id="input-metadata" />
    <input type="hidden" name="linked_blob" value="{{ linked_blob.id }}" />
    <input type="hidden" name="linked_collection" value="{{ linked_collection_info.id }}" />
    {% csrf_token %}

    {% for field in form %}
        <div class="form-group {% if field.errors %}error{% endif %}">
            <label class="col-lg-1 control-label" for="inputTitle">{{ field.label }}</label>

            {% if field.label == 'Date' %}

                <div class="col-lg-5">


                        <!-- Tacking on the glyphs in an input-group class messes up the layout -->
                        <div class="col-lg-4 input-group date">
                            <input class="form-control" type="text" id="id_date" name="date" value="{{ field.value }}" />
                            <span class="input-group-addon">
                                <img src="{{ STATIC_URL }}img/calendar-icon.png" width="16" height="16" />
                            </span>
                        </div>


                </div>

            {% else %}

                <div class="col-lg-5">
                    {{ field }}
                </div>
            {% endif %}

            {% for error in field.errors %}
                <span class="form-error">{{ error }}</span>
            {% endfor %}

        </div>
    {% endfor %}


    <div class="row">
        <div class="col-lg-7 col-lg-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">MetaData</h3>
                </div>
                <div class="panel-body">
                    <table id="metadata" class="table">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Value</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for data in metadata %}
                                <tr><td>{{ data.name }}</td><td class="metadata-value">{{ data.value }}</td></tr>
                            {% endfor %}
                        </tbody>
                    </table>

                    <input type="button" class="btn btn-default" id="btn-add" data-toggle="modal" data-target="#myModal2" value="Add" />
                    <input type="button" class="btn btn-default" id="btn-delete" value="Delete" disabled />
                    <input type="button" class="btn btn-default" id="btn-amazon" data-toggle="modal" data-target="#myModal" value="Amazon Lookup" />
                    <input type="button" class="btn btn-default" id="btn-fixfilename" value="Fix Filename" />

                </div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-lg-3 col-lg-offset-1">
            <input class="btn btn-default" type="submit" name="Go" value="{{ action }}" />
        </div>
    </div>

</form>

<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Add Metadata</h4>
            </div>
            <div class="modal-body">

                <form class="form-inline">
                    <div class="form-group">
                        <label for="exampleInputName2">Name</label>
                        <input type="text" class="form-control" id="metadata-name" placeholder="Name">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail2">Value</label>
                        <input type="email" class="form-control" id="metadata-value" placeholder="Value">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" id="btn-addandcontinue">Add</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" id="btn-choose">Done</button>
            </div>

        </div>
    </div>
</div>

{% endblock %}
