{% extends "base.html" %}

{% block title %} Blob {% endblock %}

{% block content %}

    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap-tagsinput-custom.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap-tagsinput.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/typeahead-bootstrap3.css" />

    <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap-tagsinput.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/typeahead.bundle.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.jeditable.mini.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/datatables.min.js"></script>

    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/datatables.min.css" />

    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.color-2.1.2.min.js"></script>

    <script type="text/javascript">

        var table;

        $(document).ready(function() {

            table = $('#metadata').DataTable( {
                info: false,
                paging: false,
                searching: false
            });

            table_amazon = $('#table-amazon-metadata').DataTable( {
                info: false,
                paging: false,
                searching: false,
                select: {
                    style: 'multi'
                }
            });

            // Call this function anytime a row is added to the metadata table
            //  so that the jEditable plugin will work with it
            function makeEditable() {

                $('#metadata tbody td.metadata-value').editable( function( sValue ) {
                    // Update the data in the DataTables
                    table.cell(this).data(sValue);
                    return sValue;
                } );

            }

            // Enable the jEditable plugin for the initial set of metadata
            makeEditable();

            $('#metadata tbody').on( 'click', 'tr', function () {
                if ( $(this).hasClass('selected') ) {
                    $(this).removeClass('selected');
                    $('#btn-delete').attr("disabled", "disabled");
                }
                else {
                    table.$('tr.selected').removeClass('selected');
                    $(this).addClass('selected');
                    $('#btn-delete').removeAttr("disabled");
                }
            } );

            $('#btn-delete').click( function () {
                table.row('.selected').remove().draw( false );
            } );

            $('#btn-amazon').click( function () {
                table_amazon.clear().draw();
            } );

            // focus() events in modals need to be handled in a special way
            $('#myModal').on('shown.bs.modal', function () {
                $('#title').focus()
            });

            $('#myModal2').on('shown.bs.modal', function () {
                $('#metadata-name').focus()
            })

            function searchAmazon() {
                var title = $('#title').val();
                if (title == null) {
                    return;
                }

                $('#myModalLabel').html("Retrieving information from Amazon...");
                table_amazon.clear().draw();

                $.ajax( { type: 'GET',
                          url: '{% url 'get_amazon_metadata' 666 %}'.replace(666, title),
                }).done(function( json ) {
                    if (!json || json.error != null) {
                        $('#myModalLabel').html("Error: " + json.error);
                    } else {
                        $('#myModalLabel').html("Choose metadata");
                        for (var i = 0; i < json.data.length; i++) {
                            table_amazon.row.add([json.data[i][0], json.data[i][1]]);
                        }
                        table_amazon.draw();
                    }
                });

            }

            $('#title').keydown(function(event){
                // Initiate a search if the enter key is pressed.  Do NOT submit the form.
                if (event.keyCode == 13) {
                    event.preventDefault();
                    searchAmazon();
                }
            });

            $('#btn-lookup').click( function () {
                searchAmazon();
            } );

            $('#btn-choose').click( function () {
                var data = table_amazon.rows({selected:true}).data();
                for (var i = 0; i < data.length; i++) {
                    var rowNode = table.row.add( [ data[i][0], data[i][1] ] ).node();
                    $( rowNode ).find('td').eq(1).addClass('metadata-value');
                }
                table.draw();
                makeEditable();
            } );

            function parseFilename() {
                var fileName = $('#id_filename').val();
                var match = /(.*)(\..*?)$/.exec(fileName);
                if (match) {
                    return {'base': match[1], 'extension': match[2]};
                }
            }

            $('#btn-fixfilename').click( function () {
                table.rows().every( function ( rowIdx, tableLoop, rowLoop ) {
                    var data = this.data();
                    if (data[0] == 'Title') {
                        parsedFileName = parseFilename();
                        if (parsedFileName) {
                            $('#id_filename').val(data[1] + parsedFileName.extension);
                            $('#id_filename').css( 'color', 'red' ).animate( { color: '#666666' }, 2000 );
                        }
                    }
                } );
            });

            // The default 'Amazon Lookup' field should default to the filename, minus the file extension
            $('#title').val(parseFilename().base);

            var engine = new Bloodhound({
                name: 'tags',
                remote: {
                    url: '{% url 'tag_search' %}?query=%QUERY',
                    wildcard: '%QUERY'
                },
                datumTokenizer: function(d) { return Bloodhound.tokenizers.whitespace(d.val); },
                queryTokenizer: Bloodhound.tokenizers.whitespace
            });

            engine.initialize();

            $('#id_tags').tagsinput({
                confirmKeys: [13, 188],
                tagClass: function(item) {
                    return 'label label-primary';
                },
                typeaheadjs: {
                    source: engine,
                    displayKey: 'value',
                    valueKey: 'value',
                    options: {'autoselect': true}
                }
            });

            var engineMetadata = new Bloodhound({
                name: 'metadata',
                remote: {
                    url: '{% url 'metadata_name_search' %}?query=%QUERY',
                    wildcard: '%QUERY'
                },
                datumTokenizer: Bloodhound.tokenizers.obj.whitespace('value'),
                queryTokenizer: Bloodhound.tokenizers.whitespace
            });

            engineMetadata.initialize();

            $('#metadata-name').typeahead({
                autoselect: true
            }, {
                display: 'value',
                source: engineMetadata,
            });

            $('#metadata-name').bind('typeahead:selected', function(obj, datum, name) {
                $('#metadata-value').focus();
            });

            function addMetadata() {

                event.preventDefault();

                // Add the new metadata to the table
                var rowNode = table.row.add( [ $('#metadata-name').val(), $('#metadata-value').val() ] ).draw().node();
                $( rowNode ).find('td').eq(1).addClass('metadata-value');
                makeEditable();

                $( rowNode ).css( 'color', 'red' ).animate( { color: '#666666' }, 2000 );

                // Reset the fields
                $('#metadata-name').typeahead('val', '').focus();
                $('#metadata-value').val('');

            }

            $('#btn-addandcontinue').click( function () {
                addMetadata();
            } );

            $('#metadata-value').keydown(function(event) {
                // If the enter key is pressed...
                if (event.keyCode == 13) {
                    addMetadata();
                }
            });

            $("#blob-form").submit(function(e) {
                $('#input-metadata').val(JSON.stringify(table.data().toArray()));
            });

            var amazon_cover_image_index = 0;
            var amazon_cover_image_info;

            function get_amazon_cover_image() {

                $.ajax( { type: 'GET',
                          url: '{% url 'get_amazon_image_info' sha1sum 666 %}'.replace(666, amazon_cover_image_index),
                          }).done(function( json ) {
                    if (!json || json.error != null) {
                        $('#feedback').addClass('alert-danger').html(json.error);
                    } else {
                        amazon_cover_image_info = json;
                        $('#amazon-cover-image').attr('src', json.large)
                        $('#amazon-feedback').html('Image: <span class="badge">' + (amazon_cover_image_index+1) + '</span> of <span class="badge">' + (json.count) + '</span>');
                        amazon_cover_image_index++;
                        if (amazon_cover_image_index == (json.count)) {
                            amazon_cover_image_index = 0;
                        }
                    }

                });

                }

            function set_amazon_cover_image() {

                $.ajax( { type: 'POST',
                          url: '{% url 'set_amazon_image_info' sha1sum 666 %}'.replace(666, amazon_cover_image_index),
                          data: amazon_cover_image_info
                          }).done(function( json ) {
                    if (!json || json.error != null) {
                        $('#feedback').addClass('alert-danger').html(json.message);
                    } else {
                        $('#feedback').addClass('alert-success').html(json.message);
                    }
                })
            }

            $('#update-cover').click( function() {
                $('#update-cover-div').addClass('hidden');
                $('#set-cover-div').removeClass('hidden');
                get_amazon_cover_image();
            });

            $('#set-cover').click( function() {
                $('#set-cover-div').addClass('hidden');
                $('#update-cover-div').removeClass('hidden');
                set_amazon_cover_image();
            });

            $('#next-cover').click( function() {
                get_amazon_cover_image();
            });

        });

</script>


<div class="row">

    <div class="col-lg-8">
        <p class="lead col-lg-offset-2">{{ action }} Blob</p>
        <div class="col-lg-2 pull-right"><a href="{% url 'blob_detail' sha1sum %}">View</a></div>
        </p>

        <form id="blob-form" class="form-horizontal" action="{{ request.path }}" method="post">
            <input type="hidden" name="metadata" id="input-metadata" />

            {% csrf_token %}

            {% if messages %}
                {% for message in messages %}
                    <div class="form-group">
                        <div class="col-lg-7 col-lg-offset-2 alert alert-danger">
                            {{ message|safe }}
                        </div>
                    </div>
                {% endfor %}
            {% endif %}

            {% for field in form %}
                <div class="form-group{% if field.errors %} error{% endif %}">
                    <label class="col-lg-2 control-label" for="inputTitle">{{ field.label }}</label>

                    <div class="col-lg-7">
                        {{ field }}
                        {% for error in field.errors %}
                            <span class="form-error">{{ error }}</span>
                        {% endfor %}
                    </div>

                </div>
            {% endfor %}

            <div class="form-group{% if field.errors %} error{% endif %}">
                <label class="col-lg-2 control-label" for="inputTitle">Is Book</label>
                <div class="col-lg-7">
                    <input name="is_book" type="checkbox"{% if is_book %} checked="checked"{% endif %} />
                </div>
            </div>

            <div class="row">
                <div class="col-lg-7 col-lg-offset-2">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">MetaData</h3>
                        </div>
                        <div class="panel-body">
                            <table id="metadata" class="table">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Value</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for data in metadata %}
                                        <tr><td>{{ data.name }}</td><td class="metadata-value">{{ data.value }}</td></tr>
                                    {% endfor %}
                                </tbody>
                            </table>

                            <input type="button" class="btn btn-default" id="btn-add" data-toggle="modal" data-target="#myModal2" value="Add" />
                            <input type="button" class="btn btn-default" id="btn-delete" value="Delete" disabled />
                            <input type="button" class="btn btn-default" id="btn-amazon" data-toggle="modal" data-target="#myModal" value="Amazon Lookup" />
                            <input type="button" class="btn btn-default" id="btn-fixfilename" value="Fix Filename" />

                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-lg-4 col-lg-offset-2">
                    <input class="btn btn-default" type="submit" name="Go" value="{{ action }}" />
                    <input type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal3" value="Delete" />
                    <a href="{% url 'blob_add' sha1sum %}">
                        <input class="btn btn-default{% if not form.instance.id %} disabled{% endif %}" type="button" name="Go" value="Replace" />
                    </a>

                </div>
            </div>

        </form>

    </div>

    <div class="col-lg-4">
        <img id="amazon-cover-image" src="{{ STATIC_URL }}{{ cover_info.1 }}" width="381" height="500" />
        <br /><br />
        <div id="update-cover-div">
            <input id="update-cover" class="btn btn-default" type="button" value="Update" />
        </div>
        <div id="set-cover-div" class="hidden">
            <input id="next-cover" class="btn btn-default" type="button" value="Next" />
            <input id="set-cover" class="btn btn-default" type="button" value="Set" />
            <span id="amazon-feedback"></span>
        </div>
        <br />
        <div class="alert" id="feedback"></div>
    </div>

</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Amazon Lookup</h4>
            </div>
            <div class="modal-body">

                <form id="form-workout" class="form-inline" method="post" autocomplete="off">

                    <div class="form-group">
                        <label>Title</label>
                        <input id="title" class="form-control" type="text" name="title" />
                    </div>

                    <input class="btn btn-default" id="btn-lookup" type="button" name="Go" value="Lookup" />

                </form>

                <table class="table table-condensed" id="table-amazon-metadata" width="100%">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Value</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" id="btn-choose">Choose</button>
            </div>
        </div>
    </div>

</div>

<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Add Metadata</h4>
            </div>
            <div class="modal-body">

                <form class="form-inline">
                    <div class="form-group">
                        <label for="exampleInputName2">Name</label>
                        <input type="text" class="form-control" id="metadata-name" placeholder="Name">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail2">Value</label>
                        <input type="email" class="form-control" id="metadata-value" placeholder="Value">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" id="btn-addandcontinue">Add</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" id="btn-choose">Done</button>
            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Delete Blob</h4>
            </div>
            <div class="modal-body">
                <div class="alert alert-warning" role="alert">
            Are you sure you want to delete <strong>{{ object.filename }}</strong>?
                    <br /><br />
                </div>
            </div>
            <div class="modal-footer">
                <form method="post" action="{% url 'blob_delete' object.id %}">
                    {% csrf_token %}
                    <button type="button" class="btn btn-default" data-dismiss="modal" id="btn-choose">Cancel</button>
                    <button type="submit" class="btn btn-default" id="btn-addandcontinue">Delete</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}
