{% extends "base.html" %}

{% block title %} KB :: Documents {% endblock %}

{% block left-block %}

    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/smoke.min.css" />
    <script type="text/javascript" src="{{ STATIC_URL }}js/smoke.min.js"></script>

    <script type="text/javascript">

        $(document).ready(function() {

            {% if object %}
            $('#collections_other, #collections_current').change( function(e) {
                var collection_id = $(this).val();

                var mutation = 'add';
                if ($(this).attr('id') == 'collections_current') {
                    mutation = 'delete';
                }

                $.ajax( { type: 'POST',
                          url: '{% url 'collection_mutate' %}',
                          data: {'mutation': mutation,
                                 'blob_id': {{ object.id }},
                                 'collection_id': collection_id}
                          }).done(function( json ) {
                    if (json) {
                        $.smkAlert({text: json.message, type: 'success', position:'top-right'});
                    } else {
                        $.smkAlert({text: 'Error changing collection status', type: 'error', position:'top-right'});
                    }
                })

            });
            {% endif %}

            function parseFilename() {
                var fileName = $('#id_filename').val();
                var match = /(.*)(\..*?)$/.exec(fileName);
                if (match) {
                    return {'base': match[1], 'extension': match[2]};
                }
            }

            $( ".date" ).on( "paste", function() {
                var clipText = event.clipboardData.getData('Text');
                $("#date-response").empty();
                $.ajax( { type: 'GET',
                          url: '{% url 'parse_date' 666 %}'.replace(/666$/, encodeURIComponent($.trim(clipText))),
                          }).done(function( json ) {
                    if (!json || json.output_date == "") {
                        $("#date-response").append("Invalid date format");
                        console.log("Invalid date format error: " + json.error);
                    } else {
                        $('.date').datepicker('update', json.output_date);
                    }
                })
            });

            $('#btn-cleanupfilename').click( function () {
                var title = $('#id_title').val();
                if (title) {
                    parsedFileName = parseFilename();
                    if (parsedFileName) {
                        $('#id_filename').val(title + parsedFileName.extension);
                        $('#id_filename').css( 'color', 'red' ).animate( { color: '#666666' }, 2000 );
                    }
                }
            });

        });

    </script>

    {% if object %}

        {% if cover_info %}
            <img id="amazon-cover-image" src="{{ MEDIA_URL }}{{ cover_info.url }}" height="{{ cover_info.height_cropped }}" width="{{ cover_info.width_cropped }}" />
            <br /><br />
        {% endif %}

    <div id="update-cover-div">
        <input id="update-cover" class="btn btn-secondary" type="button" value="Update Image" />
    </div>

    <div id="set-cover-div" class="hidden">
        <span id="progress" class="glyphicon glyphicon-refresh glyphicon-refresh-animate hidden"></span>
        <input id="next-cover" class="btn btn-secondary" type="button" value="Next Image" />
        <input id="set-cover" class="btn btn-primary" type="button" value="Set Image" />
        <span id="amazon-feedback"></span>
    </div>

    <br /><br />

    <div class="form-group">
        <div class="row">
            <div class="col-lg-7">
                <select id="collections_other" class="form-control">
                    <option value="666">Add to collection</option>
                    {% for collection in collections_other %}
                        <option value="{{ collection.id }}">{{ collection.name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>

{% if object.get_collection_info %}
    <div class="form-group">
        <div class="row">
            <div class="col-lg-7">
                <select id="collections_current" class="form-control">
                    <option>Remove from collection</option>
                    {% for collection in object.get_collection_info %}
                        <option value="{{ collection.id }}">{{ collection.name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>
{% endif %}

    </form>

    <form action="{% url 'blob_delete' object.uuid %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="uuid" value="{{ object.uuid }}" />
        <button type="submit" class="btn btn-warning">
            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete
        </button>
    </form>

    <hr/>

    {% endif %}

    <div class="row">
        <div class="col-lg-7">
            <select id="markdown-support" class="form-control">
                <option>Markdown</option>
                <option>Insert link</option>
                <option>Bold</option>
                <option>Indent Code</option>
                <option>Insert list</option>
                <option>Escape HTML</option>
                <option>Table</option>
            </select>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-4 mt-3">
            <input type="button" class="btn btn-secondary" id="btn-cleanupfilename" value="Cleanup Filename" />
        </div>
    </div>

    <div class="row">
        <div class="col-lg-4 mt-3">
            <input type="button" class="btn btn-secondary" id="btn-ucfirst" value="Upper Case First" />
        </div>
    </div>

    {% if linked_blob %}
        <br /><br />
Linking to <a href="{% url 'blob_detail' linked_blob.uuid %}">{{ linked_blob.title|default:"Blob" }}</a>
    {% endif %}
    {% if linked_collection_blob_list %}
        <br /><br />
        <div style="font-size: 18px; margin-bottom: 10px">Linking to a collection with these blobs: </div>
        <ul class="list-group">
            {% for blob in linked_collection_blob_list %}
                <li class="list-group-item">
                    <a href="{% url 'blob_detail' blob.uuid %}">{{ blob.title|default:"No Title" }}</a>
                </li>
        {% endfor %}
    {% endif %}

{% endblock %}

{% block content %}

    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/tagsinput.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap-datepicker3.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/smoke.min.css" />

    <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap-datepicker.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap-tagsinput.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.color-2.1.2.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.field_selection.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/typeahead.bundle.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/smoke.min.js"></script>

    <script type="text/javascript">

        $(document).ready(function() {

            {% include "common/common-typeaheadjs-tagsinput.js" with itemValue="value" fieldName="name" %}

            var metadata_count = {{ metadata|length }};

            var engineMetadata = new Bloodhound({
                name: 'metadata',
                remote: {
                    url: '{% url 'metadata_name_search' %}?query=%QUERY',
                    wildcard: '%QUERY'
                },
                datumTokenizer: Bloodhound.tokenizers.obj.whitespace('value'),
                queryTokenizer: Bloodhound.tokenizers.whitespace
            });

            engineMetadata.initialize();

            $('#btn-add').click( function () {
                $('#id_name').focus();
            } );

            $('#id_name').typeahead({
                autoselect: true
            }, {
                display: 'value',
                source: engineMetadata,
            });

            $('#id_name').bind('typeahead:selected', function(obj, datum, name) {
                $('#id_value').focus();
            });

            $('#markdown-support').change( function(event) {
                var value = $(this).val();
                var range = $('#id_content').getSelection();
                var text = $('#id_content').val();
                if (value == 'Bold') {
                    $('#id_content').val( text.substr(0, range.start) + '**' + range.text + '**' +  text.substr(range.end, text.length - range.end));
                } else if (value == 'Insert link') {
                    $('#id_content').val( text.substr(0, range.start) + '[text](url)' + range.text + text.substr(range.end, text.length - range.end));
                } else if (value == 'Insert list') {
                    $('#id_content').val( text.substr(0, range.start) + '\n - List item\n' + text.substr(range.end, text.length - range.end));
                } else if (value == 'Indent Code') {
                    var newtext = '    ' + range.text.replace(/\n/g, "\n    ");
                    $('#id_content').val( text.substr(0, range.start) + newtext  + text.substr(range.end, text.length - range.end));
                } else if (value == 'Escape HTML') {
                    var escapedText = range.text.replace(/</g, "&lt;").replace(/>/g, "&gt;");
                    $('textarea').val( text.substr(0, range.start) + escapedText +  text.substr(range.end, text.length - range.end));
                } else if (value == 'Table') {
                    $('#id_content').val( text.substr(0, range.start) + '\nFirst Header  | Second Header\n------------- | -------------\nContent Cell  | Content Cell\nContent Cell  | Content Cell\n' + text.substr(range.end, text.length - range.end));
                }
                // Reset the dropdown
                $('#markdown-support')[0].selectedIndex = 0
            } );

            $('.date').datepicker({
                autoclose: true,
                todayBtn: "linked",
                forceParse: false,
                format: "yyyy-mm-dd",
                multidate: false,
                orientation: "bottom auto"
            });

            {% if not object %}
            // If this is a new blob, the default date should be "now"
            var nowDate = new Date();
            $('.date').datepicker('setDate', nowDate);
            {% endif %}

            $('#btn-ucfirst').click( function () {
                // Transforms 'JERRELL SCHIVERS' to 'Jerrell Schivers'
                $('#id_value').val( $('#id_value').val().toLowerCase().replace(/(\s+)(.)|^(.)/g, formatName) );
                $('#id_value').css( 'color', 'red' ).animate( { color: '#4A5158' }, 2000 );
            });

            $("#id_file").on('change', function() {
                $('#id_filename').val($(this)[0].files[0].name);
                $('#id_file_modified').val($('#id_file')[0].files[0].lastModified);
            });

            function addMetadata() {
                metadata_count++;
                var name = $('#id_name').val();
                var value = $('#id_value').val();
                $('.metadata_hidden:first').clone(true).insertAfter("#new_metadata");
                $('.metadata_hidden:eq(1)').find('input').val(value).attr('name', metadata_count.toString() + '_' + name);
                $('.metadata_hidden:eq(1)').find('label').html(name);
                $('#id_name').val('');
                $('#id_value').val('');
                $('#id_name').typeahead('val', '').focus();
                $('.metadata_hidden:eq(1)').removeClass('hidden');
            }

            $('#id_value').keydown(function(event) {
                // If the enter key is pressed...
                if (event.keyCode == 13) {
                    addMetadata();
                    event.preventDefault();
                    return false;
                }
            });

            // Prevent the enter key from submitting the form for any text fields.
            $("input").keydown(function(event) {
                if (event.keyCode == 13) {
                    event.preventDefault();
                    return false;
                }
            });

            // Expand the content for editing, but only do it once.
            var isExpanded = false;
            $('#id_content').focus(function () {
                if (! isExpanded) {
                    $(this).animate({ height: "30em" }, 500);
                    isExpanded = true;
                }
            })

            $('.btn-add').click( function () {
                addMetadata();
            } );

            $('.btn-remove').click( function () {
                $(this).parents('.form-group').remove();
            } );

            {% for tag in object.tags.all %}
            $("#id_tags").tagsinput("add", {value: "{{ tag.name }}", name: "{{ tag.name }}", is_meta: {{ tag.is_meta|lower}}});
            {% endfor %}

        });

        function formatName(match, capture1, capture2) {
            return capture2 ? capture1 + capture2.toUpperCase() : match.toUpperCase();
        }

    </script>

    {% if messages %}
        {% for message in messages %}
        <div class="col-lg-{{ width|default:12 }} alert alert-{% if class %}{{ class }}{% elif message.tags == 'error' %}danger{% elif message.tags == 'warning' %}warning{% else %}success{% endif %}">
            {{ message|safe }}
        </div>
        {% endfor %}
    {% endif %}

{% if object %}
<div class="row">
    <div class="col-lg-12">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'blob_detail' object.uuid %}">Blob Detail</a></li>
            <li class="breadcrumb-item active">Edit Blob</li>
        </ol>
    </div>
</div>
{% endif %}

{% if form.errors %}
    <div class="row">
        <div class="col-lg-10 offset-lg-2">
            {% for field,error in form.errors.items %}
                <div class="alert alert-danger">{{ error }}</div>
            {% endfor %}
        </div>
    </div>
{% endif %}

<div class="row">
    <div class="col-lg-12">

<form id="form-blob" action="{{ request.path }}" method="post" enctype="multipart/form-data">
    <input type="hidden" name="metadata" id="input-metadata" />
    <input type="hidden" name="linked_blob" value="{{ linked_blob.id }}" />
    <input type="hidden" name="linked_collection" value="{{ linked_collection_info.id }}" />
    {% csrf_token %}

    {% for field in form.visible_fields %}
        {% if field.label != 'Filename' %}
        <div class="form-group {% if field.errors %}error{% endif %} row">
            <label class="bold col-lg-2 col-sm-2 col-form-label text-right" for="inputTitle">{{ field.label }}</label>

            {% if field.label == 'File' %}

                <div class="col-lg-4 input-group" id="blob_edit_file">
                    <input type="text" name="filename" value="{{ form.filename.value|default:"" }}" class="form-control" id="id_filename" />
                    <input type="hidden" name="file_modified" id="id_file_modified" />
                    <span class="input-group-append">
                        <label class="btn btn-primary">Choose file
                            <input type="file" name="file" id="id_file" hidden />
                        </label>
                    </span>
                </div>

            {% elif field.label == 'Date' %}

                    <!-- Tacking on the glyphs in an input-group class messes up the layout -->
                    <div class="col-lg-2 input-group">
                        <input class="form-control date" type="text" id="id_date" name="date" value="{{ field.value|default:"" }}" autocomplete="off" />
                        <span class="input-group-append">
                            <div class="input-group-text">
                                <img src="{{ STATIC_URL }}img/calendar-icon.png" width="16" height="16" />
                            </div>
                        </span>
                    </div>
                    <div class="col-lg-3 align-self-center form-error" id="date-response"></div>

            {% elif field.label == 'Tags' %}
                    <div class="col-lg-10 col-sm-10">
                        <input type="text" name="tags" value="" class="form-control typeahead" autocomplete="off" id="id_tags">
                    </div>
            {% else %}
                <div class="col-lg-10 col-sm-10 align-self-center">
                    {{ field }}
                </div>
            {% endif %}

        </div>

        {% endif %}
    {% endfor %}

    <div class="form-group {% if field.errors %}error{% endif %} row">
        <label class="bold col-lg-2 col-sm-2 col-form-label text-right" for="inputTitle">Is book</label>
        <div class="col-lg-10 col-sm-10 align-self-center">
            <input type="checkbox"{% if is_book %} checked="checked"{% endif %} name="is_book" id="id_is_book" />
        </div>
    </div>

    <div id="new_metadata" class="form-group row">
        <div class="col-lg-2 col-sm-2">
            <input type="text" id="id_name" class="form-control initial-text" placeholder="New Metadata Name" autocomplete="off" />
        </div>
        <div class="col-lg-10 col-sm-10">
            <div class="col-lg-10 input-group">
            <input type="text" id="id_value" class="form-control" placeholder="New Metadata Value" autocomplete="off" />
            <span class="input-group-append">
                <button class="btn btn-success btn-add" type="button">
                    <span class="glyphicon glyphicon-plus"></span>
                </button>
            </span>
            </div>
        </div>
    </div>

    <div class="hidden metadata_hidden form-group row">
        <label class="bold col-lg-2 col-sm-2 col-form-label text-right" for="inputTitle"></label>
        <div class="col-lg-10 col-sm-10">
            <div class="col-lg-10 input-group">
                <input id="new_value" type="text" name="" value="" class="form-control" autocomplete="off" />
                <span class="input-group-append">
                    <button class="btn btn-danger btn-remove" type="button">
                        <span class="glyphicon glyphicon-minus"></span>
                    </button>
                </span>
            </div>
        </div>
    </div>

    {% for m in metadata %}
        <div class="form-group {% if field.errors %}error{% endif %} row">
            <label class="bold col-lg-2 col-sm-2 col-form-label text-right" for="inputTitle">{{ m.0 }}</label>
            <div class="col-lg-10 col-sm-10">
                <div class="col-lg-10 input-group">
                    <input type="text" name="{{ forloop.counter }}_{{ m.0 }}" id="id_new" value="{{ m.1 }}" class="form-control" autocomplete="off" />
                    <span class="input-group-append">
                        <button class="btn btn-danger btn-remove" type="button">
                            <span class="glyphicon glyphicon-minus"></span>
                        </button>
                    </span>
                </div>
            </div>
        </div>
    {% endfor %}

    <div class="form-group">
        <div class="col-lg-3 offset-lg-2">
            <input class="btn btn-primary btn-lg" type="submit" name="Go" value="{{ action }}" />
        </div>
    </div>

</form>

    </div>
</div>

{% endblock %}
