{% extends "base.html" %}

{% block title %} Notes {% endblock %}

{% block extra_head %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/code_style.css" />
{% endblock %}

{% block left-block %}

    <div class="h3">
        Favorite Notes
    </div>

    <ul class="list-group" id="sort-container-notes">
        <draggable v-model="notes" @change="onChange" ghost-class="sortable-ghost">
            <transition-group type="transition">
                <div v-for="note in notes" :key="note.uuid" v-cloak>
                    <li class="list-group-item list-group-item-secondary" :data-uuid="note.uuid">
                        <a :href="note.url">[[ note.title ]]</a>
                    </li>
                </div>
            </transition-group>
        </draggable>
    </ul>

{% endblock %}

{% block content %}

    <div id="notes_search">
        <div class="row mb-3">
            <div class="col-lg-12">
                <form class="form-inline" name="nav_form" id="search-form" action="{% url 'search:notes' %}" method="get" autocomplete="off">
                    <div class="form-row">

                        <div class="col-auto has-search">
                            <font-awesome-icon icon="search" class="form-control-feedback text-dark"></font-awesome-icon>

                            <simple-suggest
                                ref="simpleSuggest"
                                place-holder="Search"
                                search-url="{% url 'tag:search' %}?type=note&query="
                            >
                            </simple-suggest>
                        </div>
                    </div>
                    <a class="btn btn-primary ml-2" href="{% url 'blob:create' %}?is_note=true">Add note</a>
                </form>
            </div>
        </div>
    </div>

    {% if request.GET and not object_list.hits.hits %}
        <div class="alert alert-info">No notes found</div>
    {% endif %}

    <div class="row">
        <div class="col-lg-12">

            {% for note in object_list.hits.hits %}

                <div id="note" class="table-borders">
                    <h2>
                        <a href="{% url 'blob:detail' note.source.uuid %}">{{ note.source.title|default:"Note Title" }}</a>
                    </h2>

                    <span class="glyphicon glyphicon-time"></span> <span> {{ note.source.date }} </span>

                    <br /><br />

                    <div>
                        {{ note.source.content|safe }}
                    </div>

                    {% for tag in note.source.tags %}
                        <a id="tag" class="badge badge-info" href="{% url 'search:notes' %}?tagsearch={{ tag }}">{{ tag }}</a>
                    {% endfor %}

                    <br /><br />
                </div>

            {% endfor %}
                </transition-group>
            </draggable>

        </div>
    </div>

    {% if object_list and paginator.num_pages > 1 %}
        <nav class="mb-5 navigation">
            <ul class="pagination">
                <li class="page-item{% if not paginator.has_previous %} disabled{% endif %}">
                    <a class="page-link" href="?page={{ paginator.previous_page_number }}&tagsearch={{ request.GET.tagsearch }}&search={{ request.GET.search }}">Previous</a>
                </li>
                <li class="page-item disabled">
                    <span class="page-link ">
            Page <strong>{{ paginator.number }}</strong> of <strong>{{ paginator.num_pages }}</strong>
                    </span>
                </li>
                <li class="page-item{% if not paginator.has_next %} disabled{% endif %}">
                    <a class="page-link" href="?page={{ paginator.next_page_number }}&tagsearch={{ request.GET.tagsearch }}&search={{ request.GET.search }}">Next</a>
                </li>
            </ul>
        </nav>
    {% endif %}

{% endblock %}

{% block javascript %}

    {{ block.super }}

    <script type="text/javascript">

        Vue.mixin({ delimiters: ["[[", "]]"] });

        new Vue({
            el: "#notes_search",
            methods: {
                select(tag) {
                    window.location='{% url 'search:notes' %}?tagsearch=' + tag.value;
                }
            },
            components: {
                SimpleSuggest
            }
        });

        new Vue({
            el: '#sort-container-notes',
            data: {
                notes: [
                    {% for note in favorite_notes %}
                    {
                        url: "{% url 'blob:detail' '00000000-0000-0000-0000-000000000000' %}".replace(/00000000-0000-0000-0000-000000000000/, "{{ note.uuid }}"),
                        uuid: "{{ note.uuid }}",
                        title: "{{ note.title }}"
                    },
                    {% endfor %}
                ]
            },
            methods: {
                onChange(evt) {

                    note_uuid = evt.moved.element.uuid;

                    // The backend expects the ordering to begin
                    // with 1, not 0, so add 1.
                    new_position = evt.moved.newIndex + 1;

                    const bodyFormData = new URLSearchParams();
                    bodyFormData.append("note_uuid", note_uuid);
                    bodyFormData.append("new_position", new_position);

                    axios("{% url "accounts:sort_favorite_notes" %}", {
                        method: "POST",
                        data: bodyFormData,
                    }).then(response =>  {
                        console.log("Success:", response.data);
                    })
                      .catch((error) => {
                          this.$bvToast.toast(error, {
                              title: "Error",
                              noAutoHide: true,
                              variant: "danger"
                          })
                          console.error("Error:", error);
                      });
                }
            }
        });

    </script>

{% endblock %}
