{% extends "base.html" %}

{% block title %} Notes {% endblock %}

{% block content %}

    <div class="row no-gutters">

        <div class="col-lg-3 d-flex flex-column" id="sort-container-notes">
            <card title="Pinned Notes">

                <template v-slot:title-slot>
                    <div class="h3">
                        Pinned Notes
                    </div>
                </template>

                <template v-slot:content>
                    <ul class="list-group">
                        <draggable v-model="notes" @change="onChange" ghost-class="sortable-ghost">
                            <transition-group type="transition">
                                <div v-for="note in notes" :key="note.uuid" v-cloak>
                                    <li class="list-group-item list-group-item-secondary" :data-uuid="note.uuid">
                                        <a :href="note.url">[[ note.name ]]</a>
                                    </li>
                                </div>
                            </transition-group>
                        </draggable>
                    </ul>
                    <div v-if="notes.length === 0">
                        No notes found to pin.
                    </div>
                </template>

            </card>
        </div>

        <div class="col-lg-9 d-flex flex-column" id="vue-app">

            <div v-for="(note,index) in notes" class="right-column">
                <div v-if="index === 0" class="mt-3 float-right" v-cloak>
                    <a class="btn btn-primary ml-2 mr-4 float-right right-column" href="{% url 'blob:create' %}?is_note=true">Add note</a>
                </div>

                <card :title="note.name">
                    <template v-slot:title-slot>
                        <h2>
                            <a :href="note.url" v-html="note.name"></a>
                        </h2>
                    </template>
                    <template v-slot:content>

                        <div id="note" class="blob-content table-borders">

                            <h6 class="text-primary" v-html="note.date">
                            </h6>

                            <div class="mt-3" v-html="getContent(note.contents)">
                            </div>

                            <span v-for="tag in note.tags" class="mr-2">
                                <a id="tag" class="badge badge-info" :href="tag.url" v-html="tag.tag"></a>
                            </span>
                        </div>

                    </template>
                </card>
            </div>

            <div v-if="notes.length === 0" class="right-column card-grid" v-cloak>
                <search-no-result class="right-column">
                    <template v-slot:message>
                        No notes found matching search criteria.
                    </template>
                </search-no-result>

                <a class="btn btn-primary ml-2 mr-4 float-right right-column" href="{% url 'blob:create' %}?is_note=true">Add note</a>
            </div>

            <div v-else class="row">
                <div class="col-lg-12 card-grid ml-4">

                    {% if object_list and paginator.num_pages > 1 %}
                        <nav class="mb-5 navigation">
                            <ul class="pagination">
                                <li class="page-item{% if not paginator.has_previous %} disabled{% endif %}">
                                    <a class="page-link" href="?page={{ paginator.previous_page_number }}&tagsearch={{ request.GET.tagsearch }}&search={{ request.GET.search }}">Previous</a>
                                </li>
                                <li class="page-item disabled">
                                    <span class="page-link ">
            Page <strong>{{ paginator.number }}</strong> of <strong>{{ paginator.num_pages }}</strong>
                                    </span>
                                </li>
                                <li class="page-item{% if not paginator.has_next %} disabled{% endif %}">
                                    <a class="page-link" href="?page={{ paginator.next_page_number }}&tagsearch={{ request.GET.tagsearch }}&search={{ request.GET.search }}">Next</a>
                                </li>
                            </ul>
                        </nav>
                    {% endif %}

                </div>
            </div>

        </div>

    </div>


{% endblock %}

{% block javascript %}

    {{ block.super }}

    <script type="text/javascript">

        Vue.mixin({ delimiters: ["[[", "]]"] });

        new Vue({
            el: "#vue-app",
            data() {
                return {
                    notes: [
                        {% for note in object_list.hits.hits %}
                        {
                            "uuid": "{{ note.source.uuid }}",
                            "date": "{{ note.source.date }}",
                            "name": "{{ note.source.name|default:"Note" }}",
                            "contents": "{{ note.source.contents|escapejs }}",
                            "url": "{% url 'blob:detail' note.source.uuid %}",
                            "tags": [
                                {% for tag in note.source.tags %}
                                {
                                    "tag": "{{ tag }}",
                                    "url": "{% url 'search:notes' %}"
                                },
                                {% endfor %}
                            ]
                        },
                        {% endfor %}
                    ]
                }
            },
            methods: {
                getContent(content) {
                    return markdown.render(content);
                }
            }
        });

        new Vue({
            el: '#sort-container-notes',
            data: {
                notes: [
                    {% for note in pinned_notes %}
                    {
                        url: "{% url 'blob:detail' '00000000-0000-0000-0000-000000000000' %}".replace(/00000000-0000-0000-0000-000000000000/, "{{ note.uuid }}"),
                        uuid: "{{ note.uuid }}",
                        name: "{{ note.name }}"
                    },
                    {% endfor %}
                ]
            },
            methods: {
                onChange(evt) {

                    note_uuid = evt.moved.element.uuid;

                    // The backend expects the ordering to begin
                    // with 1, not 0, so add 1.
                    new_position = evt.moved.newIndex + 1;

                    const bodyFormData = new URLSearchParams();
                    bodyFormData.append("note_uuid", note_uuid);
                    bodyFormData.append("new_position", new_position);

                    axios("{% url "accounts:sort_pinned_notes" %}", {
                        method: "POST",
                        data: bodyFormData,
                    }).then(response =>  {
                        console.log("Success:", response.data);
                    })
                      .catch((error) => {
                          this.$bvToast.toast(error, {
                              title: "Error",
                              noAutoHide: true,
                              variant: "danger"
                          })
                          console.error("Error:", error);
                      });
                }
            }
        });

    </script>

{% endblock %}
