{% extends "base.html" %}

{% block title %} Notes {% endblock %}

{% block content %}

    <div id="vue-app" class="scrollable-panel-container row g-0 mx-2">

        <div class="col-lg-3 h-100">

            <div v-if="pinnedNotes.length > 0" class="d-flex flex-column h-100">
                <card title="Pinned Notes" class="flex-grow-1">

                    <template v-slot:title-slot>
                        <div class="h3">
                            Pinned Notes
                        </div>
                    </template>

                    <template v-slot:content>
                        <ul class="list-group list-group-flush interior-borders">
                            <draggable v-model="pinnedNotes" @change="onChange" :component-data={type:"transition-group"} item-key="uuid">
                                <template #item="{element}">
                                    <li v-for="note in pinnedNotes" class="list-group-item" :data-uuid="note.uuid" :key="note.uuid">
                                        <a :href="note.url">[[ note.name ]]</a>
                                    </li>
                                </template>
                            </draggable>
                        </ul>
                        <div v-if="pinnedNotes.length === 0">
                            No notes found to pin.
                        </div>
                    </template>

                </card>
            </div>

            <div v-if="'{{ request.GET.search }}'" class="scrollable-panel-scrollbar-hover card-body d-flex flex-column h-100">

                <div class="h3">
                    {{ object_list.hits.total.value }} Note{{ object_list.hits.total.value|pluralize:"s" }} Found
                </div>

                <div class="d-flex flex-column">
                    <ul class="note-search-result list-unstyled" v-cloak>
                        <li v-for="note in notes" class="px-2 py-3 d-flex flex-column" :class="{'selected': note.uuid === selectedNoteUuid}" @click="selectedNoteUuid = note.uuid">
                            <h4 class="text-primary fw-bold">
                                [[ note.name ]]
                            </h4>

                            <div class="search-result-date mb-1">
                                [[ note.date ]]
                            </div>

                            <div class="position-relative">
                                <div v-html="getContent(note.contents, 400)" class="fader note-content">
                                </div>
                            </div>

                            <div class="mt-2">
                                <span v-for="tag in note.tags" :key="tag.tag" class="tag me-2">
                                    [[ tag.tag ]]
                                </span>
                            </div>
                        </li>
                    </ul>

                    <div class="d-flex justify-content-center">

                        <pagination
                            :paginator="paginator"
                            :num-objects="notes.length"
                        >
                        </pagination>

                    </div>

                </div>

            </div>

        </div>

        <div class="col-lg-9 h-100 scrollable-panel d-flex flex-column">

            <div v-for="(note,index) in notes" :class="{'d-none': isSearchResult && note.uuid !== selectedNoteUuid}" class="position-relative">
                <card :title="note.name" class="me-0">
                    <template v-slot:title-slot>
                        <div v-if="index === 0" class="position-absolute end-0" v-cloak>
                            <a class="btn btn-primary ms-2 me-4" href="{% url 'blob:create' %}?is_note=true">Add note</a>
                        </div>

                        <h2>
                            <a :href="note.url" v-html="note.name"></a>
                        </h2>
                    </template>
                    <template v-slot:content>
                        <div class="blob-content table-borders">

                            <h6 class="text-primary" v-html="note.date">
                            </h6>

                            <div>
                                <div class="position-relative">
                                    <div :class="{ 'note-content-truncated': !isSearchResult, 'fader': !note.isExpanded && !isSearchResult, 'expanded-note': note.isExpanded }" class="mt-3" v-html="getContent(note.contents)" ref="noteElements">
                                    </div>
                                </div>
                                <div class="text-center" :class="{'d-none': note.isExpanded}" ref="expander">
                                    <a class="text-primary" href="#" @click="note.isExpanded = true">—Expand—</a>
                                </div>
                            </div>
                            <span v-for="tag in note.tags" class="me-2">
                                <a id="tag" class="tag" :href="tag.url" v-html="tag.tag"></a>
                            </span>
                        </div>

                    </template>
                </card>
            </div>

            <div v-if="notes.length === 0" class="card-grid" v-cloak>
                <search-no-result>
                    <template v-slot:message>
                        No notes found matching search criteria.
                    </template>
                </search-no-result>

                <a class="btn btn-primary ms-2 me-4 float-end me-3" href="{% url 'blob:create' %}?is_note=true">Add note</a>
            </div>

        </div>

    </div>


{% endblock %}

{% block javascript %}

    {{ block.super }}

    <script type="text/javascript" id="MathJax-script" async
        src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
    </script>

    <script type="text/javascript">

        window.MathJax = {
            tex: {
                inlineMath: [["\\(", "\\)"], ["$$", "$$"]],
                displayMath: [["\\[", "\\]"]],
                processEscapes: true,
                processEnvironments: true,
            },
        };

        // Should match CSS class "note-content"
        const NOTE_MAX_HEIGHT = 500;

        const app = createApp({
            name: "NotesList",
            delimiters: ["[[", "]]"],
            components: {
                Card,
                draggable,
                FontAwesomeIcon,
                Pagination,
                SearchNoResult,
            },
            setup() {
                const isSearchResult = ref({% if request.GET.search %}true{% else %}false{% endif %});
                const notes = ref([
                    {% for note in object_list.hits.hits %}
                    {
                        "isExpanded": false,
                        "uuid": "{{ note.source.uuid }}",
                        "date": "{{ note.source.date }}",
                        "name": "{{ note.source.name|safe|default:'Note'|escapejs }}",
                        "contents": "{{ note.source.contents|escapejs }}",
                        "url": "{% url 'blob:detail' note.source.uuid %}",
                        "tags": [
                            {% for tag in note.source.tags %}
                            {
                                "tag": "{{ tag }}",
                                "url": "{% url 'search:notes' %}?tagsearch={{ tag }}",
                            },
                            {% endfor %}
                        ],
                    },
                    {% endfor %}
                ]);
                const selectedNoteUuid = ref("{{ object_list.hits.hits.0.source.uuid|safe }}");
                const pinnedNotes = ref([
                    {% for note in pinned_notes %}
                    {
                        url: "{% url 'blob:detail' '00000000-0000-0000-0000-000000000000' %}".replace(/00000000-0000-0000-0000-000000000000/, "{{ note.uuid }}"),
                        uuid: "{{ note.uuid }}",
                        name: "{{ note.name }}",
                    },
                    {% endfor %}
                ]);
                const paginator = ref(JSON.parse("{{ paginator|escapejs }}"));

                const expander = ref(null);
                const noteElements = ref(null);

                function onChange(evt) {
                    const noteUuid = evt.moved.element.uuid;

                    // The backend expects the ordering to begin
                    // with 1, not 0, so add 1.
                    const newPosition = evt.moved.newIndex + 1;

                    const bodyFormData = new URLSearchParams();
                    bodyFormData.append("note_uuid", noteUuid);
                    bodyFormData.append("new_position", newPosition);

                    axios("{% url "accounts:sort_pinned_notes" %}", {
                        method: "POST",
                        data: bodyFormData,
                    }).catch((error) => {
                        EventBus.$emit(
                            "toast",
                            {
                                "title": "Error",
                                "body": error,
                                "variant": "danger",
                                "autoHide": false,
                            },
                        );
                        console.error("Error:", error);
                    });
                };

                function getContent(content, limit) {
                    if (limit) {
                        content = content.substring(0, 400) || "";
                    }
                    return markdown.render(content);
                };

                onMounted(() => {
                    if (!noteElements.value) {
                        return;
                    }
                    for (const [index, element] of noteElements.value.entries()) {
                        if (element.clientHeight < NOTE_MAX_HEIGHT || isSearchResult.value) {
                            notes.value[index].isExpanded = true;
                        }
                    }
                });

                return {
                    expander,
                    getContent,
                    isSearchResult,
                    noteElements,
                    notes,
                    onChange,
                    paginator,
                    pinnedNotes,
                    selectedNoteUuid,
                };
            },
        });
        app.mount("#vue-app");

    </script>

{% endblock %}
