<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>

    <head>

        <meta charset="utf-8" />
        <meta http-equiv="refresh" content="3600; URL={% url 'blob:slideshow' %}">
        <title>Bordercore :: Slideshow</title>

        {% if debug %}
            <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}dist/css/theme-{{ request.user.userprofile.theme }}.css" />
            <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}dist/css/vue-sidebar-menu.css" />
        {% else %}
            <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/theme-{{ request.user.userprofile.theme }}.min.css" />
            <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/vue-sidebar-menu.min.css" />
        {% endif %}

    </head>

    <body id="slide-show">

        {% block content %}

            {% if content_type == "Video" %}

                <video class="slide-show" controls autoplay loop muted>
                    <source src="{{ MEDIA_URL }}blobs/{{ blob.get_url|safe }}" type="video/mp4">
                </video>

            {% else %}

                <img class="slide-show" src="{{ MEDIA_URL }}blobs/{{ blob.get_url|safe }}" />

            {% endif %}

        {% endblock %}

    </body>

</html>
