{% extends "base.html" %}

{% block extra_head %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/easymde.min.css">
{% endblock %}

{% block title %} {{ action }} Blob {% endblock %}

{% block nav %}

    {% if object %}

        <div class="d-flex mb-3">
            <div class="me-auto align-self-center">
                <ul class="breadcrumb mb-0 pt-0 pb-0">
                    <li class="breadcrumb-item"><a href="{% url 'blob:detail' object.uuid %}">Blob Detail</a></li>
                    <li class="breadcrumb-item active">Edit Blob</li>
                </ul>
            </div>
        </div>

    {% endif %}

{% endblock %}

{% block content %}

    <div class="scrollable-panel-container row g-0 mx-2">

        <div id="vue-app-left" class="scrollable-panel flex-grow-last col-lg-3 d-flex flex-column h-100">
            <div class="card-body backdrop-filter">
                {% if object %}

                    {% if object.sha1sum %}
                        <img
                            src="{{ cover_url }}"
                            height="auto"
                            width="400"
                            class="mw-100 mb-3"
                        />
                    {% endif %}

                {% endif %}

                <div id="blob-options" class="d-flex mt-2">
                    <icon-button
                        label="Important"
                        icon="heart"
                        :initial-enabled="{% if form.importance.value == 10 %}true{% else %}false{% endif %}"
                        form-name="importance"
                        @enable-option="updateFormValue"
                    >
                    </icon-button>
                    <icon-button
                        label="Note"
                        icon="sticky-note"
                        :initial-enabled="{% if form.is_note.value == True %}true{% else %}false{% endif %}"
                        form-name="is_note"
                        @enable-option="updateFormValue"
                    >
                    </icon-button>
                    <icon-button
                        label="Book"
                        icon="book"
                        :initial-enabled="{% if is_book == True %}true{% else %}false{% endif %}"
                        form-name="is_book"
                        @enable-option="updateFormValue"
                    >
                    </icon-button>
                    <icon-button
                        label="Math"
                        icon="square-root-alt"
                        :initial-enabled="{% if form.math_support.value == True %}true{% else %}false{% endif %}"
                        form-name="math_support"
                        @enable-option="updateFormValue"
                    >
                    </icon-button>
                </div>

                <hr class="filter-divider w-100" />

                <div class="d-flex flex-column">
                    <div>
                        <cleanup-filename-button inline-template>
                            <input type="button" class="btn btn-secondary" value="Cleanup Filename" @click="onClick" />
                        </cleanup-filename-button>
                    </div>
                    <div class="mt-3">
                        <upper-case-first-button inline-template>
                            <input type="button" class="btn btn-secondary" value="Upper Case First" @click="onClick" />
                        </upper-case-first-button>
                    </div>
                </div>

                {% if collection_info %}

                    <div>
                        <br />
                        Adding to collection <strong><a href="{% url 'collection:detail' collection_info.uuid %}">{{ collection_info.name }}</a></strong>
                    </div>

                {% endif %}

                {% if linked_blob %}
                    <div class="highlight-box d-flex align-items-center mt-5">
                        {% if linked_blob.thumbnail_url %}
                            <img src="{{ linked_blob.thumbnail_url }}" />
                        {% endif %}
                        <h5 class="d-flex justify-content-center ms-2 w-100">
                            <div>
                            Linking to <a href="{% url 'blob:detail' linked_blob.uuid %}">{{ linked_blob.name|default:"Blob" }}</a>
                            </div>
                        </h5>
                    </div>
                {% endif %}

                {% if linked_collection %}
                    <h6 class="my-3">Linking to a collection with these blobs:</h6>
                    <ul class="list-group">
                    {% for so in linked_collection.collectionobject_set.all %}
                        <li class="list-group-item">
                            <a href="{% url 'blob:detail' so.blob.uuid %}">{{ so.blob.name|default:"No Name" }}</a>
                        </li>
                    {% endfor %}
                    </ul>
                {% endif %}

            </div>

            <transition name="fade">
                <div v-show="$store.state.showRelatedTags">
                    <related-tags
                        ref="relatedTags"
                        class="backdrop-filter"
                        related-tags-url="{% url 'tag:get_related_tags' %}"
                        @click-tag="onClickTag"
                    >
                    </related-tags>
                </div>
            </transition>

        </div>

        <div class="scroll-container col-lg-9 h-100 overflow-auto">

            <div class="card-grid ms-2" id="vue-app-right">

                <ul class="nav nav-tabs justify-content-center mb-2" role="tablist" aria-orientation="horizontal">
                    <li class="nav-item">
                        <a class="nav-link active" href="#" role="tab" data-bs-toggle="tab" data-bs-target="#section-main" aria-controls="v-pills-main" aria-selected="true">
                            Main
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" role="tab" data-bs-toggle="tab" data-bs-target="#section-metadata" aria-controls="v-pills-metadata" aria-selected="false">
                            Metadata
                        </a>
                    </li>
                </ul>

                {% if form.errors %}
                    <div class="col-lg-10 offset-lg-2 ps-1">
                    {% for field,error in form.errors.items %}
                        <div class="message-error card-body ms-0 p-3">
                            <strong class="text-white">
                                Errors
                            </strong>
                            {{ error|safe }}
                        </div>
                    {% endfor %}
                    </div>
                {% endif %}

                <form id="form-blob" action="{{ request.path }}" method="post" enctype="multipart/form-data" class="me-2" v-cloak>

                    <div class="tab-content pt-4">

                        <div id="section-main" class="tab-pane fade show active">

                            <input type="hidden" name="importance" value="{% if form.importance.value == 10 %}on{% endif %}" />
                            <input type="hidden" name="is_note" value="{% if form.is_note.value %}on{% endif %}" />
                            <input type="hidden" name="is_book" value="{% if is_book %}on{% endif %}" />
                            <input type="hidden" name="math_support" value="{% if form.math_support.value %}on{% endif %}" />

                            {% csrf_token %}

                            <input type="hidden" name="metadata" id="input-metadata" />

                            {% if linked_blob %}
                                <input type="hidden" name="linked_blob_uuid" value="{{ linked_blob.uuid }}" />
                            {% endif %}

                            {% if linked_collection %}
                                <input type="hidden" name="linked_collection" value="{{ linked_collection.uuid }}" />
                            {% endif %}

                            {% if collection_info %}
                                <input type="hidden" name="collection_uuid" value="{{ collection_info.uuid }}" />
                            {% endif %}

                            {% for field in form.visible_fields %}

                                {% if field.label != 'Filename' and field.name != 'is_note' and field.name != 'math_support' and field.name != 'importance' %}

                                    <div class="{% if field.errors %}error{% endif %} row mb-3">
                                        <label class="fw-bold col-lg-2 col-sm-2 col-form-label text-end" for="inputTitle">{{ field.label }}</label>

                                    {% if field.label == 'File' %}

                                        <file-upload inline-template>
                                            <div class="col-lg-10">
                                                <div class="input-group">
                                                    <input type="text" name="filename" :value="filename" class="form-control" id="id_filename" autocomplete="off" />
                                                    <input type="hidden" name="file_modified" :value="lastModified" />
                                                    <label class="btn btn-primary">Choose file
                                                        <input type="file" name="file" id="id_file" hidden @change="onChange" />
                                                    </label>
                                                </div>
                                            </div>
                                        </file-upload>

                                    {% elif field.label == 'Date' %}

                                        <div class="col-lg-8">
                                            <div class="input-group">
                                                <date-input v-if="getDateFormat()==='standard'" inline-template>
                                                    <div id="dateapp">
                                                        <vuejs-datepicker
                                                            :bootstrap-styling="true"
                                                            :format="customFormatter"
                                                            :typeable="true"
                                                            :value="$store.state.date"
                                                            name="date"
                                                            id="id_date"
                                                            calendar-class="calendar"
                                                        >
                                                            <span slot="afterDateInput">
                                                                <div class="input-group-text h-100">
                                                                    <font-awesome-icon icon="calendar-alt"></font-awesome-icon>
                                                                </div>
                                                            </span>
                                                        </vuejs-datepicker>
                                                    </div>
                                                </date-input>
                                                <div v-else>
                                                    <input id="date_year" v-model="$store.state.date" class="form-control" type="number" name="date" size="4" placeholder="Year" autocomplete="off">
                                                </div>
                                                <div>
                                                    <drop-down-menu
                                                        ref="dropDownMenu"
                                                        :links="dateFormatMenuItems"
                                                        :initial-hide="false"
                                                        class="calendar-date-format-menu d-flex align-items-center justify-content-center"
                                                    >
                                                    </drop-down-menu>
                                                </div>
                                            </div>
                                        </div>

                                    {% elif field.label == 'Content' %}

                                        <div class="col-lg-10 col-sm-10 align-self-center">
                                            <v-md-editor
                                                ref="mdEditor"
                                                mode="edit"
                                                right-toolbar=""
                                                left-toolbar="undo redo | h bold italic strikethrough quote | ul ol table hr | link image code"
                                                v-model="content"
                                            ></v-md-editor>

                                        </div>

                                    {% elif field.label == 'Tags' %}

                                        <div class="col-lg-10 col-sm-10">
                                            <tags-input
                                                ref="tagsInput"
                                                search-url="{% url 'tag:search' %}?query="
                                                @tags-changed="onTagsChanged"
                                                @blur="onTagsBlur"
                                                @focus="onTagsFocus"
                                            >
                                            </tags-input>
                                        </div>

                                    {% else %}
                                        <div class="col-lg-10 col-sm-10 align-self-center">
                                    {{ field }}
                                        </div>
                                    {% endif %}

                                    </div>

                                {% endif %}

                            {% endfor %}

                        </div>

                        <metadata-wrapper inline-template>
                            <div id="section-metadata" class="tab-pane fade">
                                <div class="row mb-3">

                                <div class="col-lg-2 col-sm-2">
                                    <simple-suggest
                                        ref="simpleSuggest"
                                        id="simple-suggest"
                                        search-url="{% url 'blob:metadata_name_search' %}?query="
                                    >
                                    </simple-suggest>
                                </div>

                                <div class="col-lg-10 col-sm-10">
                                    <div class="input-group">
                                        <metadata-input @add-metadata=addMetadata inline-template>
                                            <input type="text" id="id_value" class="form-control" placeholder="Value" autocomplete="off" @keydown.enter.prevent="onKeyDown" />
                                        </metadata-input>
                                        <span class="input-group-append">
                                            <add-metadata-button @add-metadata=addMetadata inline-template>
                                                <button class="btn btn-success" type="button" @click="onClick">
                                                <span>
                                                    <font-awesome-icon icon="plus" class="metadata-icon" />
                                                </span>
                                                </button>
                                            </add-metadata-button>
                                        </span>
                                    </div>
                                </div>

                            </div>

                            <metadata-list
                                :metadata="metadata"
                                @delete=deleteMetadata
                                inline-template
                            >
                                <div>
                                    <div v-for="m in metadata">
                                        <div class="row mb-3 ">
                                            <label class="fw-bold col-lg-2 col-sm-2 col-form-label text-end" for="inputTitle">[[ m.name ]]</label>
                                            <div class="col-lg-10 col-sm-10">
                                                <div class="input-group">
                                                    <input type="text" :name="m.counter + '_' + m.name" :value="m.value" class="form-control" autocomplete="off" />
                                                    <span class="input-group-append">
                                                        <button class="btn btn-danger btn-remove" type="button" @click="$emit('delete', m.counter)">
                                                            <span>
                                                                <font-awesome-icon icon="times" class="metadata-icon" />
                                                            </span>
                                                        </button>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </metadata-list>
                            </div>
                        </metadata-wrapper>

                        <div class="row">
                            <div class="col-lg-12 offset-lg-2 d-flex">
                                <button type="button" class="btn btn-primary" @click="submitForm">
                                 {{ action }}
                                </button>
                            {% if object %}
                                <button class="btn btn-secondary d-flex ms-3" @click="onClickDelete">
                                    Delete
                                </button>
                            {% endif %}
                        </div>
                    </div>
                    </div>

                </form>

            </div>
        </div>
    </div>

{% endblock %}

{% block javascript %}

    {{ block.super }}

    {{ tags|json_script:"initial-tags"|default:"" }}

    <script type="text/javascript">

        function formatName(match, capture1, capture2) {
            return capture2 ? capture1 + capture2.toUpperCase() : match.toUpperCase();
        }

        var isExpanded = false;

        var metadata_count = {{ metadata|length }};

        const store = new Vuex.Store({
            state: {
                date: "{{ form.date.value }}",
                showRelatedTags: false,
            },
            getters: {},
            mutations: {},
        });

        const CleanupFilenameButton = {
            methods: {
                async onClick(evt) {
                    var name = document.getElementById("id_name").value;
                    if (name) {
                        var fileNameEl = document.getElementById("id_filename");
                        var fileName = fileNameEl.value;
                        var match = /(.*)(\..*?)$/.exec(fileName);
                        if (match) {
                            fileNameEl.value = name + match[2];
                            fileNameEl.classList.add("highlight-changed-field");
                            await new Promise(r => setTimeout(r, 2000));
                            fileNameEl.classList.add("color-transition");
                        }
                    }
                }
            }
        }

        const UpperCaseFirstButton = {
            methods: {
                async onClick(evt) {

                    // Transforms 'JERRELL SCHIVERS' to 'Jerrell Schivers'
                    var nameEl = document.getElementById("id_value")
                    nameEl.value = nameEl.value.toLowerCase().replace(/(\s+)(.)|^(.)/g, formatName)

                    nameEl.classList.add("highlight-changed-field");
                    await new Promise(r => setTimeout(r, 2000));
                    nameEl.classList.add("color-transition");

                }
            },
        };

        const FileUpload = {
            data() {
                return {
                    filename: "{{ form.filename.value|default:""|escapejs }}",
                    lastModified: null
                }
            },
            methods: {
                onChange(evt) {
                    this.filename = evt.target.files[0].name;
                    this.lastModified = evt.target.files[0].lastModified;
                }
            }
        }

        const noDelimiter = {replace: function(){}};

        const DateInput = {
            components: {
                Datepicker
            },
            methods: {
                customFormatter(date) {
                    return format(new Date(date), "YYYY-MM-DD")
                },
                handlePaste(evt) {

                    var clipText = encodeURIComponent(evt.clipboardData.getData("Text").trim());

                    axios.get("{% url "blob:parse_date" 666 %}".replace(/666/, clipText))
                         .then(response => {
                             var payLoad = response.data;
                             if (payLoad.output_date == "") {
                                 var errorString = "Invalid date format";
                                 console.error(errorString + " :" + payLoad.error);
                                 EventBus.$emit(
                                     "toast",
                                     {
                                         "title": "Error",
                                         "body": errorString,
                                         "variant": "danger"
                                     },
                                 );
                             } else {
                                 this.date = new Date(payLoad.output_date);
                             }
                         })
                }
            },
            mounted() {
                document.getElementById("id_date").addEventListener("paste", this.handlePaste);
            }
        }

        const MetadataList = {
            props: ['metadata']
        }

        const AddMetadataButton = {
            methods: {
                onClick(evt) {
                    this.$emit("add-metadata");
                }
            }
        }

        const MetadataInput = {
            methods: {
                onKeyDown(evt) {
                    this.$emit("add-metadata");
                }
            }
        };

        const MetadataWrapper = {
            data() {
                return {
                    metadata: [
                        {% for m in metadata %}
                        {
                            name: "{{ m.name|safe|escapejs }}",
                            value: "{{ m.value|safe|escapejs }}",
                            counter: {{ forloop.counter }}
                        },
                        {% endfor %}
                    ]
                }
            },
            methods: {
                addMetadata(payload) {
                    metadata_count++;

                    nameEl = document.getElementById("simple-suggest");
                    valueEl = document.getElementById("id_value");

                    if (nameEl.value == "" || valueEl.value == "") {
                        this.$refs.simpleSuggest.$refs.suggestComponent.$refs.inputSlot.focus();
                        return;
                    }

                    payload = {
                        name: nameEl.value,
                        value: valueEl.value,
                        counter: metadata_count
                    }

                    nameEl.value = "";
                    valueEl.value = "";

                    this.metadata.unshift(payload);

                    // Clear the autocomplete and give it focus so that another name can be added
                    this.$refs.simpleSuggest.$refs.suggestComponent.setText("");
                    window.setTimeout(() => { this.$refs.simpleSuggest.$refs.suggestComponent.inputElement.focus() }, 100);

                },
                deleteMetadata(counter) {
                    for (i = 0; i < this.metadata.length; i++) {
                        if (this.metadata[i].counter == counter) {
                            this.metadata.splice(i, 1);
                        }
                    }
                },
                select(datum) {
                    // After a metadata name is selected, focus the value field
                    this.$nextTick(() => {
                        document.getElementById("id_value").focus();
                    })
                }
            },
            components: {
                AddMetadataButton,
                MetadataInput,
                MetadataList,
            }
        };

        new Vue({
            el: "#vue-app-left",
            name: "LeftPanel",
            store,
            components: {
                CleanupFilenameButton,
                UpperCaseFirstButton
            },
            mounted() {
                EventBus.$on("tags-changed", (payload) => {
                    this.$refs.relatedTags.setTags(payload.map( (x) => x.text ));
                });
            },
            methods: {
                onClickTag(tag) {
                    EventBus.$emit("add-tag", tag);
                },
                updateFormValue(property, value) {
                    if (property === "important") {
                        document.getElementById("form-blob").elements[property].value = 10;
                    } else {
                        // Simulate a form checkbox value
                        document.getElementById("form-blob").elements[property].value = value ? "on" : "";
                    }
                }
            }
        });

        new Vue({
            el: "#vue-app-right",
            name: "EditForm",
            store,
            components: {
                FileUpload,
                DateInput,
                MetadataWrapper,
            },
            data() {
                return {
                    dateFormat: "standard",
                    dateFormatMenuItems: [
                        {
                            id: uuidv4(),
                            title: "Date Format: Standard",
                            format: "standard",
                            url: "#",
                            clickHandler: this.onClickDateFormatStandard,
                        },
                        {
                            id: uuidv4(),
                            title: "Date Format: Year",
                            format: "year",
                            url: "#",
                            clickHandler: this.onClickDateFormatYear,
                        },
                    ],
                    content:"",
                }
            },
            methods: {
                getDateFormat() {
                    return this.dateFormat;
                },
                onClickDateFormatStandard() {
                    this.dateFormat = "standard";
                    this.$store.state.date = this.$store.state.date + "-01-01T00:00";
                    this.addCheckMarkToDateFormatMenu();
                },
                onClickDateFormatYear() {
                    this.dateFormat = "year";
                    const date = new Date(this.$store.state.date);
                    this.$store.state.date = date.getFullYear();
                    this.addCheckMarkToDateFormatMenu();
                },
                onTagsChanged(tags) {
                    EventBus.$emit("tags-changed", tags);
                },
                onTagsBlur(tags) {
                    this.$store.state.showRelatedTags = false;
                },
                onTagsFocus(tags) {
                    this.$store.state.showRelatedTags = true;
                },
                addCheckMarkToDateFormatMenu() {
                    // Indicate the current date format with a checkmark. Remove
                    //  it if it's set for any other item.
                    const self = this;
                    this.dateFormatMenuItems.forEach(function(item) {
                        if (item.format === self.dateFormat) {
                            item.icon = "check";
                        } else {
                            item.icon = undefined;
                        }
                    })
                },
                {% if object %}
                onClickDelete(evt) {
                    const formEl = document.getElementById("form-blob");
                    formEl.setAttribute("action", "{% url 'blob:delete' object.uuid %}");
                    formEl.submit();
                },
                {% endif %}
                submitForm() {

                    // Add the 'name' attribute and contents to the internal
                    // textarea used by v-md-editor, which will then
                    // be submitted with the rest of the form.
                    const textarea = document.querySelector(".v-md-textarea-editor textarea");
                    textarea.setAttribute("name", "content");
                    textarea.setAttribute("value", this.content);

                    document.getElementById("form-blob").submit();
                },
            },
            mounted() {
                EventBus.$on("add-tag", (payload) => {
                    this.$refs.tagsInput.addTag({"text": payload, "display": payload});
                });

                const found = this.$store.state.date.match(/^(\d\d\d\d)T00:00$/);
                if (found) {
                    this.$store.state.date = found[1];
                    this.dateFormat = "year";
                }
                this.addCheckMarkToDateFormatMenu();

                this.$refs.mdEditor.insert((selected) => {
                    return {
                        text: "{{ form.content.value|default:""|escapejs }}",
                        selected: "",
                    };
                });
            }
        });

    </script>

{% endblock %}
