{% block extra_head %}

    <script type="text/javascript" src="{{ STATIC_URL }}js/typeahead.bundle.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/typeahead-bootstrap3.css" />

{% endblock %}

<script type="text/javascript" charset="utf-8">

   $(document).ready(function() {

        {% if search_sort_by %}
        $("#search-sort-by").val('{{ search_sort_by }}');
        {% endif %}

        $('#search-sort-by').change( function(event) {
            var value = $(this).val();
            $.ajax( { type: 'POST',
                      url: '{% url 'store_in_session' %}',
                      data: { search_sort_by: value },
                      success: function() {
                }
                      });

        })

        var myengine = new Bloodhound({
            remote: {
                url: '{% url 'kb_search_tags_booktitles' %}?term=%QUERY',
                wildcard: '%QUERY'
            },
            datumTokenizer: function(d) { return Bloodhound.tokenizers.whitespace(d.val); },
            queryTokenizer: Bloodhound.tokenizers.whitespace,
            limit: 20
        });

        myengine.initialize();

        var template_source = $("#entry-template-what").html()

        $('#kbsearch').typeahead(
            {
                hint: true,
                highlight: true,
                minLength: 3
            }, {
                limit: 20,
                display: 'value',
                source: myengine,
                templates: {
                    suggestion: function(data) {
                        return '<div class="tt-suggest-page"><em>' + data.type + '</em> - ' + data.value + '</div>';
                    }
                }
                }
        );

        // This is set when an item from the autocomplete options is selected.  Otherwise there would be
        //  a race between the window.open() in $('#kbsearch').bind(...) and the form submission from the
        //  $('#kbsearch').on('keyup', ...)
        var autocomplete_selected = false;

        $('#kbsearch').on('keyup', function(event, selection) {
            if (((event.which && event.which == 13) || (event.keyCode && event.keyCode == 13)) && !autocomplete_selected) {
                $('#search').submit();
                return false;
            } else {
                return true;
            }
        });

        $('#kbsearch').bind('typeahead:selected', function(obj, datum, name) {
            var url = null;
            if (datum.type == 'Tag') {
                url = '{% url 'kb_search_tag_detail' 666 %}'.replace(666, datum.value);
            } else {
                url = '{% url 'blob_detail' '00000000-0000-0000-0000-000000000000' %}'.replace('00000000-0000-0000-0000-000000000000', datum.uuid);
            }
            autocomplete_selected = true;
            window.open(url, '_self');
        });

    });

</script>

<form id="search" action="{% url 'search' %}" method="get" autocomplete="off">
    <input type="hidden" id="facets" name="facets" value="" />

    <div class="form-row align-items-center">

        <div class="col-auto">
            <input id="kbsearch" class="form-control" type="text" name="search" value="{{ request.GET.search }}" placeholder="Search" />
        </div>

        <div class="col-auto">
            <label class="bold">Limit</label>
        </div>
        <div class="col-auto">
            <select name="rows" class="form-control">
                <option>100</option>
                <option>200</option>
                <option>1000</option>
                <option>No limit</option>
            </select>
        </div>

        <div class="col-auto">
            <label class="bold">Sort by</label>
        </div>

        <div class="col-auto">
            <select id="search-sort-by" name="sort" class="form-control">
                <option value="score">Rank</option>
                <option value="date_unixtime">Date</option>
            </select>
        </div>
        <div class="col-auto">
            <input class="btn btn-primary ml-3" type="submit" name="Go" value="Search" />
        </div>

    </div>

    <div class="form-row align-items-center mt-2">

        <div class="col-auto">

            <label class="bold">Exact Match</label>
            <input type="checkbox" name="exact_match"{% if request.GET.exact_match %} checked="checked"{% endif %} />

        </div>

        <div class="col-auto">
            <label class="bold">Boolean Search Type</label>
        </div>

        <div class="col-auto">
            <select name="boolean_search_type" class="form-control">
                <option selected="selected">AND</option>
                <option>OR</option>
            </select>
        </div>

    </div>

</form>
