{% block extra_head %}

    <script type="text/javascript" src="{{ STATIC_URL }}js/typeahead.bundle.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/typeahead-bootstrap3.css" />

{% endblock %}

<script type="text/javascript" charset="utf-8">

   $(document).ready(function() {

        var myengine = new Bloodhound({
            remote: {
                url: '{% url 'kb_search_tags_booktitles' %}?term=%QUERY',
                wildcard: '%QUERY'
            },
            datumTokenizer: function(d) { return Bloodhound.tokenizers.whitespace(d.val); },
            queryTokenizer: Bloodhound.tokenizers.whitespace,
            limit: 20
        });

        myengine.initialize();

        var template_source = $("#entry-template-what").html()

        $('#kbsearch').typeahead(
            {
                hint: true,
                highlight: true,
                minLength: 3
            }, {
                limit: 10,
                display: 'value',
                source: myengine,
                templates: {
                    suggestion: function(data) {
                        return '<div class="tt-suggest-page"><em>' + data.type + '</em> - ' + data.value + '</div>';
                    }
                }
                }
        );

        // This is set when an item from the autocomplete options is selected.  Otherwise there would be
        //  a race between the window.open() in $('#kbsearch').bind(...) and the form submission from the
        //  $('#kbsearch').on('keyup', ...)
        var autocomplete_selected = false;

        $('#kbsearch').on('keyup', function(event, selection) {
            if (((event.which && event.which == 13) || (event.keyCode && event.keyCode == 13)) && !autocomplete_selected) {
                $('#search').submit();
                return false;
            } else {
                return true;
            }
        });

        $('#kbsearch').bind('typeahead:selected', function(obj, datum, name) {
            var url = null;
            if (datum.type == 'Tag') {
                url = '{% url 'kb_search_tag_detail' 666 %}'.replace(666, datum.value);
            } else {
                url = '{% url 'blob_detail' 666 %}'.replace(666, datum.uuid);
            }
            autocomplete_selected = true;
            window.open(url, '_self');
        });

    });

</script>

<form id="search" class="form-inline" action="{% url 'search' %}" method="get" autocomplete="off">

<div class="row">

    <div class="col-lg-10">

            <input type="hidden" id="facets" name="facets" value="" />

            <div class="form-group">

                <input id="kbsearch" class="form-control" type="text" name="search" value="{{ request.GET.search }}" placeholder="Search" />
                &nbsp;

            </div>

            <div class="form-group">

                <label>Limit</label>

                <select name="rows" class="form-control">
                    <option>100</option>
                    <option>200</option>
                    <option>1000</option>
                    <option>No limit</option>
                </select>

                &nbsp;

            </div>

            <div class="form-group">

                <label>Sort by</label>

                <select name="sort" class="form-control">
                    <option value="score">Rank</option>
                    <option value="date_unixtime">Date</option>
                </select>

                &nbsp;

            </div>

            <input class="btn btn-default btn btn-primary" type="submit" name="Go" value="Search" />

    </div>

</div>

<div class="row voffset">

    <div class="col-lg-10">

        <div class="form-group">

            <label>Exact Match</label>
            <input type="checkbox" name="exact_match"{% if request.GET.exact_match %} checked="checked"{% endif %} />
            &nbsp;

        </div>

        <div class="form-group">

            <label>Boolean Search Type</label>

            <select name="boolean_search_type" class="form-control">
                <option selected="selected">AND</option>
                <option>OR</option>
            </select>

        </div>

    </div>

</div>

</form>
