{% extends "base.html" %}

{% load dict_get %}

{% block title %} KB :: Search {% endblock %}

{% block left-block %}

    {% if request.GET and info %}

        <div class="card bg-info">
            <div class="card-header text-white">Match Categories</div>
            <div class="card-body bg-light">
{% for facet in facet_counts|dictsortreversed:"count" %}
                    <input type="checkbox" name="filter_query" class="facet my-2" id="{{ facet.doctype }}"
                           {% if facet.doctype in filter_query %}checked="checked"{% endif %}
                           /> {{ facet.doctype_purty }} ({{ facet.count }})
                <br/>
{% endfor %}
            </div>
        </div>

    {% endif %}

{% endblock %}

{% block content %}

{% include "kb/header.html" %}

<script type="text/javascript" charset="utf-8">

   $(document).ready(function() {

        $('.facet').on('click', function(e) {

            // For all faceting categories checked, all that list to a
            // hidden field in the search form, then submit the form

            facets = [];

            $('.facet').each(function(index) {
                if (this.checked) {
                    facets.push(this.id)
                }
            });

            $('#facets').val(facets);

            $('#search').submit();

        });

        if ($('#kbsearch').val() == '') {
            $('#kbsearch').focus();
        }

    });

</script>

<br />

{% if request.GET %}

    {% include "common/show_messages_inline.html" %}

    <div class="row">
        <div class="col-lg-12">

{% if not info and not messages %}

    <br />
    <div class="alert alert-info">Nothing found</div>

{% else %}

    <table>

{% for match in info %}

    <tr>
        <td{% if match.importance == 10 %} class="important"{% endif %}>
{% if match.doctype == 'bordercore_todo' %}

    <h4 class="search_book_title">Todo: <a href="{% url 'todo_edit' match.bordercore_id %}">{{ match.task }}</a></h4>

{% elif match.doctype == 'bordercore_bookmark' %}

    <h4 class="search_book_title">
        <img src="{{ STATIC_URL }}img/kb_link.png" />
        <a href="{{ match.url }}">{{ match.title }}</a>
    </h4>

{% elif match.doctype == 'note' %}

    <h4 class="search_book_title"><a href="{% url 'blob_detail' match.uuid %}">{{ match.title|default:"Note" }}</a></h4>

    <h5>{{ match.note|safe }}</h5>

{% elif match.doctype == 'document' %}

    <h4 class="search_book_title">
        <a href="{% url 'blob_detail' match.uuid %}">{{ match.title|default:"Title" }}</a>
    </h4>

    <h5>{{ match.note|safe }}</h5>

{% else %}

    <h4>
        <img src="{{ STATIC_URL }}img/kb_book.png" />
        <span class="search_book_title">
            <a href="{% url 'blob_detail' match.uuid %}">{{ match.title }}</a>
        </span>
        <span class="search_book_author">
            {% if match.creators %} - {{ match.creators }}{% endif %}
        </span>
    </h4>
{% endif %}

    <strong class="ml-3">{{ match.date }}</strong>

Tags: {% if not match.tags%}None{% endif %}
{% for tag in match.tags %}
    <strong><a href="{% url 'kb_search_tag_detail' tag %}">{{ tag }}</a></strong>{% if not forloop.last %}, {% endif %}
{% endfor %}

        </td>
    </tr>

{% endfor %}

        </table>

    </div>

{% endif %}

{% endif %}

        </div>
    </div>

{% endblock %}
