{% extends "base.html" %}

{% load dict_get %}

{% block title %} KB :: Search {% endblock %}

{% block left-block %}

    {% if request.GET and info %}

        <div class="card bg-info">
            <div class="card-header text-white">Match Categories</div>
            <div class="card-body bg-light">
{% for facet in facet_counts|dictsortreversed:"count" %}
                    <input type="checkbox" name="filter_query" class="facet my-2" id="{{ facet.doctype }}"
                           {% if facet.doctype in filter_query %}checked="checked"{% endif %}
                           /> {{ facet.doctype_purty }} ({{ facet.count }})
                <br/>
{% endfor %}
            </div>
        </div>

    {% endif %}

{% endblock %}

{% block content %}

{% include "kb/header.html" %}

<br />

{% if request.GET %}

    {% include "common/show_messages_inline.html" %}

    <div class="row">
        <div class="col-lg-12">

{% if not info and not messages %}

    <br />
    <div class="alert alert-info">Nothing found</div>

{% else %}

    <table>

{% for match in info %}

    <tr>
        <td{% if match.importance == 10 %} class="important"{% endif %}>
{% if match.doctype == 'todo' %}

    <h4 class="search_book_title">Todo: <a href="{% url 'todo_edit' match.uuid %}">{{ match.task }}</a></h4>

{% elif match.doctype == 'bordercore_bookmark' %}

    <h4 class="search_book_title">
        <img src="{{ STATIC_URL }}img/kb_link.png" />
        <a href="{{ match.url }}">{{ match.title }}</a>
    </h4>

{% elif match.doctype == 'note' %}

    <h4 class="search_book_title"><a href="{% url 'blob_detail' match.uuid %}">{{ match.title|default:"Note" }}</a></h4>

    <h5>{{ match.note|safe }}</h5>

{% elif match.doctype == 'document' %}

    <h4 class="search_book_title">
        <a href="{% url 'blob_detail' match.uuid %}">{{ match.title|default:"Title" }}</a>
    </h4>

    <h5>{{ match.note|safe }}</h5>

{% else %}

    <h4>
        <img src="{{ STATIC_URL }}img/kb_book.png" />
        <span class="search_book_title">
            <a href="{% url 'blob_detail' match.uuid %}">{{ match.title|default:"No title" }}</a>
        </span>
        <span class="search_book_author">
            {% if match.creators %} - {{ match.creators }}{% endif %}
        </span>
    </h4>
{% endif %}

    <strong class="ml-3">{{ match.date }}</strong>

Tags: {% if not match.tags%}None{% endif %}
{% for tag in match.tags %}
    <strong><a href="{% url 'kb_search_tag_detail' tag %}">{{ tag }}</a></strong>{% if not forloop.last %}, {% endif %}
{% endfor %}

        </td>
    </tr>

{% endfor %}

        </table>

    </div>

{% endif %}

{% endif %}

        </div>
    </div>

{% endblock %}

{% block javascript %}

    {{ block.super }}

    <script type="text/javascript" src="{{ STATIC_URL }}js/typeahead.bundle.min.js"></script>

    <script type="text/javascript" charset="utf-8">

        $(document).ready(function() {

            $('.facet').on('click', function(e) {

                // For all faceting categories checked, all that list to a
                // hidden field in the search form, then submit the form

                facets = [];

                $('.facet').each(function(index) {
                    if (this.checked) {
                        facets.push(this.id)
                    }
                });

                $('#facets').val(facets);

                $('#search').submit();

            });

                        {% if search_sort_by %}
            $("#search-sort-by").val('{{ search_sort_by }}');
            {% endif %}

            $('#search-sort-by').change( function(event) {
                var value = $(this).val();
                $.ajax( { type: 'POST',
                          url: '{% url 'store_in_session' %}',
                          data: { search_sort_by: value },
                          success: function() {
                    }
                          });

            })

            var myengine = new Bloodhound({
                remote: {
                    url: '{% url 'kb_search_tags_booktitles' %}?term=%QUERY',
                    wildcard: '%QUERY'
                },
                datumTokenizer: function(d) { return Bloodhound.tokenizers.whitespace(d.val); },
                queryTokenizer: Bloodhound.tokenizers.whitespace,
                limit: 20
            });

            myengine.initialize();

            var template_source = $("#entry-template-what").html()

            $('#kbsearch').typeahead(
                {
                    hint: true,
                    highlight: true,
                    minLength: 3
                }, {
                    limit: 20,
                    display: 'value',
                    source: myengine,
                    templates: {
                        suggestion: function(data) {
                            return '<div class="tt-suggest-page"><em>' + data.type + '</em> - ' + data.value + '</div>';
                        }
                    }
                }
            );

            // This is set when an item from the autocomplete options is selected.  Otherwise there would be
            //  a race between the window.open() in $('#kbsearch').bind(...) and the form submission from the
            //  $('#kbsearch').on('keyup', ...)
            var autocomplete_selected = false;

            $('#kbsearch').on('keyup', function(event, selection) {
                if (((event.which && event.which == 13) || (event.keyCode && event.keyCode == 13)) && !autocomplete_selected) {
                    $('#search').submit();
                    return false;
                } else {
                    return true;
                }
            });

            $('#kbsearch').bind('typeahead:selected', function(obj, datum, name) {
                var url = null;
                if (datum.type == 'Tag') {
                    url = '{% url 'kb_search_tag_detail' 666 %}'.replace(/666$/, datum.value);
                } else {
                    url = '{% url 'blob_detail' '00000000-0000-0000-0000-000000000000' %}'.replace('00000000-0000-0000-0000-000000000000', datum.uuid);
                }
                autocomplete_selected = true;
                window.open(url, '_self');
            });

            if ($('#kbsearch').val() == '') {
                $('#kbsearch').focus();
            }

        });

    </script>

{% endblock %}
