{% extends "base.html" %}

{% load get_doctype %}
{% load dict_get %}

{% block title %} KB :: Tag Detail {% endblock %}

{% block content %}

{% include "kb/header.html" %}

    <br />

    <div id="vue-app">

        <div class="row">
            <div class="col-lg-10">

                <form id="tag-filter-form" class="form-inline" action="{% url 'kb_search_tag_detail' tag %}" method="get" autocomplete="off">
                    <tag-search inline-template>
                        <div class="form-group">

                            <input type="hidden" name="tags" v-model="tagsHidden" />

                            <div id="vue-wrapper">
                                <vue-tags-input
                                    ref="tagsInputComponent"
                                    v-model="tag"
                                    :tags="tags"
                                    @tags-changed=tagsChanged
                                    :autocomplete-items="filteredItems"
                                    :add-only-from-autocomplete="false"
                                    placeholder="Tags"
                                    autofocus>
                                    <div slot="autocomplete-item" slot-scope="scope" @click="scope.performAdd(scope.item)">
                                        <div>[[ scope.item.text ]]</div>
                                    </div>
                                </vue-tags-input>
                            </div>

                        </div>
                    </tag-search>
                {% if tag_counts %}
                    <other-tag-counts inline-template>
                        <div class="form-group ml-2">
                            <select class="form-control" @change="onChange">
                                <option value="-1">Other tags</option>
                        {% for tag, count in tag_counts %}
                            <option value="{{ tag }}">{{ tag }} ({{ count }})</option>
                        {% endfor %}
                            </select>
                        </div>
                    </other-tag-counts>
                {% endif %}
                <meta-tag-list inline-template>
                    <div class="form-group">
                {% for tag in meta_tags %}
                    {% if forloop.first %}
                        <label class="ml-3">Meta Tags: </label>
                    {% endif %}
                    <span class="badge badge-success ml-2"><a class="meta_tag tag" href="" @click="onClick">{{ tag }}</a></span>
                {% endfor %}
                    </div>
                </meta-tag-list>
                </form>
            </div>
        </div>

        <br />

        <tab-list inline-template>
            <ul class="nav nav-tabs" id="myTab" @click="onClick">
        {% for doctype in doctype_counts %}
            <li class="nav-item"><a class="nav-link" id="tab_{{ doctype.0 }}" href="#{{ doctype.0 }}">{{ doctype_mapping|get_doctype:doctype.0 }} <span class="badge alert-info">{{ doctype.1 }}</span></a></li>
        {% endfor %}
            </ul>
        </tab-list>

        <div class="tab-content" id="tag-detail-tab-content">

            <div id="blob" class="tab-pane fade">
            {% for match in info.matches.blob %}
                <div class="row voffset">
                    <div class="col-lg-12">
                        {% if match.sha1sum %}
                            <a href="{{ MEDIA_URL }}{{ match.url|safe }}">
                                <img src="{{ STATIC_URL }}img/download-2-32.png" width="16" height="16" />
                            </a>
                        {% endif %}
                        {% if match.content_type == 'Image' %}
                            <img width="32" height="32" src="{{ match.cover_url }}" />
                        {% endif %}
                        <a href="{% url 'blob_detail' match.uuid %}">{{ match.title|default:"No Title" }}</a>
                        {% if match.content_type and match.content_type != 'Image' %}
                            <span class="list_annotation">{{ match.content_type }}</span>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
            </div>

            <div id="book" class="tab-pane fade">
                <table class="table-borderless">
                    <tr>

            {% for match in info.matches.book %}
                {% if forloop.counter0|divisibleby:"3" %}
                    </tr><tr>
                {% endif %}
                <td>
                    <img src="{{ match.cover_url }}" height="75" width="70"/>
                    <br/>
                    <a href="{{ MEDIA_URL }}{{ match.url|safe }}">
                        <img src="{{ STATIC_URL }}img/download-2-32.png" width="16" height="16" />
                    </a>
                    <a href="{% url 'blob_detail' match.uuid %}">{{ match.title }}</a>
                </td>
            {% endfor %}
                </table>
            </div>

            <div id="bordercore_bookmark" class="tab-pane fade">
            {% for match in info.matches.bordercore_bookmark %}
                <div class="row voffset">
                    <div class="col-lg-12">
                        <a href="{{ match.url }}">{{ match.title }}</a>
                    </div>
                </div>
            {% endfor %}
            </div>

            <div id="document" class="tab-pane fade">
            {% for match in info.matches.document %}
                <div class="row voffset">
                    <div class="col-lg-12">
                        <a href="{% url 'blob_detail' match.uuid %}">{{ match.title|default:"No Title" }}</a>
                    </div>
                </div>
            {% endfor %}
            </div>

            <div id="note" class="tab-pane fade">
            {% for match in info.matches.note %}
                <div class="row voffset">
                    <div class="col-lg-12">
                        <a href="{% url 'blob_detail' match.uuid %}">{{ match.title|default:"Note" }}</a>
                    </div>
                </div>
            {% endfor %}
            </div>

            <div id="todo" class="tab-pane fade">
            {% for match in info.matches.todo %}
                <div class="row voffset">
                    <div class="col-lg-12">
                        {{ match.task }}  <span class="search_todo_date">{{ match.last_modified }}</span>
                    </div>
                </div>
            {% endfor %}
            </div>

        </div>

    </div>

{% endblock %}

{% block javascript %}

    {{ block.super }}

    {{ tag_list|json_script:"initial-tags"|default:"" }}

    <script type="text/javascript">

        function get_tag_list_string() {
            initialTags = JSON.parse(document.getElementById("initial-tags").textContent);
            return initialTags.map(x => x.text).join(",")
        }

        Vue.mixin({ delimiters: ["[[", "]]"] });

        const TagSearch = {
            data() {
                return {
                    tag: "",
                    tags: [],
                    autocompleteItems: [],
                    tagsHidden: ""
                }
            },
            watch: {
                "tag": "initItems",
            },
            methods: {
                tagsChanged(newTags) {
                    var tags = newTags.map(x => x.value).join(",");
                    window.location="{% url 'kb_search_tag_detail' 666 %}".replace("666", tags);
                },
                initItems() {

                    // Set a minimum character count to trigger the ajax call
                    if (this.tag.length < 3) return;

                    return doGet(
                        this,
                        "{% url "tag_search" %}?query=" + this.tag,
                        (response) => {
                            this.autocompleteItems = response.data.map(a => {
                                return { text: a.text, value: a.value };
                            })
                        },
                        ""
                    );

                }
            },
            mounted() {
                initialTags = JSON.parse(document.getElementById("initial-tags").textContent);
                if (initialTags) {
                    this.tags = initialTags;
                    this.tagsHidden=initialTags.map(x => x.value).join(",")
                }
            },
            computed: {
                filteredItems() {
                    return this.autocompleteItems.filter(i => {
                        return i.text.toLowerCase().indexOf(this.tag.toLowerCase()) !== -1;
                    });
                }
            }
        };

        {% if tag_counts %}
        const OtherTagCounts = {
            methods: {
                onChange(evt) {
                    tag_list = get_tag_list_string() + "," + evt.srcElement.value;
                    window.location="{% url 'kb_search_tag_detail' 666 %}".replace("666", tag_list);
                }
            }
        };
        {% endif %}

        const MetaTagList = {
            methods: {
                onClick(evt) {
                    evt.preventDefault();
                    tag_list = get_tag_list_string() + "," + evt.srcElement.innerHTML;
                    window.location="{% url 'kb_search_tag_detail' 666 %}".replace(/666$/, tag_list);
                }
            }
        };

        const TabList = {
            methods: {
                onClick(evt) {
                    id = evt.srcElement.id;

                    data = {
                        "kb_tag_detail_current_tab": id.replace("tab_", "")
                    }

                    const bodyformData = Object.keys(data).map(key => encodeURIComponent(key) + '=' + encodeURIComponent(data[key])).join('&');

                    $("#myTab a#tab_" + data.kb_tag_detail_current_tab).tab("show");

                    doPost(
                        this,
                        "{% url "store_in_session" %}",
                        data,
                        (response) => {
                            evt.preventDefault();
                        },
                        "",
                        ""
                    );

                }
            },
            mounted() {
                {% if kb_tag_detail_current_tab and doctypes|dict_get:kb_tag_detail_current_tab %}
                $("#myTab a#tab_{{ kb_tag_detail_current_tab }}").tab("show");
                {% else %}
                // If the tab stored in the session doesn't match any current tab categories,
                //  show the first tab.
                $("#myTab a").tab("show");
                {% endif %}

            }
        };

        new Vue({
            el: "#vue-app",
            components: {
                TagSearch,
                {% if tag_counts %}
                OtherTagCounts,
                {% endif %}
                TabList,
                MetaTagList
            }
        });

    </script>

{% endblock %}
