{% block extra_head %}

    <script type="text/javascript" src="{{ STATIC_URL }}js/handlebars.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/typeahead.bundle.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/typeahead-bootstrap3.css" />

{% endblock %}

<script type="text/javascript" charset="utf-8">

   $(document).ready(function() {

		Handlebars.registerHelper("debug", function(optionalValue) {
			console.log("Current Context");
			console.log("====================");
			console.log(this);

			if (optionalValue) {
				console.log("Value");
				console.log("====================");
				console.log(optionalValue);
			}
		});

        var myengine = new Bloodhound({
            datumTokenizer: function(data) {
                return Bloodhound.tokenizers.obj.whitespace(data.value);
            },
            remote: {
                url: '{% url 'kb_search_tags_booktitles' %}?term=%QUERY',
            },
	        queryTokenizer: Bloodhound.tokenizers.whitespace,
			limit: 20
        });

        myengine.initialize();

		var template_source = $("#entry-template-what").html()

        $('#kbsearch').typeahead(
            {
                hint: true,
                highlight: true,
                minLength: 3
            }, {
	            source: myengine.ttAdapter(),
                displayKey: 'value',
				templates: {
					suggestion: Handlebars.compile(template_source)
				}
			});

		$('#kbsearch').on('keyup', function(event, selection) {
			if ((event.which && event.which == 13) || (event.keyCode && event.keyCode == 13)) {
				$('#search').submit();
				return false;
			} else {
				return true;
			}
		});

		$('#kbsearch').bind('typeahead:selected', function(obj, datum, name) {
			var url = null;
			var name = '_self';
			if (datum.type == 'Tag') {
				url = '{% url 'kb_search_tag_detail' 666 %}'.replace(666, datum.value);
			} else {
				name = 'search'
				url = '{{ STATIC_URL }}ebooks/' + datum.filename;
			}
            window.open(url, name)
        });

    });

</script>

{% verbatim %}
	<script id="entry-template-what" type="text/x-handlebars-template">
		<div>{{ debug }}
			<em>{{type}}</em> - {{value}}
		</div>
	</script>
{% endverbatim %}

<div class="row">

    <div class="col-md-10">

        <form id="search" class="form-inline" action="{% url 'search' %}" method="get" autocomplete="off">
            <input type="hidden" id="facets" name="facets" value="" />

            <div class="form-group search_input">

                <input id="kbsearch" class="form-control" type="text" name="search" value="{{ request.GET.search }}" placeholder="Search" />

            </div>

            <div class="form-group">

                <label>Limit</label>

                <select name="rows" class="form-control">
                    <option>100</option>
                    <option>200</option>
                    <option>1000</option>
                    <option>No limit</option>
                </select>

            </div>

            <div class="form-group">

                <label>Sort by</label>

                <select name="sort" class="form-control">
                    <option value="rank">Rank</option>
                    <option value="project_name">Project Name</option>
                </select>

            </div>

            <input class="btn btn-default" type="submit" name="Go" value="Search" />

        </form>

    </div>

</div>

