{% extends "base.html" %}

{% load dict_get %}

{% load favicon %}

{% block title %} Bookmarks {% endblock %}

{% block extra_head %}

    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/smoke.min.css" />
    <script type="text/javascript" src="{{ STATIC_URL }}js/smoke.min.js"></script>

    <script src="https://use.fontawesome.com/4a95cb196f.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui.min.js"></script>

{% endblock %}

{% block left-block %}

    <script type="text/javascript">

        // Create a hash of bookmark ids and their attributes
        var link_info = {};
        {% for link in bookmarks %}
          {% if link.note != None %}
        link_info[{{ link.id }}] = "{{ link.note }}";
          {% endif %}
        {% endfor %}

        $(document).ready(function() {

            $('#sort-container-tags').sortable( {
                connectWith: '.list-group',
                stop: function(event, ui) {

                    var tag_id = $(ui.item).data('id');

                    $.ajax( { type: 'POST',
                              url: '{% url 'sort_favorite_tags' %}',
                              data: { tag_id: tag_id, new_position: ui.item.index() },
                              error: function (xhr, ajaxOptions, error) {
                            $.smkAlert({text: 'Error reordering tags: ' + error, type: 'error', position:'top-right'});
                        }
                              } )
                }
            })
        })

    </script>

    <div id="bookmark-sidebar">

        <form>
            <div class="form-group">
                <label class="col-form-label">Note</label>
                <textarea class="form-control" id="note" rows="9"></textarea>
            </div>
            <button id="btn-add-note" type="button" class="btn btn-primary">Add</button>
        </form>

    </div>

    <h2>
    Favorite Tags
    </h2>

    <ul class="list-group" id="sort-container-tags">
        <li class="list-group-item{% if not tag_filter %} active{% endif %}">
            <a href="{% url "bookmark_list" %}">Untagged</a>
            <span class="ml-2 badge {% if not tag_filter %}badge-light{% else %}badge-primary{% endif %}">{{ tag_counts|dict_get:"Untagged" }}</span>
        </li>
        {% for tag in favorite_tags %}
            <li class="list-group-item{% if tag.name == tag_filter %} active{% endif %}" data-id="{{ tag.id }}">
                <a href="{% url 'bookmark_tag' tag.name %}">{{ tag.name }}</a>
                <span class="ml-2 badge {% if tag.name == tag_filter %}badge-light{% else %}badge-primary{% endif %}">{{ tag_counts|dict_get:tag.name }}</span>
            </li>
        {% endfor %}
    </ul>

    <br />

    {% if tag_filter %}
        {% if tag_filter not in tag_counts %}
            <form action="{% url 'add_favorite_tag' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="tag" value="{{ tag_filter }}" />
                <button type="submit" class="btn">
            Add To Favorites
                </button>
            </form>
        {% else %}
            <form action="{% url 'remove_favorite_tag' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="tag" value="{{ tag_filter }}" />
                <button type="submit" class="btn">
            Remove From Favorites
                </button>
            </form>
        {% endif %}
    {% endif %}

    <form role="form" action="{% url 'get_random_bookmarks' %}" method="get">
        <div class="btn-group mt-5">
            <button class="btn btn-secondary" id="btn-random">Randomize</button>
        </div>

        <br />

        <div class="btn-group mt-5">
            <a class="btn btn-secondary" href="{% url 'bookmark_import' %}">Import</a>
        </div>
    </form>

{% endblock %}


{% block content %}

    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/typeahead.bundle.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/tagsinput.css" />

    <script type="text/javascript">

        $(document).ready(function() {

            var engine = new Bloodhound({
                name: 'tags',
                remote: {
                    url: '{% url 'bookmark_tag_search' %}?query=%QUERY',
                    wildcard: '%QUERY'
                },
                datumTokenizer: function(d) { return Bloodhound.tokenizers.whitespace(d.val); },
                queryTokenizer: Bloodhound.tokenizers.whitespace
            });

            engine.initialize();

            $('#search').typeahead({
                autoselect: true
            }, {
                displayKey: 'value',
                source: engine,
            });

            $('#search').bind('typeahead:selected', function(obj, datum, name) {
                autocomplete_selected = true;
                window.location='{% url 'bookmark_tag' 666 %}'.replace(/666$/, datum.value);
            });

            // This is set when an item from the autocomplete options is selected.  Otherwise there would be
            //  a race between the window.open() in $('#search').bind('typeahead:selected',...) and the form
            //  submission from the $('#search').on('keydown', ...)
            var autocomplete_selected = false;

            $('#search').on('keydown', function(event, selection) {
                if (((event.which && event.which == 13) || (event.keyCode && event.keyCode == 13)) && !autocomplete_selected) {

                    search_term = $("#search").val();
                    if (search_term) {
                        window.location='{% url 'bookmark_search' 666 %}'.replace(/666$/, $("#search").val());
                    } else {
                        // If nothing is selected, refresh the page with no filters
                        window.location='{% url 'bookmark_list' %}';
                    }
                    return false;
                } else {
                    return true;
                }
            });

            var selectedId;

            {% if tag_filter %}
            $('#sort-container').sortable( {
                connectWith: '.bookmark-list',
                stop: function(event, ui) {
                    var myMatches = $(ui.item).find('a').attr('id').match(/link_(.*)$/);
                    var link_id = myMatches[1];

                    $.ajax( { type: 'POST',
                              url: '{% url 'sort_bookmarks' %}',
                              data: { tag: '{{ tag_filter }}', link_id: link_id, position: ui.item.index() + 1 },
                              success: function() {
                        }
                              });

                }
            });
            {% endif %}

            $('#btn-edit').click( function() {
                var selectedBookmarkID = $("li.bookmark.selected").data("id");
                window.location='{% url 'bookmark_edit' 666 %}'.replace(/666$/, selectedBookmarkID)
                return false;
            });

            $('#btn-delete').on('click', function() {
                var selectedBookmarkID = $("li.bookmark.selected").data("id");

                $.ajax( { type: 'DELETE',
                          url: '{% url 'bookmark_delete' 666 %}'.replace(/666$/, selectedBookmarkID),
                          success: function() {
                        $("li.bookmark.selected").remove();
                        $('#btn-edit').attr("disabled", "disabled");
                        $('#btn-delete').attr("disabled", "disabled");
                        {% if tag_filter %}
                        $("#bookmark-sidebar").hide( "slide", { direction: "left" } );
                        {% endif %}
                    }
                          });

                return false;

            });

            $("#btn-add-note").click( function() {

                var note = $("#note").val();
                var selectedBookmarkID = $("li.bookmark.selected").data("id");

                $.ajax( { type: "POST",
                          url: "{% url "bookmark_add_note" %}",
                          data: { tag: "{{ tag_filter }}", link_id: selectedBookmarkID, note: note },
                          success: function() {
                        link_info[selectedBookmarkID] = btoa(note);
                    }
                          });

                return false;
            });

            $("li.bookmark").click( function () {
                if ( $(this).hasClass("selected") ) {
                    {% if tag_filter %}
                    $("#bookmark-sidebar").hide( "slide", { direction: "left" } );
                    {% endif %}
                    $(this).removeClass("selected");
                    $('#btn-edit').attr("disabled", "disabled");
                    $('#btn-delete').attr("disabled", "disabled");
                } else {
                    {% if tag_filter %}
                    $("#note").val("");
                    var selectedBookmarkID = $(this).data("id");
                    if (link_info[selectedBookmarkID]) {
                        try {
                            $("#note").val(atob(link_info[selectedBookmarkID]));
                        } catch(err) {
                            console.log(err);
                        };
                    }
                    $("#bookmark-sidebar").show( "slide", { direction: "left" } );
                    {% endif %}
                    $("li.bookmark.selected").removeClass("selected");
                    $(this).addClass("selected");
                    $('#btn-edit').removeAttr("disabled");
                    $('#btn-delete').removeAttr("disabled");
                }
            } );

        });

    </script>

    {% include "common/show_messages.html" with offset="0" width="12" %}

    <div class="row">

        <div class="col-lg-12 bookmark-search">

            <form class="form-inline" role="form" name="nav_form" id="tag-search-form" method="get">

                <div class="form-group col-auto has-search">
                    <span class="fa fa-search form-control-feedback"></span>
                    <input id="search" type="text" value="{{ search }}" class="bookmark-tag-filter-input form-control" autocomplete="off" placeholder="Search" />
                </div>

                <div class="btn-group">
                    <a class="btn btn-secondary" id="btn-add" href="{% url 'bookmark_add' %}">Add</a>
                    <button class="btn btn-secondary" id="btn-edit" disabled>Edit</button>
                    <button class="btn btn-secondary" id="btn-delete" disabled>Delete</button>
                </div>

            </form>

        </div>

    </div>

    <br />

    {% if bookmarks %}

        <div class="row">
            <div class="col-lg-12">
            <ul id="sort-container" class="bookmark-list">

                {% for link in bookmarks %}

                    <li class="bookmark" data-id="{{ link.id }}">
                        <div>
                            <span class="ml-1">{{ link.created|date:"N j," }}</span>
                            <span class="">{{ link.created|date:"Y" }}</span>
                            <span class="ml-2">{{ link.url|favicon:16|safe }} </span>
                            <span>
                                <a class="one-tag ml-2" href="{{ link.url }}" id="link_{{ link.id }}" target="_blank">{{ link.title }}</a>
                                {% if link.last_response_code != None and link.last_response_code != 200 %}
                                    <a class="form-error ml-3" target="wayback" href="https://web.archive.org/web/1000/{{ link.url }}">{{ link.last_response_code }}</a>
                                {% endif %}
                                {% if link.note %}
                                    <i class="fa fa-clipboard"></i>
                                {% endif %}
                            </span>
                            {% for tag in link.tags.all %}
                                {% if tag.name != tag_filter %}
                                    <a class="badge badge-info" href="{% url 'bookmark_tag' tag.name %}">{{ tag.name }}</a>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </li>

                {% endfor %}

            </ul>
            </div>
        </div>

        {% if bookmarks.has_other_pages %}
        <div class="row">
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    {% if bookmarks.has_previous %}
                        <li class="page-item"><a class="page-link" href="{% url 'bookmark_list' bookmarks.previous_page_number %}">Previous</a></li>
                    {% else %}
                        <li class="disabled page-item"><a class="page-link" href="#">Previous</a></li>
                    {% endif %}
                    {% for i in range %}
                        {% if page_number == i %}
                            <li class="disabled page-item"><a class="page-link" href="#">{{ i }}</a></li>
                        {% else %}
                            <li class="page-item"><a class="page-link" href="{% url 'bookmark_list' i %}">{{ i }}</a></li>
                        {% endif %}
                    {% endfor %}
                    {% if bookmarks.paginator.num_pages > 5 %}
                        <li class="disabled page-item"><a class="page-link" href="#">...</a></li>
                        <li class="page-item"><a class="page-link" href="{% url 'bookmark_list' bookmarks.paginator.num_pages %}">{{ bookmarks.paginator.num_pages }}</a></li>
                    {% endif %}
                    {% if bookmarks.has_next %}
                        <li class="page-item"><a class="page-link" href="{% url 'bookmark_list' bookmarks.next_page_number %}">Next</a></li>
                    {% else %}
                        <li class="disabled page-item"><a class="page-link" href="#">Next</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
        {% endif %}

    {% endif %}

{% endblock %}
