{% extends "base.html" %}

{% load jsonify %}

{% load favicon %}

{% block title %} Bookmarks {% endblock %}

{% block content %}

    <div class="row no-gutters h-100">

        <div class="col-lg-3 d-flex flex-column">

            <div class="card-body" id="vue-app-left">

                <add-note inline-template>
                    <div id="bookmark-sidebar" >
                        <form>
                            <div class="form-group">
                                <label class="col-form-label">Note</label>
                                <textarea class="form-control" id="note" rows="9" v-model="note"></textarea>
                            </div>
                            <button id="btn-add-note" type="button" class="btn btn-primary" @click="onClick">Add</button>
                        </form>
                    </div>
                </add-note>

                <ul class="list-group flex-column w-100" id="sort-container-tags">
                    <tag-list inline-template>
                        <div>
                            <draggable v-model="pinnedTags" @change="onChange" ghost-class="sortable-ghost" draggable=".draggable">
                                <transition-group type="transition" class="w-100">
                                    <li v-for="tag in pinnedTags" class="list-group-item list-group-item-secondary" :class="{ active: tag.isActive, draggable: tag.isDraggable, 'bookmark-tag-list-header': tag.isHeader }" :data-id="tag.id" :key="tag.id" v-cloak>
                                        <template v-if="tag.isHeader">
                                            [[ tag.name ]]
                                        </template>
                                        <template v-else>
                                            <a href="" @click.prevent="onClick" :data-tag="tag.name">[[ tag.name ]]</a>
                                        </template>
                                        <span v-if="tag.count" class="ml-2 badge" :class="{ 'badge-light': tag.isActive, 'badge-primary': !tag.isActive }">[[ tag.count ]]</span>
                                    </li>
                                </transition-group>
                            </draggable>
                        </div>
                    </tag-list>
                </ul>

            </div>

        </div>

        <div class="col-lg-9">

    <div class="ml-2 mb-3" id="vue-app-top">

        {% include "common/show_messages.html" %}

        <div class="row">

            <div class="col-lg-3">

                <form class="form-inline w-100" role="form" id="search-form" method="get" @submit.prevent>
                {% csrf_token %}

                    <input type="hidden" id="add-to-remote-from-pinned-tagname" name="tag" />

                    <div class="form-group has-search">
                        <font-awesome-icon icon="search" class="form-control-feedback text-dark"></font-awesome-icon>
                        <search inline-template @search-term="searchTerm" @search-tag="searchTag" @get-page="getPage" ref="search">
                            <div>
                                <simple-suggest
                                    ref="simpleSuggest"
                                    place-holder="Search"
                                    search-url="{% url 'bookmark:get_tags_used_by_bookmarks' %}?query="
                                >
                                </simple-suggest>
                            </div>
                        </search>
                    </div>

                </form>

            </div>

            <div class="d-flex col-lg-9">

                <button-group inline-template @get-page="getPage">
                    <div class="btn-group">
                        <input type="button" class="btn btn-secondary" id="btn-update" value="Update" :disabled="buttonsDisabled" @click="onClickUpdate" />
                        <input type="button" class="btn btn-secondary" id="btn-delete" value="Delete" :disabled="buttonsDisabled" @click="onClickDelete" />
                        <input v-if="unPinButtonVisible" type="button" class="btn btn-secondary _ml-2" value="Unpin" @click="unPin" v-cloak />
                        <input v-if="pinButtonVisible" type="button" class="btn btn-secondary _ml-2" value="Pin" @click="pin" v-cloak />
                    </div>
                </button-group>

                <div class="ml-5">
                    <add-button url="{% url 'bookmark:create' %}">
                    </add-button>
                </div>

                <dropdown-menu v-model="show" :right="right" transition="translate-fade-down" class="bookmark-dropdown text-center ml-auto mr-2 mt-2">
                    <font-awesome-icon icon="ellipsis-v" class="burger-menu"></font-awesome-icon>
                    <div slot="dropdown">
                        <a class="dropdown-item" href="{% url 'bookmark:import' %}" >Import</a>
                        <a class="dropdown-item" href="#" @click="randomize">Randomize</a>
                    </div>
                </dropdown-menu>

            </div>

        </div>

    </div>

            <div class="card-grid ml-2" id="vue-app-right">

                <bookmark-list inline-template @paginate="paginate" ref="bookmarkList">
                    <div class="row">
                        <div class="col-lg-12">
                            <table>
                                <tbody is="draggable" v-model="bookmarkList" @change="onChange" ghost-class="sortable-ghost" :disabled="disableSort">
                                    <transition-group type="transition">
                                        <tr v-for="bookmark in bookmarkList" :data-uuid="bookmark.uuid" :key="bookmark.uuid" class="bookmark-list" @click="onClick" v-cloak>
                                            <td class="bookmark-list-date p-2 text-info">
                                                <span>[[ bookmark.created ]]</span>
                                            </td>
                                            <td class="bookmark-list-favicon p-2">
                                                <span v-html="bookmark.favicon_url"></span>
                                            </td>
                                            <td class="bookmark-list-link p-2">
                                                <a :href="bookmark.url" :id="bookmark.linkId" target="_blank">[[ unescapeHtml(bookmark.name) ]]</a>
                                                <a v-if="bookmark.lastResponseCode != 200" class="form-error ml-3" target="wayback" :href="'https://web.archive.org/web/1000/' + bookmark.url">[[ bookmark.lastResponseCode ]]</a>
                                                <i v-if="bookmark.note != null && bookmark.note != ''" class="fa fa-clipboard"></i>
                                                <a v-for="tag in bookmark.tags" v-if="tag != selectedTagName" class="badge badge-info ml-2" @click.prevent="onClick" href="">[[ tag ]]</a>
                                            </td>
                                        </tr>
                                    </transition-group>
                                </tbody>
                            </table>

                            <div v-if="bookmarkList.length === 0" v-cloak>
                                <div class="text-center pt-3">
                                    No bookmarks found.
                                </div>
                            </div>

                        </div>
                    </div>
                </bookmark-list>

                <pagination class="ml-3" inline-template :pagination="pagination" @get-page="getPage" v-cloak>
                    <div class="row" v-if="pagination.num_pages > 1">
                        <nav aria-label="Page navigation">
                            <ul class="pagination">
                                <li v-if="pagination.previous_page_number" class="page-item"><a class="page-link" @click.prevent="$emit('get-page', pagination.previous_page_number)" href="">Previous</a></li>
                                <li v-else class="disabled page-item"><a class="page-link" href="">Previous</a></li>

                                <template v-if="pagination.page_number - pagination.paginate_by > 1">
                                    <li class="page-item"><a class="page-link" @click.prevent="$emit('get-page', 1)" href="">1</a></li>
                                    <li v-if="pagination.page_number != pagination.paginate_by + 2" class="disabled page-item"><a class="page-link" href="">...</a></li>
                                </template>

                                <template v-for="page in pagination.range">

                                    <template v-if="pagination.page_number == page">
                                        <li class="disabled page-item">
                                            <a class="page-link" href="">[[ page ]]</a>
                                        </li>
                                    </template>
                                    <template v-else>
                                        <li class="page-item">
                                            <a class="page-link" @click.prevent="$emit('get-page', page)" href="">[[ page ]]</a>
                                        </li>
                                    </template>

                                </template>

                                <template v-if="pagination.num_pages - pagination.page_number > pagination.paginate_by">
                                    <li v-if="pagination.num_pages - pagination.page_number != pagination.paginate_by + 1"  class="disabled page-item"><a class="page-link" href="">...</a></li>
                                    <li class="page-item"><a class="page-link" @click.prevent="$emit('get-page', pagination.num_pages)" href="">[[ pagination.num_pages ]]</a></li>
                                </template>

                                <li v-if="pagination.next_page_number" class="page-item"><a class="page-link" @click.prevent="$emit('get-page', pagination.next_page_number)" href="">Next</a></li>
                                <li v-else class="disabled page-item"><a class="page-link" href="">Next</a></li>
                            </ul>
                        </nav>
                    </div>
                </pagination>

            </div>

        </div>

    </div>

{% endblock %}

{% block javascript %}

    {{ block.super }}

    <script type="text/javascript">

        var isFiltered = false;

        // When this is set to true, then hitting "Enter" will NOT
        //  execute a general term search, but instead fire the event
        //  that initiates a tag search.
        disableTermSearch = false;

        Vue.mixin({ delimiters: ["[[", "]]"] });

        const EventBus = new Vue();

        const mapGetters = Vuex.mapGetters

        const store = new Vuex.Store({
            state: {
                pinButtonVisible: false,
                buttonsDisabled: true,
                selectedTagName: null,
                unPinButtonVisible: false
            },
            getters: {
                pinButtonVisible: state => {
                    return state.pinButtonVisible
                },
                buttonsDisabled: state => {
                    return state.buttonsDisabled
                },
                unPinButtonVisible: state => {
                    return state.unPinButtonVisible
                },
                selectedTagName: state => {
                    return state.selectedTagName
                },
            },
            mutations: {
                pinButtonVisible (state, payload) {
                    state.pinButtonVisible = payload
                },
                changeButtonsDisabled (state, payload) {
                    state.buttonsDisabled = payload
                },
                unPinButtonVisible (state, payload) {
                    state.unPinButtonVisible = payload
                },
                selectedTagName (state, payload) {
                    state.selectedTagName = payload
                }
            },
        });

        const ButtonGroup = {
            computed: mapGetters(["pinButtonVisible", "buttonsDisabled", "unPinButtonVisible"]),
            methods: {
                onClickDelete(evt) {

                    var bookmarkEl = document.querySelector("tr.bookmark-list.selected");
                    var selectedUuid = bookmarkEl.dataset.uuid;

                    var self = this;

                    axios.delete("{% url 'bookmark:delete' '00000000-0000-0000-0000-000000000000' %}".replace('00000000-0000-0000-0000-000000000000', selectedUuid))
                         .then(() => {

                             this.$store.commit("changeButtonsDisabled", true)

                             if (this.$store.getters.selectedTagName) {
                                 document.getElementById("bookmark-sidebar").classList.remove("show");
                             }

                             self.$emit("get-page", 1);

                         })
                },
                onClickUpdate(evt) {
                    var selectedUuid = document.querySelector("tr.bookmark-list.selected").dataset.uuid;
                    window.location="{% url 'bookmark:update' '00000000-0000-0000-0000-000000000000' %}".replace('00000000-0000-0000-0000-000000000000', selectedUuid);
                },
                pin(evt) {
                    const tagName = this.$parent.$refs.search.$refs.simpleSuggest.$refs.suggestComponent.text
                    document.getElementById("add-to-remote-from-pinned-tagname").value = tagName;
                    const form = document.querySelector("#search-form");
                    form.method = "post";
                    form.action = "{% url 'tag:pin' %}";
                    form.submit();
                },
                unPin(evt) {
                    document.getElementById("add-to-remote-from-pinned-tagname").value = this.$store.getters.selectedTagName;
                    const form = document.querySelector("#search-form");
                    form.method = "post";
                    form.action = "{% url 'tag:unpin' %}";
                    form.submit();
                }

            },
            mounted() {

                EventBus.$on("selected-pinned-tag", value => {
                    this.showRemovePin = value;
                });

            }
        };

        const Search = {
            methods: {
                select(tag) {
                    this.$emit("search-tag", tag.value);
                    EventBus.$emit("select-pinned-tag", tag.value);
                    disableTermSearch = false;
                },
                onHideList() {
                    disableTermSearch = false;
                },
                onHover() {
                    disableTermSearch = true;
                },
                onEnter(evt) {

                    if (disableTermSearch) {
                        return;
                    }

                    searchTerm = evt.srcElement.value;

                    if (searchTerm) {
                        this.$store.commit("selectedTagName", searchTerm);
                        this.$emit("search-term", searchTerm);
                        EventBus.$emit("select-pinned-tag", null);
                        this.$store.commit("pinButtonVisible", false)
                        this.$store.commit("unPinButtonVisible", false)
                    } else {
                        // If the search box is empty, refresh the list with no filters
                        isFiltered = false;
                        this.$emit("get-page", 1);
                        EventBus.$emit("select-pinned-tag", "Untagged");
                        this.$store.commit("pinButtonVisible", false)
                        this.$store.commit("unPinButtonVisible", false)
                        this.$store.commit("selectedTagName", "");
                    }

                }
            },
            components: {
                SimpleSuggest
            }
        };

        new Vue({
            el: "#vue-app-top",
            store,
            data() {
                return {
                    show: false,
                    right: true,
                }
            },
            components: {
                ButtonGroup,
                Search
            },
            methods: {
                getPage(pageNumber) {
                    EventBus.$emit("get-page", pageNumber);
                },
                searchTerm(searchTerm) {
                    EventBus.$emit("search-term", searchTerm);
                },
                searchTag(searchTag) {
                    EventBus.$emit("search-tag", searchTag);
                },
                randomize(evt) {
                    EventBus.$emit("select-pinned-tag", null);
                    this.$store.commit("pinButtonVisible", false)
                    this.$store.commit("unPinButtonVisible", false)
                    EventBus.$emit("randomize");
                }
            }
        });

        const BookmarkList = {
            computed: mapGetters(["selectedTagName"]),
            data() {
                return {
                    bookmarkList: [],
                    disableSort: true,
                }
            },
            methods: {
                onClick(evt) {

                    element = evt.currentTarget;

                    if (evt.srcElement.classList.contains("badge")) {
                        const tagName = evt.srcElement.innerHTML;
                        EventBus.$emit("search-tag", tagName);
                        EventBus.$emit("select-pinned-tag", tag.value);
                    } else if (element.classList.contains("selected")) {

                        if (this.$store.getters.selectedTagName) {
                            document.getElementById("bookmark-sidebar").classList.remove("show");
                        }

                        element.classList.remove("selected");

                        this.$store.commit("changeButtonsDisabled", true)

                    } else {

                        if (this.$store.getters.selectedTagName) {
                            noteValue = "";

                            var bookmarkUuid = element.dataset.uuid;

                            const found = this.bookmarkList.find(element => element.uuid == bookmarkUuid);

                            if (found) {
                                noteValue = found.note;
                            }

                            EventBus.$emit("setNoteValue", noteValue);

                            document.getElementById("bookmark-sidebar").classList.add("show");
                        }

                        const currentlySelected = document.querySelector("tr.bookmark-list.selected");
                        if (currentlySelected) {
                            currentlySelected.classList.remove("selected");
                        }
                        element.classList.add("selected");

                        this.$store.commit("changeButtonsDisabled", false)

                    }

                },
                onChange(evt) {

                    bookmarkUuid = evt.moved.element.uuid;

                    // The backend expects the ordering to begin
                    // with 1, not 0, so add 1.
                    newPosition = evt.moved.newIndex + 1;

                    doPost(
                        this,
                        "{% url "bookmark:sort" %}",
                        {
                            "tag": this.$store.getters.selectedTagName,
                            "bookmark_uuid": bookmarkUuid,
                            "position": newPosition
                        },
                        (response) => {},
                        "",
                        "Sort error"
                    );

                },
                unescapeHtml(html) {
                    // Source: https://stackoverflow.com/a/46851765/378256
                    var el = document.createElement('div');
                    return html.replace(/\&[#0-9a-z]+;/gi, function (enc) {
                        el.innerHTML = enc;
                        return el.innerText
                    });
                },
                getBookmarkList({ pageNumber=null, searchTerm=null, searchTag=null, randomize=false } = {}) {
                    var self = this;

                    this.disableSort = true;
                    if (searchTerm != null) {
                        url = "{% url 'bookmark:get_bookmarks_by_keyword' 666 %}".replace(/666/, searchTerm);
                        isFiltered = true;
                    } else if (searchTag != null) {
                        url = "{% url 'bookmark:get_bookmarks_by_tag' 666 %}".replace(/666/, searchTag);
                        isFiltered = true;
                        this.disableSort = false;
                    } else if (randomize == true) {
                        isFiltered = true;
                        url = "{% url 'bookmark:get_bookmarks_by_random' %}";
                    } else {

                        // If we've executed a search, ignore the automatic timed bookmarks refresh
                        if (isFiltered) {
                            return;
                        }

                        // A null pageNumber is passed in from the setInterval timer, so in that
                        // case use the current page number. We can't pass in the current page
                        // number directly from setInterval, since that gets set at page load
                        // time and can later change if the page number changes.
                        if (pageNumber == null) {
                            pageNumber = this.$parent.pageNumber;
                        }
                        url = "{% url 'bookmark:get_bookmarks_by_page' 666 %}".replace(/666/, pageNumber);
                    }

                    axios.get(url)
                         .then(function (response) {

                             var bookmarks = []
                             var lastDate = null;
                             for (bookmark of response.data.bookmarks) {
                                 if (bookmark.created == lastDate) {
                                     lastDate = bookmark.created;
                                     bookmark.created = null;
                                 } else {
                                     lastDate = bookmark.created;
                                 }
                                 bookmarks.push(bookmark);
                             }
                             if (searchTag != null) {
                                 // Only update the tagFilter here, *after* we have a new set of
                                 // updated bookmarks that's appropriate for this tagFilter
                                 self.$store.commit("selectedTagName", searchTag);
                             }

                             self.bookmarkList = bookmarks;

                             self.$emit("paginate", response.data.pagination);

                         })
                         .catch(function (error) {
                             console.log("Error getting new bookmarks list: " + error);
                         })
                         .finally(function () {
                         });
                },
            },
            mounted() {

                EventBus.$on("add-note", payload => {

                    this.bookmarkList.forEach( bookmark => {
                        if( bookmark.uuid == payload.uuid ) {
                            bookmark.note = btoa(payload.noteValue);
                        }
                    });

                });

                {% if tag %}
                this.getBookmarkList({searchTag: "{{ tag }}"});
                {% else %}
                this.getBookmarkList({pageNumber: 1});
                {% endif %}

                window.setInterval(this.getBookmarkList, 60000, {pageNumber: null});

            }
        };

        const Pagination = {
            props: {
                pagination: ""
            }
        }

        new Vue({
            el: "#vue-app-right",
            store,
            components: {
                BookmarkList,
                Pagination,
            },
            data() {
                return {
                    pagination: "",
                    pageNumber: 1
                }
            },
            methods: {
                paginate(payload) {
                    this.pagination = payload;
                },
                getPage(pageNumber) {
                    this.pageNumber = pageNumber;
                    this.$refs.bookmarkList.getBookmarkList({pageNumber: pageNumber});
                },
            },
            mounted() {

                EventBus.$on("search-tag", tagName => {
                    this.$refs.bookmarkList.getBookmarkList({searchTag: tagName});
                });

                EventBus.$on("search-term", searchTerm => {
                    this.$refs.bookmarkList.getBookmarkList({searchTerm: searchTerm});
                });

                EventBus.$on("get-page", pageNumber => {
                    this.$refs.bookmarkList.getBookmarkList({pageNumber: pageNumber});
                });

                EventBus.$on("randomize", () => {
                    this.$refs.bookmarkList.getBookmarkList({randomize: true});
                });

            }
        });

        const AddNote = {
            data() {
                return {
                    note: ""
                }
            },
            methods: {
                onClick(evt) {

                    const note = document.getElementById("note").value;
                    var bookmarkUuid = document.querySelector("tr.bookmark-list.selected").dataset.uuid;

                    doPost(
                        this,
                        "{% url "bookmark:add_note" %}",
                        {
                            "tag": this.$store.getters.selectedTagName,
                            "bookmark_uuid": bookmarkUuid,
                            "note": note
                        },
                        (response) => {
                            payload = {
                                uuid: bookmarkUuid,
                                noteValue: note
                            }
                            EventBus.$emit("add-note", payload);
                        },
                        "",
                        "Error adding note"
                    );

                }
            },
            mounted() {

                EventBus.$on("setNoteValue", payload => {
                    this.note = payload;
                });

            }
        }

        const TagList = {
            data() {
                return {
                    pinnedTags: [
                        {
                            id: -1,
                            name: "Pinned Tags",
                            isHeader: true,
                            isActive: false,
                            isDraggable: false,
                        },
                        {
                            id: -2,
                            name: "Untagged",
                            isActive: true,
                            isDraggable: false,
                            count: {{ untagged_count }},
                        },
                        {% for tag in pinned_tags %}
                        {
                            id: {{ tag.id }},
                            name: "{{ tag.name }}",
                            isActive: false,
                            isDraggable: true,
                            count: {{ tag.bookmark_count }},
                        },
                        {% endfor %}
                    ],
                    selectedTag: null
                }
            },
            methods: {
                onClick(evt) {
                    const tagName = evt.srcElement.dataset.tag;
                    this.selectedTag = tagName;

                    for (tag of this.pinnedTags) {
                        if (tag.name == tagName) {
                            tag.isActive = true;
                        } else {
                            tag.isActive = false;
                        }
                    }

                    if (tagName == "Untagged") {
                        this.$store.commit("selectedTagName", "");
                        isFiltered = false;
                        EventBus.$emit("get-page", 1);
                        this.$store.commit("pinButtonVisible", false)
                        this.$store.commit("unPinButtonVisible", false)
                    } else {
                        EventBus.$emit("search-tag", tagName);
                        this.$store.commit("pinButtonVisible", false)
                        this.$store.commit("unPinButtonVisible", true)
                    }
                },
                getClassName(tagName) {

                    if (tagName == this.selectedTag) {
                        return "badge-light";
                    } else {
                        return "badge-primary";
                    }
                },
                onChange(evt) {

                    tagId = evt.moved.element.id;

                    // The backend expects the ordering to begin
                    // with 1, not 0, so add 1.
                    newPosition = evt.moved.newIndex - 1;

                    doPost(
                        this,
                        "{% url "bookmark:sort_pinned_tags" %}",
                        {
                            "tag_id": tagId,
                            "new_position": newPosition
                        },
                        () => {},
                        "",
                        "Error sorting tags"
                    );

                }
            },
            mounted() {

                EventBus.$on("search-tag", tagName => {

                    if (!this.pinnedTags.find(element => element.name == tagName)) {
                        this.$store.commit("pinButtonVisible", true)
                        this.$store.commit("unPinButtonVisible", false)
                    } else {
                        this.$store.commit("pinButtonVisible", false)
                        this.$store.commit("unPinButtonVisible", true)
                    }

                });

                EventBus.$on("select-pinned-tag", tagName => {

                    for (tag of this.pinnedTags) {
                        if (tag.name == tagName) {
                            tag.isActive = true;
                        } else {
                            tag.isActive = false;
                        }
                    }

                });

            }
        };

        new Vue({
            el: "#vue-app-left",
            store,
            components: {
                AddNote,
                TagList
            }
        });

    </script>

{% endblock %}
