{% extends "base.html" %}

{% load dict_get %}
{% load jsonify %}

{% load favicon %}

{% block title %} Bookmarks {% endblock %}

{% block left-block %}

    <div id="vue-app-left">

        <add-note inline-template>
            <div id="bookmark-sidebar" >
                <form>
                    <div class="form-group">
                        <label class="col-form-label">Note</label>
                        <textarea class="form-control" id="note" rows="9" v-model="note"></textarea>
                    </div>
                    <button id="btn-add-note" type="button" class="btn btn-primary" @click="onClick">Add</button>
                </form>
            </div>
        </add-note>

        <h2>Favorite Tags</h2>

        <ul class="list-group" id="sort-container-tags">
            <tag-list></tag-list>
        </ul>
    </div>

    <br />

    {% if tag_filter %}
        {% if tag_filter not in tag_counts %}
            <form action="{% url 'add_favorite_tag' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="tag" value="{{ tag_filter }}" />
                <button type="submit" class="btn btn-secondary">
            Add To Favorites
                </button>
            </form>
        {% else %}
            <form action="{% url 'remove_favorite_tag' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="tag" value="{{ tag_filter }}" />
                <button type="submit" class="btn btn-secondary">
            Remove From Favorites
                </button>
            </form>
        {% endif %}
    {% endif %}

    <form role="form" action="{% url 'get_random_bookmarks' %}" method="get">
        <div class="btn-group mt-5">
            <button class="btn btn-secondary" id="btn-random">Randomize</button>
        </div>

        <br />

        <div class="btn-group mt-5">
            <a class="btn btn-secondary" href="{% url 'bookmark_import' %}">Import</a>
        </div>
    </form>

{% endblock %}

{% block content %}

    <div id="vue-app-right">

        {% include "common/show_messages.html" %}

        <div class="row">

            <div class="col-lg-12 bookmark-search">

                <form class="form-inline" role="form" name="nav_form" id="search" method="get">

                    <div class="form-group col-auto has-search">
                        <span class="fas fa-search form-control-feedback"></span>
                        <search></search>
                    </div>

                    <button-group></button-group>

                </form>

            </div>

        </div>

        <br />

    {% if bookmarks %}

        <bookmark-list inline-template>
            <div class="row">
                <div class="col-lg-12">
                    <ul>
                        <draggable v-model="bookmarkList" @change="onChange" ghost-class="sortable-ghost"{% if not tag_filter %} disabled="true"{% endif %}>
                            <transition-group type="transition">
                                <li v-for="bookmark in bookmarkList" :data-id="bookmark.id" :key="bookmark.id" class="bookmark-list" @click="onClick">
                                    <span class="ml-1">[[ bookmark.created ]]</span>
                                    <span class="">[[ bookmark.createdYear ]]</span>
                                    <span v-html="bookmark.faviconUrl" class="ml-2"></span>
                                    <span>
                                        <a class="one-tag" :href="bookmark.url" :id="bookmark.linkId" target="_blank">[[ unescapeHtml(bookmark.title) ]]</a>
                                        <a v-if="bookmark.lastResponseCode != 200" class="form-error ml-3" target="wayback" :href="'https://web.archive.org/web/1000/' + bookmark.url">[[ bookmark.lastResponseCode ]]</a>
                                        <i v-if="bookmark.note != '' && bookmark.note != 'None'" class="fa fa-clipboard"></i>
                                    </span>
                                    <a v-for="tag in bookmark.tags" v-if="tag.fields.name != '{{ tag_filter }}'" class="badge badge-info m-2" :href="'{% url 'bookmark_tag' 666 %}'.replace(/666$/, tag.fields.name)">[[ tag.fields.name ]]</a>
                                </li>
                            </transition-group>
                        </draggable>
                    </ul>
                </div>
            </div>
        </bookmark-list>

        {% if bookmarks.has_other_pages %}
            <div class="row">
                <nav aria-label="Page navigation">
                    <ul class="pagination">
                    {% if bookmarks.has_previous %}
                        <li class="page-item"><a class="page-link" href="{% url 'bookmark_list' bookmarks.previous_page_number %}">Previous</a></li>
                    {% else %}
                        <li class="disabled page-item"><a class="page-link" href="#">Previous</a></li>
                    {% endif %}
                    {% for i in range %}
                        {% if page_number == i %}
                            <li class="disabled page-item"><a class="page-link" href="#">{{ i }}</a></li>
                        {% else %}
                            <li class="page-item"><a class="page-link" href="{% url 'bookmark_list' i %}">{{ i }}</a></li>
                        {% endif %}
                    {% endfor %}
                    {% if bookmarks.paginator.num_pages > 5 %}
                        <li class="disabled page-item"><a class="page-link" href="#">...</a></li>
                        <li class="page-item"><a class="page-link" href="{% url 'bookmark_list' bookmarks.paginator.num_pages %}">{{ bookmarks.paginator.num_pages }}</a></li>
                    {% endif %}
                    {% if bookmarks.has_next %}
                        <li class="page-item"><a class="page-link" href="{% url 'bookmark_list' bookmarks.next_page_number %}">Next</a></li>
                    {% else %}
                        <li class="disabled page-item"><a class="page-link" href="#">Next</a></li>
                    {% endif %}
                    </ul>
                </nav>
            </div>
        {% endif %}

    {% endif %}

    </div>

{% endblock %}

{% block javascript %}

    {{ block.super }}

    <script src="//cdn.jsdelivr.net/npm/sortablejs@1.8.4/Sortable.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/Vue.Draggable/2.20.0/vuedraggable.umd.min.js"></script>

    <script type="text/javascript" src="https://unpkg.com/vue-simple-suggest@1.10.1"></script>

    <script type="text/javascript">

        Vue.mixin({ delimiters: ["[[", "]]"] });

        const EventBus = new Vue();

        const BookmarkList = {
            data() {
                return {
                    bookmarkList: [
                        {% for bookmark in bookmarks %}
                        {
                            id: {{ bookmark.id }},
                            created: "{{ bookmark.created|date:"N j," }}",
                            createdYear: "{{ bookmark.created|date:"Y" }}",
                            url: "{{ bookmark.url }}",
                            faviconUrl: '{{ bookmark.url|favicon:16|safe }}',
                            title: "{{ bookmark.title }}".replace(/\r/g, ""),
                            lastResponseCode: "{{ bookmark.last_response_code|default:"" }}",
                            note: "{{ bookmark.note|default:"" }}",
                            tags: {{ bookmark.tags.all|jsonify|safe }}
                        },
                        {% endfor %}
                    ]
                }
            },
            methods: {
                onClick(evt) {

                    element = evt.currentTarget;

                    if (element.classList.contains("selected")) {

                        {% if tag_filter %}
                        document.getElementById("bookmark-sidebar").classList.remove("show");
                        {% endif %}

                        element.classList.remove("selected");

                        EventBus.$emit("toggleDisabledEdit", "disable")
                        EventBus.$emit("toggleDisabledDelete", "disable");

                    } else {

                        {% if tag_filter %}

                        noteValue = "";

                        var selectedId = parseInt(element.dataset.id, 10);

                        const found = this.bookmarkList.find(element => element.id == selectedId);

                        if (found) {
                            noteValue = atob(found.note);
                        }

                        EventBus.$emit("setNoteValue", noteValue);

                        document.getElementById("bookmark-sidebar").classList.add("show");

                        {% endif %}

                        const currentlySelected = document.querySelector("li.bookmark-list.selected");
                        if (currentlySelected) {
                            currentlySelected.classList.remove("selected");
                        }
                        element.classList.add("selected");

                        EventBus.$emit("toggleDisabledEdit", "enable");
                        EventBus.$emit("toggleDisabledDelete", "enable");

                    }

                },
                onChange(evt) {

                    linkId = evt.moved.element.id;

                    // The backend expects the ordering to begin
                    // with 1, not 0, so add 1.
                    newPosition = evt.moved.newIndex + 1;

                    const data = new URLSearchParams();
                    data.append("tag", "{{ tag_filter }}");
                    data.append("link_id", linkId);
                    data.append("position", newPosition);

                    fetch("{% url "sort_bookmarks" %}", {
                        method: "POST",
                        headers: {
                            "X-CSRFToken": "{{ csrf_token }}"
                        },
                        body: data,
                    }).then(response => response.json())
                      .then(data => {
                          console.log("Success:", data);
                      })
                      .catch((error) => {
                          console.error("Error:", error);
                          $.smkAlert({text: "Error reordering notes: " + error, type: "error", position:"top-right"});
                      });
                },
                unescapeHtml(html) {
                    // Source: https://stackoverflow.com/a/46851765/378256
                    var el = document.createElement('div');
                    return html.replace(/\&[#0-9a-z]+;/gi, function (enc) {
                        el.innerHTML = enc;
                        return el.innerText
                    });
                }
            },
            mounted() {

                EventBus.$on("foobar", payload => {

                    this.bookmarkList.forEach( bookmark => {
                        if( bookmark.id == payload.id ) {
                            bookmark.note = btoa(payload.noteValue);
                        }
                    });

                });
            }
        };

        const AddNote = {
            data() {
                return {
                    note: ""
                }
            },
            methods: {
                onClick(evt) {

                    const note = document.getElementById("note").value;
                    var selectedId = document.querySelector("li.bookmark-list.selected").dataset.id;

                    const data = new URLSearchParams();
                    data.append("tag", "{{ tag_filter }}");
                    data.append("link_id", selectedId);
                    data.append("note", note);

                    fetch("{% url 'bookmark_add_note' %}",
                          {
                              method: "POST",
                              headers: {
                                  "X-CSRFToken": "{{ csrf_token }}"
                              },
                              body: data
                          }
                    ).then(response => {
                        return response;
                    }).then(() => {

                        payload = {
                            id: selectedId,
                            noteValue: note
                        }
                        EventBus.$emit("foobar", payload);

                    })

                }
            },
            mounted() {

                EventBus.$on("setNoteValue", payload => {
                    this.note = payload;
                });

            }
        }

        const Search = {
            template: `
                <div>
                    <vue-simple-suggest ref="suggestComponent"
                        v-model="query"
                        display-attribute="value"
                        value-attribute="value"
                        :list="tagSearch"
                        :filter-by-query=true
                        :debounce=200
                        :name="inputName"
                        placeholder="Search"
                        autofocus
                        autocomplete="off"
                        @select="select"
                        @keydown.native.enter.prevent="onKeyDown"
                        :styles="autoCompleteStyle"
                        >
                    </vue-simple-suggest>
                </div>
            `,
            data() {
                return {
                    inputName: "search",
                    query: "",
                    tags: [],
                    autoCompleteStyle: {
                        vueSimpleSuggest: "position-relative",
                        inputWrapper: "search-box",
                        defaultInput: "form-control",
                        suggestions: "position-absolute list-group z-1000",
                        suggestItem: "list-group-item"
                    }
                }
            },
            methods: {
                tagSearch(query) {
                    return fetch("{% url 'bookmark_tag_search' %}?query=" + query)
                        .then(response => {
                            return response.json();
                        })
                        .then(data => data)
                },
                select(tag) {

                    window.location = '{% url 'bookmark_tag' 666 %}'.replace(/666$/, tag.value);

                },
                onKeyDown(evt) {
                    searchTerm = evt.srcElement.value;
                    if (searchTerm) {
                        window.location='{% url 'bookmark_search' 666 %}'.replace(/666$/, searchTerm);
                    } else {
                        // If nothing is selected, refresh the page with no filters
                        window.location='{% url 'bookmark_list' %}';
                    }
                }
            }
        };

        const ButtonGroup = {
            template: `
                <div class="btn-group">
                    <a class="btn btn-secondary" id="btn-add" href="{% url 'bookmark_add' %}">Add</a>
                    <input type="button" class="btn btn-secondary" id="btn-edit" value="Edit" :disabled="isDisabledEdit" @click="onClickEdit" />
                    <input type="button" class="btn btn-secondary" id="btn-delete" value="Delete" :disabled="isDisabledDelete" @click="onClickDelete" />
                </div>
            `,
            methods: {
                onClickDelete(evt) {

                    var bookmarkEl = document.querySelector("li.bookmark-list.selected");
                    var selectedId = bookmarkEl.dataset.id;

                    fetch("{% url 'bookmark_delete' 666 %}".replace(/666$/, selectedId),
                          {
                              method: "DELETE",
                              headers: {
                                  "X-CSRFToken": "{{ csrf_token }}"
                              }
                          }
                    ).then(response => {
                        return response;
                    }).then(() => {

                        bookmarkEl.remove();

                        this.isDisabledEdit = true;
                        this.isDisabledDelete = true;

                        {% if tag_filter %}
                        document.getElementById("bookmark-sidebar").classList.remove("show");
                        {% endif %}

                    })
                },
                onClickEdit(evt) {

                    var selectedId = document.querySelector("li.bookmark-list.selected").dataset.id;
                    window.location="{% url 'bookmark_edit' 666 %}".replace(/666$/, selectedId);

                },
            },
            data() {
                return {
                    isDisabledEdit: true,
                    isDisabledDelete: true
                }
            },
            mounted() {

                EventBus.$on("toggleDisabledEdit", payload => {
                    if (payload == "disable") {
                        this.isDisabledEdit = true;
                    } else if (payload == "enable") {
                        this.isDisabledEdit = false;
                    }
                });

                EventBus.$on("toggleDisabledDelete", payload => {
                    if (payload == "disable") {
                        this.isDisabledDelete = true;
                    } else if (payload == "enable") {
                        this.isDisabledDelete = false;
                    }
                });

            }
        };

        new Vue({
            el: "#vue-app-right",
            components: {
                BookmarkList,
                ButtonGroup,
                Search
            }
        });

        const TagList = {
            template: `
                <div>
                    <draggable v-model="favoriteTags" @change="onChange" ghost-class="sortable-ghost" filter="#untagged">
                        <transition-group type="transition">
                            <li id="untagged" class="list-group-item{% if not tag_filter %} active{% endif %}" key="-1">
                                <a href="{% url "bookmark_list" %}">Untagged</a>
                                <span class="ml-2 badge {% if not tag_filter %}badge-light{% else %}badge-primary{% endif %}">{{ tag_counts|dict_get:"Untagged" }}</span>
                            </li>
                            <li v-for="tag in favoriteTags" :class="'list-group-item' + (tag.name == '{{ tag_filter }}' ? ' active' : '')" :data-id="tag.id" :key="tag.id">
                                <a :href="tag.url">[[ tag.name ]]</a>
                                <span :class="'ml-2 badge ' + tag.className">[[ tag.count ]]</span>
                            </li>
                        </transition-group>
                    </draggable>
                </div>
            `,
            data() {
                return {
                    favoriteTags: [
                        {% for tag in favorite_tags %}
                        {
                            id: {{ tag.id }},
                            name: "{{ tag.name }}",
                            className: "{% if tag.name == tag_filter %}badge-light{% else %}badge-primary{% endif %}",
                            count: {{ tag_counts|dict_get:tag.name }},
                            url: "{% url 'bookmark_tag' tag.name %}"
                        },
                        {% endfor %}
                    ]
                }
            },
            methods: {
                onChange(evt) {

                    tagId = evt.moved.element.id;

                    // The backend expects the ordering to begin
                    // with 1, not 0, so add 1.
                    newPosition = evt.moved.newIndex + 1;

                    const data = new URLSearchParams();
                    data.append("tag_id", tagId);
                    data.append("new_position", newPosition);

                    fetch("{% url "sort_favorite_tags" %}", {
                        method: "POST",
                        headers: {
                            "X-CSRFToken": "{{ csrf_token }}"
                        },
                        body: data,
                    }).then(response => response.json())
                      .then(data => {
                          console.log("Success:", data);
                      })
                      .catch((error) => {
                          console.error("Error:", error);
                          $.smkAlert({text: "Error reordering notes: " + error, type: "error", position:"top-right"});
                      });
                }
            }
        };

        new Vue({
            el: "#vue-app-left",
            components: {
                AddNote,
                TagList
            }
        });

    </script>

{% endblock %}
