{% extends "base.html" %}

{% load dict_get %}

{% load favicon %}

{% block title %} Bookmarks {% endblock %}

{% block extra_head %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui.min.js"></script>
{% endblock %}

{% block left-block %}

    <script type="text/javascript">

        $(document).ready(function() {

            $('#sort-container-tags').sortable( {
                connectWith: '.list-group',
                stop: function(event, ui) {

                    var tag_id = $(ui.item).data('id');

                    $.ajax( { type: 'POST',
                              url: '{% url 'sort_favorite_tags' %}',
                              data: { tag_id: tag_id, new_position: ui.item.index() + 1 }
                              }).done(function( json ) {
                        if (!json || json.error != null) {
                            console.log("Date error: " + json.error);
                        }
                    })
                }
            });
        })

    </script>

    <h2>
    Favorite Tags
    </h2>

    <ul class="list-group" id="sort-container-tags">
        {% for tag in favorite_tags %}
            <li class="list-group-item{% if tag.name == tag_filter %} active{% endif %}" data-id="{{ tag.id }}">
                <a href="{% url 'bookmark_tag' tag.name %}">{{ tag.name }}</a>
                <span class="ml-2 badge {% if tag.name == tag_filter %}badge-light{% else %}badge-primary{% endif %}">{{ tag_counts|dict_get:tag.name }}</span>
            </li>
        {% endfor %}
    </ul>

    <br />

    {% if tag_filter not in tag_counts %}
    <form action="{% url 'add_favorite_tag' %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="tag" value="{{ tag_filter }}" />
        <button type="submit" class="btn">
            Add To Favorites
        </button>
    </form>
    {% else %}
    <form action="" method="post">
        {% csrf_token %}
        <input type="hidden" name="tag" value="{{ tag_filter }}" />
        <button type="submit" class="btn">
            Remove From Favorites
        </button>
    </form>
    {% endif %}


{% endblock %}


{% block content %}

    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/typeahead.bundle.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/typeahead-bootstrap3.css" />

    <script type="text/javascript">

        $(document).ready(function() {

            var engine = new Bloodhound({
                name: 'tags',
                remote: {
                    url: '{% url 'tag_search' %}?query=%QUERY',
                    wildcard: '%QUERY'
                },
                datumTokenizer: function(d) { return Bloodhound.tokenizers.whitespace(d.val); },
                queryTokenizer: Bloodhound.tokenizers.whitespace
            });

            engine.initialize();

            $('#tag-filter').typeahead({
                autoselect: true
            }, {
                displayKey: 'value',
                source: engine,
            });

            $('#tag-filter').bind('typeahead:selected', function(obj, datum, name) {
                window.location='{% url 'bookmark_tag' 666 %}'.replace(666, datum.value);
            });

            var selectedId;

            $('i.icon-remove').hide();

            $('.tag-container').hover( function() {
                selectedId = $(this).find('a').attr('id').split('_')[1];
                $('i.icon-remove').hide();
                $('i#delete_' + selectedId ).show();
            });

            $('.tag-container').mouseleave( function() {
                $('i.icon-remove').hide();
            });

            $('i.icon-remove').click( function() {
                $.ajax( { type: 'DELETE',
                          url: '{% url 'bookmark_delete' 666 %}'.replace(666, selectedId),
                          success: function(data) {
                        $('#link_' + selectedId).parent().remove()
                    },
                          error: function(jqXHR, textStatus, errorThrown) {
                        console.log('error: ' + textStatus);
                    }
                          });

            })

            $('#sort-container').sortable( {
                connectWith: '.bookmark-list',
                stop: function(event, ui) {
                    var myMatches = $(ui.item).find('a').attr('id').match(/link_(.*)$/);
                    var link_id = myMatches[1];

                    $.ajax( { type: 'POST',
                              url: '{% url 'tag_bookmark_list' %}',
                              data: { tag: '{{ tag_filter }}', link_id: link_id, position: ui.item.index() + 1 },
                              success: function() {
                        }
                              });

                }
            });

        });

    </script>

    <div class="row">

        <div class="col-lg-7">

            <form class="form-inline" rolw="form" name="nav_form" id="tag-search-form" action="{% url 'bookmark_list' %}" method="get">

                <span class="ml-5 mr-3"><strong>Tag filter</strong></span>

                <div class="form-group">
                    <input id="tag-filter" type="text" value="{{ tag_filter }}" class="form-control" autocomplete="off" placeholder="Tag Filter"/>
                </div>

            </form>

        </div>

        <div class="col-lg-5">

            <ul id="bookmarks_breadcrumb" class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'bookmark_list' %}">List</a></li>
                <li class="breadcrumb-item active">Tags</li>
            </ul>

        </div>

    </div>

    <br />

    {% if bookmarks %}

        <div class="row">
            <ul id="sort-container" class="bookmark-list">

                {% for link in bookmarks %}

                    <li style="padding: 4px">
                        <span class="tag-container">
                            <span style="width: 18px; border: 1px solid white; float: left">
                                <i class="icon-remove glyphicon glyphicon-remove" id="delete_{{ link.id }}"></i>
                            </span>
                            <span class="ml-2" style="width: 20px">{{ link.url|favicon:16|safe }} </span>
                            <a class="one-tag ml-2" href="{{ link.url }}" id="link_{{ link.id }}">{{ link.title }}</a>
                            {% if link.tag_list %}
                                {% for tag in link.tag_list %}
                                    <a class="badge badge-info" href="{% url 'bookmark_tag' tag %}">{{ tag }}</a>
                                {% endfor %}
                            {% endif %}
                        </span>
                    </li>

                {% endfor %}

            </ul>
        </div>
    {% endif %}

{% endblock %}
