{% extends "base.html" %}

{% load favicon %}

{% block title %} Bookmarks {% endblock %}

{% block content %}

    <div class="row g-0 h-100" id="vue-app">

        <div class="flex-grow-last col-lg-3 d-flex flex-column ps-2">

            {% if object %}
            <div class="card-body p-3">
                <div class="d-flex justify-content-center">
                    <img src="{{ object.thumbnail_url }}?foo=bar" class="mw-100" />
                </div>
            </div>
            {% endif %}

            <related-tags
                ref="relatedTags"
                related-tags-url="{% url 'tag:get_related_tags' %}"
                @click-tag="onClickTag"
            >
            </related-tags>

            <div v-if="related_questions.length > 0" class="d-flex">
                <card title="Related Questions" class="backdrop-filter mw-100">
                    <template v-slot:content>
                        <hr class="divider" />
                        <ul class="list-group interior-borders cursor-pointer">
                            <li v-for="question in related_questions" class="hoverable px-0 list-group-item list-group-item-secondary text-primary">
                                <div class="d-flex">
                                    <div class="mt-1 me-2">
                                        <font-awesome-icon icon="question" class="text-success"></font-awesome-icon>
                                    </div>
                                    <div class="overflow-scroll">
                                        <div v-html="question.question" @click="onClick(question.url)"></div>
                                        <div>
                                            <span v-for="tag in question.tags" class="tag me-2">[[ tag.tag ]]</span>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </template>
                </card>
            </div>

            <div v-if="related_blobs.length > 0" class="d-flex">
                <card title="Related Blobs" class="backdrop-filter">
                    <template v-slot:content>
                        <ul class="list-group interior-borders cursor-pointer">
                            <li v-for="blob in related_blobs" class="hoverable px-0 list-group-item list-group-item-secondary text-primary">
                                <div class="d-flex align-items-center">
                                    <div class="mt-1 me-2">
                                        <img :src="blob.cover_url" />
                                    </div>
                                    <div class="d-flex justify-content-center w-100">
                                        <a :href="blob.url">[[ blob.name ]]</a>
                                    </div>
                                </div>
                                <div class="mt-3">
                                    <span v-for="tag in blob.tags" class="tag me-2">[[ tag ]]</span>
                                </div>
                            </li>
                        </ul>
                    </template>
                </card>
            </div>

            <div v-if="related_nodes.length > 0" class="d-flex">
                <card title="Related Nodes" class="backdrop-filter w-100">
                    <template v-slot:content>
                        <ul class="list-group interior-borders cursor-pointer">
                            <li v-for="node in related_nodes" class="hoverable px-0 list-group-item list-group-item-secondary text-primary">
                                <div class="d-flex align-items-center ps-3">
                                    <div class="d-flex w-100">
                                        <a :href="node.url">[[ node.name ]]</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </template>
                </card>
            </div>

        </div>

        <div class="col-lg-9">

            <div class="me-2">
                <div class="card-body">

                    <p class="lead offset-lg-2">
                        {{ form.instance.url|favicon|safe }} {{ action }} Bookmark
                    </p>

                    <form id="bookmark-form" action="{{ request.path }}" method="post">

                        {% csrf_token %}

                        {% for field in form %}

                            <div class="{% if field.errors %}message-error {% endif %}row mb-3">
                                <label class="fw-bold col-lg-2 col-form-label text-end">
                                    {{ field.label }}
                                </label>
                                <div class="col-lg-7 d-flex align-items-center">
                                    {% if field.label == "Tags" %}
                                        <tags-input
                                            ref="tagsInput"
                                            search-url="{% url 'tag:search' %}?query="
                                            @tags-changed="onTagsChanged"
                                        >
                                        </tags-input>
                                    {% elif field.label == "Url" %}
                                        <input
                                            type="url"
                                            name="url"
                                            value="{{ field.value|default:'' }}"
                                            class="form-control"
                                            required
                                            id="id_url"
                                            {% if action == "Create" %}
                                                @blur="onBlur"
                                            {% endif %}
                                            autocomplete="off"
                                        />
                                        {% if field.errors %}
                                            <div class="form-error">{{ field.errors.0 }}</div>
                                        {% endif %}
                                    {% elif field.label == "Important" %}
                                        <o-switch v-model="importance" name="importance" value="{{ field.value }}"></o-switch>
                                    {% elif field.label == "Is pinned" %}
                                        <o-switch v-model="is_pinned" name="is_pinned" value="{{ field.value }}"></o-switch>
                                    {% elif field.label == "Daily" %}
                                        <o-switch v-model="daily" name="daily" value="{{ field.value }}"></o-switch>
                                    {% else %}
                                        {{ field }}
                                    {% endif %}
                                    {% for error in field.errors %}
                                        <span class="form-error">{{ error }}</span>
                                    {% endfor %}
                                </div>
                            </div>

                        {% endfor %}

                        <div>
                            <div class="col-lg-7 offset-lg-2">
                                <input class="btn btn-primary" type="submit" name="Go" value="{{ action }}" />
                                {% if form.instance.id %}
                                <input class="btn btn-secondary ms-3" type="button" name="Go" value="Delete" @click="onClickDelete" />
                                {% endif %}
                                <a href="{% url 'bookmark:overview' %}" class="ms-3">Cancel</a>
                            </div>
                        </div>

                    </form>

                </div>

            </div>

        </div>

    </div>

{% endblock %}

{% block javascript %}

    {{ block.super }}

    {{ tags|json_script:"initial-tags"|default:"" }}
    {{ related_blobs|json_script:"related_blobs" }}
    {{ related_nodes|json_script:"related_nodes" }}

    <script type="text/javascript">

        const app = createApp({
            name: "BookmarkUpdate",
            components: {
                FontAwesomeIcon,
            },
            setup() {

                function onClickDelete(evt) {
                    const formEl = document.getElementById("bookmark-form");
                    formEl.setAttribute("action", "{% url 'bookmark:delete' '00000000-0000-0000-0000-000000000000' %}".replace('00000000-0000-0000-0000-000000000000', this.uuid));
                    formEl.submit();
                }

                function onClickTag(tag) {
                    EventBus.$emit("add-tag", tag);
                }

                function onBlur(evt) {
                    // If the name has already been filled-in, abort
                    const name = document.getElementById("id_name");
                    if (name.value) {
                        return;
                    }

                    let url = document.getElementById("id_url").value;
                    if (!url) {
                        return;
                    }

                    url = encodeURIComponent(url).replace(/%/g, "%25");

                    doGet(
                        this,
                        "{% url "bookmark:get_title_from_url" %}?url=" + url,
                        (response) => {
                            name.value = response.data.title;
                        },
                        "Error getting title from url"
                    );

                }

                function onClick(url) {
                    window.location = url;
                }

                const relatedTags = ref(null);

                function onTagsChanged(tags) {
                    relatedTags.value.setTags(tags);
                }

                onMounted(() => {
                    EventBus.$on("add-tag", (payload) => {
                        relatedTags.value.tagsInput.addTag(payload);
                    });
                });

                return {
                    importance: {{ form.importance.value|yesno:"true,false" }},
                    daily: {{ form.daily.value }},
                    is_pinned: {{ form.is_pinned.value|yesno:"true,false" }},
                    {% if bookmark.uuid %}
                    uuid: "{{ bookmark.uuid }}",
                    {% endif %}
                    related_questions: [
                        {% for question in related_questions %}
                        {
                            question: markdown.render("{{ question.question|escapejs }}"),
                            url: "{% url 'drill:detail' question.uuid %}",
                            tags: [
                                {% for tag in question.tags.all %}
                                {
                                    tag: "{{ tag }}",
                                },
                                {% endfor %}
                            ]
                        },
                        {% endfor %}
                    ],
                    related_blobs: JSON.parse(document.getElementById("related_blobs").textContent),
                    related_nodes: JSON.parse(document.getElementById("related_nodes").textContent),
                    relatedTags,
                    onClickDelete,
                    onClickTag,
                    onBlur,
                    onClick,
                    onTagsChanged
                };
            }
        });

        app.component("Card", Card);
        app.component("RelatedTags", RelatedTags);
        app.component("TagsInput", TagsInput);
        app.use(Oruga, {
            iconComponent: "font-awesome-icon",
            iconPack: "fa",
            table: {
                sortIcon: "caret-up",
            },
        });
        app.mount("#vue-app");

</script>

{% endblock %}
