{% extends "base.html" %}

{% load favicon %}

{% block title %} Home {% endblock %}

{% block left-block %}

        <div class="card bg-info">
            <div class="card-header text-white">Important Tasks</div>
            <ul class="list-group">
                {% for task in tasks %}
                    <li class="list-group-item">{{ task.task }}
                    <span class="badge badge-primary ml-1">{{ task.parent_category }}</span>
                        {% if task.date %}
                            {{ task.date }}
                        {% endif %}
                        {% for tag in task.tags.all %}
                            <span class="badge badge-info">{{ tag.name }}</span>
                        {% endfor %}
                    </li>
                {% empty %}
                    <li class="list-group-item">All done!</li>
                {% endfor %}
            </ul>
        </div>

        <div class="card bg-info my-3">
            <div class="card-header text-white">Daily Bookmarks</div>
            <ul class="list-group">
                {% for bookmark in daily_bookmarks %}
                    <li class="list-group-item {{ bookmark.css_class }}"><a href="{% url 'bookmark_click' bookmark.id %}">{{ bookmark.title }}</a></li>
                {% empty %}
                    <li class="list-group-item">No bookmarks marked as Daily.</li>
                {% endfor %}
            </ul>
        </div>

        <div class="card bg-info my-3">
            <div class="card-header text-white">Overdue Exercises</div>
            <ul class="list-group">
                {% for exercise in overdue_exercises %}
                    <li class="list-group-item"><a href="{% url 'exercise_detail' exercise.exercise.exercise_id %}">{{ exercise.exercise.exercise.exercise }}</a> {{ exercise.lag }} days</li>
                {% empty %}
                    <li class="list-group-item">No active exercises.</li>
                {% endfor %}
            </ul>
        </div>

        <div class="card bg-info">
            <div class="card-header text-white">Pinned Bookmarks</div>
            <ul class="list-group">
                {% for bookmark in pinned_bookmarks %}
                    <li class="list-group-item"><a href="{{ bookmark.url }}">{{ bookmark.title }}</a> </li>
                {% empty %}
                    <li class="list-group-item">No pinned bookmarks.</li>
                {% endfor %}
            </ul>
        </div>

{% endblock %}

{% block content %}

    <div id="vue-messages">
        {% include "common/show_messages.html" %}
    </div>

<div class="row">

    <div class="col-lg-7">

        <div class="card bg-info">
            <div class="card-header text-white">Recent Bookmarks</div>
            {% if bookmarks %}
            <ul class="list-group">
                {% for bookmark in bookmarks %}
                    <li class="list-group-item">{{ bookmark.url|favicon:16|safe }} <a class="ml-2" href="{{ bookmark.url }}">{{ bookmark.title }}</a> </li>
                {% endfor %}
            </ul>
            {% else %}
            <li class="list-group-item">
                <a class="ml-2" href="{% url 'bookmark_add' %}">Add a bookmark</a>
            </li>
            {% endif %}
        </div>

        {% if default_collection %}
            <iframe src="{% url 'collection_embedded' default_collection %}" frameborder=0 scrolling="no" width="100%"></iframe>
        {% endif %}

        <div class="card bg-info my-3">
            <div class="card-header text-white">Recently Played Music</div>
            <ul class="list-group">
                {% for song in music %}
                    <li class="list-group-item">{{ song.song.title }} <strong>{{ song.song.artist }}</strong></li>
                {% empty %}
                    <li class="list-group-item">No music listened to.</li>
                {% endfor %}
            </ul>
        </div>

    </div>

    <div class="col-lg-5">

        <div v-model="events" class="card bg-info">
            <div class="card-header text-white">Upcoming Calendar Events</div>
            <ul class="list-group" id="events">
                <li v-if="waiting" :class="errorClass" class="list-group-item">[[ msg ]]</li>
                <div v-for="event in events" :key="event.count" v-cloak>
                    <li class="list-group-item">[[ event.start_pretty ]]: <strong>[[ event.summary ]]</strong> </li>
                </div>
            </ul>
        </div>

        <div class="my-3">
        {% if random_image_info %}
            <a href="{% url 'blob_detail' random_image_info.uuid %}">
                <img src="{{ MEDIA_URL }}{{ random_image_info.cover_info.url }}" class="mw-100" height="{{ random_image_info.cover_info.height_cropped }}" width="{{ random_image_info.cover_info.width_cropped }}" />
            </a>
        {% else %}
            <a href="{% url 'blob_add' %}">Add a blob</a>
        {% endif %}
        </div>

    </div>

</div>

<div class="row">
  <div class="col-lg-12">
    <div class="alert alert-info">
      {{ quote.quote }}<br /><strong>{{ quote.source }}</strong>
    </div>
  </div>
</div>

{% endblock %}

{% block javascript %}

    {{ block.super }}

    <script type="text/javascript">

        new Vue({
            delimiters: ["[[", "]]"],
            el: '#events',
            data() {
                return {
                    errorClass: "",
                    events: [],
                    msg: "Retrieving...",
                    waiting: true
                }
            },
            mounted() {
                fetch("{% url 'get_calendar_events' %}")
                       .then(response => {
                    if (!response.ok) {
                        throw Error("Received '" + response.statusText + "' from server");
                    } else {
                        return response.json();
                    }
                })
                                       .then(data => {
                    this.events = data;

                    if (data.length == 0) {
                        this.msg = "Your calendar is empty";
                    } else {
                        this.waiting = false;
                        this.msg = "";
                    };
                }).catch(error => {
                    this.msg = error;
                    this.errorClass = "alert alert-danger";
                })
            }
        });

        new Vue({
            el: "#vue-messages",
        });

    </script>

{% endblock %}
