{% extends "base.html" %}

{% block title %} Home {% endblock %}

{% block left-block %}

        <div class="panel panel-primary">
            <div class="panel-heading">Urgent Tasks</div>
            <ul class="list-group">
                {% for task in tasks %}
                    <li class="list-group-item">{{ task.task }}
                    &nbsp; &nbsp;<span class="label label-primary">{{ task.parent_category }}</span>
                        {% if task.tags %}
                            <span class="label">{{ task.tags.all.0.name }}</span>
                        {% endif %}
                    </li>
                {% empty %}
                    <li class="list-group-item">All done!</li>
                {% endfor %}
            </ul>
        </div>

        <div class="panel panel-primary">
            <div class="panel-heading">Pinned Bookmarks</div>
            <ul class="list-group">
                {% for bookmark in pinned_bookmarks %}
                    <li class="list-group-item"><a href="{{ bookmark.url }}">{{ bookmark.title }}</a> </li>
                {% endfor %}
            </ul>
        </div>

        <div class="panel panel-primary">
            <div class="panel-heading">Daily Bookmarks</div>
            <ul class="list-group">
                {% for bookmark in daily_bookmarks %}
                    <li class="list-group-item {{ bookmark.css_class }}"><a href="{{ bookmark.url }}">{{ bookmark.title }}</a></li>
                {% endfor %}
            </ul>
        </div>

{% endblock %}

{% block content %}

<script type="text/javascript">

    $(document).ready(function() {
        var request = $.ajax({
            url: '{% url 'get_calendar_events' %}',
            type: "GET",
            dataType: "json"
        }).success(function( data, textStatus ) {
            html = '';
            for (i = 0; i < data.length; i++) {
                html += '<li class="list-group-item">' + data[i]['start_pretty'] + ': <strong>' + data[i]['summary'] + '</strong></li>';
            }
            if (!html) {
                html = '<li class="list-group-item">Your calendar is empty</li>';
            }
            $('#events').html(html);
        }).error(function( data, textStatus ) {
            $('#events').html('<div class="alert alert-danger">Error retrieving events</div>');
        });
    });

</script>

<div class="row">

    <div class="col-lg-6">

        <div class="panel panel-primary">
            <div class="panel-heading">Recent Bookmarks</div>
            <ul class="list-group">
                {% for bookmark in bookmarks %}
                    <li class="list-group-item"><a href="{{ bookmark.url }}">{{ bookmark.title }}</a> </li>
                {% endfor %}
            </ul>
        </div>

        <div class="panel panel-primary">
            <div class="panel-heading">Recently Played Music</div>
            <ul class="list-group">
                {% for song in music %}
                    <li class="list-group-item">{{ song.song.title }} <strong>{{ song.song.artist }}</strong></li>
                {% endfor %}
            </ul>
        </div>

    </div>

    <div class="col-lg-6">

        <div class="panel panel-primary">
            <div class="panel-heading">Upcoming Calendar Events</div>
            <ul class="list-group" id="events">
                <li class="list-group-item">Retrieving...</li>
                {% for event in calendar %}
                    <li class="list-group-item">{{ event.start_pretty }}: <strong>{{ event.summary }}</strong> </li>
                {% endfor %}
            </ul>
        </div>

    </div>

  <div class="col-lg-6">
    <div class="panel panel-primary random-image-panel">
      <div class="panel-heading">Random Picture</div>
      <ul class="list-group">
          <a href="{% url 'blob_detail' random_image_info.sha1sum %}">
              <img src="{{ STATIC_URL }}{{ random_image_info.cover_info.url }}" height="{{ random_image_info.cover_info.height_cropped }}" width="{{ random_image_info.cover_info.width_cropped }}" height="92" width="70"/>
          </a>
      </ul>
    </div>
  </div>

</div>

<div class="row">
  <div class="col-lg-2">
    <div class="btn-group">
      <a class="btn dropdown-toggle btn-info" data-toggle="dropdown" href="#">
        Documentation
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        <li><a href="{{ STATIC_URL }}docs/LJ/tocindex.html">Linux Journal</a></li>
        <li><a href="{{ STATIC_URL }}docs/sa/html/main.htm">Sys Admin</a></li>
        <li><a href="{{ STATIC_URL }}docs/LG/lg_index.html">Linux Gazette</a></li>
        <li><a href="{{ STATIC_URL }}docs/tpj/start.htm">The Perl Journal</a></li>
      </ul>
    </div>
  </div>
</div>

<br />

<div class="row">
  <div class="col-lg-12">
    <div class="alert alert-info">
      {{ quote.quote }}<br /><strong>{{ quote.source }}</strong>
    </div>
  </div>
</div>

{% endblock %}
