{% extends "base.html" %}

{% block title %} Drill :: Answer {% endblock %}

{% block nav %}

    <div class="d-flex mb-3" id="vue-nav">

        <div class="mr-auto align-self-center">
            <ul class="breadcrumb mb-0 pt-0 pb-0">
                <li class="breadcrumb-item"> <a href="{% url 'drill:list' %}"><font-awesome-icon icon="home"></font-awesome-icon></a> </li>
                <li class="breadcrumb-item active"><a href="{% url 'drill:detail' question.uuid %}">Question with tag <strong>{{ question.tags.all.0 }}</strong></a></li>
                <li class="breadcrumb-item active">Answer</li>
            </ul>
        </div>

        <div class="right-column">
            <a href="{% url 'drill:add_with_tag' question.tags.all.0 %}" class="btn btn-primary" role="button"><font-awesome-icon icon="plus" class="mr-2"></font-awesome-icon>Add Question</a>
        </div>

    </div>

{% endblock %}

{% block extra_head %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/code_style.css" />
{% endblock %}

{% block content %}

    <div class="row no-gutters h-100">

        <div class="col-lg-3 d-flex flex-grow-1">
            <div class="card-body">

                <div class="d-flex">
                    <div class="flex-grow-1">
                        <ul class="list-unstyled">
                            <li class="d-flex">
                                <div class="flex-fill font-weight-bold">Mode</div>
                                <div class="text-info">{{ state_name }}</div>
                            </li>
                            {% if state_name == 'Learning' %}
                                <li class="d-flex">
                                    <div class="flex-fill font-weight-bold">Learning step</div>
                                    <div class="text-info"><strong class="text-info">{{ question.learning_step }}</strong> out of {{ learning_step_count  }}</div>
                                </li>
                            {% endif %}
                            {% if state_name != 'New' %}
                                <li class="d-flex">
                                    <div class="flex-fill font-weight-bold">Last reviewed</div>
                                    <div class="text-info">{{ question.last_reviewed|date:"F j, Y"|default:"Never" }}</div>
                                </li>
                            {% endif %}
                            <li class="d-flex">
                                <div class="flex-fill font-weight-bold">Interval</div>
                                <div class="text-info">{{ question.interval.days }} day{{ question.interval.days|pluralize:"s" }}</div>

                            </li>
                        </ul>
                    </div>
                </div>

                <br />

                <h5 class="mt-3">Responses</h5>

                {% if state_name == 'Learning' %}

                    <div>
                        <strong>Good</strong> Move the question to the next learning step
                    </div>

                    <div>
                        <strong>Easy</strong> Graduate the question to "reviewing" mode
                    </div>

                    <div>
                        <strong>Reset</strong> Move the question to the first learning step
                    </div>

                {% else %}

                    <div>
                        <strong>Good</strong> You answered correctly without too much effort. Should be the most common response.
                    </div>

                    <div>
                        <strong>Hard</strong> Show the question more frequently in the future.
                    </div>

                    <div>
                        <strong>Easy</strong> Show the question less frequently in the future.
                    </div>

                    <div>
                        <strong>Reset</strong> You failed to correctly answer the question, ie you've "lapsed". The question goes back into "learning" mode.
                    </div>

                {% endif %}

                <div>
                    <strong>Skip</strong> Skip the question without recording a response.
                </div>

            </div>

        </div>

        <div class="col-lg-9">
            <div class="right-column">
                <div class="card-body">

                    <h3 class="table-borders markdown">
                    {{ question.get_question|safe }}
                    </h3>
                    {% if question.tags.all %}
                        Tags:
                        {% for tag in question.tags.all %}
                            <a class="badge badge-primary" href="{% url 'drill:study_tag' tag.name %}">{{ tag.name }}</a>
                        {% endfor %}
                        <br /><br />
                    {% endif %}
                    <hr class="divider" _style="background-color: #f00" />
                    <h3 class="table-borders markdown">
                    {{ question.get_answer|safe }}
                    </h3>

                    <a href="{% url 'drill:record_response' question.uuid 'good' %}" class="btn btn-primary" role="button">Good</a>
                    {% if state_name == 'Reviewing' %}
                        <a href="{% url 'drill:record_response' question.uuid 'hard' %}" class="btn btn-primary" role="button">Hard</a>
                    {% endif %}
                    <a href="{% url 'drill:record_response' question.uuid 'easy' %}" class="btn btn-primary" role="button">Easy</a>
                    <a href="{% url 'drill:record_response' question.uuid 'again' %}" class="btn btn-primary" role="button">Reset</a>
                    <a href="{% url 'drill:skip' question.uuid %}" class="btn btn-primary ml-2" role="button">Skip</a>

                    <form action="{% url 'drill:update' question.uuid %}" class="mt-2 float-right">
                        <input type="submit" class="btn btn-primary" value="Update">
                    </form>

                </div>
            </div>
        </div>

    </div>

{% endblock %}

{% block javascript %}

    {{ block.super }}

    <script type="text/javascript" id="MathJax-script" async
            src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
    </script>

    <script type="text/javascript">

        window.MathJax = {
            options: {
                ignoreHtmlClass: 'tex2jax_ignore',
                processHtmlClass: 'tex2jax_process',
                renderActions: {
                    find: [10, function (doc) {
                        for (const node of document.querySelectorAll('script[type^="math/tex"]')) {
                            const display = !!node.type.match(/; *mode=display/);
                            const math = new doc.options.MathItem(node.textContent, doc.inputJax[0], display);
                            const text = document.createTextNode('');
                            const sibling = node.previousElementSibling;
                            node.parentNode.replaceChild(text, node);
                            math.start = {node: text, delim: '', n: 0};
                            math.end = {node: text, delim: '', n: 0};
                            doc.math.push(math);
                            if (sibling && sibling.matches('.MathJax_Preview')) {
                                sibling.parentNode.removeChild(sibling);
                            }
                        }
                    }, '']
                }
            }
        };

        new Vue({
            el: "#vue-nav",
        });

    </script>

{% endblock %}
