{% extends "base.html" %}

{% block title %} Drill :: Answer {% endblock %}

{% block nav %}
    <div id="vue-nav">
        <ul class="breadcrumb mb-0">
            <li class="breadcrumb-item"> <a href="{% url 'drill:list' %}"><font-awesome-icon icon="home"></font-awesome-icon></a> </li>
            <li class="breadcrumb-item active">Answer</li>
        </ul>
    </div>
{% endblock %}

{% block extra_head %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/code_style.css" />
{% endblock %}

{% block left-block %}
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-lg-4">

            <div class="row">

                <div class="col-lg-12 card-grid">

                    <div class="card-body">

                        <div class="d-flex">
                            <div class="flex-grow-1">
                                <ul class="list-unstyled">
                                    <li class="d-flex">
                                        <div class="flex-fill font-weight-bold">State</div>
                                        <div class="text-info pr-5">{{ state_name }}</div>
                                    </li>
                                    {% if state_name == 'Learning' %}
                                        <li class="d-flex">
                                            <div class="flex-fill font-weight-bold">Learning step</div>
                                            <div class="text-info pr-5"><strong class="text-info">{{ question.learning_step }}</strong> out of {{ learning_step_count  }}</div>
                                        </li>
                                    {% endif %}
                                    {% if state_name != 'New' %}
                                        <li class="d-flex">
                                            <div class="flex-fill font-weight-bold">Last reviewed</div>
                                            <div class="text-info pr-5">{{ question.last_reviewed|default:"Never" }}</div>
                                        </li>
                                    {% endif %}
                                    <li class="d-flex">
                                        <div class="flex-fill font-weight-bold">Interval</div>
                                        <div class="text-info pr-5">{{ question.interval }}</div>
                                    </li>
                                    <li class="d-flex">
                                        <div class="flex-fill font-weight-bold">Easiness factor</div>
                                        <div class="text-info pr-5">{{ question.efactor|floatformat:1 }}</div>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <form action="{% url 'drill:update' question.uuid %}" class="mt-2">
                            <input type="submit" class="btn btn-primary" value="Update">
                        </form>

                        <br />

                        <div>
                            <a href="{% url 'drill:add_with_tag' question.tags.all.0 %}" class="btn btn-primary" role="button">Add Question</a>
                        </div>

                    {% if state_name == 'Learning' %}

                        <div class="mt-5">
                            <strong>Again</strong> Move the question to the first step
                        </div>

                        <div>
                            <strong>Good</strong> Move the question to the next step
                        </div>

                        <div>
                            <strong>Easy</strong> Graduate the question to state 'To Review'
                        </div>

                    {% else %}

                        <div class="mt-5">
                            <strong>Again</strong> You failed to correctly answer the question, ie you've "lapsed". The question goes back into "learning" mode
                        </div>

                        <div>
                            <strong>Hard</strong> Show the card more frequently in the future
                        </div>

                        <div>
                            <strong>Good</strong> Should be the most common response
                        </div>

                        <div>
                            <strong>Easy</strong> Only use for the easiest of questions
                        </div>

                    {% endif %}

                    </div>

                </div>

            </div>

        </div> <!-- End first column -->

        <div class="col-lg-8">

            <div class="row">
                <div class="col-lg-12 card-grid">

                    <div class="card-body">

                        <h3 class="table-borders markdown">
                            {{ question.get_question|safe }}
                        </h3>
                        {% if question.tags.all %}
                            Tags:
                            {% for tag in question.tags.all %}
                                <a class="badge badge-primary" href="{% url 'drill:study_tag' tag.name %}">{{ tag.name }}</a>
                            {% endfor %}
                            <br /><br />
                        {% endif %}
                        <div class="table-borders markdown">
                            {{ question.get_answer|safe }}
                        </div>

                        <a href="{% url 'drill:record_response' question.uuid 'again' %}" class="btn btn-primary" role="button">Again</a>
                        {% if state_name == 'To Review' %}
                            <a href="{% url 'drill:record_response' question.uuid 'hard' %}" class="btn btn-primary" role="button">Hard</a>
                        {% endif %}
                        <a href="{% url 'drill:record_response' question.uuid 'good' %}" class="btn btn-primary" role="button">Good</a>
                        <a href="{% url 'drill:record_response' question.uuid 'easy' %}" class="btn btn-primary" role="button">Easy</a>
                        <a href="{% url 'drill:skip' question.uuid %}" class="btn btn-primary ml-2" role="button">Skip</a>

                    </div>

                </div>

            </div>

        </div>

    </div>

{% endblock %}

{% block javascript %}

    {{ block.super }}

    <script type="text/javascript" id="MathJax-script" async
            src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
    </script>

    <script type="text/javascript">

        window.MathJax = {
            options: {
                ignoreHtmlClass: 'tex2jax_ignore',
                processHtmlClass: 'tex2jax_process',
                renderActions: {
                    find: [10, function (doc) {
                        for (const node of document.querySelectorAll('script[type^="math/tex"]')) {
                            const display = !!node.type.match(/; *mode=display/);
                            const math = new doc.options.MathItem(node.textContent, doc.inputJax[0], display);
                            const text = document.createTextNode('');
                            const sibling = node.previousElementSibling;
                            node.parentNode.replaceChild(text, node);
                            math.start = {node: text, delim: '', n: 0};
                            math.end = {node: text, delim: '', n: 0};
                            doc.math.push(math);
                            if (sibling && sibling.matches('.MathJax_Preview')) {
                                sibling.parentNode.removeChild(sibling);
                            }
                        }
                    }, '']
                }
            }
        };

        new Vue({
            el: "#vue-nav",
        });

    </script>

{% endblock %}
