{% extends "base.html" %}

{% block title %} Drill :: Answer {% endblock %}

{% block extra_head %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/code_style.css" />
{% endblock %}

{% block left-block %}

    State: <strong>{{ state_name  }}</strong>
    <br />
{% if state_name == 'Learning' %}
        Learning step: <strong>{{ question.learning_step }}</strong> out of {{ learning_step_count  }}
        <br />
{% endif %}
{% if state_name != 'New' %}
Last Reviewed: <strong>{{ question.last_reviewed }}</strong>
    <br />
{% endif %}
Interval: <strong>{{ question.interval|floatformat:1 }}</strong>
    <br />
Easiness Factor: <strong>{{ question.efactor|floatformat:1 }}</strong>

{% if state_name == 'Learning' %}

    <div class="mt-5">
        <strong>Again</strong> Move the question to the first step
    </div>

    <div>
        <strong>Good</strong> Move the question to the next step
    </div>

    <div>
        <strong>Easy</strong> Graduate the question to state 'To Review'
    </div>

{% else %}

    <div class="mt-5">
        <strong>Again</strong> You failed to correctly answer the question, ie you've "lapsed". The question goes back into "learning" mode
    </div>

    <div>
        <strong>Hard</strong> Show the card more frequently in the future
    </div>

    <div>
        <strong>Good</strong> Should be the most common response
    </div>

    <div>
        <strong>Easy</strong> Only use for the easiest of questions
    </div>

{% endif %}

{% endblock %}

{% block content %}

        <div class="row">

        <div class="col-lg-12">

            {% block breadcrumbs %}
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"> <a href="{% url 'drill_list' %}">Tag Categories</a> </li>
                    <li class="breadcrumb-item active">{{ tag_list }}</li>
                </ul>
            {% endblock %}

        </div>

    </div>

    <h1>
        {{ question.get_question|safe }}
    </h1>
    {% if question.tags.all %}
            Tags:
        {% for tag in question.tags.all %}
            <a class="badge badge-primary" href="{% url 'study_tag' tag.name %}">{{ tag.name }}</a>
        {% endfor %}
        <br /><br />
    {% endif %}
    <h1>
        {{ question.get_answer|safe }}
    </h1>

    <a href="{% url 'record_result' question.id 'again' %}" class="btn btn-primary btn-lg" role="button">Again</a>
    {% if state_name == 'To Review' %}
        <a href="{% url 'record_result' question.id 'hard' %}" class="btn btn-primary btn-lg" role="button">Hard</a>
    {% endif %}
    <a href="{% url 'record_result' question.id 'good' %}" class="btn btn-primary btn-lg" role="button">Good</a>
    <a href="{% url 'record_result' question.id 'easy' %}" class="btn btn-primary btn-lg" role="button">Easy</a>

{% endblock %}
