{% extends "base.html" %}

{% block extra_head %}

{% endblock %}

{% block title %} {{ section }} :: {{ title }} {% endblock %}

{% block content %}

    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/tagsinput.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/typeahead-bootstrap3.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/datatables.min.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/dataTables.bootstrap4.min.css" />

    <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap-tagsinput.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/typeahead.bundle.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/datatables.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/dataTables.bootstrap4.min.js"></script>

        <script type="text/javascript" charset="utf-8">

        var table;

        $(document).ready(function() {

            var engine = new Bloodhound({
                name: "tags",
                remote: {
                    url: "{% url 'drill_tag_search' %}?query=%QUERY",
                    wildcard: "%QUERY"
                },
                datumTokenizer: function(d) { return Bloodhound.tokenizers.whitespace(d.val); },
                queryTokenizer: Bloodhound.tokenizers.whitespace
            });

            engine.initialize();

            $("#id_tags").typeahead({
                autoselect: true
            }, {
                displayKey: "value",
                source: engine,
            });

            $("#id_tags").bind("typeahead:selected", function(obj, datum, name) {
                window.location="{% url 'study_tag' 666 %}".replace(/666$/, datum.value);
            });

            function formatName( data, type, row ) {
                return '<a href="{% url 'study_tag' 666 %}">'.replace(/666/, row[0]) + row[0] + '</a>';
            }

            table = $('#deck_list').DataTable( {
                "info": false,
                "paginate": false,
                "sorting": [[3, 'asc']],
                "filter": true,
                "language": {
                    "emptyTable": "No questions created"
                },
                "lengthChange": false,
                "dom": "<'row'<'col-lg-3'<'toolbar'>l>r>t<'row'<'float-right col-lg-4'p>>",
                "searchable": false,
                "columnDefs": [
                    { "targets": [0], "sorting": [ "desc", "asc" ], "render": formatName, "useRendered": false  },
                    { "targets": [3,4], "visible": false },
                ],
            } );

            $('#deck_list tbody').on( 'click', 'tr', function () {
                if ( $(this).hasClass('selected') ) {
                    $(this).removeClass('selected');
                    $('#btn-edit').attr("disabled", "disabled");
                    $('#btn-delete').attr("disabled", "disabled");
                } else {
                    table.$('tr.selected').removeClass('selected');
                    $(this).addClass('selected');
                    $('#btn-edit').removeAttr("disabled");
                    $('#btn-delete').removeAttr("disabled");
                }
            } );

            $('#search').on('keydown', function(event, selection) {
                if (((event.which && event.which == 13) || (event.keyCode && event.keyCode == 13))) {
                    $("#form-deck-delete").attr('action', '{% url 'deck_search' %}');
                    $("#form-deck-delete").attr('method', 'GET');
                    $('#form-deck-delete').submit();
                    return false;
                } else {
                    return true;
                }
            });


            $('#id_tags').on('itemAdded', function(event) {
                console.log('got here' + event.item);
                window.location='{% url 'study_tag' 666 %}'.replace(/666$/, event.item);
                // event.item: contains the item
            });
        });

</script>

<div class="row">
    <div class="col-lg-7">

        <h1>{{ title }}</h1>

    </div>
</div>

<div class="row">
    <div class="col-lg-7">
        <form class="form-inline" role="form" id="form-deck-delete" method="POST" autocomplete="off">
            {% csrf_token %}

            <div class="form-group">
                <input id="search" name="search_term" type="text" style="width: 200px" class="form-control ml-3" placeholder="Search">
                <input id="id_tags" name="tag" type="text" style="width: 200px" class="form-control ml-3" placeholder="Study by Tag">
            </div>

        </form>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        {% include "common/datatable.html" with data=info cols=cols id="deck_list" %}
    </div>
</div>

{% endblock %}
