{% extends "base.html" %}

{% block title %} {{ section }} :: Deck Detail {% endblock %}

{% block left-block %}

    <h2>{{ object.description }}</h2>

    Question Count: <strong>{{ count }}</strong>

    <div class="mt-5">
        <a href="{% url 'question_add' object.id %}" class="btn btn-primary" role="button">Add</a>
    </div>

{% endblock %}

{% block content %}

    <div class="row">

        <div class="col-lg-12">

            {% block breadcrumbs %}
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"> <a href="{% url 'deck_list' %}">Deck List</a> </li>
                    <li class="breadcrumb-item active">{{ object.title }}</li>
                </ul>
            {% endblock %}

        </div>

    </div>

    <div>
    {% for state in state_counts %}
        {{ state.0 }}: <strong>{{ state.1 }}</strong> <br />
    {% endfor %}
    </div>

    <div class="mt-5">
    {% if not object.is_empty %}
        <a href="{% url 'deck_study' object.id %}" class="btn btn-primary btn-lg" role="button">Study Now</a>
    {% endif %}
    </div>

{% endblock %}
