{% extends "base.html" %}

{% block extra_head %}

{% endblock %}

{% block title %} {{ section }} {% endblock %}

{% block content %}

    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/tagsinput.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/typeahead-bootstrap3.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/datatables.min.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/dataTables.bootstrap4.min.css" />

    <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap-tagsinput.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/typeahead.bundle.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/datatables.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/dataTables.bootstrap4.min.js"></script>

        <script type="text/javascript" charset="utf-8">

        var table;

        $(document).ready(function() {

            function formatName( data, type, row ) {
                return '<a href="{% url 'deck_detail' 666 %}">'.replace(666, row[4]) + row[0] + '</a>';
            }

            table = $('#deck_list').DataTable( {
                "info": false,
                "paginate": false,
                "sorting": [[2, 'desc']],
                "filter": true,
                "language": {
                    "emptyTable": "No decks created"
                },
                "lengthChange": false,
                "dom": "<'row'<'col-lg-3'<'toolbar'>l>r>t<'row'<'float-right col-lg-4'p>>",
                "searchable": false,
                "columnDefs": [
                    { "targets": [0], "sorting": [ "desc", "asc" ], "render": formatName, "useRendered": false  },
                    { "targets": [2], "class": "monospaced", "dataSort": 3, "sorting": [ "desc", "asc" ] },
                    { "targets": [2,4], "visible": false },
                ],
            } );

            $('#deck_list tbody').on( 'click', 'tr', function () {
                if ( $(this).hasClass('selected') ) {
                    $(this).removeClass('selected');
                    $('#btn-edit').attr("disabled", "disabled");
                    $('#btn-delete').attr("disabled", "disabled");
                } else {
                    table.$('tr.selected').removeClass('selected');
                    $(this).addClass('selected');
                    $('#btn-edit').removeAttr("disabled");
                    $('#btn-delete').removeAttr("disabled");
                }
            } );

            $('#btn-adddeck').click( function() {

                $.ajax( { type: 'GET',
                          url: '{% url 'deck_get_info' %}',
                          data: { name: $('#name').val() }
                          }).done(function( json ) {
                    if (!json || json.error != null) {
                        console.log("Error: " + json);
                    } else {
                        if (json.length > 0) {
                            $('#feedback').fadeIn(1000).html("Sorry, a deck with that name already exists");
                            setTimeout( function() {
                                $('#feedback').fadeOut(1000);
                            }, 3000);
                        }
                    }

                });

            });

            $('#btn-add').on('click', function() {
                $('#action-type').html('Add');
                $('#btn-action').val('Add');
                $("#form-deck-edit").attr("action", "{% url 'deck_add' %}");
                $('#modalAdd').modal('show');
            });

            $('#btn-edit').on('click', function() {
                var selectedId = $('#deck_list').DataTable().cell('.selected', 4).data();
                console.log(selectedId);

                $.ajax( { type: 'GET',
                          url: '{% url 'deck_get_info' %}',
                          data: { id: selectedId,
                                  query_type: 'id' }
                          }).done(function( json ) {
                    if (!json || json.error != null) {
                        console.log("Error: " + json);
                    } else {
                        $('#id_title').val(json.title);
                        $('#id_description').val(json.description);
                        console.log(json);
                    }

                    $('#action-type').html('Edit');
                    $('#btn-action').val('Edit');
                    $("#form-deck-edit").attr("action", '{% url 'deck_edit' 666 %}'.replace(666, selectedId));
                    $('#modalAdd').modal('show');

                });

                return false;
            });

            $("input.btn[value='Delete']").click( function() {
                var selectedId = $('#deck_list').DataTable().cell('.selected', 4).data();
                $("#form-deck-delete").attr("action", '{% url 'deck_delete' 666 %}'.replace(666, selectedId));
                $('#form-deck-delete').submit();
            })

            $('#modalAdd').on('shown.bs.modal', function() {
                $('#id_title').focus();
            })
            $('#modalAdd').on('hidden.bs.modal', function () {
                $('#id_title').val('');
                $('#id_description').val('');
                $('#id_tags').tagsinput('removeAll');
            })

            {% include "common/common-typeaheadjs-tagsinput.js" %}

        });

</script>

<div class="row">
    <div class="col-lg-7">

        <h1>Deck List</h1>

    </div>
</div>

<div class="row">
    <div class="col-lg-7">
        <form class="form-inline" role="form" id="form-deck-delete" method="POST">
            {% csrf_token %}

            <div class="btn-group">
                <input type="button" class="btn btn-secondary" id="btn-add" value="Add" />
                <input type="button" class="btn btn-secondary" id="btn-edit" value="Edit" disabled="disabled" />
                <input type="button" class="btn btn-secondary" id="btn-delete" value="Delete" disabled="disabled" />
            </div>

            <div class="form-group">
                <label id="feedback"></label>
            </div>

        </form>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        {% include "common/datatable.html" with data=info cols=cols id="deck_list" %}
    </div>
</div>

<form action="{% url 'deck_list' %}" method="post" id="form-deck-edit">
    <div class="modal fade" id="modalAdd" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel"><span id="action-type">Add</span> Deck</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="form-group{% if field.errors %} error{% endif %} row">
                            <label class="col-lg-2 col-form-label" for="inputTitle">{{ field.label }}</label>

                            <div class="col-lg-7">
                                {{ field }}
                                {% for error in field.errors %}
                                    <span class="form-error">{{ error }}</span>
                                {% endfor %}
                            </div>

                        </div>
                    {% endfor %}

                </div>
                <div class="modal-footer">
                    <label id="feedback" _class="alert alert-success"></label>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <input id="btn-action" class="btn btn-primary" type="submit" name="Go" value="Add" />
                </div>

            </div>
        </div>
    </div>
</form>

{% endblock %}
