{% extends "base.html" %}

{% block title %} Drill :: {{ title }} {% endblock %}

{% block content %}

    <div class="row no-gutters h-100">

        <div class="col-lg-3 d-flex flex-column" id="vue-app-left">

            <div class="card-body">

                <div>
                    Click the Start button to drill on random questions or select a tag on the right to drill on a specific category.
                </div>

                <br />

                <div>
                    <form action="{% url 'drill:study_random' %}">
                        <input class="btn btn-primary" type="submit" value="Start" id="random_mode" />
                    </form>
                </div>

                <hr />

                <div>
                    <a href="{% url 'drill:add' %}" class="btn btn-primary" role="button"><font-awesome-icon icon="plus" class="mr-2"></font-awesome-icon>Add Question</a>
                </div>

            </div>

        </div>

        <div class="col-lg-3" id="vue-app">

            <div class="d-flex flex-grow-1">
                <card title="Total Progress">
                    <template v-slot:content>
                        <div class="d-flex">
                            <div class="d-flex justify-content-center align-items-center">
                                Percentage across all tags of questions not needing review
                            </div>
                            <div class="mr-5 text-center">
                                <div class="demo" class="pt-5">
                                    <svg width="120" height="120" viewBox="0 0 120 120">
                                        <circle cx="60" cy="60" :r="circleRadius" fill="none" stroke="#262c49" stroke-width="12" />
                                        <circle cx="60" cy="60" :r="circleRadius" fill="none" stroke="#7fffd4" stroke-width="12" :stroke-dasharray="strokeDashArray" :stroke-dashoffset="getDashOffset({{ total_progress.percentage }})" />
                                        <text x="50%" y="50%" text-anchor="middle" dy=".3em" font-size="30px" fill="#fff">[[ round({{ total_progress.percentage }}) ]]%</text>
                                    </svg>
                                </div>
                                <span class="text-secondary mt-2">{{ total_progress.count }} question{{ total_progress.count|pluralize }}</span>
                            </div>
                        </div>
                    </template>
                </card>
            </div>

            <card title="Tags still learning">

                <template v-slot:content>
                    <ul class="list-unstyled">
                        <li class="d-flex table_header px-2 py-1 mb-2">
                            <div class="flex-fill font-weight-bold">Tag</div>
                            <div class="font-weight-bold">Question Count</div>
                        </li>
                        {% for tag in tags_still_learning %}
                            <li class="d-flex px-2">
                                <div class="flex-fill"><a href="{% url 'drill:study_tag' tag.name %}">{{ tag.name }}</a></div>
                                <div class="text-info">{{ tag.count }}</div>
                            </li>
                        {% endfor %}
                    </ul>
                </template>

            </card>

        </div>

        <div class="col-lg-3" id="tag-search">

            <div class="mb-2" style="margin-left: 15px">
                <simple-suggest
                    ref="simpleSuggest"
                    search-url="{% url 'drill:search_tags' %}?drill_only=true&query="
                    place-holder="Tag Search"
                >
                </simple-suggest>
            </div>

            <div class="d-flex flex-grow-1" v-if="tag.value">
                <card>
                    <template v-slot:title-slot>
                        <h6><a :href="tag.link">[[ tag.value ]]</a></h6>
                    </template>
                    <template v-slot:content>
                        <div class="d-flex">
                            <div class="flex-grow-1 d-flex justify-content-center align-items-center">
                                <ul class="list-unstyled">
                                    <li>Last Reviewed <br/> <strong>[[ tag.info.last_reviewed ]]</strong></li>
                                </ul>
                            </div>
                            <div class="flex-grow-1 text-center">
                                <div class="demo" class="pt-5">
                                    <svg width="120" height="120" viewBox="0 0 120 120">
                                        <circle cx="60" cy="60" :r="circleRadius" fill="none" stroke="#262c49" stroke-width="12" />
                                        <circle cx="60" cy="60" :r="circleRadius" fill="none" stroke="#7fffd4" stroke-width="12" :stroke-dasharray="strokeDashArray" :stroke-dashoffset="getDashOffset(tag.info.progress)" />
                                        <text x="50%" y="50%" text-anchor="middle" dy=".3em" font-size="30px" fill="#fff">[[ round(tag.info.progress) ]]%</text>
                                    </svg>
                                </div>
                                <span class="text-secondary mt-2">[[ getQuestionCountString(tag.info.count) ]]</span>
                            </div>
                        </div>
                    </template>
                </card>
            </div>

            <card title="Tags needing review">

                <template v-slot:content>
                    <ul class="list-unstyled">
                        <li class="d-flex table_header px-2 py-1 mb-2">
                            <div class="flex-fill font-weight-bold">Tag</div>
                            <div class="font-weight-bold">Last Reviewed</div>
                        </li>
                        {% for tag in tags_needing_review %}
                            <li class="d-flex px-2">
                                <div class="flex-fill"><a href="{% url 'drill:study_tag' tag.name %}">{{ tag.name }}</a></div>
                                <div class="text-info">{{ tag.last_reviewed|date:"F j, Y"|default:"Never" }}</div>
                            </li>
                        {% endfor %}
                    </ul>
                </template>

            </card>

        </div>

        <div class="col-lg-3" id="favorite_tags">

            <div class="right-column">
                <card title="Favorite Tags" v-b-hover="handleHover">
                    <template v-slot:title-slot>
                        <div class="card-title">
                            Favorite Tags
                            <span class="dropdownmenu hidden float-right mr-2" v-cloak>
                                <dropdown-menu
                                    v-model="show"
                                    :right="right"
                                    transition="translate-fade-down"
                                    class="text-center"
                                >
                                    <font-awesome-icon icon="ellipsis-v" class="burger-menu"></font-awesome-icon>
                                    <div slot="dropdown">
                                        <a class="dropdown-item" href="#" @click="chooseTag()">Add tag</a>
                                    </div>
                                </dropdown-menu>
                            </span>
                        </div>
                    </template>

                    <template v-slot:content>
                        <ul class="list-unstyled">
                            <li v-for="tag in tagList" class="d-flex px-2">
                                <div class="flex-fill"><a :href="tag.url">[[ tag.name ]]</a></div>
                                <div class="text-info">[[ tag.progress ]]%</div>
                            </li>
                        </ul>
                    </template>
                </card>
            </div>

            <div class="right-column">
                <card>
                    <template v-slot:title-slot>
                        <h5>Random tag: <a href="{{ random_tag.url }}">{{ random_tag.name }}</a></h5>
                    </template>
                    <template v-slot:content>
                        <div class="d-flex">
                            <div class="flex-grow-1 d-flex justify-content-center align-items-center">
                                <ul class="list-unstyled">
                                    <li>Last Reviewed <br/> <strong>{{ random_tag.last_reviewed }}</strong></li>
                                </ul>
                            </div>
                            <div class="flex-grow-1 text-center">
                                <div class="demo" class="pt-5">
                                    <svg width="120" height="120" viewBox="0 0 120 120">
                                        <circle cx="60" cy="60" :r="circleRadius" fill="none" stroke="#262c49" stroke-width="12" />
                                        <circle cx="60" cy="60" :r="circleRadius" fill="none" stroke="#7fffd4" stroke-width="12" :stroke-dasharray="strokeDashArray" :stroke-dashoffset="getDashOffset({{ random_tag.progress }})" />
                                        <text x="50%" y="50%" text-anchor="middle" dy=".3em" font-size="30px" fill="#fff">{{ random_tag.progress }}%</text>
                                    </svg>
                                </div>
                                <span class="text-secondary mt-2">{{ random_tag.count }} question{{ random_tag.count|pluralize }}</span>
                            </div>
                        </div>
                    </template>
                </card>
            </div>

            <tag-search inline-template ref="tagSearch">
                <div class="modal fade" id="modalAddTag" tabindex="-1" role="dialog">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="myModalLabel">Add tag</h4>
                                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
                            </div>
                            <div class="modal-body">
                                <form method="get" autocomplete="off">
                                    <div class="form-row align-items-center">
                                        <div class="form-row">
                                            <simple-suggest
                                                ref="simpleSuggest"
                                                search-url="{% url 'drill:search_tags' %}?query="
                                                place-holder="Tag Search"
                                            >
                                            </simple-suggest>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </tag-search>

        </div>

    </div>

{% endblock %}

{% block javascript %}

    {{ block.super }}

    <script type="text/javascript" charset="utf-8">

        const EventBus = new Vue();

        new Vue({
            el: "#vue-app-left"
        });

        new Vue({
            el: "#vue-app",
            data() {
                return {
                    circleRadius: 54
                }
            },
            computed: {
                strokeDashArray: function() {
                    return 2 * 3.14 * this.circleRadius;
                }
            },
            methods: {
                getDashOffset(progress) {
                    return this.strokeDashArray * (1 - progress/100)
                },
                round: function(progress) {
                    return Math.round(progress);
                }
            }
        });

        new Vue({
            el: "#tag-search",
            data() {
                return {
                    tag: {},
                    circleRadius: 54
                }
            },
            computed: {
                strokeDashArray: function() {
                    return 2 * 3.14 * this.circleRadius;
                }
            },
            methods: {
                select(datum) {
                    this.tag = datum;
                },
                getDashOffset(progress) {
                    return this.strokeDashArray * (1 - progress/100)
                },
                round: function(progress) {
                    return Math.round(progress);
                },
                getQuestionCountString: function(count) {
                    return count + " " + pluralize("question", count);
                }
            }
        });

        const TagSearch = {
            methods: {
                select(selection) {

                    EventBus.$emit("add-tag", selection.value);
                    $("#modalAddTag").modal("hide");

                    this.$nextTick(() => {
                        this.$refs.simpleSuggest.$refs.suggestComponent.$el.querySelector("input").blur();
                        this.$refs.simpleSuggest.$refs.suggestComponent.setText("");
                    });

                },
            },
            components: {
                SimpleSuggest
            }
        };

        new Vue({
            el: "#favorite_tags",
            components: {
                TagSearch
            },
            data() {
                return {
                    show: false,
                    right: true,
                    interactive: true,
                    tagList: [],
                    circleRadius: 54
                }
            },
            computed: {
                strokeDashArray: function() {
                    return 2 * 3.14 * this.circleRadius;
                }
            },
            methods: {

                getTagList() {
                    doGet(
                        this,
                        "{% url "drill:get_favorite_tags" %}",
                        (response) => {
                            this.tagList = response.data.tag_list;
                        },
                        "Error getting favorite tags"
                    );
                },

                handleHover(hovered, evt) {

                    evt.currentTarget.querySelector(".dropdownmenu").classList.remove("hidden");
                    if (hovered == true) {
                        evt.currentTarget.querySelector(".dropdownmenu").classList.remove("hidden");
                    } else {
                        evt.currentTarget.querySelector(".dropdownmenu").classList.add("hidden");
                    };
                },

                chooseTag() {

                    $("#modalAddTag").modal("show");
                    setTimeout( () => { this.$refs.tagSearch.$refs.simpleSuggest.$refs.suggestComponent.input.focus(); }, 500)

                },

                addTag(tag) {
                    doPost(
                        this,
                        "{% url "drill:add_favorite_tag" %}",
                        {
                            "tag": tag
                        },
                        (response) => {
                            this.getTagList();
                        },
                        "Tag added",
                        ""
                    );

                },

                getDashOffset(progress) {
                    return this.strokeDashArray * (1 - progress/100)
                },

                round: function(progress) {
                    return Math.round(progress);
                }

            },
            mounted() {

                EventBus.$on("add-tag", payload => {
                    this.addTag(payload);
                });

                this.getTagList();

            }

        });

    </script>

{% endblock %}
