{% extends "base.html" %}

{% block title %} Drill :: {{ title }} {% endblock %}

{% block content %}

    <div class="row no-gutters">

        <div class="col-lg-3 d-flex flex-column" id="vue-app-left">

            <div class="card-body">

                <div>
                    Click the Start button to drill on random questions or select a tag on the right to drill on a specific category.
                </div>

                <br />

                <div>
                    <form action="{% url 'drill:study_random' %}">
                        <input class="btn btn-primary" type="submit" value="Start" id="random_mode" />
                    </form>
                </div>

                <hr />

                <div>
                    <a href="{% url 'drill:add' %}" class="btn btn-primary" role="button"><font-awesome-icon icon="plus" class="mr-2"></font-awesome-icon>Add Question</a>
                </div>

            </div>

        </div>

        <div class="col-lg-3" id="vue-app">

            <div class="d-flex flex-grow-1">
                <card title="Total Progress">
                    <template v-slot:content>
                        <div class="d-flex">
                            <div class="d-flex justify-content-center align-items-center">
                                Percentage across all tags of questions not needing review
                            </div>
                            <div class="mr-5 text-center">
                                <div class="demo" class="pt-5">
                                    <svg width="120" height="120" viewBox="0 0 120 120">
                                        <circle cx="60" cy="60" :r="circleRadius" fill="none" stroke="#262c49" stroke-width="12" />
                                        <circle cx="60" cy="60" :r="circleRadius" fill="none" stroke="#7fffd4" stroke-width="12" :stroke-dasharray="strokeDashArray" :stroke-dashoffset="getDashOffset({{ total_progress }})" />
                                        <text x="50%" y="50%" text-anchor="middle" dy=".3em" font-size="30px" fill="#fff">[[ round({{ total_progress }}) ]]%</text>
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </template>
                </card>
            </div>

            <card title="Tags still learning">

                <template v-slot:content>
                    <ul class="list-unstyled">
                        <li class="d-flex table_header px-2 py-1 mb-2">
                            <div class="flex-fill font-weight-bold">Tag</div>
                            <div class="font-weight-bold">Question Count</div>
                        </li>
                        {% for tag in tags_still_learning %}
                            <li class="d-flex px-2">
                                <div class="flex-fill"><a href="{% url 'drill:study_tag' tag.name %}">{{ tag.name }}</a></div>
                                <div class="text-info">{{ tag.count }}</div>
                            </li>
                        {% endfor %}
                    </ul>
                </template>

            </card>

        </div>

        <div class="col-lg-3" id="tag-search">

            <div class="mb-2" style="margin-left: 15px">
                <simple-suggest
                    ref="simpleSuggest"
                    search-url="{% url 'drill:search_tags' %}?query="
                    place-holder="Tag Search"
                >
                </simple-suggest>
            </div>

            <div class="d-flex flex-grow-1" v-if="tag.value">
                <card>
                    <template v-slot:title-slot>
                        <h6><a :href="tag.link">[[ tag.value ]]</a></h6>
                    </template>
                    <template v-slot:content>
                        <div class="d-flex">
                            <div class="flex-grow-1 d-flex justify-content-center align-items-center">
                                <ul class="list-unstyled">
                                    <li>Last Reviewed <br/> <strong>[[ tag.info.last_reviewed ]]</strong></li>
                                </ul>
                            </div>
                            <div class="flex-grow-1 text-center">
                                <div class="demo" class="pt-5">
                                    <svg width="120" height="120" viewBox="0 0 120 120">
                                        <circle cx="60" cy="60" :r="circleRadius" fill="none" stroke="#262c49" stroke-width="12" />
                                        <circle cx="60" cy="60" :r="circleRadius" fill="none" stroke="#7fffd4" stroke-width="12" :stroke-dasharray="strokeDashArray" :stroke-dashoffset="getDashOffset(tag.info.progress)" />
                                        <text x="50%" y="50%" text-anchor="middle" dy=".3em" font-size="30px" fill="#fff">[[ round(tag.info.progress) ]]%</text>
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </template>
                </card>
            </div>

            <card title="Tags needing review">

                <template v-slot:content>
                    <ul class="list-unstyled">
                        <li class="d-flex table_header px-2 py-1 mb-2">
                            <div class="flex-fill font-weight-bold">Tag</div>
                            <div class="font-weight-bold">Last Reviewed</div>
                        </li>
                        {% for tag in tags_needing_review %}
                            <li class="d-flex px-2">
                                <div class="flex-fill"><a href="{% url 'drill:study_tag' tag.name %}">{{ tag.name }}</a></div>
                                <div class="text-info">{{ tag.last_reviewed|default:"Never" }}</div>
                            </li>
                        {% endfor %}
                    </ul>
                </template>

            </card>

            <div class="card-grid">

                <div id="search">
                    {% include "common/show_messages.html" %}
                </div>

                <div class="row">
                    <div class="col-lg-12">
                        {% include "common/datatable.html" with data=info cols=cols id="drill_list" %}
                    </div>
                </div>

            </div>
        </div>

        <div class="col-lg-3" id="favorite_tags">

            <card title="Favorite Tags">
                <template v-slot:content>
                Favorite Tags Yo
                </template>
            </card>

        </div>

    </div>

{% endblock %}

{% block javascript %}

    {{ block.super }}

    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.20/sl-1.3.1/datatables.min.js"></script>

    <script type="text/javascript" charset="utf-8">

        new Vue({
            delimiters: ["[[", "]]"],
            el: "#search",
            methods: {
                select(tag) {
                    window.location='{% url 'drill:study_tag' 666 %}'.replace(/666/, tag.value);
                }
            },
            components: {
                SimpleSuggest
            }
        });

        var table;

        $(document).ready(function() {

            function formatName( data, type, row ) {
                return '<a href="{% url 'drill:study_tag' 666 %}">'.replace(/666/, row[0]) + row[0] + '</a>';
            }

            table = $('#drill_list').DataTable( {
                initComplete: function () {
                    var api = this.api();
                    $('#drill_list').show();
                    api.columns.adjust();
                },
                "info": false,
                "paginate": false,
                "sorting": [[2, 'asc']],
                "filter": true,
                "language": {
                    "emptyTable": "No questions created"
                },
                "lengthChange": false,
                "dom": "<'row'<'col-lg-3'<'toolbar'>l>r>t<'row'<'float-right col-lg-4'p>>",
                "searchable": false,
                "columnDefs": [
                    { "targets": [0], "sorting": [ "desc", "asc" ], "render": formatName, "useRendered": false  },
                    { "targets": [2], "dataSort": 3 },
                    { "targets": [3,4], "visible": false },
                ],
            } );

        });

        new Vue({
            el: "#vue-app-left"
        });

        new Vue({
            el: "#vue-app",
            data() {
                return {
                    circleRadius: 54
                }
            },
            computed: {
                strokeDashArray: function() {
                    return 2 * 3.14 * this.circleRadius;
                }
            },
            methods: {
                getDashOffset(progress) {
                    return this.strokeDashArray * (1 - progress/100)
                },
                round: function(progress) {
                    return Math.round(progress);
                }
            }
        });

        new Vue({
            el: "#tag-search",
            data() {
                return {
                    tag: {},
                    circleRadius: 54
                }
            },
            computed: {
                strokeDashArray: function() {
                    return 2 * 3.14 * this.circleRadius;
                }
            },
            methods: {
                select(datum) {
                    this.tag = datum;
                },
                getDashOffset(progress) {
                    return this.strokeDashArray * (1 - progress/100)
                },
                round: function(progress) {
                    console.log(progress);
                    return Math.round(progress);
                }
            }
        });

        new Vue({
            el: "#favorite_tags"
        });

    </script>

{% endblock %}
