{% extends "base.html" %}

{% block title %} Drill :: Question {% endblock %}

{% block nav %}

    <div class="d-flex mb-3" id="vue-nav">

        <div class="mr-auto align-self-center">
            <ul class="breadcrumb mb-0 pt-0 pb-0">
                <li class="breadcrumb-item"> <a href="{% url 'drill:list' %}"><font-awesome-icon icon="home"></font-awesome-icon></a> </li>
                <li class="breadcrumb-item active"> {% include "drill/nav-session.html" %} </li>
            </ul>
        </div>

        <div class="right-column">
            {% if object.tags.all %}
                <a href="{% url 'drill:add_with_tag' object.tags.all.0 %}" class="btn btn-primary" role="button"><font-awesome-icon icon="plus" class="mr-2"></font-awesome-icon>Add Question</a>
            {% else %}
                <a href="{% url 'drill:add' %}" class="btn btn-primary" role="button"><font-awesome-icon icon="plus" class="mr-2"></font-awesome-icon>Add Question</a>
            {% endif %}
        </div>

    </div>

{% endblock %}

{% block content %}

    <div class="row no-gutters h-100" id="vue-app">

        <div class="col-lg-3 d-flex flex-column">

            <div class="card-body flex-grow-0">

                <div class="d-flex">
                    <div class="flex-grow-1">
                        <ul class="list-unstyled mb-0">
                            <li class="d-flex">
                                <div class="flex-fill font-weight-bold">Mode</div>
                                <div class="text-info">{{ state_name }}</div>
                            </li>
                            {% if state_name == 'Learning' %}
                                <li class="d-flex">
                                    <div class="flex-fill font-weight-bold">Learning step</div>
                                    <div class="text-info"><strong class="text-info">{{ question.learning_step }}</strong> out of {{ learning_step_count  }}</div>
                                </li>
                            {% endif %}
                            {% if state_name != 'New' %}
                                <li class="d-flex">
                                    <div class="flex-fill font-weight-bold">Last reviewed</div>
                                    <div class="text-info">{{ question.last_reviewed|date:"F j, Y"|default:"Never" }}</div>
                                </li>
                            {% endif %}
                            <li class="d-flex">
                                <div class="flex-fill font-weight-bold">Interval</div>
                                <div class="text-info">{{ question.interval.days }} day{{ question.interval.days|pluralize:"s" }}</div>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>

            <drill-bookmarks
                question-uuid="{{ object.uuid }}"
                get-bookmark-list-url="{% url 'drill:get_bookmark_list' '00000000-0000-0000-0000-000000000000' %}"
                sort-bookmark-list-url="{% url 'drill:sort_bookmark_list' %}"
                add-bookmark-url="{% url 'drill:add_bookmark' %}"
                remove-bookmark-url="{% url 'drill:remove_bookmark' %}"
                edit-bookmark-note-url="{% url 'drill:edit_bookmark_note' %}"
                search-url="{% url 'bookmark:search' %}?term="
                get-title-from-url-url="{% url 'drill:get_title_from_url' %}"
                create-bookmark-url="{% url 'bookmark-list' %}"
            >
            </drill-bookmarks>

            <div class="d-flex flex-grow-1">
                <card title="Tag Progress">
                    <template v-slot:content>
                        <div class="d-flex flex-wrap">
                        {% for tag in tag_info %}
                            <drill-tag-progress
                                :count={{ tag.count }}
                                :progress={{ tag.progress }}
                            >
                                <template v-slot:title-slot>
                                    <span class="text-info mt-2 mb-2">{{ tag.name }}</span>
                                </template>
                            </drill-tag-progress>
                        {% endfor %}
                        </div>
                    </template>
                </card>
            </div>

        </div>

        <div class="col-lg-9">

            <div class="right-column">
                <div class="card-body right-column">

                    <div class="d-flex">
                        <h3 class="drill-text table-borders markdown" v-html="getQuestion()" />
                            <div class="ml-auto pt-4">
                                <font-awesome-icon icon="heart" :class="heartClass" @click="onClick" data-toggle="tooltip" data-placement="bottom" :title="toolTip"></font-awesome-icon>
                            </div>
                    </div>

                    {% if object.tags.all %}
                        Tags:
                        {% for tag in object.tags.all %}
                            <a class="badge badge-info" href="{% url 'drill:start_study_session_tag' tag.name %}">{{ tag.name }}</a>
                        {% endfor %}
                        <br /><br />
                    {% endif %}

                    <a href="{% url 'drill:answer' question.uuid %}" class="btn btn-primary" role="button">Show Answer</a>
                    <a href="{% url 'drill:study' %}" class="btn btn-primary" role="button">Skip</a>

                    <form action="{% url 'drill:update' question.uuid %}" class="mt-2 float-right">
                        <input type="submit" class="btn btn-primary" value="Update">
                    </form>

                </div>
            </div>

        </div>

        </div>

{% endblock %}

{% block javascript %}

    {{ block.super }}

    <script type="text/javascript" id="MathJax-script" async
        src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
    </script>

    <script type="text/javascript">

        window.MathJax = {
            tex: {
                inlineMath: [ ["\\(","\\)"], ["$$", "$$"] ],
                displayMath: [ ["\\[","\\]"] ],
                processEscapes: true,
                processEnvironments: true
            },
        };

        new Vue({
            el: "#vue-nav",
            name: "Nav"
        });

        new Vue({
            el: "#vue-app",
            data() {
                return {
                    is_favorite: {{ question.is_favorite|yesno:"true,false" }},
                }
            },
            methods: {
                onClick() {
                    this.is_favorite = !this.is_favorite;
                    doPost(
                        this,
                        "{% url "drill:is_favorite_mutate" %}",
                        {
                            "question_uuid": "{{ question.uuid }}",
                            "mutation": this.is_favorite ? "add" : "delete"
                        },
                        (response) => {},
                        ""
                    );
                },
                getQuestion() {
                    return markdown.render("{{ question.question|escapejs }}")
                }
            },
            computed: {
                heartClass: function() {
                    return this.is_favorite ? "favorite" : ""
                },
                toolTip: function() {
                    return this.is_favorite ? "Remove this as a favorite" : "Set this as a favorite"
                }
            },

        });

    </script>

{% endblock %}
