{% extends "base.html" %}

{% block title %} Drill :: Question {% endblock %}

{% block nav %}

    <div class="d-flex mb-3 me-3" id="vue-nav">

        <div class="me-auto align-self-center">
            <ul class="breadcrumb mb-0 pt-0 pb-0">
                <li class="breadcrumb-item"> <a href="{% url 'drill:list' %}"><font-awesome-icon icon="home" class="icon-hover"></font-awesome-icon></a> </li>
                <li class="breadcrumb-item active">{% include "drill/nav-session.html" %}</li>
            </ul>
        </div>

        <div id="icon-list" class="d-flex align-items-center">
            <font-awesome-icon icon="heart" class="icon-hover glow" :class="favoriteClass" @click="onClickFavorite" data-bs-toggle="tooltip" data-placement="bottom" :title="toolTip"></font-awesome-icon>
            <font-awesome-icon :icon="['fab', 'python']" class="glow text-info ms-3" @click="showPythonConsole" data-bs-toggle="tooltip" data-placement="bottom" title="Open Python Console"></font-awesome-icon>
            <a href="{% if object.tags.all %}{% url 'drill:add_with_tag' object.tags.all.0 %}{% else %}{% url 'drill:add' %}{% endif %}">
                <font-awesome-icon icon="plus" class="glow text-info ms-3" data-bs-toggle="tooltip" data-placement="bottom" title="Add a Question"></font-awesome-icon>
            </a>
        </div>

    </div>

{% endblock %}

{% block content %}

    <div class="row g-0 h-100 mx-2" id="vue-app">

        <div class="flex-grow-last col-lg-3 d-flex flex-column">

            <div class="card-body flex-grow-0 backdrop-filter">

                <div class="d-flex">
                    <div class="flex-grow-1">
                        <ul class="list-unstyled mb-0">
                            <li class="d-flex">
                                <div class="flex-fill fw-bold">Mode</div>
                                <div class="text-info">{{ state_name }}</div>
                            </li>
                            {% if state_name == 'Learning' %}
                                <li class="d-flex">
                                    <div class="flex-fill fw-bold">Learning step</div>
                                    <div class="text-info"><strong class="text-info">{{ question.learning_step }}</strong> out of {{ learning_step_count  }}</div>
                                </li>
                            {% endif %}
                            {% if state_name != 'New' %}
                                <li class="d-flex">
                                    <div class="flex-fill fw-bold">Reviewed</div>
                                    <div class="text-info text-end">{{ question.last_reviewed|date:"F j, Y"|default:"Never" }}</div>
                                </li>
                                <li class="d-flex">
                                    <div class="flex-fill fw-bold">Last Response</div>
                                    <div class="text-info text-end">{{ last_response.response|default:"N/A"|capfirst }}</div>
                                </li>
                            {% endif %}
                            <li class="d-flex">
                                <div class="flex-fill fw-bold">Interval</div>
                                <div class="text-info">{{ question.interval.days }} day{{ question.interval.days|pluralize:"s" }}</div>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>

            <related-bookmarks-list
                ref="relatedBookmarksList"
                object-uuid="{{ object.uuid }}"
                model-name="drill.Question"
                get-bookmark-list-url="{% url 'bookmark:get_related_bookmark_list' object.uuid %}?model_name=drill.Question"
                add-bookmark-url="{% url 'bookmark:add_related_bookmark' %}"
                :update-modified="true"
                remove-bookmark-url="{% url 'bookmark:remove_related_bookmark' %}"
                sort-bookmark-list-url="{% url 'bookmark:sort_related_bookmarks' %}"
                edit-bookmark-note-url="{% url 'bookmark:edit_related_bookmark_note' %}"
                :show-add-button="true"
                transition-name=""
            >
            </related-bookmarks-list>

            <bookmark-select
                ref="bookmarkSearch"
                search-url="{% url 'bookmark:search' %}"
                create-bookmark-url="{% url 'bookmark-list' %}"
                get-title-from-url-url="{% url 'drill:get_title_from_url' %}"
                @select-bookmark="selectBookmark"
            >
            </bookmark-select>

            <drill-blobs
                question-uuid="{{ object.uuid }}"
                get-blob-list-url="{% url 'drill:get_blob_list' '00000000-0000-0000-0000-000000000000' %}"
                sort-blob-list-url="{% url 'drill:sort_blob_list' %}"
                add-blob-url="{% url 'drill:add_blob' %}"
                remove-blob-url="{% url 'drill:remove_blob' %}"
                edit-blob-note-url="{% url 'drill:edit_blob_note' %}"
                search-blob-url="{% url 'search:search_names' %}?doc_type=blob,book,document,note"
                recent-blobs-url="{% url "blob:recent_blobs" %}"
            >
            </drill-blobs>

            <card title="Tag Progress" class="flex-grow-0 backdrop-filter">
                <template v-slot:content>
                    <hr class="filter-divider mt-0" />
                    <div class="d-flex flex-column justify-content-center">
                        {% for tag in tag_info %}
                            <drill-tag-progress
                                :count={{ tag.count }}
                                :progress={{ tag.progress }}
                            >
                                <template v-slot:title-slot>
                                    <span class="text-info mt-2 mb-2">{{ tag.name }}</span>
                                </template>
                            </drill-tag-progress>
                        {% endfor %}
                    </div>
                </template>
            </card>

            <related-tags
                class="mx-2"
                related-tags-url="{% url 'tag:get_related_tags' %}"
                doc-type="drill"
                :initial-tags="['{{ request.session.drill_study_session.tag }}']"
            >
            </related-tags>

        </div>

        <div class="col-lg-9">

            <div class="card-body me-2">

                <div class="d-flex">
                    <h3 class="drill-text table-borders table-colors markdown mw-100 w-100" v-html="getQuestion()">
                    </h3>
                </div>

                 {% if question.tags.all %}

                    Tags:
                    {% for tag in question.tags.all %}
                        <a class="tag" href="{% url 'drill:start_study_session_tag' tag.name %}">{{ tag.name }}</a>
                    {% endfor %}
                    <br /><br />

                 {% endif %}

                 <div class="d-flex">
                     <a href="#" class="btn btn-primary" role="button" @click.prevent="setMode('answer')">Show Answer</a>
                     <a href="{% url 'drill:study' %}" class="btn btn-primary ms-2" role="button">Skip</a>
                     <a href="{% url 'drill:update' question.uuid %}?return_url={{ request.get_full_path }}" class="btn btn-primary ms-auto" role="button">Update</a>
                 </div>
                 <transition name="fade">
                     <div v-if="mode === 'answer'">
                         <div>
                             <hr class="divider" />
                             <h3 class="drill-text table-borders table-colors markdown" v-html="getAnswer()">
                             </h3>

                             <div class="d-flex">
                                 <a href="{% url 'drill:record_response' question.uuid 'good' %}" class="btn btn-primary" role="button">Good</a>
                                 {% if state_name == 'Reviewing' %}
                                     <a href="{% url 'drill:record_response' question.uuid 'hard' %}" class="btn btn-primary ms-2" role="button">Hard</a>
                                 {% endif %}
                                 <a href="{% url 'drill:record_response' question.uuid 'easy' %}" class="btn btn-primary ms-2" role="button">Easy</a>
                                 <a href="{% url 'drill:record_response' question.uuid 'again' %}" class="btn btn-primary ms-2" role="button">Reset</a>
                                 <a href="{% url 'drill:study' %}" class="btn btn-primary ms-2" role="button">Skip</a>
                             </div>
                         </div>
                     </div>
                 </transition>

            </div>

            <div class="card-body me-3" :class="{'d-none': !this.$store.state.showPythonConsole}">
                <python-console
                    ref="pythonConsole"
                >
                </python-console>
            </div>

        </div>
    </div>

{% endblock %}

{% block javascript %}

    {{ block.super }}

    <script type="text/javascript" id="MathJax-script" async
        src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
    </script>

    <script src="https://cdn.jsdelivr.net/pyodide/v0.19.1/full/pyodide.js"></script>

    <script type="text/javascript">

        window.MathJax = {
            tex: {
                inlineMath: [["\\(", "\\)"], ["$$", "$$"]],
                displayMath: [["\\[", "\\]"]],
                processEscapes: true,
                processEnvironments: true,
            },
        };

        const store = new Vuex.Store({
            state: {
                showPythonConsole: false,
            },
            getters: {},
            mutations: {},
        });

        new Vue({
            el: "#vue-nav",
            name: "Nav",
            store,
            data() {
                return {
                    is_favorite: {{ question.is_favorite|yesno:"true,false" }},
                }
            },
            computed: {
                favoriteClass: function() {
                    return this.is_favorite ? "favorite" : "text-info";
                },
                toolTip: function() {
                    return this.is_favorite ? "Remove this as a favorite" : "Add this as a favorite";
                },
            },
            methods: {
                onClickFavorite() {
                    this.is_favorite = !this.is_favorite;
                    doPost(
                        this,
                        "{% url "drill:is_favorite_mutate" %}",
                        {
                            "question_uuid": "{{ question.uuid }}",
                            "mutation": this.is_favorite ? "add" : "delete",
                        },
                        (response) => {},
                        "",
                    );
                },
                showPythonConsole() {
                    this.$store.state.showPythonConsole = true;
                    EventBus.$emit("show-python-console", this.$store.state.showPythonConsole);
                }
            }
        });

        new Vue({
            el: "#vue-app",
            name: "Question",
            store,
            components: {
                PythonConsole,
            },
            data() {
                return {
                    mode: "question",
                };
            },
            mounted() {

                let self = this;

                hotkeys.filter = function(event) {
                    // By default hotkeys filters form elements. Eliminate that
                    // filter so we can capture ctrl-return events from
                    // the Python console textarea.
                    return true;
                }

                hotkeys("ctrl+return,right,space,e,g,h,r", function (event, handler) {
                    // Ignore event if the user is typing in an "INPUT" element
                    if (document.activeElement.tagName === "INPUT") {
                        return;
                    }
                    if (event.target.parentElement.classList.contains("code-input")) {
                        if (handler.key === "ctrl+return") {
                            self.$refs.pythonConsole.evaluatePython();
                        }
                        return;
                    }
                    switch (handler.key) {
                        case "right":
                            window.location = "{% url "drill:study" %}";
                            break;
                        case "space":
                            self.setMode("answer");
                            break;
                        case "e":
                            if (self.mode === "answer") {
                                window.location = "{% url 'drill:record_response' question.uuid 'easy' %}";
                            }
                            break;
                        case "g":
                            if (self.mode === "answer") {
                                window.location = "{% url 'drill:record_response' question.uuid 'good' %}";
                            }
                            break;
                        case "h":
                            if (self.mode === "answer") {
                                window.location = "{% url 'drill:record_response' question.uuid 'hard' %}";
                            }
                            break;
                        case "r":
                            if (self.mode === "answer") {
                                window.location = "{% url 'drill:record_response' question.uuid 'again' %}";
                            }
                            break;
                    }
                });

                EventBus.$on("show-python-console", (payload) => {
                    this.$refs.pythonConsole.initialize();
                });

            },
            methods: {
                setMode(mode) {
                    this.mode = mode;
                },
                getQuestion() {
                    return markdown.render("{{ question.question|escapejs }}");
                },
                getAnswer() {
                    return markdown.render("{{ question.answer|escapejs }}");
                },
                selectBookmark(bookmark) {
                    this.$refs.relatedBookmarksList.selectBookmark(bookmark);
                }
            },

        });

    </script>

{% endblock %}

{% block help %}

    <div class="d-none" id="help-text">
# Keyboard Shortcuts
- **Space** *-* Show Answer
- **Right-Arrow** *-* Skip
- **E** *-* Easy
- **G** *-* Good
- **H** *-* Hard
- **R** *-* Reset Question
    </div>

{% endblock %}
