{% extends "base.html" %}

{% block title %} Drill {% endblock %}

{% block nav %}

    <div class="mr-auto align-self-center">
        <ul class="breadcrumb mb-0 pt-0 pb-0">
            <li class="breadcrumb-item"> <a href="{% url 'drill:list' %}">Drill</a> </li>
            <li class="breadcrumb-item active">{{ action }} Question</li>
        </ul>
    </div>

{% endblock %}

{% block content %}

    <form id="question-form" action="{{ request.path }}" method="post">
        {% csrf_token %}

        {% for field in form %}
            {% if field.label == "Tags" %}

                <search inline-template>
                    <div>

                    {% include "common/show_messages.html" %}

                    <div class="form-group row{% if field.errors %} error{% endif %}">
                        <label class="col-lg-2 col-form-label" for="inputTitle">Tags</label>

                        <div class="col-lg-5">
                            <tags-input
                                search-url="{% url 'tag:search' %}?query="
                            >
                        </tags-input>
                        </div>
                        {% for error in field.errors %}
                            <span class="form-error">{{ error }}</span>
                        {% endfor %}
                    </div>

                    </div>
                </search>

            {% else %}

                <div class="form-group{% if field.errors %} error{% endif %} row">
                    <label class="col-lg-2 col-form-label" for="inputTitle">{{ field.label }}</label>

                    <div class="col-lg-5">
                        {{ field }}
                        {% for error in field.errors %}
                            <span class="form-error">{{ error }}</span>
                        {% endfor %}
                    </div>

                </div>

            {% endif %}
        {% endfor %}

        <div class="form-group">
            <div class="col-lg-5 offset-lg-2" id="button-wrapper">
                <input class="btn btn-secondary" type="submit" name="Go" value="{{ action }}" />
                <input v-if="enableDeleteButton" @click="handleClick" class="btn btn-secondary" type="submit" name="Go" value="Delete" />
                <a class="btn btn-secondary" href="{% url 'drill:list' %}">Cancel</a>
            </div>
        </div>

    </form>

{% endblock %}

{% block javascript %}

    {{ block.super }}

    {{ tags|json_script:"initial-tags"|default:"" }}

    <script type="text/javascript">

        Vue.mixin({ delimiters: ["[[", "]]"] });

        const Search = {
        };

        new Vue({
            el: "#question-form",
            data() {
                return {
                    enableDeleteButton: {% if object.id %}true{% else %}false{% endif %}
                }
            },
            methods: {
                handleClick: function() {
                    {% if object.uuid %}
                    document.getElementById("question-form").action = "{% url 'drill:delete' object.uuid %}";
                    {% endif %}
                }
            },
            components: {
                Search,
                TagsInput
            }
        });

    </script>

{% endblock %}
