{% extends "base.html" %}

{% block title %} Dril :: {{ action }} question {% endblock %}

{% block left-block %}
    <h2>{{ object.description }}</h2>
{% endblock %}

{% block content %}

    <div class="row">

        <div class="col-lg-12">

            {% block breadcrumbs %}
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"> <a href="{% url 'drill_list' %}">Tag Categories</a> </li>
                    <li class="breadcrumb-item active">{{ action }} question</li>
                </ul>
            {% endblock %}

        </div>

    </div>

    <form id="question-form" action="{{ request.path }}" method="post">
        {% csrf_token %}

        {% for field in form %}
            {% if field.label == "Tags" %}

                <div id="tagsearch">

                    {% include "common/show_messages.html" %}

                    <div class="form-group row{% if field.errors %} error{% endif %}">
                        <label class="col-lg-2 col-form-label" for="inputTitle">Tags</label>

                        <input type="hidden" name="tags" v-model="tagsHidden" />

                        <div class="col-lg-5" id="vue-wrapper">
                            <vue-tags-input
                              ref="tagsInputComponent"
                              v-model="tag"
                              :tags="tags"
                              @tags-changed=tagsChanged
                              :autocomplete-items="filteredItems"
                              :add-only-from-autocomplete="false"
                              placeholder=""
                            />
                        </div>
                        {% for error in field.errors %}
                            <span class="form-error">{{ error }}</span>
                        {% endfor %}
                    </div>
                </div>

            {% else %}

                <div class="form-group{% if field.errors %} error{% endif %} row">
                    <label class="col-lg-2 col-form-label" for="inputTitle">{{ field.label }}</label>

                    <div class="col-lg-5">
                        {{ field }}
                        {% for error in field.errors %}
                            <span class="form-error">{{ error }}</span>
                        {% endfor %}
                    </div>

                </div>

            {% endif %}
        {% endfor %}

        <div class="form-group">
            <div class="col-lg-5 offset-lg-2" id="button-wrapper">
                <input class="btn btn-secondary" type="submit" name="Go" value="{{ action }}" />
                {% if object.id %}
                    <input @click="handleClick" class="btn btn-secondary{% if not form.instance.id %} disabled{% endif %}" type="submit" name="Go" value="Delete" />
                {% endif %}
                <a class="btn btn-secondary" href="{% url 'drill_list' %}">Cancel</a>
            </div>
        </div>

    </form>

{% endblock %}

{% block javascript %}

    {{ block.super }}

    {{ tags|json_script:"initial-tags"|default:"" }}

    <script src="https://unpkg.com/@johmun/vue-tags-input/dist/vue-tags-input.js"></script>

    <script type="text/javascript">

        new Vue({
            delimiters: ["[[", "]]"],
            el: "#tagsearch",
            data() {
                return {
                    tag: "",
                    tags: [],
                    autocompleteItems: [],
                    tagsHidden: ""
                }
            },
            watch: {
                "tag": "initItems",
            },
            methods: {
                tagsChanged(newTags) {
                    this.tagsHidden=newTags.map(x => x.text).join(",")
                },
                initItems() {

                    // Set a minimum character count to trigger the ajax call
                    if (this.tag.length < 3) return;

                    return axios.get("{% url 'tag_search' %}?query=" + this.tag)
                                .then(response => {
                                    this.autocompleteItems = response.data.map(a => {
                                        return { text: a.value };
                                    })
                                })
                }
            },
            mounted() {
                initialTags = JSON.parse(document.getElementById("initial-tags").textContent);
                if (initialTags) {
                    this.tags = initialTags;
                    this.tagsHidden=initialTags.map(x => x.text).join(",")
                }
            },
            computed: {
                filteredItems() {
                    return this.autocompleteItems.filter(i => {
                        return i.text.toLowerCase().indexOf(this.tag.toLowerCase()) !== -1;
                    });
                }
            }
        });

        {% if object.id %}
        new Vue({
            delimiters: ["[[", "]]"],
            el: "#button-wrapper",
            methods: {
                handleClick: function() {
                    document.getElementById("question-form").action = "{% url 'question_delete' object.id %}";
                }
            }
        });
        {% endif %}

    </script>

{% endblock %}
