{% extends "base.html" %}

{% block title %} Drill {% endblock %}

{% block nav %}

    <div class="me-auto align-self-center mb-3">
        <ul class="breadcrumb mb-0 pt-0 pb-0">
            <li class="breadcrumb-item"> <a href="{% url 'drill:list' %}">Drill</a> </li>
            <li class="breadcrumb-item active">{{ action }} Question</li>
        </ul>
    </div>

{% endblock %}

{% block content %}

    <div class="row g-0 h-100 mx-2" id="vue-app">

        <div class="flex-grow-last col-lg-3 d-flex flex-column">

            <related-bookmarks-list
                ref="relatedBookmarksList"
                object-uuid="{{ object.uuid }}"
                model-name="drill.Question"
                {% if object.uuid %}
                    get-bookmark-list-url="{% url 'bookmark:get_related_bookmark_list' object.uuid %}?model_name=drill.Question"
                {% endif %}
                add-bookmark-url="{% url 'bookmark:add_related_bookmark' %}"
                :update-modified="true"
                remove-bookmark-url="{% url 'bookmark:remove_related_bookmark' %}"
                sort-bookmark-list-url="{% url 'bookmark:sort_related_bookmarks' %}"
                edit-bookmark-note-url="{% url 'bookmark:edit_related_bookmark_note' %}"
                :show-add-button="true"
                transition-name=""
                :new-question="newQuestion"
            >
            </related-bookmarks-list>

            <drill-blobs
                ref="relatedBlobsList"
                question-uuid="{{ object.uuid }}"
                get-blob-list-url="{% url 'drill:get_blob_list' '00000000-0000-0000-0000-000000000000' %}"
                sort-blob-list-url="{% url 'drill:sort_blob_list' %}"
                add-blob-url="{% url 'drill:add_blob' %}"
                remove-blob-url="{% url 'drill:remove_blob' %}"
                edit-blob-note-url="{% url 'drill:edit_blob_note' %}"
                search-blob-url="{% url 'search:search_names' %}?doc_type=blob,book,document,note"
                recent-blobs-url="{% url "blob:recent_blobs" %}"
                :new-question="newQuestion"
            >
            </drill-blobs>

            <card title="Recent Tags" class="backdrop-filter">
                <template v-slot:content>
                    <hr class="filter-divider" />
                    <ul class="list-group interior-borders">
                        {% for tag in recent_tags %}
                            <li class="list-with-counts text-info ps-2 py-1 pe-1 d-flex" @click.prevent="onClickTag('{{ tag.name }}')">
                                <div class="text-truncate">
                                    {{ tag.name }}
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </template>
            </card>

        </div>

        <div class="col-lg-9">

            <form @submit.prevent id="question-form" action="{{ request.path }}" method="post">
                <input type="hidden" name="related-bookmarks" />
                <input type="hidden" name="related-blobs" />
                <input type="hidden" name="return_url" value="{{ request.GET.return_url }}" />

        {% csrf_token %}

        {% for field in form %}
            {% if field.label == "Tags" %}

                <div class="row{% if field.errors %} error{% endif %} mb-3">
                    <label class="fw-bold col-lg-2 col-form-label text-end" for="inputTitle">Tags</label>
                    <div class="col-lg-7">
                        <tags-input
                            ref="tagsInput"
                            search-url="{% url 'tag:search' %}?query="
                        >
                        </tags-input>
                        {% for error in field.errors %}
                            <span class="form-error">Error: {{ error }}</span>
                        {% endfor %}
                    </div>
                </div>

            {% else %}

                <div class="{% if field.errors %} error{% endif %} row mb-3">
                    <label class="fw-bold col-lg-2 col-form-label text-end" for="inputTitle">
                        {{ field.label }}
                    </label>

                    <div class="col-lg-7">
                        {{ field }}
                        {% for error in field.errors %}
                            <span class="form-error">{{ error }}</span>
                        {% endfor %}
                    </div>

                </div>

            {% endif %}
        {% endfor %}

        <div>
            <div class="col-lg-7 offset-lg-2" id="button-wrapper">
                <input class="btn btn-primary ms-1" type="submit" name="Go" value="{{ action }}" @click="onClickEdit" />
                <input v-if="enableDeleteButton" @click="onClickDelete" class="btn btn-secondary ms-3" type="submit" name="Go" value="Delete" />
                <a class="ms-3" href="{% if request.GET.return_url %}{{ request.GET.return_url }}{% else %}{% url 'drill:list' %}{% endif %}">Cancel</a>
            </div>
        </div>
            </form>

        </div>

{% endblock %}

{% block javascript %}

    {{ block.super }}

    {{ tags|json_script:"initial-tags"|default:"" }}

    <script type="text/javascript">

        new Vue({
            el: "#vue-app",
            name: "EditQuestion",
            data() {
                return {
                    enableDeleteButton: {% if object.uuid %}true{% else %}false{% endif %},
                    newQuestion: {% if action == "Add" %}true{% else %}false{% endif %},
                };
            },
            methods: {
                onClickEdit() {
                    const form = document.getElementById("question-form");

                    bookmarkInfo = [];
                    this.$refs.relatedBookmarksList.bookmarkList.forEach((x) => {
                        bookmarkInfo.push(
                            {
                                "uuid": x.uuid,
                                "note": x.note
                            }
                        );
                    });
                    form.elements["related-bookmarks"].value = JSON.stringify(bookmarkInfo);

                    blobInfo = [];
                    this.$refs.relatedBlobsList.blobList.forEach((x) => {
                        blobInfo.push(
                            {
                                "uuid": x.uuid,
                                "note": x.note
                            }
                        );
                    });
                    form.elements["related-blobs"].value = JSON.stringify(blobInfo);

                    form.submit();
                },
                onClickDelete() {
                    {% if object.uuid %}
                    const form = document.getElementById("question-form");
                    form.action = "{% url 'drill:delete' object.uuid %}";
                    form.submit();
                    {% endif %}
                },
                onClickTag(tagName) {
                    let tagList = document.getElementsByName("tags")[0].value.split(",");
                    // Ignore if we've already added this tag
                    if (tagList.includes(tagName)) {
                        return;
                    }
                    this.$refs.tagsInput.addTag(tagName);
                }
            },
        });

    </script>

{% endblock %}
