{% extends "base.html" %}

{% block title %} Drill Search :: Search Results {% endblock %}

{% block nav %}

    <div class="mr-auto align-self-center">
        <ul class="breadcrumb mb-0 pt-0 pb-0">
            <li class="breadcrumb-item"> <a href="{% url 'drill:list' %}">Drill</a> </li>
            <li class="breadcrumb-item active">Search results: <strong>{{ search }}</strong></li>
        </ul>
    </div>

{% endblock %}

{% block content %}

    <div class="card-grid" id="vue-app">

    {% if info %}
        <div class="row">
            <div class="col-lg-12">
                <b-table
                    hover
                    primary-key="uuid"
                    :items="items"
                    :fields="fields"
                    selectable
                    select-mode="single"
                    selected-variant="custom"
                    sort-by="track"
                    ref="table"
                >
                    <template #cell(question)="data">
                        <a :href="data.item.question_url">[[ data.value ]]</a>
                    </template>

                </b-table>

            </div>
        </div>
    {% else %}
        <div class="card-grid ml-2 mr-2 mt-3">
            <div class="alert alert-warning">
                No questions found.
            </div>
        </div>
    {% endif %}

    </div>

{% endblock %}

{% block javascript %}

    {{ block.super }}

    <script type="text/javascript" charset="utf-8">

        Vue.mixin({ delimiters: ["[[", "]]"] });

        new Vue({
            el: "#vue-app",
            data() {
                return {
                    items: [
                        {% for question in info %}
                        {
                            "uuid": "{{ question.uuid }}",
                            "question_url": "{% url 'drill:detail' question.uuid %}",
                            "tags": "{{ question.tags }}",
                            "question": "{{ question.question|safe }}",
                            "answer": "{{ question.answer|safe }}",
                        },
                        {% endfor %}
                    ],
                    fields: [
                        {
                            key: "tags",
                            sortable: true
                        },
                        {
                            key: "question",
                            sortable: true
                        },
                        {
                            key: "answer",
                            sortable: true
                        }
                    ]
                }
            }
        });

    </script>

{% endblock %}
