{% extends "base.html" %}

{% block title %} Feeds {% endblock %}

{% block content %}

    <div id="vue-app">

        <div class="row no-gutters">

            <div class="col-lg-3 d-flex flex-column">
                <feed-info inline-template>
                    <card title="Feed Info">
                        <template v-slot:content>
                            <strong>Updated</strong>: [[ currentFeed.lastCheck ]]
                            <br />
                            <strong>Status</strong>: <font-awesome-icon class="ml-1" :class="status.class" :icon="status.font"></font-awesome-icon>
                            <br />
                            <div class="mt-3">
                                <add-button url="{% url 'feed:create' %}">
                                </add-button>
                            </div>
                        </template>
                    </card>
                </feed-info>
            </div>

            <div class="col-lg-3 d-flex flex-column">
                <div class="card-body">
                    <h3>Feed List</h3>
                    <hr />
                    <ul id="sort-container" class="feed-list">
                        <feed-list inline-template>
                            <div>
                                <draggable v-model="feedList" @change="onChange" ghost-class="collection_sortable-ghost" animation="500" forceFallback="true">
                                    <transition-group type="transition">
                                        <li v-for="feed in feedList" :key="feed.id" v-cloak>
                                            <a href="#" :data-id="feed.id" @click="onClick(feed)">[[ feed.name ]]</a>
                                            <span v-if="feed.lastResponseCode !== 200" class="list-annotation">[[ feed.lastResponseCode ]]</span>
                                        </li>
                                    </transition-group>
                                </draggable>
                                <div class="text-secondary" v-if="feedList.length === 0" v-cloak>
                                            No feeds found. <a href="{% url 'feed:create' %}">Add one here.</a>
                                </div>
                            </div>
                        </feed-list>
                    </ul>
                </div>
            </div>

            <div class="col-lg-6 d-flex flex-column">
                <div class="d-flex right-column flex-grow-1">
                    <url-list inline-template>
                        <div class="card-body">
                            <h3 id="feed-title" v-cloak><a :href="currentFeed.homepage">[[ currentFeed.name ]]</a></h3>
                            <hr />
                            <ul>
                                <li v-for="url in currentFeed.feedItems" v-cloak>
                                    <a :href="url.link">[[ url.title ]]</a>
                                </li>
                            </ul>
                        </div>
                    </url-list>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascript %}

    {{ block.super }}

    <script type="text/javascript">

        Vue.mixin({ delimiters: ["[[", "]]"] });

        const EventBus = new Vue();

        const FeedInfo = {
            data() {
                return {
                    currentFeed: 0,
                }
            },
            computed: {
                status: function() {
                    if (this.currentFeed.lastResponseCode === 200) {
                        return {
                            "class": "success",
                            "font": "check"
                        };
                    } else {
                        return {
                            "class": "failure",
                            "font": "exclamation-triangle"
                        };
                    }
                }
            },
            mounted() {

                EventBus.$on("showFeed", feed => {
                    this.currentFeed = feed;
                });

            }
        }

        const FeedList = {
            data() {
                return {
                    feedList: [
                        {% for feed in object_list %}
                        {
                            id: {{ feed.id }},
                            name: "{{ feed.name }}",
                            lastCheck: "{{ feed.last_check }}",
                            lastResponseCode: {{ feed.last_response_code|default:-1 }},
                            homepage: "{{ feed.homepage }}",
                            feedItems: [
                                {% for feed_item in feed.feeditem_set.all %}
                                {
                                    link: "{{ feed_item.link }}",
                                    title: "{{ feed_item.title|escapejs }}"
                                },
                                {% endfor %}
                            ]
                        },
                        {% endfor %}
                    ]
                }
            },
            methods: {
                onClick(feed) {
                    EventBus.$emit("showFeed", feed);

                    doPost(
                        this,
                        "{% url "accounts:store_in_session" %}",
                        {
                            "current_feed": feed.id
                        }
                        ,
                        (response) => {},
                        "",
                        ""
                    );

                },
                onChange(evt) {

                    const feedId = evt.moved.element.id;

                    // The backend expects the ordering to begin
                    // with 1, not 0, so add 1.
                    newPosition = evt.moved.newIndex + 1;

                    const bodyFormData = new URLSearchParams();
                    bodyFormData.append("feed_id", feedId);
                    bodyFormData.append("position", newPosition);

                    axios("{% url "feed:sort" %}", {
                        method: "POST",
                        data: bodyFormData
                    }).then(response => {
                        console.log("Success:", response);
                    })

                }
            },
            mounted() {
                currentFeed = this.feedList.find(element => element.id === {{ current_feed|safe }}.id);

                this.$nextTick(() => {
                    EventBus.$emit("showFeed", currentFeed);
                });
            }
        };

        const UrlList = {
            data() {
                return {
                    currentFeed: 0,
                }
            },
            mounted() {

                EventBus.$on("showFeed", feed => {
                    this.currentFeed = feed;
                });

            }
        }

        new Vue({
            el: "#vue-app",
            components: {
                FeedInfo,
                FeedList,
                UrlList
            }
        });

    </script>

{% endblock %}
