{% extends "base.html" %}

{% block title %} Feeds {% endblock %}

{% block content %}

<div class="row" id="vue-app">

    <div class="col-lg-4">
        <h3>Feed List</h3>
        <hr />
        <ul id="sort-container" class="feed-list">
            <feed-list inline-template>
                <div>
                    <draggable v-model="feedList" @change="onChange" ghost-class="collection_sortable-ghost" animation="500" forceFallback="true">
                        <transition-group type="transition">
                            <li v-for="feed in feedList" :key="feed.id" v-cloak>
                                <a href="#" :data-id="feed.id" @click="onClick">[[ feed.name ]]</a>
                            </li>
                        </transition-group>
                    </draggable>
                </div>
            </feed-list>
            {% for feed in feed_info %}
                <li>
                    <a href="#" id="link_{{ feed.feed.id }}">{{ feed.feed.name }}</a>
                    {% if feed.feed.last_response_code != 200 %}<span class="list_annotation">{{ feed.feed.last_response_code }}</span>{% endif %}
                </li>
            {% empty %}
                No feed subscriptions found. <a href="{% url 'feed_subscriptions' %}">Subscribe here.</a>
            {% endfor %}
        </ul>

    </div>

    <url-list inline-template>
        <div class="col-lg-6">
            <h3 id="feed-title" v-cloak><a :href="links.feed_homepage">[[ links.name ]]</a></h3>
            <hr />
            <ul>
                <li v-for="url in links.links" v-cloak>
                    <a :href="url.link">[[ url.title ]]</a>
                </li>
            </ul>
        </div>
    </url-list>

</div>

{% endblock %}

{% block javascript %}

    {{ block.super }}

    <script type="text/javascript">

        var feed_json_text = {{ json|safe }};

        Vue.mixin({ delimiters: ["[[", "]]"] });

        const EventBus = new Vue();

        const FeedList = {
            data() {
                return {
                    feedList: [
                        {% for feed in feed_info %}
                        {
                            id: {{ feed.feed.id }},
                            name: "{{ feed.feed.name }}",
                            lastResponseCode: {{ feed.feed.last_response_code }}
                        },
                        {% endfor %}
                    ]
                }
            },
            methods: {
                onClick(evt) {
                    const feedId = evt.srcElement.dataset.id;
                    EventBus.$emit("showFeed", feedId);

                    doPost(
                        this,
                        "{% url "store_in_session" %}",
                        {
                            "current_feed": feedId
                        }
                        ,
                        (response) => {},
                        "",
                        ""
                    );

                },
                onChange(evt) {

                    const feedId = evt.moved.element.id;

                    // The backend expects the ordering to begin
                    // with 1, not 0, so add 1.
                    newPosition = evt.moved.newIndex + 1;

                    const bodyFormData = new URLSearchParams();
                    bodyFormData.append("feed_id", feedId);
                    bodyFormData.append("position", newPosition);

                    axios("{% url "sort_feed" %}", {
                        method: "POST",
                        data: bodyFormData
                    }).then(response => {
                        console.log("Success:", response);
                    })

                }
            }
        };

        const UrlList = {
            data() {
                return {
                    currentFeed: {{ current_feed }},
                }
            },
            computed: {
                links() {
                    return feed_json_text[this.currentFeed];
                }
            },
            mounted() {

                EventBus.$on("showFeed", feedId => {
                    this.currentFeed = feedId;
                });

            }
        }

        new Vue({
            el: "#vue-app",
            components: {
                FeedList,
                UrlList
            }
        });


    </script>

{% endblock %}
