{% extends "base.html" %}

{% block title %} Feeds {% endblock %}

{% block extra_head %}
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui.min.js"></script>
{% endblock %}

{% block content %}

<script type="text/javascript">

    $(document).ready(function() {

        var feed_json_text = {{ json|safe }};

        $("a[id^='link_']").click( function(e) {
            var myMatches = this.getAttribute('id').match(/link_(.*)$/);
            var feed_id = myMatches[1];
        })

        $('#sort-container').sortable( {
            connectWith: '.feed-list',
            stop: function(event, ui) {

                // If the destination is the 'all feeds' list on the right and the feed is from the
                //  'current feeds' list on the left, then we're deleting the feed
                if ( ui.item.parent().attr('id') === 'sort-container-all' ) {
                    url = '{% url 'feed_unsubscribe' %}'
                } else {
                    url = '{% url 'sort_feed' %}'
                }

                var request = $.ajax({
                    url: url,
                    type: "POST",
                    data: { feed_id : ui.item.find('a').attr('id').split('_')[1], position:  (ui.item.index() + 1) },
                    dataType: "text"
                });

            }
        } );

        $('#sort-container-all').sortable( {

            connectWith: '.feed-list',
            stop: function(event, ui) {

                // If the destination is the 'all feeds' list on the right and the feed is also from the
                //  right, then the user is trying to sort this list, which isn't allowed.  Bail.
                if ( ui.item.parent().attr('id') === 'sort-container-all' ) {
                    return;
                }

                var request = $.ajax({
                    url: '{% url 'feed_subscribe' %}',
                    type: "POST",
                    data: { feed_id : ui.item.find('a').attr('id').split('_')[1], position:  (ui.item.index() + 1) },
                    dataType: "text"
                });

            }

        } );

});

</script>

<div class="row">

    <div class="col-lg-4">
        <h3>Subscribed Feeds</h3>
        <hr />
        <ul id="sort-container" class="feed-list">
            {% for feed in feed_info %}
                <li>
                    <a href="{% url 'feed_edit' feed.id %}" id="link_{{ feed.id }}">{{ feed.name }}</a>
                    {% if feed.feed.last_response_code != 200 %}<span class="list_annotation">{{ feed.feed.last_response_code }}</span>{% endif %}
                </li>
            {% empty %}
                Drag here to add new subscriptions.
            {% endfor %}
        </ul>

    </div>

    <div class="col-lg-6">
        <h3 id="feed-title">Available Feeds</h3>
        <hr />
        <ul id="sort-container-all" class="feed-list">
            {% for feed in feeds_not_subscribed %}
                <li>
                    <a href="{% url 'feed_edit' feed.id %}" id="link_{{ feed.id }}">{{ feed.name }}</a>
                    {% if feed.feed.last_response_code != 200 %}<span class="feed_not_200 small">{{ feed.feed.last_response_code }}</span>{% endif %}
                </li>
            {% endfor %}
        </ul>
    </div>

</div>

{% endblock %}
