{% extends "base.html" %}

{% block title %} Feeds {% endblock %}

{% block content %}

    <div class="row" id="vue-app">

        <div class="col-lg-4">
            <h3>Subscribed Feeds</h3>
            <hr />
            <ul class="feed-list">
                <feed-list-subscribed inline-template>
                    <div>
                        <draggable v-model="feedList" @change="onChange" ghost-class="collection_sortable-ghost" animation="500" forceFallback="true" group="feeds">
                            <transition-group type="transition">
                                <li v-for="feed in feedList" :key="feed.id" v-cloak>
                                    <a :href="feed.url" :data-id="feed.id">[[ feed.name ]]</a>
                                    <span v-if="feed.lastResponseCode != 200" class="list_annotation">[[ feed.lastResponseCode ]]</span>
                                </li>
                            </transition-group>
                        </draggable>
                        {% if not feed_info %}
                        Drag here to add new subscriptions.
                        {% endif %}
                    </div>
                </feed-list-subscribed>
            </ul>
        </div>

        <div class="col-lg-4">
            <h3>Available Feeds</h3>
            <hr />
            <ul class="feed-list">
                <feed-list-not-subscribed inline-template>
                    <div>
                        <draggable v-model="feedList" @change="onChange" ghost-class="collection_sortable-ghost" animation="500" forceFallback="true" group="feeds">
                            <transition-group type="transition">
                                <li v-for="feed in feedList" :key="feed.id" v-cloak>
                                    <a :href="feed.url" :data-id="feed.id">[[ feed.name ]]</a>
                                    <span v-if="feed.lastResponseCode != 200" class="list_annotation">[[ feed.lastResponseCode ]]</span>
                                </li>
                            </transition-group>
                        </draggable>
                    </div>
                </feed-list-not-subscribed>
            </ul>
        </div>

    </div>

{% endblock %}

{% block javascript %}

    {{ block.super }}

    <script type="text/javascript">

        var feed_json_text = {{ json|safe }};

        Vue.mixin({ delimiters: ["[[", "]]"] });

        const FeedListSubscribed = {
            data() {
                return {
                    feedList: [
                        {% for feed in feed_info %}
                        {
                            id: {{ feed.feed.id }},
                            name: "{{ feed.feed.name }}",
                            url: "{% url 'feed:edit' feed.feed.id %}",
                            lastResponseCode: {{ feed.feed.last_response_code }}
                        },
                        {% endfor %}
                    ]
                }
            },
            methods: {
                onChange(evt) {

                    if (evt.added) {

                        const feedId = evt.added.element.id;

                        // The backend expects the ordering to begin
                        // with 1, not 0, so add 1.
                        newPosition = evt.added.newIndex + 1;

                        doPost(
                            this,
                            "{% url "feed:subscribe" %}",
                            {
                                "feed_id": feedId,
                                "position": newPosition
                            }
                            ,
                            (response) => {},
                            "",
                            ""
                        );

                    } else if (evt.moved) {

                        const feedId = evt.moved.element.id;

                        // The backend expects the ordering to begin
                        // with 1, not 0, so add 1.
                        newPosition = evt.moved.newIndex + 1;

                        doPost(
                            this,
                            "{% url "feed:sort" %}",
                            {
                                "feed_id": feedId,
                                "position": newPosition
                            }
                            ,
                            (response) => {},
                            "",
                            ""
                        );

                    }

                }
            }
        };

        const FeedListNotSubscribed = {
            data() {
                return {
                    feedList: [
                        {% for feed in feeds_not_subscribed %}
                        {
                            id: {{ feed.id }},
                            name: "{{ feed.name }}",
                            url: "{% url 'feed:edit' feed.id %}",
                            lastResponseCode: {{ feed.last_response_code }}
                        },
                        {% endfor %}
                    ]
                }
            },
            methods: {
                onChange(evt) {

                    if (evt.added) {

                        const feedId = evt.added.element.id;

                        const bodyFormData = new URLSearchParams();
                        bodyFormData.append("feed_id", feedId);

                        axios("{% url "feed:unsubscribe" %}", {
                            method: "POST",
                            data: bodyFormData
                        }).then(response => {
                            console.log("Success:", response);
                        })

                    }

                }
            }
        }

        new Vue({
            el: "#vue-app",
            components: {
                FeedListNotSubscribed,
                FeedListSubscribed
            }
        });

    </script>

{% endblock %}
