{% extends "base.html" %}

{% block title %} Blob {% endblock %}

{% block content %}

    <script type="text/javascript">

        $(document).ready(function() {

            $("input[type='file']").change( function(){
                $("button[type='submit']").removeAttr("disabled");
                $("input[name='filename']").val( $('#new-blob').val() )
            });

        });

    </script>

    {% if message %}
        <div class="row">
            <div class="col-lg-7 col-lg-offset2">
                <div class="alert alert-danger">
                    {{ message }}
                </div>
            </div>
        </div>
    {% endif %}

    <form class="form-horizontal" enctype="multipart/form-data" action="{% url 'blob_add' %}" method="post">
        {% csrf_token %}

        <div class="row">

            <div class="col-lg-7 col-lg-offset2">

                <p class="lead">Choose blob from filesystem</p>

                <input type="hidden" name="filename" />

                <div class="form-group">
                    <div class="controls">
                        <input type="file" id="new-blob" name="blob" class="form-control col-lg-5" /> &nbsp; &nbsp;
                    </div>
                </div>

                <div class="form-group">
                    <div class="controls">
                        <input type="checkbox" name="store-on-filesystem" /> Store on filesystem
                        &nbsp; &nbsp;
                        <input type="checkbox" name="store-as-ebook" /> Store as ebook
                    </div>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-default" name="upload" disabled="true">Add</button>
                    <a class="btn btn-default" href="{% url 'music_list' %}">Cancel</a>
                </div>

            </div>

        </div>

    </form>

{% endblock %}
