{% extends "base.html" %}

{% load dict_get %}

{% block title %} Blob :: Detail {% endblock %}

{% block content %}

    <script type="text/javascript" charset="utf-8">

        $(document).ready(function() {

            $('#bookshelf-action').on('click', function() {
                if ($(this).attr('value') == 'Remove from Bookshelf') {
                    url = '{% url 'remove_from_bookshelf' %}'
                    button_value = 'Add to Bookshelf'
                } else {
                    url = '{% url 'add_to_bookshelf' %}'
                    button_value = 'Remove from Bookshelf'
                }
                $.ajax( { type: 'POST',
                          url: url,
                          data: {
                        id: {{ id }}
                    }
                          } ).done( function(data) {
                    $('#bookshelf-action').attr('value', button_value);
                    $('#bookshelf-feedback').fadeIn(1000).html(data.message);
                    setTimeout( function() {
                        $('#bookshelf-feedback').fadeOut(1000);
                    }, 3000);
                });
            });

        });

    </script>


    {% if content_type == 'audio/mpeg' %}

        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/jplayer.clean.player.light.css" />
        <script type="text/javascript" src="{{ STATIC_URL }}/js/jquery.jplayer.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}/js/jplayer.cleanskin.js"></script>

        <script type="text/javascript" charset="utf-8">

            $(document).ready(function() {

                $('.webPlayer').videoPlayer({
                    swfPath: "/js",
                    supplied: "mp3",
                    useStateClassSkin: true,
                    autoBlur: false,
                    smoothPlayBar: true,
                    keyEnabled: true,
                    remainingDuration: true,
                    toggleDuration: true,
                    volume: 1.0,
                    size: {
                        "width": "600px"
                    },
                    name: "{{ title }}",
                    "media": {
                        "mp3": "{{ STATIC_URL }}blobs/{{ object.get_url }}"
                    }
                });

            });

        </script>

    {% endif %}

    <div class="row">

        <div class="col-md-5">

            <h1>{{ title }}</h1>
            <h5>{{ object.get_edition_string }}</h5>
            <br />

            {% if error %}
                <div class="alert alert-danger">{{ error  }}</div>
            {% endif %}

            by {{ metadata.Author }}

            <br />

            {% if metadata|dict_get:"Publication Date" %}

            {{ metadata|dict_get:"Publication Date" }}

            <br />

            {% endif  %}

            <br />

            Tags: <strong>{{ object.get_tags }}</strong>

            <br /><br />

            {% if metadata.Url %}

            <strong><a href="{{ metadata.Url }}">Reference Link</a></strong>

            <br /><br />

            {% endif %}

            Object Type: <strong>{{ content_type }}</strong>

            <br /><br />

            {% if content_type == 'audio/mpeg' %}
                {% include "common/jplayer.html" %}
            {% endif %}

            <br /><br />

            <a href="{{ STATIC_URL }}blobs/{{ object.get_url }}" target="blob">Download</a>

            <br /><br />

            <form action="{% url 'blob_edit' object.sha1sum %}">
                <input type="submit" class="btn btn-primary" value="Edit">
            </form>

            <br /><br />
            {% if on_bookshelf %}
                <input id="bookshelf-action" type="button" class="btn btn-primary" value="Remove from Bookshelf">
            {% else %}
                <input id="bookshelf-action" type="button" class="btn btn-primary" value="Add to Bookshelf">
            {% endif %}

            <span id="bookshelf-feedback"></span>

        </div>

        <div class="col-md-4">

            {% if cover_url %}
                <img src="{{ STATIC_URL }}blobs/{{ cover_url }}" />
            {% endif %}

        </div>

    </div>

{% endblock %}
