{% extends "base.html" %}

{% load get_blob_metadata %}

{% block title %} Blob {% endblock %}

{% block content %}

    <p class="lead col-lg-offset-2">Delete Blob</p>

    <form method="post" url="{% url 'blob_delete' object.id %}}">{% csrf_token %}

        <div class="alert alert-warning col-lg-offset-2" role="alert">
            Are you sure you want to delete <strong>{{ object.get_title }}</strong> ({{ object.sha1sum }}) ?
            <br /><br />
            <input class="btn btn-default" type="submit" name="action" value="Confirm" />
            <input class="btn btn-default" type="submit" name="action" value="Cancel" />
        </div>

    </form>

{% endblock %}
