{% extends "base.html" %}

{% block title %} Blob {% endblock %}

{% block content %}

    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap-tagsinput-custom.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap-tagsinput.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/typeahead-bootstrap3.css" />

    <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap-tagsinput.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/typeahead.bundle.min.js"></script>

    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/jquery.dataTables.bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/jquery.dataTables.css" />
    <script type="text/javascript" charset="utf-8" language="javascript" src="{{ STATIC_URL }}js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" charset="utf-8" language="javascript" src="{{ STATIC_URL }}js/dataTables.bootstrap.js"></script>

    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.color-2.1.2.min.js"></script>

<script type="text/javascript">

    var metadata = []
    var table;

    $(document).ready(function() {

        table = $('#metadata').DataTable( {
            info: false,
            paging: false,
            searching: false
        });

        $('#metadata tbody').on( 'click', 'tr', function () {
            if ( $(this).hasClass('selected') ) {
                $(this).removeClass('selected');
                $('#btn-metadata').attr("disabled", "disabled");
            }
            else {
                table.$('tr.selected').removeClass('selected');
                $(this).addClass('selected');
                $('#btn-metadata').removeAttr("disabled");
            }
        } );

        $('#btn-metadata').click( function () {
            table.row('.selected').remove().draw( false );
        } );

        {% for data in metadata %}
        metadata.push({'name':'{{ data.name }}', 'value':'{{ data.value }}'})
        {% endfor %}

        var engine = new Bloodhound({
            name: 'tags',
            remote: '{% url 'tag_search' %}?query=%QUERY',
            datumTokenizer: function(d) { return Bloodhound.tokenizers.whitespace(d.val); },
            queryTokenizer: Bloodhound.tokenizers.whitespace
        });

        engine.initialize();

        $('#id_tags').tagsinput({
            confirmKeys: [13, 188],
            tagClass: function(item) {
                return 'label label-primary';
            },
            typeaheadjs: {
                source: engine.ttAdapter(),
                displayKey: 'value',
                valueKey: 'value',
                options: {'autoselect': true}
            }
        });

        var engineMetadata = new Bloodhound({
            name: 'metadata',
            remote: '{% url 'metadata_name_search' %}?query=%QUERY',
            datumTokenizer: function(d) { return Bloodhound.tokenizers.whitespace(d.value); },
            queryTokenizer: Bloodhound.tokenizers.whitespace
        });

        engineMetadata.initialize();

        $('#metadata-name').typeahead({
            autoselect: true
        }, {
            source: engineMetadata.ttAdapter(),
        });

        $('#metadata-name').bind('typeahead:selected', function(obj, datum, name) {
            $('#metadata-value').focus();
		});

        $('#metadata-value').keydown(function(event){

            // If the enter key is pressed...
            if (event.keyCode == 13) {

                event.preventDefault();

                // Add the new metadata to the table
                var rowNode = table.row.add( [ $('#metadata-name').val(), $('#metadata-value').val() ] ).draw().node();
                $( rowNode ).css( 'color', 'red' ).animate( { color: '#666666' }, 2000 );

                // Add the new metadata to our local copy
                metadata.push({'name': $('#metadata-name').val(), 'value': $('#metadata-value').val()})

                // Reset the fields
                $('#metadata-name').val('').focus();
                $('#metadata-value').val('');

            }

        });

        $("#blob-form").submit(function(e) {
            $('#input-metadata').val(JSON.stringify(table.data().toArray()));
        });

    });

</script>

{% if messages %}
    {% for message in messages %}
        <div class="row">
            <div class="col-lg-7 col-lg-offset-2 alert alert-danger">
                {{ message|safe }}
            </div>
        </div>
    {% endfor %}
{% endif %}

<div class="row">

    <div class="col-lg-10">
        <p class="lead col-lg-offset-2">{{ action }} Blob</p>

        <form id="blob-form" class="form-horizontal" action="{{ request.path }}" method="post">
            <input type="hidden" name="metadata" id="input-metadata" />

            {% csrf_token %}

            {% for field in form %}
                <div class="form-group{% if field.errors %} error{% endif %}">
                    <label class="col-lg-2 control-label" for="inputTitle">{{ field.label }}</label>

                    <div class="col-lg-7">
                        {{ field }}
                        {% for error in field.errors %}
                            <span class="form-error">{{ error }}</span>
                        {% endfor %}
                    </div>

                </div>
            {% endfor %}

            <div class="form-group{% if field.errors %} error{% endif %}">
                <label class="col-lg-2 control-label" for="inputTitle">Is Book</label>
                <div class="col-lg-7">
                    <input name="is_book" type="checkbox"{% if is_book %} checked="checked"{% endif %} />
                </div>
            </div>

            <div class="row">
                <div class="col-lg-7 col-lg-offset-2">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">MetaData</h3>
                        </div>
                        <div class="panel-body">
                            <table id="metadata" class="table">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Value</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for data in metadata %}
                                        <tr><td>{{ data.name }}</td><td>{{ data.value }}</td></tr>
                                    {% endfor %}
                                </tbody>
                                <tfoot>
                                    <div class="form-inline">
                                        <tr>
                                            <td>
                                                <div class="form-group">
                                                    <input id="metadata-name" class="form-control" name="metadata_name" type="text" placeholder="Name" />
                                                </div>
                                            </td>
                                            <td>
                                                <div class="form-group">
                                                    <input id="metadata-value" class="form-control" name="metadata_value" type="text" placeholder="Value" />
                                                    <input class="btn btn-default" id="btn-metadata" type="button" value="Delete" disabled />
                                                </div>
                                            </td>
                                        </tr>
                                    </div>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-lg-3 col-lg-offset-2">
                    <input class="btn btn-default" type="submit" name="Go" value="{{ action }}" />
                    <a href="{% url 'blob_delete' object.id %}">
                        <input class="btn btn-default{% if not form.instance.id %} disabled{% endif %}" type="button" name="Go" value="Delete" />
                    </a>
                </div>
            </div>

        </form>

    </div>

    <div class="col-lg-2" id="kb_blob_detail_links">
        <a href="{% url 'blob_add' sha1sum %}">Replace this blob</a>
    </div>

</div>

{% endblock %}
