{% extends "base.html" %}

{% load dict_get %}

{% block extra_head %}

{% endblock %}

{% block title %} Search {% endblock %}

{% block content %}

    <div class="row">

        <div class="col-lg-3">
            <h3>Document counts</h3>
        </div>
        <div class="col-lg-3">

            <table class="table table-bordered">
{% for x in stats %}

    <tr><td>{{ x }}</td><td><strong>{{ stats|dict_get:x }}</strong></td>

{% endfor %}
            </table>
        </div>

    </div>

    <br />

    <div class="row">

        <div class="col-lg-12">

            <form class="form-inline" action="{% url 'search_admin' %}" method="post">
                {% csrf_token %}

                <div class="form-group">

                    <select name="doc_type" class="form-control">
                        <option value="book">Book</option>
                        <option value="bordercore_todo">Todo</option>
                        <option>Whatever</option>
                    </select>

                    <input class="btn btn-secondary" type="submit" name="Go" value="Delete" />

                </div>

            </form>

        </div>

    </div>

    <br />

    <div class="row">

        <div class="col-lg-12">

            <form class="form-inline" action="{% url 'search_admin' %}" method="post">
                {% csrf_token %}

                <div class="form-group">

                    Send a commit
                    <input class="btn btn-secondary" type="submit" name="Go" value="Commit" />

                </div>

            </form>

        </div>

    </div>

{% endblock %}
