<div class="search-spacer-right">

    <form action="{% url 'search:search' %}" method="get" autocomplete="off">

        <table>
            <tr>
                <th>What are you searching for?</th>
                <th>Boolean Type</th>
                <th>Exact Match</th>
                <th>Sort By</th>
                <th>Limit</th>
            </tr>

            <tr>

                <div class="mt-2">

                    <td class="mt-2">
                        <div class="col-auto has-search" id="search">

                            <font-awesome-icon icon="search" class="form-control-feedback text-dark"></font-awesome-icon>

                            <simple-suggest
                                autofocus=true
                                ref="simpleSuggest"
                                place-holder="Search"
                                search-url="{% url 'search:search_tags_and_titles' %}?term="
                            >
                            </simple-suggest>

                        </div>
                    </td>

                    <td>
                        <select name="boolean_search_type" class="form-control">
                            <option selected="selected">AND</option>
                            <option>OR</option>
                        </select>
                    </td>

                    <td>
                        <div>
                            <select name="exact_match" class="form-control">
                                <option{% if request.GET.exact_match == "No" %} selected="selected"{% endif %}>No</option>
                                <option{% if request.GET.exact_match == "Yes" %} selected="selected"{% endif %}>Yes</option>
                            </select>
                        </div>
                    </td>

                    <td>
                        <select id="search-sort-by" name="sort" class="form-control">
                            <option value="_score"{% if request.session.search_sort_by == "_score" %} selected="selected"{% endif %}>Rank</option>
                            <option value="date_unixtime"{% if request.session.search_sort_by == "date_unixtime" %} selected="selected"{% endif %}>Date</option>
                        </select>
                    </td>

                    <td>
                        <select name="rows" class="form-control">
                            <option>100</option>
                            <option>200</option>
                            <option>1000</option>
                            <option>No limit</option>
                        </select>
                    </td>

                    <td>
                        <input class="btn btn-primary" type="submit" name="Go" value="Search" />
                    </td>

                </div>

            </tr>
        </table>
    </form>
</div>
