{% extends "base.html" %}

{% load dict_get %}

{% block title %} Search {% endblock %}

{% block content %}

    <div class="row no-gutters h-100">

        <div class="col-lg-3 d-flex flex-column">

            <div class="card-body">

                <div id="aggregations">

                    {% if request.GET and search_results %}

                        {% if search_results.hits.hits %}

                            <h4 class="border-bottom pb-2">
                                Blob Type
                            </h4>

                            {% for doctype in aggregations %}
                                <div class="tag-list pl-2 py-1 pr-1 d-flex" :class="getDoctypeClass('{{ doctype.doctype }}')" @click.prevent="onClick" data-doctype="{{ doctype.doctype }}">
                                    <div>{{ doctype.doctype|title }}</div>
                                    <div class="ml-auto">
                                        <span class="px-2 badge badge-pill badge-info">
                                            {{ doctype.count }}
                                        </span>
                                    </div>
                                </div>
                            {% endfor %}

                        {% endif %}

                    {% endif %}
                </div>

            </div>

        </div>

        <div class="col-lg-9" id="search">

            <div class="right-column ml-2">

                <div class="card-body right-column mb-3 pb-4">

                    <form action="{% url 'search:search' %}" method="get" autocomplete="off">

                        <div class="d-flex">
                            <div class="d-flex flex-column" _style="width: 600px">
                                <div class="mb-1">
                                    What are you searching for?
                                </div>
                                <div class="col-auto has-search pl-0">

                                    <font-awesome-icon icon="search" class="main-search-spacer text-dark"></font-awesome-icon>

                                    <simple-suggest
                                        class="search-input"
                                        :autofocus=true
                                        ref="simpleSuggest"
                                        place-holder="Search"
                                        search-url="{% url 'search:search_tags_and_names' %}?term="
                                        value="Bogus"
                                    >
                                    </simple-suggest>

                                </div>
                            </div>
                            <div class="d-flex w-100">
                                <div class="d-flex flex-column w-20 ml-3 mr-3">
                                    <div class="mb-1">
                                        Boolean Type
                                    </div>
                                    <select name="boolean_search_type" class="form-control">
                                        <option selected="selected">AND</option>
                                        <option>OR</option>
                                    </select>
                                </div>
                                <div class="d-flex flex-column w-20 mr-3">
                                    <div class="mb-1">
                                        Exact Match
                                    </div>
                                    <select name="exact_match" class="form-control">
                                        <option{% if request.GET.exact_match == "No" %} selected="selected"{% endif %}>No</option>
                                        <option{% if request.GET.exact_match == "Yes" %} selected="selected"{% endif %}>Yes</option>
                                    </select>
                                </div>
                                <div class="d-flex flex-column w-20 mr-3">
                                    <div class="mb-1">
                                        Sort By
                                    </div>
                                    <select id="search-sort-by" name="sort" class="form-control">
                                        <option value="_score"{% if request.session.search_sort_by == "_score" %} selected="selected"{% endif %}>
                                            Rank
                                        </option>
                                        <option value="date_unixtime"{% if request.session.search_sort_by == "date_unixtime" %} selected="selected"{% endif %}>
                                            Date
                                        </option>
                                    </select>
                                </div>
                                <div class="d-flex flex-column w-20 mr-3">
                                    <div class="mb-1">
                                        Limit
                                    </div>
                                    <select name="rows" class="form-control">
                                        <option>100</option>
                                        <option>200</option>
                                        <option>1000</option>
                                        <option>No limit</option>
                                    </select>
                                </div>
                                <div class="d-flex flex-column w-20 mr-1">
                                    <div class="mb-4">
                                    </div>
                                    <input class="btn btn-primary" type="submit" name="Go" value="Search" />
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
            </div>

            <div class="right-column">

                {% if request.GET %}

                    {% if not search_results.hits.hits and not messages %}

                        <search-no-result class="ml-4">
                            <template v-slot:message>
                            </template>
                        </search-no-result>

                    {% else %}

                        <h4 class="search-result-header ml-4">
                            Total matches: <strong>{{ object_list.hits.total.value }}</strong>
                        </h4>

                        <ul class="list-unstyled">

                            {% for match in search_results.hits.hits %}

                                <li class="search-result">
                                    <div class="d-flex my-3">

                                        <!-- <span style="font-size: 10px">{{ match.score }}</span> -->

                                    {% if match.source.doctype == 'drill' %}

                                        <h4 class="{% if match.source.importance == 10 %} search-result-important{% endif %}">
                                            <font-awesome-icon icon="graduation-cap"></font-awesome-icon>
                                            Drill: <a href="{% url 'drill:detail' match.source.uuid %}">{{ match.source.question }}</a>
                                        </h4>

                                        {% for tag in match.source.tags %}
                                            <a href="{% url 'search:kb_search_tag_detail' tag %}" class="badge badge-info">{{ tag }}</a>
                                        {% endfor %}

                                    {% elif match.source.doctype == 'todo' %}

                                        <h4>
                                            <font-awesome-icon icon="tasks"></font-awesome-icon>
                                            Todo: <a href="{% url 'todo:update' match.source.uuid %}">{{ match.source.name }}</a>
                                        </h4>

                                        {% for tag in match.source.tags %}
                                            <a href="{% url 'search:kb_search_tag_detail' tag %}" class="badge badge-info">{{ tag }}</a>
                                        {% endfor %}

                                    {% elif match.source.doctype == 'bookmark' %}

                                        <div class="mr-2 mt-1">
                                            <font-awesome-icon icon="bookmark" class="text-light" />
                                        </div>
                                        <div class="d-flex flex-column">
                                            <h4>
                                                <a href="{{ match.source.url }}">{{ match.source.name }}</a>
                                            </h4>
                                            <div>
                                            {% for tag in match.source.tags %}
                                                <a href="{% url 'search:kb_search_tag_detail' tag %}" class="badge badge-info">{{ tag }}</a>
                                            {% endfor %}
                                            </div>
                                        </div>

                                    {% elif match.source.doctype == 'note' %}

                                        <div class="mr-2 mt-1">
                                            <font-awesome-icon icon="sticky-note" class="text-light" />
                                        </div>
                                        <div class="d-flex flex-column">
                                            <h4>
                                                <a href="{% url 'blob:detail' match.source.uuid %}">{{ match.source.name|default:"Note" }}</a>
                                            </h4>

                                            <h5 v-pre>{{ match.highlight.contents.0|safe }}</h5>
                                            <div>
                                                {% for tag in match.source.tags %}
                                                    <a href="{% url 'search:kb_search_tag_detail' tag %}" class="badge badge-info">{{ tag }}</a>
                                                {% endfor %}
                                            </div>
                                        </div>

                                    {% elif match.source.doctype == 'document' %}

                                        <div class="mr-2 mt-1">
                                            <font-awesome-icon icon="copy" class="text-light" />
                                        </div>
                                        <div class="d-flex flex-column">
                                            <h4>
                                                <a href="{% url 'blob:detail' match.source.uuid %}">{{ match.source.name|default:"Name" }}</a>
                                                {% if match.source.creators %} <small>{{ match.source.creators }}</small>{% endif %}
                                            </h4>

                                            <h5 v-pre>{{ match.highlight.contents.0|safe }}</h5>
                                            <div>
                                            {% for tag in match.source.tags %}
                                                <a href="{% url 'search:kb_search_tag_detail' tag %}" class="badge badge-info">{{ tag }}</a>
                                            {% endfor %}
                                            </div>
                                        </div>

                                    {% elif match.source.doctype == 'song' %}

                                        <h4>
                                            <font-awesome-icon icon="music"></font-awesome-icon>
                                            <a href="{% url 'music:artist_detail' match.source.artist %}">{{ match.source.title|default:"Title" }}</a>
                                        </h4>

                                        <h5>{{ match.source.note|safe }}</h5>

                                        {% for tag in match.source.tags %}
                                            <a href="{% url 'search:kb_search_tag_detail' tag %}" class="badge badge-info">{{ tag }}</a>
                                        {% endfor %}

                                    {% else %}

                                        <div>
                                            <img src="{{ match.source.cover_url }}" />
                                        </div>
                                        <div class="d-flex flex-column ml-2">
                                            <h4>
                                                <a href="{% url 'blob:detail' match.source.uuid %}">{{ match.source.name|default:"No name" }}</a>
                                                {% if match.source.creators %} <small>{{ match.source.creators }}</small>{% endif %}
                                            </h4>
                                            <h5 v-pre>{{ match.highlight.attachment_content.0|safe }}</h5>
                                            <div>
                                                {% for tag in match.source.tags %}
                                                    <a href="{% url 'search:kb_search_tag_detail' tag %}" class="badge badge-info">{{ tag }}</a>
                                                {% endfor %}
                                            </div>
                                        </div>

                                    {% endif %}

                                    <div class="search-result-date text-nowrap ml-auto pl-4">
                                        {{ match.source.date }}
                                    </div>

                                    </div>

                                </li>

                            {% endfor %}

                        </ul>

                    {% endif %}

                {% endif %}

            </div>

        </div>

    </div>

{% endblock %}

{% block javascript %}

    {{ block.super }}

    <script type="text/javascript" charset="utf-8">

        Vue.mixin({ delimiters: ["[[", "]]"] });

        new Vue({
            el: "#aggregations",
            methods: {
                onClick(evt) {

                    const selectedDoctype = evt.srcElement.getAttribute("data-doctype");
                    const urlParams = new URLSearchParams(window.location.search);
                    const currentDoctype = urlParams.get("doctype");

                    var searchParams = new URLSearchParams(window.location.search);

                    if (selectedDoctype === currentDoctype) {
                        searchParams.set("doctype", "")
                    } else {
                        searchParams.set("doctype", selectedDoctype);
                    }

                    window.location.search = searchParams;
                },
                getDoctypeClass(doctype) {
                    const urlParams = new URLSearchParams(window.location.search);
                    const currentDoctype = urlParams.get("doctype");

                    if (doctype === currentDoctype) {
                        return "selected rounded-sm"
                    }
                },

            }
        });

        new Vue({
            el: "#search",
            methods: {
                select(tag) {

                    if (tag.object_type == 'Tag') {
                        url = '{% url 'search:kb_search_tag_detail' 666 %}'.replace(/666/, tag.value);
                    } else {
                        url = '{% url 'blob:detail' '00000000-0000-0000-0000-000000000000' %}'.replace('00000000-0000-0000-0000-000000000000', tag.uuid);
                    }
                    window.location=url;

                },
            },
            mounted() {
                this.$refs.simpleSuggest.$refs.suggestComponent.isFalseFocus = true;
                this.$refs.simpleSuggest.$refs.suggestComponent.text = "{{ request.GET.search }}";
            },
            components: {
                SimpleSuggest
            }
        });

    </script>

{% endblock %}
