{% extends "base.html" %}

{% load dict_get %}

{% block title %} Search {% endblock %}

{% block left-block %}

    <div class="search-spacer-left"></div>

    <div id="aggregations">
    {% if request.GET and search_results %}

        <h4 class="ml-3">
          Total matches: <strong>{{ object_list.hits.total.value }}</strong>
        </h4>

        {% if search_results.hits.hits %}
        <div class="card mt-3">
            <div class="card-header">Document Type Filter</div>
            <div class="card-body text-info">
            {% for doctype in aggregations %}
                <input type="checkbox" name="filter_query" class="facet my-2" data-doctype="{{ doctype.doctype }}" @click="onClick"
                       {% if doctype.doctype in doctype_filter %}checked="checked"{% endif %}
                /> {{ doctype.doctype|title }} ({{ doctype.count }})
                <br/>
            {% endfor %}
            </div>
        </div>
        {% endif %}

    {% endif %}
    </div>

{% endblock %}

{% block content %}

{% include "search/header.html" %}

    <div id="vue-app">

{% if request.GET %}

    <div class="row">
        <div class="col-lg-12">

{% if not search_results and not messages %}

    <br />
    <div class="alert alert-info">Nothing found</div>

{% else %}

    <table>

{% for match in search_results.hits.hits %}

    <tr>
        <td{% if match.source.importance == 10 %} class="search_result_important"{% endif %}>

{% if match.source.doctype == 'drill' %}

    <h4 class="search_result">
        <font-awesome-icon icon="graduation-cap"></font-awesome-icon>
        Drill: <a href="{% url 'drill:detail' match.source.bordercore_id %}">{{ match.source.question }}</a>
    </h4>

{% elif match.source.doctype == 'todo' %}

    <h4 class="search_result">
        <font-awesome-icon icon="tasks"></font-awesome-icon>
        Todo: <a href="{% url 'todo:update' match.source.uuid %}">{{ match.source.task }}</a>
    </h4>

{% elif match.source.doctype == 'bookmark' %}

    <h4 class="search_result">
        <font-awesome-icon icon="bookmark"></font-awesome-icon>
        <a href="{{ match.source.url }}">{{ match.source.title }}</a>
    </h4>

{% elif match.source.doctype == 'note' %}

    <h4 class="search_result">
        <font-awesome-icon icon="sticky-note"></font-awesome-icon>
        <a href="{% url 'blob:detail' match.source.uuid %}">{{ match.source.title|default:"Note" }}</a>
    </h4>

    <h5>{{ match.source.note|safe }}</h5>

{% elif match.source.doctype == 'document' %}

    <h4 class="search_result">
        <font-awesome-icon icon="copy"></font-awesome-icon>
        <a href="{% url 'blob:detail' match.source.uuid %}">{{ match.source.title|default:"Title" }}</a>
    </h4>

    <h5>{{ match.source.note|safe }}</h5>

{% elif match.source.doctype == 'song' %}

    <h4 class="search_result">
        <font-awesome-icon icon="music"></font-awesome-icon>
        <a href="{% url 'music:artist_detail' match.source.artist %}">{{ match.source.title|default:"Title" }}</a>
    </h4>

    <h5>{{ match.source.note|safe }}</h5>

{% else %}

    <h4 class="search_result">
        <font-awesome-icon icon="book"></font-awesome-icon>
        <a href="{% url 'blob:detail' match.source.uuid %}">{{ match.source.title|default:"No title" }}</a>
        {% if match.source.creators %} - {{ match.source.creators }}{% endif %}
    </h4>
{% endif %}

<div class="pl-4">
    <span class="ml-3">{{ match.source.date }}</span>

{% for tag in match.source.tags %}
    <a href="{% url 'search:kb_search_tag_detail' tag %}" class="badge badge-info">{{ tag }}</a>{% if not forloop.last %}, {% endif %}
{% endfor %}

</div>

        </td>
    </tr>

{% endfor %}

    </table>

        </div>

{% endif %}

{% endif %}

    </div>
</div>

    </div>

{% endblock %}

{% block javascript %}

    {{ block.super }}

    <script type="text/javascript" charset="utf-8">

        Vue.mixin({ delimiters: ["[[", "]]"] });

        new Vue({
            el: "#aggregations",
            methods: {
                onClick(evt) {

                    const selectedDoctype = evt.srcElement.getAttribute("data-doctype");
                    const urlParams = new URLSearchParams(window.location.search);
                    const currentDoctype = urlParams.get("doctype");

                    var searchParams = new URLSearchParams(window.location.search);

                    if (selectedDoctype === currentDoctype) {
                        searchParams.set("doctype", "")
                    } else {
                        searchParams.set("doctype", selectedDoctype);
                    }

                    window.location.search = searchParams;
                }
            }
        });

        new Vue({
            el: "#search",
            methods: {
                select(tag) {

                    if (tag.object_type == 'Tag') {
                        url = '{% url 'search:kb_search_tag_detail' 666 %}'.replace(/666/, tag.value);
                    } else {
                        url = '{% url 'blob:detail' '00000000-0000-0000-0000-000000000000' %}'.replace('00000000-0000-0000-0000-000000000000', tag.uuid);
                    }
                    window.location=url;

                },
            },
            mounted() {
                this.$refs.simpleSuggest.$refs.suggestComponent.isFalseFocus = true;
                this.$refs.simpleSuggest.$refs.suggestComponent.text = "{{ request.GET.search }}";
            },
            components: {
                SimpleSuggest
            }
        });

        new Vue({
            el: "#vue-app"
        });

    </script>

{% endblock %}
