{% extends "base.html" %}

{% load dict_get %}

{% block title %} Search {% endblock %}

{% block left-block %}

    {% if request.GET and search_results %}

        <div class="card bg-info">
            <div class="card-header text-white">Match Categories</div>
            <div class="card-body bg-light">
{% for facet in facet_counts|dictsortreversed:"count" %}
                    <input type="checkbox" name="filter_query" class="facet my-2" id="{{ facet.doctype }}"
                           {% if facet.doctype in filter_query %}checked="checked"{% endif %}
                           /> {{ facet.doctype_purty }} ({{ facet.count }})
                <br/>
{% endfor %}
            </div>
        </div>

        <div class="pt-5 ml-3">
    Matches: <strong>{{ object_list.hits.total.value }}</strong>
        </div>

    {% endif %}

{% endblock %}

{% block content %}

{% include "search/header.html" %}

<br />

{% if request.GET %}

    <div class="row">
        <div class="col-lg-12">

{% if not search_results and not messages %}

    <br />
    <div class="alert alert-info">Nothing found</div>

{% else %}

    <table>

{% for match in search_results.hits.hits %}

    <tr>
        <td{% if match.source.importance == 10 %} class="important"{% endif %}>
{% if match.source.doctype == 'todo' %}

    <h4 class="search_book_title">Todo: <a href="{% url 'todo:update' match.source.uuid %}">{{ match.source.task }}</a></h4>

{% elif match.source.doctype == 'bordercore_bookmark' %}

    <h4 class="search_book_title">
        <img src="{{ STATIC_URL }}img/kb_link.png" />
        <a href="{{ match.source.url }}">{{ match.source.title }}</a>
    </h4>

{% elif match.source.doctype == 'note' %}

    <h4 class="search_book_title"><a href="{% url 'blob:detail' match.source.uuid %}">{{ match.source.title|default:"Note" }}</a></h4>

    <h5>{{ match.source.note|safe }}</h5>

{% elif match.source.doctype == 'document' %}

    <h4 class="search_book_title">
        <a href="{% url 'blob:detail' match.source.uuid %}">{{ match.source.title|default:"Title" }}</a>
    </h4>

    <h5>{{ match.source.note|safe }}</h5>

{% else %}

    <h4>
        <img src="{{ STATIC_URL }}img/kb_book.png" />
        <span class="search_book_title">
            <a href="{% url 'blob:detail' match.source.uuid %}">{{ match.source.title|default:"No title" }}</a>
        </span>
        <span class="search_book_author">
            {% if match.source.creators %} - {{ match.source.creators }}{% endif %}
        </span>
    </h4>
{% endif %}

    <strong class="ml-3">{{ match.source.date }}</strong>

Tags: {% if not match.source.tags %}None{% endif %}
{% for tag in match.source.tags %}
    <strong><a href="{% url 'search:kb_search_tag_detail' tag %}">{{ tag }}</a></strong>{% if not forloop.last %}, {% endif %}
{% endfor %}

        </td>
    </tr>

{% endfor %}

        </table>

    </div>

{% endif %}

{% endif %}

        </div>
    </div>

{% endblock %}

{% block javascript %}

    {{ block.super }}

    <script type="text/javascript" charset="utf-8">

        new Vue({
            delimiters: ["[[", "]]"],
            el: "#search",
            methods: {
                select(tag) {

                    if (tag.object_type == 'Tag') {
                        url = '{% url 'search:kb_search_tag_detail' 666 %}'.replace(/666/, tag.value);
                    } else {
                        url = '{% url 'blob:detail' '00000000-0000-0000-0000-000000000000' %}'.replace('00000000-0000-0000-0000-000000000000', tag.uuid);
                    }
                    window.location=url;

                },
            },
            components: {
                SimpleSuggest
            }
        });

    </script>

{% endblock %}
