{% extends "base.html" %}

{% load domain %}

{% load get_doctype %}

{% load favicon %}

{% block title %} Search :: Tag Detail {% endblock %}

{% block content %}

    <div id="vue-app">

        <div class="row g-0 mx-2">
            <div class="col-lg-12 me-3">
                <div class="card-body mb-3 pb-4 me-2">

                    <form id="tag-filter-form" class="form-inline align-items-start" action="{% url 'search:kb_search_tag_detail' tag %}" method="get" autocomplete="off">
                        <div class="row">

                            <tags-input
                                name="tag-search"
                                class-list="col-lg-6"
                                :autofocus=true
                                place-holder="Tag"
                                search-url="{% url 'tag:search' %}?query="
                                tags-changed-url="{% url 'search:kb_search_tag_detail' 666 %}"
                                @tags-changed="handleTagSearch"
                            >
                            </tags-input>

                           {% if tag_counts %}
                               <div class="col-lg-3">
                                   <div>
                                       <select class="form-control form-select" @change="onChange">
                                           <option value="-1">Related tags</option>
                                           {% for tag, count in tag_counts %}
                                               <option value="{{ tag }}">{{ tag }} ({{ count }})</option>
                                           {% endfor %}
                                       </select>
                                   </div>
                               </div>
                           {% endif %}
                           <div>
                           {% for tag in meta_tags %}
                           {% if forloop.first %}
                               <label class="ms-3 mt-2">Meta Tags: </label>
                           {% endif %}
                           <span class="ms-2"><a class="meta_tag tag" href="" @click="onClickMetaTag">{{ tag }}</a></span>
                           {% endfor %}
                           </div>
                    </form>
                </div>
            </div>
        </div>

        <br />

        <ul class="nav nav-tabs mx-3">
            {% for doctype in doctype_counts %}
                <li class="nav-item" data-type="{{ doctype.0 }}" @click="onClickDoctype">
                    <a class="nav-link" data-bs-toggle="tab" href="#{{ doctype.0 }}">
                        {{ doctype_mapping|get_doctype:doctype.0 }}
                        <span class="badge align-middle ms-2">
                            {{ doctype.1 }}
                        </span>
                    </a>
                </li>
            {% endfor %}
        </ul>

        <div class="tab-content ps-3 h-100 mb-3">

            <div id="blob" class="tab-pane fade">
                <ul class="list-unstyled d-flex flex-wrap">
                    <li v-for="match in searchResults.matches.blob" class="search-result grid me-3 py-3">
                        <div class="d-flex my-1">
                            <div>
                                <img :src="match.cover_url" />
                            </div>
                            <div class="d-flex flex-column ms-2">
                                <h4>
                                    <font-awesome-icon v-if="match.importance > 1" icon="heart" class="favorite" data-bs-toggle="tooltip" data-placement="bottom" title="Favorite"></font-awesome-icon>
                                    <a :href="'{% url 'blob:detail' '00000000-0000-0000-0000-000000000000' %}'.replace('00000000-0000-0000-0000-000000000000', match.uuid)">
                                        [[ match.name ]]
                                    </a>
                                </h4>
                                <div>
                                    <small v-if="match.creators">
                                        [[ match.creators ]]
                                    </small>
                                </div>
                                <div class="search-result-date text-nowrap">
                                    [[ match.date ]]
                                </div>
                                <div class="mt-2">
                                    <a v-for="tag in match.tags" :href="tag.url" class="tag">[[ tag.name ]]</a>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>

            <div id="book" class="tab-pane fade">
                <ul class="list-unstyled d-flex flex-wrap">
                    <li v-for="match in searchResults.matches.book" class="search-result grid me-3 py-3">
                        <div class="d-flex my-1">
                            <div>
                                <img :src="match.cover_url" />
                            </div>
                            <div class="d-flex flex-column ms-2">
                                <h4>
                                    <font-awesome-icon v-if="match.importance > 1" icon="heart" class="favorite" data-bs-toggle="tooltip" data-placement="bottom" title="Favorite"></font-awesome-icon>
                                    <a :href="'{% url 'blob:detail' '00000000-0000-0000-0000-000000000000' %}'.replace('00000000-0000-0000-0000-000000000000', match.uuid)">
                                        [[ match.name ]]
                                    </a>
                                </h4>
                                <div>
                                    <small v-if="match.creators">
                                        [[ match.creators ]]
                                    </small>
                                </div>
                                <div class="search-result-date text-nowrap">
                                    [[ match.date ]]
                                </div>
                                <div class="mt-2">
                                    <a v-for="tag in match.tags" :href="tag.url" class="tag">[[ tag.name ]]</a>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>

            <div id="bookmark" class="tab-pane fade">
                <ul class="list-unstyled">
                    <li v-for="match in searchResults.matches.bookmark" class="search-result me-3">
                        <div class="d-flex my-1">
                            <div class="me-2 my-1">
                                <font-awesome-icon icon="bookmark" class="text-light"></font-awesome-icon>
                            </div>
                            <div class="d-flex flex-column">
                                <h4>
                                    <font-awesome-icon v-if="match.importance > 1" icon="heart" class="favorite" data-bs-toggle="tooltip" data-placement="bottom" title="Favorite"></font-awesome-icon>
                                    <a :href="match.url">[[ match.name ]]</a>
                                </h4>
                                <div class="d-flex mb-2 align-items-center text-primary">
                                    <span v-html="match.favicon_url"></span>
                                    <div class="ms-2">
                                        [[ match.url_domain ]]
                                    </div>
                                </div>
                                <div class="mt-2">
                                    <a v-for="tag in match.tags" :href="tag.url" class="tag">[[ tag.name ]]</a>
                                </div>
                            </div>
                            <div class="search-result-date text-nowrap ms-auto ps-4">
                                [[ match.date ]]
                            </div>
                        </div>
                    </li>
                </ul>
            </div>

            <ul id="document" class="tab-pane fade list-unstyled">
                <li v-for="match in searchResults.matches.document" class="search-result me-3">
                    <div class="d-flex my-1">
                        <div class="me-2 mt-1">
                            <font-awesome-icon icon="sticky-note" class="text-light" />
                        </div>
                        <div class="d-flex flex-column">
                            <h4>
                                <font-awesome-icon v-if="match.importance > 1" icon="heart" class="favorite" data-bs-toggle="tooltip" data-placement="bottom" title="Favorite"></font-awesome-icon>
                                <a :href="'{% url 'blob:detail' '00000000-0000-0000-0000-000000000000' %}'.replace('00000000-0000-0000-0000-000000000000', match.uuid)">
                                    [[ match.name ]]
                                </a>
                            </h4>
                            <h5>
                                [[ match.contents ]]
                            </h5>
                            <div class="mt-2">
                                <a v-for="tag in match.tags" :href="tag.url" class="tag">[[ tag.name ]]</a>
                            </div>
                        </div>
                        <div class="search-result-date text-nowrap ms-auto ps-4">
                            [[ match.date ]]
                        </div>
                    </div>
                </li>
            </ul>

            <ul id="note" class="tab-pane fade list-unstyled">
                <li v-for="match in searchResults.matches.note" class="search-result me-3">
                    <div class="d-flex my-1">
                        <div class="me-2 mt-1">
                            <font-awesome-icon icon="sticky-note" class="text-light" />
                        </div>
                        <div class="d-flex flex-column">
                            <h4>
                                <font-awesome-icon v-if="match.importance > 1" icon="heart" class="favorite" data-bs-toggle="tooltip" data-placement="bottom" title="Favorite"></font-awesome-icon>
                                <a :href="'{% url 'blob:detail' '00000000-0000-0000-0000-000000000000' %}'.replace('00000000-0000-0000-0000-000000000000', match.uuid)">
                                    [[ match.name ]]
                                </a>
                            </h4>
                            <h5>
                                [[ match.contents ]]
                            </h5>
                            <div class="mt-2">
                                <a v-for="tag in match.tags" :href="tag.url" class="tag">[[ tag.name ]]</a>
                            </div>
                        </div>
                        <div class="search-result-date text-nowrap ms-auto ps-4">
                            [[ match.date ]]
                        </div>
                    </div>
                </li>
            </ul>

            <div id="drill" class="tab-pane fade">
                <div v-for="match in searchResults.matches.drill" class="row mt-2">
                    <div class="col-lg-12">
                        <a :href="'{% url 'drill:detail' '00000000-0000-0000-0000-000000000000' %}'.replace('00000000-0000-0000-0000-000000000000', match.uuid)">
                            [[ match.question ]]
                        </a>
                    </div>
                </div>
            </div>

            <div id="song" class="tab-pane fade">
                <div v-for="match in searchResults.matches.song" class="row mt-2">
                    <div class="col-lg-12">
                        <a :href="'{% url 'music:artist_detail' '00000000-0000-0000-0000-000000000000' %}'.replace('00000000-0000-0000-0000-000000000000', match.artist_uuid)">
                            [[ match.artist ]] - [[ match.title ]]
                        </a>
                    </div>
                </div>
            </div>

            <div id="todo" class="tab-pane fade">
                <div v-for="match in searchResults.matches.todo" class="row mt-2">
                    <div class="col-lg-12">
                        [[ match.name ]] <span class="search-todo-date">[[ match.last_modified ]]</span>
                    </div>
                </div>
            </div>

            <div id="album" class="tab-pane fade d-flex flex-wrap">
                <div v-for="match in searchResults.matches.album" class="mt-3 p-3">
                    <div>
                        <a :href="'{% url 'music:album_detail' '00000000-0000-0000-0000-000000000000' %}'.replace('00000000-0000-0000-0000-000000000000', match.uuid)">
                            <img :src="'{{ IMAGES_URL }}album_artwork/00000000-0000-0000-0000-000000000000'.replace('00000000-0000-0000-0000-000000000000', match.uuid)" height="150" width="150" />
                        </a>
                    </div>
                    <div class="mt-1 fw-bold">
                        [[ match.title ]]
                    </div>
                    <div class="text-light">
                        <a :href="'{% url 'music:album_detail' '00000000-0000-0000-0000-000000000000' %}'.replace('00000000-0000-0000-0000-000000000000', match.uuid)">
                            [[ match.artist ]]
                        </a>
                    </div>
                </div>
            </div>

        </div>

    </div>

{% endblock %}

{% block javascript %}

    {{ block.super }}

    {{ search_results|json_script:"searchResults" }}
    {{ tag_list|json_script:"initial-tags"|default:"" }}

    <script type="text/javascript">

        function getTagListString() {
            initialTags = JSON.parse(document.getElementById("initial-tags").textContent);
            return initialTags.join(",");
        }

        const app = createApp({
            delimiters: ["[[", "]]"],
            components: {
                FontAwesomeIcon,
                TagsInput,
            },
            setup() {
                const searchResults = JSON.parse(document.getElementById("searchResults").textContent);
                function handleTagSearch(tagList) {
                    const tagsChangedUrl = "{% url 'search:kb_search_tag_detail' 666 %}";
                    window.location = tagsChangedUrl.replace("666", tagList.join(",")).replace("//", "/");
                };

                function onChange(evt) {
                    const tagList = getTagListString() + "," + evt.srcElement.value;
                    window.location="{% url 'search:kb_search_tag_detail' 666 %}".replace("666", tagList);
                };

                function onClickDoctype(evt) {
                    doPost(
                        "{% url "accounts:store_in_session" %}",
                        {
                            "kb_tag_detail_current_tab": evt.srcElement.parentElement.getAttribute("data-type"),
                        },
                        (response) => {
                            evt.preventDefault();
                        },
                    );
                };

                function onClickMetaTag(evt) {
                    evt.preventDefault();
                    const tagList = getTagListString() + "," + evt.srcElement.innerHTML;
                    window.location="{% url 'search:kb_search_tag_detail' 666 %}".replace(/666/, tagList);
                };

                onMounted(() => {
                    const triggerTabList = [].slice.call(document.querySelectorAll(".nav a"));
                    triggerTabList.forEach(function(triggerEl) {
                        const tabTrigger = new Tab(triggerEl);

                        triggerEl.addEventListener("click", function(event) {
                            event.preventDefault();
                            tabTrigger.show();
                        });
                    });

                    {% if kb_tag_detail_current_tab and kb_tag_detail_current_tab in doctypes %}
                    const triggerFirstTabEl = document.querySelector("li[data-type='{{ kb_tag_detail_current_tab }}'] a");
                    Tab.getInstance(triggerFirstTabEl).show();

                    {% else %}
                    // If the tab stored in the session doesn't match any current tab categories,
                    //  select the first tab.
                    const triggerFirstTabEl = document.querySelector(".nav li:first-child a");
                    if (triggerFirstTabEl != undefined) {
                        Tab.getInstance(triggerFirstTabEl).show();
                    }

                    {% endif %}
                });

                return {
                    handleTagSearch,
                    onChange,
                    onClickDoctype,
                    onClickMetaTag,
                    searchResults,
                };
            },
        });
        app.mount("#vue-app");

    </script>

{% endblock %}
