{% extends "base.html" %}

{% block title %} Music {% endblock %}

{% block content %}

{% if messages %}
{% for message in messages %}
<div class="alert alert-error">{{ message }}</div>
{% endfor %}
{% endif %}


<div class="span6">

{% if request.POST.Go and not form.errors %}

<div class="alert alert-success offset2">
Post {{ action }}ed
</div>

{% endif %}

<p class="lead offset2"> {{ action }} a Song</p>

<form class="form-horizontal" action="{{ request.path }}" method="post">
{% csrf_token %}

{% for field in form %}
<div class="control-group {% if field.errors %}error{% endif %}">
    <label class="control-label" for="inputTitle">{{ field.label }}</label>

    <div class="controls">
{{ field }}

{% for error in field.errors %}
      <span class="form-error">{{ error }}</span>
{% endfor %}

    </div>

</div>
{% endfor %}

<div class="control-group">
<label class="control-label">Album</label>
<div class="controls">{{ form.instance.album.title }}</div>
</div>

<div class="control-group">
<label class="control-label">Times Played</label>
<div class="controls">{{ form.instance.times_played }}</div>
</div>

  <div class="control-group">
    <div class="controls">
	  <input class="btn" type="submit" name="Go" value="{{ action }}">
	  <input class="btn{% if not form.instance.id %} disabled{% endif %}" type="submit" name="Go" value="Delete">
	  <a class="btn" href="{% url 'music_list' %}">Cancel</a>
	</div>
  </div>

</form>

</div>

<div class="span4">

<div class="btn-toolbar"></div> <!-- Horizontal Spacer -->

{% if file_info %}

 <img src="{% url 'album_artwork' form.instance.id %}" />
 <div class="btn-toolbar"></div> <!-- Horizontal Spacer -->

<table class="table table-bordered table-condensed">
<tr><td><strong>length</strong></td><td>{{ file_info.length }}</td></tr>
<tr><td><strong>bit rate</strong></td><td>{{ file_info.id3_info.info.bitrate }}</td></tr>
<tr><td><strong>sample rate</strong></td><td>{{ file_info.id3_info.info.sample_rate }}</td></tr>
<tr><td><strong>file size</strong></td><td>{{ file_info.filesize }}</td></tr>
</table>

{% endif %}

</div>

{% endblock %}
