<script type="text/javascript">

$(document).ready(function() {

	// Hitting return will begin the search
    $('#blog-search').keypress( function(e) {
		if ((e.which && e.which == 13) || (e.keyCode && e.keyCode == 13)) {
			$('#blog-search-form').submit();
            return false;
        } else {
            return true;
        }
	});

	$('#music-search').typeahead({
		source: function (query, process) {
			return $.getJSON('{% url 'music_search' %}',
						 { query: query },
						 function (data) {
							 objects = [];
							 map = {};
							 $.each(data, function(i, object) {
								 map[object.label] = object;
								 objects.push(object.label);
							 });
							 return process(objects);
						 });
		},
		updater: function(item) {
			if ( map[item].type == 'album' ) {
				window.location='{% url 'show_album' 666 %}'.replace(666, map[item].id)
			} else {
				window.location='{% url 'show_artist' 666 %}'.replace(666, map[item].label)
			}
		}
	});

});

</script>

<div class="row">

	<form class="form-inline pull-right" name="nav_form" id="blog-search-form" action="{{ request.path }}" method="get">
    Search
	<input id="music-search" type="text" name="search_item" size="20" value="{{ request.GET.search_item }}" autocomplete="off" />

    </form>

</div>
