{% extends "base.html" %}

{% block extra_head %}

{% endblock %}

{% block title %} Music {% endblock %}

{% block content %}

<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/jquery.dataTables.bootstrap.css" />

<script type="text/javascript" charset="utf-8" language="javascript" src="{{ STATIC_URL }}js/jquery.dataTables.min.js"></script>
<script type="text/javascript" charset="utf-8" language="javascript" src="{{ STATIC_URL }}js/jquery.dataTables.bootstrap.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/dataTableExt.oApi.fnSetFilteringDelay.js"> </script>

<script type="text/javascript" charset="utf-8">

var oTable;

/* Get the bookmark ID which is currently selected */
/* Modified from http://www.datatables.net/examples/api/select_single_row.html */
function fnGetSelected( oTableLocal ) {

	var aTrs = oTableLocal.fnGetNodes();

	for ( var i=0 ; i<aTrs.length ; i++ ) {
		if ( $(aTrs[i]).hasClass('row_selected') ) {
			return oTable.fnGetData( i )[3];
		}
	}

}

$(document).ready(function() {

{% if messages %}
{% for message in messages %}
	$('#feedback').fadeIn(1000).html('{{ message }}');
	setTimeout( function() {
		$('#feedback').fadeOut(1000);
	}, 3000);
{% endfor %}
{% endif %}

    $('#btn-edit').on('click', function() {

		var selectedSongID = fnGetSelected( oTable );
		window.location.href = '/music/edit/' + selectedSongID;

	});

	function formatTitle( oObj ) {
		return '<a href="{% url 'music_stream' %}' + oObj.aData[3] + '">' + oObj.aData[2] + '</a>';
	}

	oTable = $('#song_list').dataTable( {
		"serverSide": true,
		"ajaxSource": "{% url 'get_song_list' %}",
		"paginate": true,
		"info": false,
		"displayLength": 50,
		"sorting": [[0, 'desc']],
		"filter": true,
		"lengthChange": false,
        "language": {
            "zeroRecords": "No songs found",
            "search": "Filter",
        },
		"dom": "<'row'<'span6'<'toolbar'>l><'span6'f>r>t<'row'<'span6'i><'span6'p>>",
		"searchable": false,
		"columnDefs": [
			{ "targets": [0], "class": "span2", "sorting": [ "desc", "asc" ] },
			{ "targets": [2], "render": formatTitle, "useRendered": false },
			{ "targets": [3], "visible": false },
        ],
	} );

	$('#song_list').dataTable().fnSetFilteringDelay(1000);

	$("#song_list tbody").click( function( e ) {

    if ( $(event.target.parentNode).attr("id") == "row_selected" ) {

        $(event.target.parentNode).attr("id", "");
        $('#btn-edit').attr("disabled", "disabled");
	    $('#btn-delete').attr("disabled", "disabled");

     } else {

        $('#btn-edit').removeAttr("disabled");
	    $('#btn-delete').removeAttr("disabled");

 	    // Hilight the clicked row
 	    $(event.target.parentNode).attr("id", "row_selected");
	    $(event.target.parentNode).siblings().attr("id", "");

     }

    });

	// $("div.toolbar").html('Custom tool bar! Text/images etc.');
	// $(".foobar").appendTo("div.toolbar");

});

</script>

<div class="foobar">
  <div class="btn-group">
	<a class="btn" id="btn-add" href="{% url 'add_song' %}">Add</a>
	<button class="btn" id="btn-edit" disabled>Edit</button>
	<button class="btn" id="btn-delete" disabled>Delete</button>
  </div>
	<div id="feedback" class="alert alert-success hide" style="width: 150px; height: 20px; float: right; margin-bottom: 0px"></div>
</div>

{% include "music/header.html" %}

<div class="row">

<div class="span6">
<table class="table table-bordered">
<caption><strong>Recently Played Songs</strong></caption>
{% for song in recent_songs %}
<tr><td><a href="{% url 'music_stream' song.id %}">{{ song.title}} -- {{ song.artist }}</a></td></tr>
{% endfor %}
</table>
</div>

<div class="span6">
<br />
<table class="table">
<tr><td>
<a href="{% url 'show_album' random_albums.id %}">
<img src="{{ STATIC_URL }}albums/{{ random_albums.artist }}/{{ random_albums.title }}/artwork.jpg" height="150" width="150" />
</a>

</td>
<td>
{{ random_albums.artist }}
<br />
{{ random_albums.title }}
</td>
</tr>
</table>
</div>

</div>

<br />

<div class="row">

{% include "common/datatable.html" with id="song_list" %}

</div>

{% endblock %}

