{% extends "base.html" %}

{% block extra_head %}

{% endblock %}

{% block title %} {{ section }} {% endblock %}

{% block content %}

<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/jquery.dataTables.bootstrap.css" />

<script type="text/javascript" charset="utf-8" language="javascript" src="{{ STATIC_URL }}js/jquery.dataTables.min.js"></script>
<script type="text/javascript" charset="utf-8" language="javascript" src="{{ STATIC_URL }}js/jquery.dataTables.bootstrap.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/dataTableExt.oApi.fnSetFilteringDelay.js"> </script>

<script type="text/javascript" charset="utf-8">

var oTable;

/* Get the row that is currently selected */
/* Modified from http://www.datatables.net/examples/api/select_single_row.html */
function fnGetSelected( oTableLocal ) {

	var aTrs = oTable.fnGetNodes();

	for ( var i=0 ; i<aTrs.length ; i++ ) {
		if ( $(aTrs[i]).hasClass('row_selected') ) {
			return [i, oTable.fnGetData( i )[4]];
		}
	}

}

$(document).ready(function() {

{% for message in messages %}
	$('#feedback').fadeIn(1000).html('{{ message }}');
	setTimeout( function() {
		$('#feedback').fadeOut(1000);
	}, 3000);
{% endfor %}

    $('#btn-delete').on('click', function() {

		var selectedRow = fnGetSelected( oTable );
		var selectedRowID = selectedRow[0];
		var selectedWishListID = selectedRow[1];

		$.ajax( { type: 'DELETE',
				  url: '/api/v1/wishlist/' + selectedWishListID + '/',
				  success: function() {
					  oTable.fnDeleteRow(selectedRowID);
					  $('#feedback').fadeIn(1000).html("Task deleted.");
					  setTimeout( function() {
						  $('#feedback').fadeOut(1000);
					  }, 3000);

					  oTable.fnDraw();

					  $('#btn-edit').attr("disabled", "disabled");
					  $('#btn-delete').attr("disabled", "disabled");

				  }
				});
	});

    $('#btn-edit').on('click', function() {

		var selectedWishListID = fnGetSelected( oTable )[1];
        window.location='{% url 'wishlist_edit' 666 %}'.replace(666, selectedWishListID)

	});

	oTable = $('#wishlist_list').dataTable( {
		"bInfo": false,
		"bPaginate": false,
		"aaSorting": [[3, 'desc']],
		"bFilter": true,
		"bLengthChange": false,
		"sDom": "<'row'<'span6'<'toolbar'>l><'span6'f>r>t<'row'<'span6'i><'span6'p>>",
		"bSearchable": false,
		"aoColumnDefs": [
			{ "aTargets": [0], "asSorting": [ "desc", "asc" ] },
			{ "aTargets": [3], "sClass": "span3 monospaced", "iDataSort": 4, "asSorting": [ "desc", "asc" ] },
			{ "aTargets": [4], "bVisible": false },
        ],
	} );

	$('#wishlist_list').dataTable().fnSetFilteringDelay(1000);

	$("#wishlist_list tbody").click( function( event ) {

		// Hilight the clicked row
		$(event.target.parentNode).toggleClass("row_selected");

		// Remove hilighting from all other rows
		$(event.target.parentNode).siblings().removeClass("row_selected");

		// Enable or disabled the 'Edit' and 'Delete' buttons based
		//  on whether a row is selected (hilighted)
		if ( $(event.target.parentNode).hasClass("row_selected") ) {
			$('#btn-edit').removeAttr("disabled");
			$('#btn-delete').removeAttr("disabled");
		} else {
			$('#btn-edit').attr("disabled", "disabled");
			$('#btn-delete').attr("disabled", "disabled");
		}

    });

	$(".edit-controls").appendTo("div.toolbar");

});

</script>

<div class="edit-controls span3">
  <div class="btn-group">
	<a class="btn" id="btn-add" href="{% url 'wishlist_add' %}">Add</a>
	<button class="btn" id="btn-edit" disabled>Edit</button>
	<button class="btn" id="btn-delete" disabled>Delete</button>
  </div>
	<div id="feedback" class="alert alert-success hide" style="width: 150px; height: 20px; float: right; margin-bottom: 0px"></div>

</div>

{% include "common/datatable.html" with data=info cols=cols id="wishlist_list" %}

{% endblock %}
