{% extends "base.html" %}

{% load dict_get %}

{% block title %} {{ object.name }} {% endblock %}

{% block nav %}

    <div class="d-flex mb-3">
        <div class="mr-auto align-self-center">
            <ul class="breadcrumb mb-0 pt-0 pb-0">
                <li class="breadcrumb-item">
                    <a href="{% url 'fitness:summary' %}">Exercises</a>
                </li>
                <li class="breadcrumb-item active">
                    {{ object.name }}
                </li>
            </ul>
        </div>
    </div>

{% endblock %}

{% block content %}

    <div class="row no-gutters h-100">

        <div class="col-lg-3 d-flex flex-column" id="vue-app-left">

            <card title="" class="absolute flex-grow-0" v-b-hover="handleActivityCardHover">
                <template #content>
                    <div class="d-flex flex-column">
                        <div v-if="showHistoryMessage" class="text-info mb-2 d-flex flex-column">
                            <div>
                                Started
                                <strong class="text-white ml-1">
                                    {{ activity_info.0.started|date:"N j, Y" }}
                                </strong>
                            </div>
                            <div>
                                Frequency
                                <strong class="text-white ml-1">
                                    every [[ frequency ]] days
                                </strong>
                            </div>
                        </div>
                    <div class="mt-3">
                        <button type="submit" class="btn btn-primary" @click=onClick v-cloak>
                            <font-awesome-icon v-if="isActiveExercise" icon="check" class="mr-2"></font-awesome-icon>[[ activeButtonValue ]]
                        </button>
                    </div>
                    <div class="dropdownmenu hidden hover-target">
                        <dropdown-menu v-model="showActivityMenu" transition="translate-fade-down">
                            <font-awesome-icon icon="ellipsis-v"></font-awesome-icon>
                            <div slot="dropdown">
                                <a class="dropdown-item" href="#" @click.prevent="onClickSwitchExercise()">
                                    <font-awesome-icon icon="exchange-alt" class="text-primary mr-3"></font-awesome-icon>Switch Exercise
                                </a>
                                <a class="dropdown-item" href="#" @click.prevent="onClickChangeFrequency()">
                                    <font-awesome-icon icon="calendar-alt" class="text-primary mr-3"></font-awesome-icon>Change Frequency
                                </a>
                            </div>
                        </dropdown-menu>
                    </div>
                    </div>
                </template>
            </card>

            <card title="" class="flex-grow-0">
                <template #title-slot>
                    <div class="card-title text-primary">
                        Last Workout
                    </div>
                </template>
                <template #content>
                    <div class="text-info mb-4">
                        <strong class="text-white">
                            {{ recent_data.0.date|date:"N j, Y" }} - {{ delta_days }} day{{ delta_days|pluralize:"s" }} ago
                        </strong>
                        <canvas id="last_workout_weights" class="mt-3" :class="{'d-none': hideLastWorkoutWeights}">
                        </canvas>
                        <canvas id="last_workout_duration" class="mt-3" :class="{'d-none': hideLastWorkoutDuration}">
                        </canvas>
                        <canvas id="last_workout_reps" class="mt-3">
                        </canvas>
                    </div>
                </template>
            </card>

            <card title="" class="absolute flex-grow-1" v-b-hover="handleNoteCardHover">
                <template #content>

                    <div class="d-flex">
                    <div>
                    {% if object.description %}
                        <div class="d-flex flex-column">
                            <div class="card-title text-primary">
                                Description
                            </div>
                            <div>
                                {{ object.description|safe }}
                            </div>
                        </div>
                    {% endif %}

                    <editable-text-area
                        ref="note"
                        uuid="{{ object.uuid }}"
                        v-model:note="note"
                        edit-url="{% url 'fitness:edit_note' %}"
                        extra-class=""
                        :hide-add-button="true"
                    >
                        <template v-slot:title>
                            <div class="card-title text-primary mt-3">
                                Note
                            </div>
                        </template>
                    </editable-text-area>
                    </div>
                    <div class="dropdownmenu hidden hover-target">
                        <dropdown-menu v-model="showNoteMenu" transition="translate-fade-down">
                            <font-awesome-icon icon="ellipsis-v"></font-awesome-icon>
                            <div slot="dropdown">
                                <a v-if="note" class="dropdown-item" href="#" @click.prevent="addNote()">Edit note</a>
                                <a v-if="!note" class="dropdown-item" href="#" @click.prevent="addNote()">Add note</a>
                                <a v-if="note" class="dropdown-item" href="#" @click.prevent="deleteNote()">Delete note</a>
                            </div>
                        </dropdown-menu>
                    </div>
                    </div>

                </template>
            </card>

            <div id="modalSwitchExercise" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 id="myModalLabel" class="modal-title">
                                Switch Exercise
                            </h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">

                            <div class="mb-3 text-primary">
                                <small>
                                    Selecting an exercise from the list below will make it <em>active</em> and make the exercise <strong>{{ object.name }}</strong> <em>inactive</em>.
                                </small>
                            </div>
                            <b-table
                                :items="relatedExercises"
                                :fields="relatedExercisesFields"
                                @row-selected="onSelectRelatedExercise"
                                hover
                                selectable
                                :show-empty="true"
                                empty-text="No related exercises"
                            >
                            </b-table>
                        </div>
                    </div>
                </div>
            </div>

            <div id="modalChangeFrequency" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 id="myModalLabel" class="modal-title">
                                Change Exercise Frequency
                            </h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">

                            <div class="d-flex align-items-center">
                                <div>Workout every</div>
                                <div class="ml-3 w-20">
                                    <input id="frequency" class="form-control" type="number" min="1" :value="frequency" autocomplete="off" />
                                </div>
                                <div class="ml-3">days</div>
                                <div class="ml-3">
                                    <button type="button" class="btn btn-primary" @click="changeFrequency()">
                                        Change
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="col-lg-9 d-flex flex-column" id="vue-app-right">
            <workout-graph inline-template>
                <card title="" class="flex-grow-0 mr-3 pt-3">
                    <template #content>
                        <div class="d-flex">
                            <h5 class="ml-auto">
                                <a v-if="paginator.has_previous" href="#" @click.prevent="paginate('prev')">
                                    <font-awesome-icon icon="chevron-left" class="text-emphasis glow icon-hover" />
                                </a>
                                <span v-else>
                                    <font-awesome-icon icon="chevron-left" class="text-emphasis icon-disabled" />
                                </span>
                                <a v-if="paginator.has_next" href="#" @click.prevent="paginate('next')" class="ml-1">
                                    <font-awesome-icon icon="chevron-right" class="text-emphasis glow icon-hover" />
                                </a>
                                <span v-else>
                                    <font-awesome-icon icon="chevron-right" class="text-emphasis icon-disabled" />
                                </span>
                            </h5>
                        </div>
                        <canvas id="exercise-detail-chart" class="w-100"></canvas>
                    </template>
                </card>
            </workout-graph>

            <div class="d-flex flex-grow-1">

                <add-workout-form inline-template>
                    <card title="" class="w-50">
                        <template #title-slot>
                            <div class="card-title text-primary">
                                Add New Workout Data
                            </div>
                        </template>
                        <template #content>
                            <div class="d-flex flex-column">
                                <form id="form-workout" class="form-inline" action="{% url 'fitness:add' exercise.uuid %}" method="post">
                                {% csrf_token %}

                                    <input type="hidden" name="workout-data" :value="workoutDataJson" />

                                {% if latest_weight.0 %}
                                    <div class="form-group">
                                        <label>Weight</label>
                                        <input class="form-control mx-3" type="text" name="weight" size="3" v-model="weight" autocomplete="off" />
                                    </div>
                                {% endif %}

                                {% if latest_duration.0 %}
                                <div class="form-group">
                                    <label>Duration</label>
                                    <input class="form-control mx-3" type="text" name="duration" size="3" v-model="duration" autocomplete="off" />
                                </div>
                                {% endif %}

                                <div class="form-group">
                                    <label>Reps</label>
                                    <input class="form-control mx-3" type="text" name="reps" size="3" v-model="reps" autocomplete="off" />
                                </div>

                                <input class="btn btn-secondary" type="button" name="Go" value="Add" :disabled="addIsDisabled" @click="onClick" />
                                <input class="btn btn-primary ml-3" :class="{'d-none': submitIsHidden}" id="btn-submit" type="submit" name="Go" value="Submit" />

                                </form>

                                <div class="row mt-4 justify-content-center">
                                    <div class="col-lg-8">
                                        <b-table
                                            :items="items"
                                            :fields="fields"
                                            show-empty
                                            empty-text="No workout data"
                                        >
                                            <template #cell(weight)="data">
                                                <div class="text-center">
                                                    <b-form-input v-if="items[data.index].isEdit && selectedCell === 'weight'" type="number" v-model="items[data.index].weight" @blur="onBlur(data.index)"></b-form-input>
                                                    <span v-else @click="editCellHandler(data, 'weight')">
                                                        [[ data.value ]]
                                                    </span>
                                                </div>
                                            </template>
                                            <template #cell(duration)="data">
                                                <div class="text-center">
                                                    <b-form-input v-if="items[data.index].isEdit && selectedCell === 'duration'" type="number" v-model="items[data.index].duration" @blur="onBlur(data.index)"></b-form-input>
                                                    <span v-else @click="editCellHandler(data, 'duration')">
                                                        [[ data.value ]]
                                                    </span>
                                                </div>
                                            </template>
                                            <template #cell(reps)="data">
                                                <div class="text-center">
                                                    <b-form-input v-if="items[data.index].isEdit && selectedCell === 'reps'" type="number" v-model="items[data.index].reps" @blur="onBlur(data.index)"></b-form-input>
                                                    <span v-else @click="editCellHandler(data, 'reps')">
                                                        [[ data.value ]]
                                                    </span>
                                                </div>
                                            </template>
                                        </b-table>
                                    </div>
                                </div>
                            </div>
                        </template>
                    </card>
                </add-workout-form>

                <card title="" id="muscles-targeted" class="w-50 mr-3">
                    <template #content>
                        <div class="d-flex">
                            <div class="card-title text-primary">
                                Muscles Targeted:
                                <ul>
                                    {% for muscle in object.get_targeted_muscles.primary %}
                                        <li>
                                            <span class="text-info">{{ muscle }}</span>
                                            <span class="small text-muted">PRIMARY</span>
                                        </li>
                                    {% endfor %}
                                    {% for muscle in object.get_targeted_muscles.secondary %}
                                        <li>
                                            <span class="text-info">{{ muscle }}</span>
                                            <span class="small text-muted">SECONDARY</span>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </template>
                </card>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascript %}

    {{ block.super }}

    {{ related_exercises|json_script:"related_exercises" }}

    <script type="text/javascript" charset="utf-8">

        new Vue({
            el: "#vue-app-left",
            data() {
                return {
                    isActiveExercise: {% if activity_info %}true{% else %}false{% endif %},
                    showHistoryMessage: {% if activity_info %}true{% else %}false{% endif %},
                    note: "{{ object.note|escapejs }}",
                    showNoteMenu: false,
                    showActivityMenu: false,
                    relatedExercises: JSON.parse(document.getElementById("related_exercises").textContent),
                    relatedExercisesFields: [
                        {
                            key: "name",
                            label: "Exercise"
                        },
                        {
                            key: "last_active",
                            label: "Last Active",
                        }
                    ],
                    frequency: {{ activity_info.0.frequency.days }}
                }
            },
            methods: {
                onClick(evt) {
                    payload = {
                        "uuid": "{{ object.uuid }}"
                    };
                    if (this.isActiveExercise) {
                        payload.remove = true;
                    } else {
                        this.showHistoryMessage = false;
                    }
                    doPost(
                        this,
                        url = "{% url "fitness:change_active_status" %}",
                        payload,
                        (response) => {
                            this.isActiveExercise = ! this.isActiveExercise;
                        },
                        "",
                        ""
                    );
                },
                handleNoteCardHover(hovered, evt) {
                    evt.currentTarget.querySelector(".hover-target").classList.toggle("d-flex");
                },
                handleActivityCardHover(hovered, evt) {
                    evt.currentTarget.querySelector(".hover-target").classList.toggle("d-flex");
                },
                addNote() {
                    this.$refs.note.editNote();

                    this.$nextTick(() => {
                        document.getElementById("note").focus();
                    })
                },
                deleteNote() {
                    this.$refs.note.deleteNote();
                },
                onClickSwitchExercise(evt) {
                    $("#modalSwitchExercise").modal("show");
                },
                onClickChangeFrequency(evt) {
                    $("#modalChangeFrequency").modal("show");
                },
                changeFrequency(evt) {
                    const frequency = document.getElementById("frequency").value;
                    doPost(
                        this,
                        url = "{% url "fitness:update_frequency" %}",
                        {
                            "uuid": "{{ object.uuid }}",
                            "frequency": frequency,
                        }
                        ,
                        (response) => {
                            this.frequency = frequency;
                            $("#modalChangeFrequency").modal("hide");
                            this.$bvToast.toast(`Exercise frequency changed to ${this.frequency}`, {
                                title: "Info",
                                variant: "primary"
                            });
                        },
                        "",
                        ""
                    );

                },
                onSelectRelatedExercise(evt) {
                    const uuid = evt[0].uuid;
                    const name = evt[0].name;
                    doPost(
                        this,
                        url = "{% url "fitness:change_active_status" %}",
                        {
                            "uuid": uuid
                        },
                        (response) => {
                            $("#modalSwitchExercise").modal("hide");
                            this.$bvToast.toast(`Exercise '${name}' added to active list`, {
                                title: "Info",
                                variant: "primary"
                            });

                            doPost(
                                this,
                                url = "{% url "fitness:change_active_status" %}",
                                {
                                    "uuid": "{{ object.uuid }}",
                                    "remove": true
                                },
                                (response) => {
                                    this.isActiveExercise = false;
                                    this.$bvToast.toast(`Exercise '{{ object.name }}' is now inactive`, {
                                        title: "Info",
                                        variant: "primary"
                                    });
                                },
                                "",
                                ""
                            );
                        },
                        "",
                        ""
                    );
                }
            },
            computed: {
                activeButtonValue: function() {
                    return this.isActiveExercise ? "Active" : "Activate Exercise"
                },
                hideLastWorkoutWeights: function() {
                    return {% if latest_weight.0 > 0 %}false{% else %}true{% endif %};
                },
                hideLastWorkoutDuration: function() {
                    return {% if latest_duration.0 > 0 %}false{% else %}true{% endif %};
                },
            },
        });

        function getGradient(numberOfItems) {
            // The Rainbow object is from the RainbowVis-JS package
            let rainbow = new Rainbow();
            rainbow.setNumberRange(1, numberOfItems);
            rainbow.setSpectrum("#0000ff", "#00065e");

            let colorArray = [];
            for (let i = 1; i <= numberOfItems; i++) {
                const hexColour = rainbow.colourAt(i);
                colorArray.push(`#${hexColour}`);
            }
            return colorArray;
        }

        function showGraphValues(ctx, chartInstance, data, color) {
            ctx.textAlign = "center";
            ctx.textBaseline = "bottom";
            ctx.fillStyle = color;
            ctx.font="bold 24px Arial";
            data.datasets.forEach(function(dataset, i) {
                var meta = chartInstance.chart.getDatasetMeta(i);
                meta.data.forEach(function(bar, index) {
                    var data = dataset.data[index];
                    ctx.fillText(data, bar.x, bar.y + 40);
                });
            });
        }

        function getRecentWorkoutGraphOptions(label) {

            return {
                events: [], // Disable 'on-hover' events
                borderRadius: "10",
                animation: {
                    onComplete : function(chartInstance) {
                        const ctx = this.ctx;
                        ctx.textAlign = "center";
                        ctx.textBaseline = "bottom";
                        ctx.fillStyle = "#000";
                        ctx.font="bold 24px Arial";
                        this.data.datasets.forEach(function(dataset, i) {
                            var meta = chartInstance.chart.getDatasetMeta(i);
                            meta.data.forEach(function(bar, index) {
                                var data = dataset.data[index];
                                ctx.fillText(data, bar.x, bar.y + 40);
                            });
                        });
                    },
                },
                plugins: {
                    legend: {
                        display: false
                    },
                    title: {
                        display: true,
                        text: label,
                        color: "#fff",
                        font: {
                            size: "16px"
                        }
                    }
                },
                scales: {
                    x: {
                        ticks: {
                            color: "#00c8ff",
                        }
                    },
                    y: {
                        ticks: {
                            color: "#00c8ff",
                        }
                    }
                }
            }

        }

        const WorkoutGraph = {
            data() {
                return {
                    date: "{% now "Y-m-d" %}",
                    myChart: null,
                    paginator: {{ plotdata.paginator|safe }},
                };
            },
            mounted() {

                const scaleYText = "{% if recent_data.0.weight %}Weight{% elif recent_data.0.duration %}Duration{% else %}Reps{% endif %}";

                const ctx = document.getElementById("exercise-detail-chart").getContext("2d");
                const myChart = new Chart(ctx, {
                    type: "bar",
                    data: {
                        labels: {{ plotdata.labels|safe }},
                        datasets: [
                            {
                                data: {{ plotdata.plotdata|safe }},
                                barThickness: 40,
                                backgroundColor: function(context) {
                                    const chart = context.chart;
                                    const {ctx, chartArea} = chart;

                                    if (!chartArea) {
                                        // This case happens on initial chart load
                                        return;
                                    }
                                    return getGradient({{ plotdata.plotdata }}.length);
                                },
                            }
                        ]
                    },
                    options: {
                        events: [], // Disable 'on-hover' events
                        borderRadius: "10",
                        animation: {
                            onComplete : function(chartInstance) {
                                const ctx = this.ctx;
                                ctx.textAlign = "center";
                                ctx.textBaseline = "bottom";
                                ctx.fillStyle = "#fff";
                                ctx.font="bold 24px Arial";
                                this.data.datasets.forEach(function(dataset, i) {
                                    var meta = chartInstance.chart.getDatasetMeta(i);
                                    meta.data.forEach(function(bar, index) {
                                        var data = dataset.data[index];
                                        ctx.fillText(data, bar.x, bar.y + 40);
                                    });
                                });
                            },
                        },
                        plugins: {
                            title: {
                                display: true,
                                text: "Workout Data",
                                color: "#fff",
                                font: {
                                    family: "Poppins",
                                    size: 48,
                                    weight: "normal",
                                },
                            },
                            legend: {
                                display: false
                            }
                        },
                        scales: {
                            x: {
                                grid: {
                                    color: "#21295c",
                                },
                                ticks: {
                                    color: "#00c8ff",
                                    font: {
                                        family: "Poppins",
                                        size: 16,
                                    },
                                }
                            },
                            y: {
                                grid: {
                                    color: "#21295c",
                                },
                                title: {
                                    display: true,
                                    text: scaleYText,
                                    color: "#00ffd1",
                                    font: {
                                        family: "Poppins",
                                        size: 24,
                                    },
                                },
                                ticks: {
                                    color: "#00c8ff",
                                    font: {
                                        family: "Poppins",
                                        size: 16,
                                    },
                                }
                            }
                        },
                        font: {
                            size: 14,
                        }
                    }
                });

                this.myChart = myChart;

                let sets = Array.apply(0, Array({{ latest_weight|length }})).map(function(_,b) { return b + 1; });
                const labels = sets.map(x => `Set ${x}`);

                const ctx_last_workout = document.getElementById("last_workout_weights").getContext("2d");
                const lastWorkoutChartWeight = new Chart(ctx_last_workout, {
                    type: "bar",
                    data: {
                        labels: labels,
                        datasets: [
                            {
                                backgroundColor: "#00ffd1",
                                data: {{ latest_weight|safe }},
                                label: "Weight",
                            },
                        ]
                    },
                    options: getRecentWorkoutGraphOptions("Weight"),
                });

                const ctx_last_workout_reps = document.getElementById("last_workout_reps").getContext("2d");
                const lastWorkoutChartReps = new Chart(ctx_last_workout_reps, {
                    type: "bar",
                    data: {
                        labels: labels,
                        datasets: [
                            {
                                backgroundColor: "#00ffd1",
                                data: {{ latest_reps|safe }},
                                label: "Reps",
                            },
                        ]
                    },
                    options: getRecentWorkoutGraphOptions("Reps"),

                });

                const ctx_last_workout_duration = document.getElementById("last_workout_duration").getContext("2d");
                const lastWorkoutChartDuration = new Chart(ctx_last_workout_duration, {
                    type: "bar",
                    data: {
                        labels: labels,
                        datasets: [
                            {
                                backgroundColor: "#00ffd1",
                                data: {{ latest_duration|safe }},
                                label: "Duration",
                            },
                        ]
                    },
                    options: getRecentWorkoutGraphOptions("Duration"),
                });

            },
            methods: {
                paginate(direction) {
                    let pageNumber;
                    if (direction === "prev") {
                        pageNumber = this.paginator.previous_page_number;
                    } else {
                        pageNumber = this.paginator.next_page_number;
                    }

                    doGet(
                        this,
                        "{% url 'fitness:get_workout_data' %}?uuid={{ object.uuid }}&page_number=" + pageNumber,
                        (response) => {
                            this.myChart.data.labels = JSON.parse(response.data.workout_data.labels);
                            this.myChart.data.datasets[0].data = JSON.parse(response.data.workout_data.plotdata);
                            this.myChart.update();
                            this.paginator = JSON.parse(response.data.workout_data.paginator);
                        },
                        "Error getting workout data",
                    );
                },
                isDisabled() {
                    return false;
                }
            }
        };

        const AddWorkoutForm = {
            data() {
                return {
                    weight: {% if recent_data %}{{ latest_weight|first|default:0 }}{% else %}0{% endif %},
                    reps: {% if recent_data %}{{ latest_reps|first|default:0 }}{% else %}0{% endif %},
                    duration: {% if recent_data %}{{ latest_duration|first|default:0 }}{% else %}0{% endif %},
                    items: [],
                    fields: [
                        {% if recent_data.0.weight %}
                        {
                            key: "weight",
                            label: "Weight",
                            thClass: "text-center",
                            tdClass: "w-50"
                        },
                        {% elif recent_data.0.duration %}
                        {
                            key: "duration",
                            label: "Duration",
                            thClass: "text-center",
                            tdClass: "w-50"
                        },
                        {% endif %}
                        {
                            key: "reps",
                            label: "Reps",
                            thClass: "text-center",
                            tdClass: "w-50",
                        }
                    ],
                    selectedCell: null
                }
            },
            methods: {
                onBlur(index) {
                    this.items[index].isEdit = false;
                },
                onClick(evt) {
                    this.items.push(
                        {
                            "weight": this.weight,
                            "duration": this.duration,
                            "reps": this.reps
                        }
                    );
                },
                editCellHandler(data, name) {
                    this.items = this.items.map(item => ({...item, isEdit: false}));
                    this.items[data.index].isEdit = true;
                    this.selectedCell = name
                }
            },
            computed: {
                workoutDataJson() {
                    return JSON.stringify(this.items);
                },
                submitIsHidden() {
                    return this.items.length === 0;
                },
                addIsDisabled() {
                    return this.weight == 0 && this.duration == 0 && this.reps == 0;
                }
            }
        };

        new Vue({
            el: "#vue-app-right",
            components: {
                AddWorkoutForm,
                WorkoutGraph,
            }
        });

    </script>

{% endblock %}
