{% extends "base.html" %}

{% load dict_get %}
{% load relative_date %}

{% block title %} {{ object.name }} {% endblock %}

{% block nav %}

    <div class="d-flex mb-3">
        <div class="me-auto align-self-center">
            <ul class="breadcrumb mb-0 pt-0 pb-0">
                <li class="breadcrumb-item">
                    <a href="{% url 'fitness:summary' %}">Exercises</a>
                </li>
                <li class="breadcrumb-item active">
                    {{ object.name }}
                </li>
            </ul>
        </div>
    </div>

{% endblock %}

{% block content %}

    <div class="row g-0 h-100 mx-2">

        <div class="col-lg-3 d-flex flex-column" id="vue-app-left">

            <div {% if activity_info %}class="hover-target"{% endif %}>
                <card title="" class="z-index-positive flex-grow-0 position-relative backdrop-filter">
                    <template #content>
                        <div class="d-flex flex-column">
                            <div v-if="showHistoryMessage" class="mb-2 d-flex flex-column">
                                <div class="d-flex flex-column">
                                {% if activity_info %}
                                    <div class="d-flex">
                                        <div class="item-name">
                                            Started
                                        </div>
                                        <div class="item-value d-flex flex-column ms-2">
                                            <div>
                                                <strong>
                                                    {{ activity_info.0.started|date:"N j, Y" }}
                                                </strong>
                                            </div>
                                            <div>
                                                <span class="text-small ms-1">
                                                    {{ activity_info.0.started|relative_date }}
                                                </span>
                                            </div>
                                        </div>
                                        <drop-down-menu :show-on-hover="true">
                                            <template #dropdown>
                                                <li>
                                                    <a class="dropdown-item" href="#" @click.prevent="onClickSwitchExercise()">
                                                        <font-awesome-icon icon="exchange-alt" class="text-primary me-3"></font-awesome-icon>Switch Exercise
                                                    </a>
                                                </li>
                                                <li>
                                                    <a class="dropdown-item" href="#" @click.prevent="onClickChangeFrequency()">
                                                        <font-awesome-icon icon="calendar-alt" class="text-primary me-3"></font-awesome-icon>Change Frequency
                                                    </a>
                                                </li>
                                            </template>
                                        </drop-down-menu>
                                    </div>
                                    <hr class="m-2" />
                                    <div class="d-flex">
                                        <div class="item-name">
                                            Frequency
                                        </div>
                                        <div class="item-value ms-2">
                                            <strong>
                                                every [[ frequency ]] days
                                            </strong>
                                        </div>
                                    </div>
                                {% endif %}
                                </div>
                            </div>
                            <div v-else>
                                Exercise not active.
                            </div>
                            <div class="mt-3">
                                <button type="submit" class="btn btn-primary" @click=onClick v-cloak>
                                    <font-awesome-icon v-if="isActiveExercise" icon="check" class="me-2"></font-awesome-icon>[[ activeButtonValue ]]
                                </button>
                            </div>
                        </div>
                    </template>
 y               </card>
            </div>

            <card title="" class="flex-grow-0 backdrop-filter">
                <template #title-slot>
                    <div class="card-title text-primary">
                        Last Workout
                    </div>
                </template>
                <template #content>
                    <div class="mb-4">
                        {% if recent_data %}
                        <strong>
                            {{ recent_data.0.date|date:"N j, Y" }} - {{ delta_days }} day{{ delta_days|pluralize:"s" }} ago
                        </strong>
                        {% else %}
                            No previous workout found.
                        {% endif %}
                        <canvas id="last_workout_weights" class="mt-3" :class="{'d-none': hideLastWorkoutWeights}">
                        </canvas>
                        <canvas id="last_workout_duration" class="mt-3" :class="{'d-none': hideLastWorkoutDuration}">
                        </canvas>
                        <canvas id="last_workout_reps" class="mt-3">
                        </canvas>
                    </div>
                </template>
            </card>
            <div class="hover-target flex-grow-1 mb-3">
                <card title="" class="z-index-positive position-relative h-100 backdrop-filter">
                    <template #content>

                        <div class="d-flex flex-column">
                            <div class="d-flex flex-column">
                                <div class="d-flex">
                                    <div class="card-title text-primary">
                                        Description
                                    </div>
                                    <drop-down-menu :show-on-hover="true">
                                        <template #dropdown>
                                            <li>
                                                <a class="dropdown-item" href="#" @click.prevent="addNote()">
                                                    <font-awesome-icon icon="pencil-alt" class="text-primary me-3"></font-awesome-icon>
                                                    <span v-html="note ? 'Edit' : 'Add'"></span> note
                                                </a>
                                            </li>
                                            <li>
                                                <a v-if="note" class="dropdown-item" href="#" @click.prevent="deleteNote()">
                                                    <font-awesome-icon icon="trash-alt" class="text-primary me-3"></font-awesome-icon>
                                                    Delete note
                                                </a>
                                            </li>
                                        </template>
                                    </drop-down-menu>
                                </div>
                                <div v-html="description">
                                </div>
                            </div>
                            <hr v-if="description && note" class="m-2" />
                            <editable-text-area
                                ref="editableTextArea"
                                v-model="note"
                                extra-class=""
                                :hide-add-button="true"
                            >
                                <template v-slot:title>
                                    <div class="card-title text-primary mt-3">
                                        Note
                                    </div>
                                </template>
                            </editable-text-area>
                        </div>

                    </template>
                </card>
            </div>

            <div id="modalTimer" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog modal-sm" role="document">
                    <div class="modal-content">
                        <div class="modal-body d-flex align-items-center">
                            <h4 class="mb-0">Timer done!</h4>
                            <input type="button" class="btn btn-primary ms-auto" value="Close" data-bs-dismiss="modal" aria-label="Close" />
                        </div>
                    </div>
                </div>
            </div>

            <div id="modalSwitchExercise" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 id="myModalLabel" class="modal-title">
                                Switch Exercise
                            </h4>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="mb-3 text-primary">
                                <small>
                                    Selecting an exercise from the list below will make it <em>active</em> and make the exercise <strong>{{ object.name }}</strong> <em>inactive</em>.
                                </small>
                            </div>
                            <o-table
                                :data="relatedExercises"
                                :columns="relatedExercisesFields"
                                hoverable
                                @click="onSelectRelatedExercise"
                            >
                                <template #empty>
                                    <div class="text-center">No related exercises</div>
                                </template>
                            </o-table>
                        </div>
                    </div>
                </div>
            </div>

            <div id="modalChangeFrequency" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 id="myModalLabel" class="modal-title">
                                Change Exercise Frequency
                            </h4>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                            </button>
                        </div>
                        <div class="modal-body">

                            <div class="d-flex align-items-center">
                                <div>Workout every</div>
                                <div class="ms-3 w-20">
                                    <input id="frequency" class="form-control" type="number" min="1" :value="frequency" autocomplete="off" />
                                </div>
                                <div class="ms-3">days</div>
                                <div class="ms-3">
                                    <button type="button" class="btn btn-primary" @click="changeFrequency()">
                                        Change
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        {% csrf_token %}
        <div class="col-lg-9 d-flex flex-column" id="vue-app-right">
            <workout-graph
                date="{% now " Y - m - d" %}"
                :latest-duration="JSON.parse('{{ latest_duration }}')"
                :latest-weight="JSON.parse('{{ latest_weight }}')"
                :latest-reps="JSON.parse('{{ latest_reps }}')"
                initial-plot-type="{{ plotdata.initial_plot_type }}"
                :notes="JSON.parse('{{ plotdata.notes|safe|escapejs }}')"
                :initial-paginator="JSON.parse('{{ plotdata.paginator|safe|escapejs }}')"
                :plotdata="JSON.parse('{{ plotdata.plotdata|safe|escapejs }}')"
                :labels="JSON.parse('{{ plotdata.labels|safe|escapejs }}')"
                get-workout-data-url="{% url 'fitness:get_workout_data' %}?uuid={{ object.uuid }}&page_number=">
           </workout-graph>

            <div class="d-flex flex-grow-1">

                <add-workout-form
                    :csrf-token="csrfToken"
                    initial-weight="{% if recent_data %}{{ latest_weight|first|default:0 }}{% else %}0{% endif %}"
                    initial-reps="{% if recent_data %}{{ latest_reps|first|default:0 }}{% else %}0{% endif %}"
                    initial-duration="{% if recent_data %}{{ latest_duration|first|default:0 }}{% else %}0{% endif %}"
                    add-workout-url="{% url 'fitness:add' exercise.uuid %}"
                >
                </add-workout-form>
                <div class="d-flex flex-column w-50">
                    <card title="" id="muscles-targeted" class="me-2 backdrop-filter">
                        <template #content>
                            <div class="d-flex">
                                <div class="card-title text-primary">
                                    Muscles Targeted:
                                    <ul>
                                        {% for muscle in object.get_targeted_muscles.primary %}
                                            <li>
                                                <span class="item-name">{{ muscle }}</span>
                                                <span class="item-value small text-muted">PRIMARY</span>
                                            </li>
                                        {% endfor %}
                                        {% for muscle in object.get_targeted_muscles.secondary %}
                                            <li>
                                                <span class="item-name">{{ muscle }}</span>
                                                <span class="item-value small text-muted">SECONDARY</span>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </template>
                    </card>
                    <card title="Rest between sets" class="backdrop-filter flex-grow-1">
                        <template #content>
                            <hr class="filter" />
                            <div class="d-flex">
                                <div class="card-title">
                                    <div class="d-flex align-items-center my-2">
                                        <label class="w-50">Minutes</label>
                                        <input class="form-control w-50 ms-3" type="text" size="3" v-model="restPeriod" autocomplete="off" />
                                        <input class="btn btn-primary ms-3" type="button" value="Change" @click="onChangeRestPeriod" />
                                        </div>
                                        <div class="d-flex mt-3">
                                            <input class="btn btn-primary" type="button" value="Start Timer" @click="onStartTimer" />
                                            <div id="timer" class="ms-3"></div>
                                        </div>
                                </div>
                            </div>
                        </template>
                    </card>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascript %}

    {{ block.super }}

    {{ related_exercises|json_script:"related_exercises" }}

    <script type="text/javascript" charset="utf-8">

        const appLeft = createApp({
            name: "LeftPanel",
            delimiters: ["[[", "]]"],
            components: {
                Card,
                DropDownMenu,
                EditableTextArea,
                FontAwesomeIcon,
            },
            setup() {
                const isActiveExercise = ref({% if activity_info %}true{% else %}false{% endif %});
                const description = ref(markdown.render("{{ object.description|default:"No description"|escapejs }}"));
                const showHistoryMessage = ref({% if activity_info %}true{% else %} false{% endif %});
                const note = ref("{{ object.note|escapejs }}");
                const relatedExercises = ref(JSON.parse(document.getElementById("related_exercises").textContent));
                const relatedExercisesFields = [
                    {
                        field: "name",
                        label: "Exercise",
                    },
                    {
                        field: "last_active",
                        label: "Last Active",
                    },
                ];
                const frequency = ref({% if activity_info %} {{ activity_info.0.frequency.days }} {% else %} null{% endif %});

                const editableTextArea = ref(null);

                function onClick(evt) {
                    payload = {
                        "uuid": "{{ object.uuid }}",
                    };
                    if (isActiveExercise.value) {
                        payload.remove = true;
                    } else {
                        showHistoryMessage.value = false;
                    }
                    doPost(
                        url = "{% url "fitness:change_active_status" %}",
                        payload,
                        (response) => {
                            isActiveExercise.value = !isActiveExercise.value;
                        },
                        "",
                        "",
                    );
                };

                function addNote() {
                    editableTextArea.value.editNote(!note.value);
                };

                function onUpdateNote() {
                    doPost(
                        "{% url 'fitness:edit_note' %}",
                        {
                            "uuid": "{{ object.uuid }}",
                            "note": note.value,
                        },
                        (response) => {},
                        "",
                        "",
                    );
                };

                function deleteNote() {
                    note.value = "";
                };

                function onClickSwitchExercise(evt) {
                    const modal = new Modal("#modalSwitchExercise");
                    modal.show();
                };

                function onClickChangeFrequency(evt) {
                    const modal = new Modal("#modalChangeFrequency");
                    modal.show();
                };

                function changeFrequency(evt) {
                    const frequencyNew = document.getElementById("frequency").value;
                    doPost(
                        url = "{% url "fitness:update_frequency" %}",
                        {
                            "uuid": "{{ object.uuid }}",
                            "frequency": frequencyNew,
                        }
                        ,
                        (response) => {
                            frequency.value = frequencyNew;
                            const modal = Modal.getInstance(document.getElementById("modalChangeFrequency"));
                            modal.hide();
                            EventBus.$emit(
                                "toast",
                                {
                                    "body": `Exercise frequency changed to ${this.frequency}`,
                                },
                            );
                        },
                        "",
                        "",
                    );
                };

                function onSelectRelatedExercise(evt) {
                    const uuid = evt.uuid;
                    const name = evt.name;
                    doPost(
                        "{% url "fitness:change_active_status" %}",
                        {
                            "uuid": uuid,
                        },
                        (response) => {
                            const modal = Modal.getInstance(document.getElementById("modalSwitchExercise"));
                            modal.hide();
                            EventBus.$emit(
                                "toast",
                                {
                                    "body": `Exercise '${name}' added to active list`,
                                },
                            );

                            doPost(
                                "{% url "fitness:change_active_status" %}",
                                {
                                    "uuid": "{{ object.uuid }}",
                                    "remove": true,
                                },
                                (response) => {
                                    isActiveExercise.value = false;
                                    EventBus.$emit(
                                        "toast",
                                        {
                                            "body": "Exercise '{{ object.name }}' is now inactive",
                                        },
                                    );
                                },
                                "",
                                "",
                            );
                        },
                        "",
                        "",
                    );
                };

                const activeButtonValue = computed(() => {
                    return isActiveExercise.value ? "Active" : "Activate Exercise";
                });

                const hideLastWorkoutWeights = computed(() => {
                    return {% if latest_weight.0 > 0 %}false{% else %}true{% endif %};
                });

                const hideLastWorkoutDuration = computed(() => {
                    return {% if latest_duration.0 > 0 %}false{% else %}true{% endif %};
                });

                watch(note, (newValue) => {
                    if (newValue !== null) {
                        onUpdateNote();
                    }
                });

                return {
                    activeButtonValue,
                    addNote,
                    changeFrequency,
                    deleteNote,
                    description,
                    editableTextArea,
                    frequency,
                    hideLastWorkoutWeights,
                    hideLastWorkoutDuration,
                    isActiveExercise,
                    note,
                    onClick,
                    onClickChangeFrequency,
                    onClickSwitchExercise,
                    onSelectRelatedExercise,
                    onUpdateNote,
                    relatedExercises,
                    relatedExercisesFields,
                    showHistoryMessage,
                };
            },
        });
        appLeft.use(Oruga, {
            iconComponent: "font-awesome-icon",
            iconPack: "fa",
            table: {
                sortIcon: "caret-up",
            },
        });
        appLeft.mount("#vue-app-left");

        /**
         * Get the first workout data from a workout set
         * @param {Array.<number>} an array of workout data
         */
        function firstSet(workoutData) {
            return workoutData[0];
        }

        function getGradient(numberOfItems) {
            const styles = getComputedStyle(document.body);

            if (numberOfItems <= 1) {
                return;
            }

            // The Rainbow object is from the RainbowVis-JS package
            const rainbow = new Rainbow();
            rainbow.setNumberRange(1, numberOfItems);
            // Use trim() to remove the whitespace preceding the CSS property value
            rainbow.setSpectrum(styles.getPropertyValue("--chart-gradient-start").trim(), styles.getPropertyValue("--chart-gradient-end").trim());

            let colorArray = [];
            for (let i = 1; i <= numberOfItems; i++) {
                const hexColour = rainbow.colourAt(i);
                colorArray.push(`#${hexColour}`);
            }
            return colorArray;
        }

        function showGraphValues(ctx, chartInstance, data, color) {
            ctx.textAlign = "center";
            ctx.textBaseline = "bottom";
            ctx.fillStyle = color;
            ctx.font = "bold 24px Arial";
            data.datasets.forEach(function(dataset, i) {
                const meta = chartInstance.chart.getDatasetMeta(i);
                meta.data.forEach(function(bar, index) {
                    const data = dataset.data[index];
                    ctx.fillText(data, bar.x, bar.y + 40);
                });
            });
        }

        function getRecentWorkoutGraphOptions(label) {
            const styles = getComputedStyle(document.body);

            return {
                events: [], // Disable 'on-hover' events
                borderRadius: "10",
                animation: {
                    onComplete: function(chartInstance) {
                        const ctx = this.ctx;
                        ctx.textAlign = "center";
                        ctx.textBaseline = "bottom";
                        ctx.fillStyle = styles.getPropertyValue("--chart-fill-color");
                        ctx.font = "bold 24px Arial";
                        this.data.datasets.forEach(function(dataset, i) {
                            const meta = chartInstance.chart.getDatasetMeta(i);
                            meta.data.forEach(function(bar, index) {
                                const data = dataset.data[index];
                                ctx.fillText(data, bar.x, bar.y + 40);
                            });
                        });
                    },
                },
                plugins: {
                    legend: {
                        display: false,
                    },
                    title: {
                        display: true,
                        text: label,
                        color: styles.getPropertyValue("--chart-title-color"),
                        font: {
                            size: "16px",
                        },
                    },
                },
                scales: {
                    x: {
                        ticks: {
                            color: styles.getPropertyValue("--chart-tick-color"),
                        },
                    },
                    y: {
                        ticks: {
                            color: styles.getPropertyValue("--chart-tick-color"),
                        },
                    },
                },
            };
        }

        const appRight = createApp({
            name: "RightPanel",
            delimiters: ["[[", "]]"],
            components: {
                AddWorkoutForm,
                Card,
                WorkoutGraph,
            },
            setup() {
                const csrfToken = document.querySelector("[name=csrfmiddlewaretoken]").value;
                const restPeriod = ref({% if activity_info %}{{ activity_info.0.rest_period|default:3 }}{% else %}null{% endif %});
                const timer = ref({});

                function onChangeRestPeriod() {
                    doPost(
                        url = "{% url "fitness:update_rest_period" %}",
                        {
                            "uuid": "{{ object.uuid }}",
                            "rest_period": restPeriod.value,
                        }
                        ,
                        (response) => {},
                        "Rest period changed",
                        "",
                    );
                };

                function onStartTimer() {
                    const currentDate = new Date();
                    timer.value = new Date(currentDate.getTime() + restPeriod.value * 60000);
                    const timeinterval = setInterval(() => {
                        const total = Date.parse(timer.value) - Date.parse(new Date());
                        const seconds = Math.floor((total / 1000) % 60);
                        const minutes = Math.floor((total / 1000 / 60) % 60);

                        if (minutes < 1) {
                            document.getElementById("timer").innerHTML = `<strong>${seconds}</strong> seconds`;
                        } else {
                            document.getElementById("timer").innerHTML = `<strong>${minutes}</strong> ${pluralize("minute", minutes)} <strong>${seconds}</strong> seconds`;
                        }

                        if (total <= 0) {
                            clearInterval(timeinterval);
                            document.getElementById("timer").innerHTML = "Done";
                            const modal = new Modal("#modalTimer");
                            modal.show();
                        }
                    }, 1000);
                };

                return {
                    csrfToken,
                    onChangeRestPeriod,
                    onStartTimer,
                    restPeriod,
                    timer,
                };
            },
        });
        appRight.use(Oruga, {
            iconComponent: "font-awesome-icon",
            iconPack: "fa",
            table: {
                sortIcon: "caret-up",
            },
        });
        appRight.mount("#vue-app-right");

    </script>

{% endblock %}
