{% extends "base.html" %}

{% load dict_get %}
{% load relative_date %}

{% block title %} {{ object.name }} {% endblock %}

{% block nav %}

    <div class="d-flex mb-3">
        <div class="me-auto align-self-center">
            <ul class="breadcrumb mb-0 pt-0 pb-0">
                <li class="breadcrumb-item">
                    <a href="{% url 'fitness:summary' %}">Exercises</a>
                </li>
                <li class="breadcrumb-item active">
                    {{ object.name }}
                </li>
            </ul>
        </div>
    </div>

{% endblock %}

{% block content %}

    <div class="row g-0 h-100 mx-2">

        <div class="col-lg-3 d-flex flex-column" id="vue-app-left">

            <div {% if activity_info %}class="hover-target"{% endif %}>
                <card title="" class="z-index-positive flex-grow-0 position-relative backdrop-filter">
                    <template #content>
                        <div class="d-flex flex-column">
                            <div v-if="showHistoryMessage" class="mb-2 d-flex flex-column">
                                <div class="d-flex flex-column">
                                {% if activity_info %}
                                    <div class="d-flex">
                                        <div class="item-name">
                                            Started
                                        </div>
                                        <div class="item-value d-flex flex-column ms-2">
                                            <div>
                                                <strong>
                                                    {{ activity_info.0.started|date:"N j, Y" }}
                                                </strong>
                                            </div>
                                            <div>
                                                <span class="text-small ms-1">
                                                    {{ activity_info.0.started|relative_date }}
                                                </span>
                                            </div>
                                        </div>
                                    {% if activity_info %}
                                        <drop-down-menu :show-on-hover="true">
                                            <div slot="dropdown">
                                                <li>
                                                    <a class="dropdown-item" href="#" @click.prevent="onClickSwitchExercise()">
                                                        <font-awesome-icon icon="exchange-alt" class="text-primary me-3"></font-awesome-icon>Switch Exercise
                                                    </a>
                                                </li>
                                                <li>
                                                    <a class="dropdown-item" href="#" @click.prevent="onClickChangeFrequency()">
                                                        <font-awesome-icon icon="calendar-alt" class="text-primary me-3"></font-awesome-icon>Change Frequency
                                                    </a>
                                                </li>
                                            </div>
                                        </drop-down-menu>
                                    {% endif %}
                                    </div>
                                    <hr class="m-2" />
                                    <div class="d-flex">
                                        <div class="item-name">
                                            Frequency
                                        </div>
                                        <div class="item-value ms-2">
                                            <strong>
                                                every [[ frequency ]] days
                                            </strong>
                                        </div>
                                    </div>
                                {% endif %}
                                </div>
                            </div>
                            <div class="mt-3">
                                <button type="submit" class="btn btn-primary" @click=onClick v-cloak>
                                    <font-awesome-icon v-if="isActiveExercise" icon="check" class="me-2"></font-awesome-icon>[[ activeButtonValue ]]
                                </button>
                            </div>
                        </div>
                    </template>
                </card>
            </div>

            <card title="" class="flex-grow-0 backdrop-filter">
                <template #title-slot>
                    <div class="card-title text-primary">
                        Last Workout
                    </div>
                </template>
                <template #content>
                    <div class="mb-4">
                        <strong>
                            {{ recent_data.0.date|date:"N j, Y" }} - {{ delta_days }} day{{ delta_days|pluralize:"s" }} ago
                        </strong>
                        <canvas id="last_workout_weights" class="mt-3" :class="{'d-none': hideLastWorkoutWeights}">
                        </canvas>
                        <canvas id="last_workout_duration" class="mt-3" :class="{'d-none': hideLastWorkoutDuration}">
                        </canvas>
                        <canvas id="last_workout_reps" class="mt-3">
                        </canvas>
                    </div>
                </template>
            </card>
            <div class="hover-target flex-grow-1 mb-3">
                <card title="" class="z-index-positive position-relative h-100 backdrop-filter">
                    <template #content>

                        <div class="d-flex flex-column">
                            <div class="d-flex flex-column">
                                <div class="d-flex">
                                    <div class="card-title text-primary">
                                        Description
                                    </div>
                                    <drop-down-menu :show-on-hover="true">
                                        <div slot="dropdown">
                                            <li>
                                                <a class="dropdown-item" href="#" @click.prevent="addNote()">
                                                    <font-awesome-icon icon="pencil-alt" class="text-primary me-3"></font-awesome-icon>
                                                    <span v-html="note ? 'Edit' : 'Add'"></span> note
                                                </a>
                                            </li>
                                            <li>
                                                <a v-if="note" class="dropdown-item" href="#" @click.prevent="deleteNote()">
                                                    <font-awesome-icon icon="trash-alt" class="text-primary me-3"></font-awesome-icon>
                                                    Delete note
                                                </a>
                                            </li>
                                        </div>
                                    </drop-down-menu>
                                </div>
                                <div v-html="description">
                                </div>
                            </div>
                            <hr v-if="description && note" class="m-2" />
                            <editable-text-area
                                ref="note"
                                uuid="{{ object.uuid }}"
                                v-model:note="note"
                                extra-class=""
                                :hide-add-button="true"
                                @update-note="onUpdateNote"
                            >
                                <template v-slot:title>
                                    <div class="card-title text-primary mt-3">
                                        Note
                                    </div>
                                </template>
                            </editable-text-area>
                        </div>

                    </template>
                </card>
            </div>

            <div id="modalSwitchExercise" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 id="myModalLabel" class="modal-title">
                                Switch Exercise
                            </h4>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                            </button>
                        </div>
                        <div class="modal-body">

                            <div class="mb-3 text-primary">
                                <small>
                                    Selecting an exercise from the list below will make it <em>active</em> and make the exercise <strong>{{ object.name }}</strong> <em>inactive</em>.
                                </small>
                            </div>
                            <b-table
                                :data="relatedExercises"
                                :columns="relatedExercisesFields"
                                sort-icon="chevron-up"
                                @click="onSelectRelatedExercise"
                                hoverable
                            >

                                <template #empty>
                                    <div class="text-center">No related exercises</div>
                                </template>

                            </b-table>
                        </div>
                    </div>
                </div>
            </div>

            <div id="modalChangeFrequency" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 id="myModalLabel" class="modal-title">
                                Change Exercise Frequency
                            </h4>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                            </button>
                        </div>
                        <div class="modal-body">

                            <div class="d-flex align-items-center">
                                <div>Workout every</div>
                                <div class="ms-3 w-20">
                                    <input id="frequency" class="form-control" type="number" min="1" :value="frequency" autocomplete="off" />
                                </div>
                                <div class="ms-3">days</div>
                                <div class="ms-3">
                                    <button type="button" class="btn btn-primary" @click="changeFrequency()">
                                        Change
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="col-lg-9 d-flex flex-column" id="vue-app-right">
            <workout-graph inline-template>
                <card title="" class="flex-grow-0 me-2 pt-3 backdrop-filter">
                    <template #content>
                        <div class="d-flex">
                            <div>
                                <div class="btn-group" role="group" aria-label="Basic example">
                                    <button type="button" class="btn btn-primary" :class="{'active': currentPlotData === 'reps' }" @click="switchPlot('reps')">Reps</button>
                                    <button v-if="Object.keys(plotdata).includes('weight')" type="button" class="btn btn-primary" :class="{'active': currentPlotData === 'weight' }" @click="switchPlot('weight')">Weight</button>
                                    <button v-if="Object.keys(plotdata).includes('duration')" type="button" class="btn btn-primary" :class="{'active': currentPlotData === 'duration' }" @click="switchPlot('duration')">Duration</button>
                                </div>
                            </div>
                            <h5 class="ms-auto">
                                <a v-if="paginator.has_previous" href="#" @click.prevent="paginate('prev')">
                                    <font-awesome-icon icon="chevron-left" class="text-emphasis glow icon-hover" />
                                </a>
                                <span v-else>
                                    <font-awesome-icon icon="chevron-left" class="text-emphasis icon-disabled" />
                                </span>
                                <a v-if="paginator.has_next" href="#" @click.prevent="paginate('next')" class="ms-1">
                                    <font-awesome-icon icon="chevron-right" class="text-emphasis glow icon-hover" />
                                </a>
                                <span v-else>
                                    <font-awesome-icon icon="chevron-right" class="text-emphasis icon-disabled" />
                                </span>
                            </h5>
                        </div>
                        <canvas id="exercise-detail-chart" class="w-100"></canvas>
                    </template>
                </card>
            </workout-graph>

            <div class="d-flex flex-grow-1">

                <add-workout-form inline-template>
                    <card title="" class="w-50 backdrop-filter">
                        <template #title-slot>
                            <div class="card-title text-primary">
                                Add New Workout Data
                            </div>
                        </template>
                        <template #content>
                            <form id="form-workout" class="form-inline" action="{% url 'fitness:add' exercise.uuid %}" method="post">
                                {% csrf_token %}
                                <div class="d-flex w-100">
                                    <div class="d-flex flex-column w-50">

                                        <input type="hidden" name="workout-data" :value="workoutDataJson" />

                                {% if latest_weight.0 %}
                                    <div class="d-flex align-items-center my-2">
                                        <label class="w-50">Weight</label>
                                        <input class="form-control w-50 ms-3" type="text" name="weight" size="3" v-model="weight" autocomplete="off" />
                                    </div>
                                {% endif %}

                                {% if latest_duration.0 %}
                                    <div class="d-flex align-items-center my-2">
                                        <label class="w-50">Duration</label>
                                        <input class="form-control w-50 ms-3" type="text" name="duration" size="3" v-model="duration" autocomplete="off" />
                                    </div>
                                {% endif %}

                                <div class="d-flex align-items-center my-2">
                                    <label class="w-50">Reps</label>
                                    <input class="form-control w-50 ms-3" type="text" name="reps" size="3" v-model="reps" autocomplete="off" />
                                </div>
                                    </div>
                                    <div class="d-flex flex-column align-items-center w-50 pt-2">
                                        <input class="btn btn-secondary mb-3" type="button" name="Go" value="Add" :disabled="addIsDisabled" @click="onAddWorkoutData" />
                                        <input class="btn btn-primary" :class="{'d-none': submitIsHidden}" id="btn-submit" type="submit" name="Go" value="Submit" />
                                    </div>
                                </div>
                            </form>
                            <div class="row mt-4 justify-content-center align-items-center">
                                <div class="col-lg-8">

                                    <hr />

                                    <b-table
                                        :data="items"
                                        :mobile-cards="false"
                                        sort-icon="chevron-up"
                                    >

                                        {% if recent_data.0.weight %}
                                            <b-table-column field="weight" label="Weight" cell-class="text-center w-50" header-class="text-center cursor-pointer ps-4" v-slot="props">
                                                <input type="text" class="form-control text-center" size="3" v-if="items[props.row.index - 1].isEdit && selectedCell === 'weight'" type="number" v-model="items[props.row.index - 1].weight" @blur="onBlur(props.row.index - 1)"></input>
                                                <span v-else @click="editCellHandler(props.row.index - 1, 'weight')">
                                                    [[ props.row.weight ]]
                                                </span>
                                            </b-table-column>
                                        {% endif %}

                                        {% if recent_data.0.duration %}
                                            <b-table-column field="duration" label="Duration" cell-class="text-center w-50" header-class="text-center cursor-pointer ps-4" v-slot="props">
                                                <input type="text" class="form-control text-center" size="3" v-if="items[props.row.index - 1].isEdit && selectedCell === 'duration'" type="number" v-model="items[props.row.index - 1].duration" @blur="onBlur(props.row.index - 1)"></input>
                                                <span v-else @click="editCellHandler(props.row.index - 1, 'duration')">
                                                    [[ props.row.duration ]]
                                                </span>
                                            </b-table-column>
                                        {% endif %}

                                        <b-table-column field="reps" label="Reps" cell-class="text-center w-50" header-class="text-center cursor-pointer ps-4" v-slot="props">
                                            <input type="text" class="form-control text-center" size="3" v-if="items[props.row.index - 1].isEdit && selectedCell === 'reps'" type="number" v-model="items[props.row.index - 1].reps" @blur="onBlur(props.row.index - 1)"></input>
                                            <span v-else @click="editCellHandler(props.row.index - 1, 'reps')">
                                                [[ props.row.reps ]]
                                            </span>
                                        </b-table-column>

                                        <template #empty>
                                            <div class="text-center">No workout data</div>
                                        </template>

                                    </b-table>
                                </div>
                            </div>
                        </template>
                    </card>
                </add-workout-form>

                <card title="" id="muscles-targeted" class="w-50 me-2 backdrop-filter">
                    <template #content>
                        <div class="d-flex">
                            <div class="card-title text-primary">
                                Muscles Targeted:
                                <ul>
                                    {% for muscle in object.get_targeted_muscles.primary %}
                                        <li>
                                            <span class="item-name">{{ muscle }}</span>
                                            <span class="item-value small text-muted">PRIMARY</span>
                                        </li>
                                    {% endfor %}
                                    {% for muscle in object.get_targeted_muscles.secondary %}
                                        <li>
                                            <span class="item-name">{{ muscle }}</span>
                                            <span class="item-value small text-muted">SECONDARY</span>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </template>
                </card>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascript %}

    {{ block.super }}

    {{ related_exercises|json_script:"related_exercises" }}

    <script type="text/javascript" charset="utf-8">

        new Vue({
            el: "#vue-app-left",
            name: "LeftPanel",
            data() {
                return {
                    isActiveExercise: {% if activity_info %}true{% else %}false{% endif %},
                    description: markdown.render("{{ object.description|default:"No description"|escapejs }}"),
                    showHistoryMessage: {% if activity_info %}true{% else %} false{% endif %},
                    note: "{{ object.note|escapejs }}",
                    relatedExercises: JSON.parse(document.getElementById("related_exercises").textContent),
                    relatedExercisesFields: [
                        {
                            field: "name",
                            label: "Exercise"
                        },
                        {
                            field: "last_active",
                            label: "Last Active",
                        }
                    ],
                    frequency: {% if activity_info %}{{ activity_info.0.frequency.days }}{% else %}null{% endif %}
                }
            },
            methods: {
                onClick(evt) {
                    payload = {
                        "uuid": "{{ object.uuid }}"
                    };
                    if (this.isActiveExercise) {
                        payload.remove = true;
                    } else {
                        this.showHistoryMessage = false;
                    }
                    doPost(
                        this,
                        url = "{% url "fitness:change_active_status" %}",
                        payload,
                        (response) => {
                            this.isActiveExercise = ! this.isActiveExercise;
                        },
                        "",
                        ""
                    );
                },
                addNote() {
                    this.$refs.note.editNote(!this.note);
                },
                onUpdateNote() {
                    const note = this.$refs.note.textAreaValue;
                    doPost(
                        this,
                        "{% url 'fitness:edit_note' %}",
                        {
                            "uuid": "{{ object.uuid }}",
                            "note": note,
                        },
                        (response) => {
                            this.note = note;
                        },
                        "",
                        "",
                    );
                },
                deleteNote() {
                    this.$refs.note.deleteNote();
                },
                onClickSwitchExercise(evt) {
                    const modal = new Modal("#modalSwitchExercise");
                    modal.show();
                },
                onClickChangeFrequency(evt) {
                    const modal = new Modal("#modalChangeFrequency");
                    modal.show();
                },
                changeFrequency(evt) {
                    const frequency = document.getElementById("frequency").value;
                    doPost(
                        this,
                        url = "{% url "fitness:update_frequency" %}",
                        {
                            "uuid": "{{ object.uuid }}",
                            "frequency": frequency,
                        }
                        ,
                        (response) => {
                            this.frequency = frequency;
                            const modal = Modal.getInstance(document.getElementById("modalChangeFrequency"));
                            modal.hide();
                            EventBus.$emit(
                                "toast",
                                {
                                    "body": `Exercise frequency changed to ${this.frequency}`,
                                },
                            );
                        },
                        "",
                        ""
                    );

                },
                onSelectRelatedExercise(evt) {
                    const uuid = evt.uuid;
                    const name = evt.name;
                    doPost(
                        this,
                        url = "{% url "fitness:change_active_status" %}",
                        {
                            "uuid": uuid
                        },
                        (response) => {
                            const modal = Modal.getInstance(document.getElementById("modalSwitchExercise"));
                            modal.hide();
                            EventBus.$emit(
                                "toast",
                                {
                                    "body": `Exercise '${name}' added to active list`,
                                },
                            );

                            doPost(
                                this,
                                url = "{% url "fitness:change_active_status" %}",
                                {
                                    "uuid": "{{ object.uuid }}",
                                    "remove": true
                                },
                                (response) => {
                                    this.isActiveExercise = false;
                                    EventBus.$emit(
                                        "toast",
                                        {
                                            "body": `Exercise '{{ object.name }}' is now inactive`,
                                        },
                                    );
                                },
                                "",
                                ""
                            );
                        },
                        "",
                        ""
                    );
                }
            },
            computed: {
                activeButtonValue: function() {
                    return this.isActiveExercise ? "Active" : "Activate Exercise"
                },
                hideLastWorkoutWeights: function() {
                    return {% if latest_weight.0 > 0 %}false{% else %}true{% endif %};
                },
                hideLastWorkoutDuration: function() {
                    return {% if latest_duration.0 > 0 %}false{% else %}true{% endif %};
                },
            },
        });

        function getGradient(numberOfItems) {

            const styles = getComputedStyle(document.body);

            if (numberOfItems <= 1) {
                return;
            }

            // The Rainbow object is from the RainbowVis-JS package
            let rainbow = new Rainbow();
            rainbow.setNumberRange(1, numberOfItems);
            rainbow.setSpectrum("#0000ff", "#00065e");
            rainbow.setSpectrum(styles.getPropertyValue("--chart-gradient-start"), styles.getPropertyValue("--chart-gradient-end"));

            let colorArray = [];
            for (let i = 1; i <= numberOfItems; i++) {
                const hexColour = rainbow.colourAt(i);
                colorArray.push(`#${hexColour}`);
            }
            return colorArray;
        }

        function showGraphValues(ctx, chartInstance, data, color) {
            ctx.textAlign = "center";
            ctx.textBaseline = "bottom";
            ctx.fillStyle = color;
            ctx.font="bold 24px Arial";
            data.datasets.forEach(function(dataset, i) {
                var meta = chartInstance.chart.getDatasetMeta(i);
                meta.data.forEach(function(bar, index) {
                    var data = dataset.data[index];
                    ctx.fillText(data, bar.x, bar.y + 40);
                });
            });
        }

        function getRecentWorkoutGraphOptions(label) {

            const styles = getComputedStyle(document.body);

            return {
                events: [], // Disable 'on-hover' events
                borderRadius: "10",
                animation: {
                    onComplete : function(chartInstance) {
                        const ctx = this.ctx;
                        ctx.textAlign = "center";
                        ctx.textBaseline = "bottom";
                        ctx.fillStyle = styles.getPropertyValue("--chart-fill-color");
                        ctx.font="bold 24px Arial";
                        this.data.datasets.forEach(function(dataset, i) {
                            var meta = chartInstance.chart.getDatasetMeta(i);
                            meta.data.forEach(function(bar, index) {
                                var data = dataset.data[index];
                                ctx.fillText(data, bar.x, bar.y + 40);
                            });
                        });
                    },
                },
                plugins: {
                    legend: {
                        display: false
                    },
                    title: {
                        display: true,
                        text: label,
                        color: styles.getPropertyValue("--chart-title-color"),
                        font: {
                            size: "16px"
                        }
                    }
                },
                scales: {
                    x: {
                        ticks: {
                            color: styles.getPropertyValue("--chart-tick-color"),
                        }
                    },
                    y: {
                        ticks: {
                            color: styles.getPropertyValue("--chart-tick-color"),
                        }
                    }
                }
            }

        }

        const WorkoutGraph = {
            data() {
                return {
                    date: "{% now "Y-m-d" %}",
                    myChart: null,
                    paginator: {{ plotdata.paginator|safe }},
                    plotdata: {{ plotdata.plotdata|safe }},
                    currentPlotData: "{{ plotdata.initial_plot }}"
                };
            },
            mounted() {

                const scaleYText = "{{ plotdata.initial_plot|capfirst }}";
                const styles = getComputedStyle(document.body);

                const ctx = document.getElementById("exercise-detail-chart").getContext("2d");
                const myChart = new Chart(ctx, {
                    type: "bar",
                    data: {
                        labels: {{ plotdata.labels|safe }},
                        datasets: [
                            {
                                data: this.plotdata[this.currentPlotData],
                                barThickness: 40,
                                backgroundColor: function(context) {
                                    const chart = context.chart;
                                    const {ctx, chartArea} = chart;

                                    if (!chartArea) {
                                        // This case happens on initial chart load
                                        return;
                                    }
                                    // I wish I could re-use plotdata from this Vue component's data() method, but I don't know how to access it. In this function's context 'this' refers to the window object, not the Vue component
                                    return getGradient({{ plotdata.plotdata|safe }}.{{plotdata.initial_plot}}.length);
                                },
                            }
                        ]
                    },
                    options: {
                        events: [], // Disable 'on-hover' events
                        borderRadius: "10",
                        animation: {
                            onComplete : function(chartInstance) {
                                const ctx = this.ctx;
                                ctx.textAlign = "center";
                                ctx.textBaseline = "bottom";
                                ctx.fillStyle = styles.getPropertyValue("--chart-fill-color");
                                ctx.font="bold 24px Arial";
                                this.data.datasets.forEach(function(dataset, i) {
                                    var meta = chartInstance.chart.getDatasetMeta(i);
                                    meta.data.forEach(function(bar, index) {
                                        var data = dataset.data[index];
                                        ctx.fillText(data, bar.x, bar.y + 40);
                                    });
                                });
                            },
                        },
                        plugins: {
                            title: {
                                display: true,
                                text: "Workout Data",
                                color: styles.getPropertyValue("--chart-title-color"),
                                font: {
                                    family: "Poppins",
                                    size: 48,
                                    weight: "normal",
                                },
                            },
                            legend: {
                                display: false
                            }
                        },
                        scales: {
                            x: {
                                grid: {
                                    color: "#21295c",
                                },
                                ticks: {
                                    color: styles.getPropertyValue("--chart-tick-color"),
                                    font: {
                                        family: "Poppins",
                                        size: 16,
                                    },
                                }
                            },
                            y: {
                                grid: {
                                    color: "#21295c",
                                },
                                title: {
                                    display: true,
                                    text: scaleYText,
                                    color: styles.getPropertyValue("--chart-title-color"),
                                    font: {
                                        family: "Poppins",
                                        size: 24,
                                    },
                                },
                                ticks: {
                                    color: styles.getPropertyValue("--chart-tick-color"),
                                    font: {
                                        family: "Poppins",
                                        size: 16,
                                    },
                                }
                            }
                        },
                        font: {
                            size: 14,
                        }
                    }
                });

                this.myChart = myChart;

                let sets = Array.apply(0, Array({{ latest_weight|length }})).map(function(_,b) { return b + 1; });
                const labels = sets.map(x => `Set ${x}`);

                const ctx_last_workout = document.getElementById("last_workout_weights").getContext("2d");
                const lastWorkoutChartWeight = new Chart(ctx_last_workout, {
                    type: "bar",
                    data: {
                        labels: labels,
                        datasets: [
                            {
                                backgroundColor: styles.getPropertyValue("--chart-bg"),
                                data: {{ latest_weight|safe }},
                                label: "Weight",
                            },
                        ]
                    },
                    options: getRecentWorkoutGraphOptions("Weight"),
                });

                const ctx_last_workout_reps = document.getElementById("last_workout_reps").getContext("2d");
                const lastWorkoutChartReps = new Chart(ctx_last_workout_reps, {
                    type: "bar",
                    data: {
                        labels: labels,
                        datasets: [
                            {
                                backgroundColor: styles.getPropertyValue("--chart-bg"),
                                data: {{ latest_reps|safe }},
                                label: "Reps",
                            },
                        ]
                    },
                    options: getRecentWorkoutGraphOptions("Reps"),

                });

                const ctx_last_workout_duration = document.getElementById("last_workout_duration").getContext("2d");
                const lastWorkoutChartDuration = new Chart(ctx_last_workout_duration, {
                    type: "bar",
                    data: {
                        labels: labels,
                        datasets: [
                            {
                                backgroundColor: styles.getPropertyValue("--chart-bg"),
                                data: {{ latest_duration|safe }},
                                label: "Duration",
                            },
                        ]
                    },
                    options: getRecentWorkoutGraphOptions("Duration"),
                });

            },
            methods: {
                paginate(direction) {
                    let pageNumber;
                    if (direction === "prev") {
                        pageNumber = this.paginator.previous_page_number;
                    } else {
                        pageNumber = this.paginator.next_page_number;
                    }

                    doGet(
                        this,
                        "{% url 'fitness:get_workout_data' %}?uuid={{ object.uuid }}&page_number=" + pageNumber,
                        (response) => {
                            this.myChart.data.labels = JSON.parse(response.data.workout_data.labels);
                            this.myChart.data.datasets[0].data = JSON.parse(response.data.workout_data.plotdata)[this.currentPlotData];
                            this.myChart.update();
                            this.paginator = JSON.parse(response.data.workout_data.paginator);
                        },
                        "Error getting workout data",
                    );
                },
                switchPlot(dataset) {
                    this.currentPlotData = dataset;
                    this.myChart.data.datasets[0].data = this.plotdata[dataset];
                    this.myChart.options.scales.y.title.text = this.capitalizeFirstLetter(dataset);
                    this.myChart.update();
                },
                isDisabled() {
                    return false;
                },
                capitalizeFirstLetter(string) {
                    return string.charAt(0).toUpperCase() + string.slice(1);
                }
            }
        };

        const AddWorkoutForm = {
            data() {
                return {
                    weight: {% if recent_data %}{{ latest_weight|first|default:0 }}{% else %}0{% endif %},
                    reps: {% if recent_data %}{{ latest_reps|first|default:0 }}{% else %}0{% endif %},
                    duration: {% if recent_data %}{{ latest_duration|first|default:0 }}{% else %}0{% endif %},
                    items: [],
                    selectedCell: null,
                    set_count: 0,
                }
            },
            methods: {
                onBlur(index) {
                    this.items[index].isEdit = false;
                },
                onAddWorkoutData(evt) {
                    this.set_count += 1;
                    this.items.push(
                        {
                            "index": this.set_count,
                            "weight": this.weight,
                            "duration": this.duration,
                            "reps": this.reps
                        }
                    );
                },
                editCellHandler(index, name) {
                    this.items = this.items.map(item => ({...item, isEdit: false}));
                    this.items[index].isEdit = true;
                    this.selectedCell = name
                }
            },
            computed: {
                workoutDataJson() {
                    return JSON.stringify(this.items);
                },
                submitIsHidden() {
                    return this.items.length === 0;
                },
                addIsDisabled() {
                    return this.weight == 0 && this.duration == 0 && this.reps == 0;
                }
            }
        };

        new Vue({
            el: "#vue-app-right",
            components: {
                AddWorkoutForm,
                WorkoutGraph,
            },
        });

    </script>

{% endblock %}
