{% extends "base.html" %}

{% block title %} Fitness :: Summary {% endblock %}

{% block content %}

    <div class="card-grid ml-3" id="vue-app">

        <div class="right-column">

            <div>
                {% include "common/show_messages.html" %}
            </div>

            <h1>Active Exercises</h1>

            <b-table
                hover
                primary-key="uuid"
                :items="items_active"
                :fields="fields"
                sort-by="last_active"
                :tbody-tr-class="rowClass"
            >
                <template #cell(exercise)="data">
                    <a :href="data.item.exercise_url">[[ data.value ]]</a>
                </template>
                <template #cell(last_active)="data">
                    <div v-if="data.value">
                        <span class="float-left">[[ getDate(data.value) ]]</span>
                        <span class="float-right">[[ getInterval(data) ]]</span>
                    </div>
                    <div v-else>Never</div>
                </template>
            </b-table>

            <h1>Inactive Exercises</h1>

            <b-table
                hover
                primary-key="uuid"
                :items="items_inactive"
                :fields="fields"
                sort-by="exercise"
            >

                <template #cell(exercise)="data">
                    <a :href="data.item.exercise_url">[[ data.value ]]</a>
                </template>

                <template #cell(last_active)="data">
                    <div v-if="data.value">
                        <span class="float-left">[[ data.value ]]</span>
                        <span class="float-right">[[ getInterval(data) ]]</span>
                    </div>
                    <div v-else>Never</div>

                </template>
            </b-table>

        </div>

    </div>

{% endblock %}

{% block javascript %}

    {{ block.super }}

    <script type="text/javascript">

        Vue.mixin({ delimiters: ["[[", "]]"] });

        new Vue({
            el: "#vue-app",
            data() {
                return {
                    items_active: [
                        {% for exercise in active_exercises %}
                        {
                            "exercise_url": "{% url 'fitness:exercise_detail' exercise.uuid %}",
                            "exercise": "{{ exercise.name|escapejs }}",
                            "muscle_group": "{{ exercise.muscle.muscle_group }}",
                            "interval": "{{ exercise.interval.days }} day{{ exercise.interval.days|pluralize:"s" }}",
                            {% if exercise.last_active %}
                            "last_active": new Date("{{ exercise.last_active|date:"Y-m-d" }}"),
                            {% endif %}
                            {% if exercise.delta_days %}
                            "delta_days": {{ exercise.delta_days }},
                            {% endif %}
                            "overdue": "{{ exercise.overdue }}"
                        },
                        {% endfor %}
                    ],
                    items_inactive: [
                        {% for exercise in inactive_exercises %}
                        {
                            "exercise_url": "{% url 'fitness:exercise_detail' exercise.uuid %}",
                            "exercise": "{{ exercise.name|escapejs }}",
                            "muscle_group": "{{ exercise.muscle.muscle_group }}",
                            "last_active": "{{ exercise.last_active|date:"N j, Y" }}",
                            {% if exercise.delta_days %}
                            "delta_days": {{ exercise.delta_days }},
                            {% endif %}
                            "overdue": "{{ exercise.overdue }}"
                        },
                        {% endfor %}
                    ],
                    fields: [
                        {
                            key: "exercise"
                        },
                        {
                            key: "muscle_group",
                            class: "text-center"
                        },
                        {
                            key: "interval",
                            class: "text-center"
                        },
                        {
                            key: "last_active",
                            label: "Last Workout",
                            class: "last-active text-center"
                        },
                    ]
                }
            },
            methods: {
                getInterval(row) {
                    if (row.item.delta_days === 0) {
                        return "Today";
                    } else {
                        return row.item.delta_days + " " + pluralize("day", row.item.delta_days) + " ago";
                    }
                },
                getDate(date) {
                    return getFormattedDate(date, "long");
                },
                rowClass(item, type) {
                    if (!item || type !== "row") return
                    if (item.overdue) return "selected"
                }
            }
        });

    </script>

{% endblock %}
