{% extends "base.html" %}

{% block title %} Fitness :: Summary {% endblock %}

{% block content %}

    <div class="card-grid ms-3" id="vue-app">

        <div class="me-3">

            <h1>Active Exercises</h1>

            <b-table
                :data="items_active"
                :mobile-cards="false"
                hoverable
                default-sort="['overdue','desc']"
                :row-class="rowClass"
                sort-icon="chevron-up"
            >
                <b-table-column field="exercise" label="Exercise" v-slot="props">
                    <a :href="props.row.exercise_url">
                        [[ props.row.exercise ]]
                    </a>
                    <span v-if="props.row.overdue === '2'" class="ms-3">
                        OVERDUE
                    </span>
                </b-table-column>

                <b-table-column field="muscle_group" label="Muscle Group" cell-class="fitness-col-muscle-group text-center" header-class="text-center" v-slot="props">
                    [[ props.row.muscle_group ]]
                </b-table-column>

                <b-table-column field="frequency" label="Frequency" cell-class="fitness-col-frequency text-center" header-class="text-center" v-slot="props">
                    [[ props.row.frequency ]]
                </b-table-column>

                <b-table-column field="last_active" label="Last Workout" header-class="text-center" v-slot="props">
                    <div v-if="props.row.last_active" class="d-flex">
                        <div class="text-nowrap me-3">
                            [[ getDate(props.row.last_active) ]]
                        </div>
                        <div class="text-nowrap ms-auto">
                            [[ getFrequency(props.row) ]]
                        </div>
                    </div>
                    <div v-else>Never</div>
                </b-table-column>

            </b-table>

            <h1>Inactive Exercises</h1>

            <b-table
                :data="items_inactive"
                :mobile-cards="false"
                hoverable
                :default-sort="['exercise','asc']"
                sort-icon="chevron-up"
            >
                <b-table-column field="exercise" label="Exercise" sortable v-slot="props">
                    <a :href="props.row.exercise_url">
                        [[ props.row.exercise ]]
                    </a>
                </b-table-column>

                <b-table-column field="muscle_group" label="Muscle Group" cell-class="text-center" header-class="text-center" v-slot="props">
                    [[ props.row.muscle_group ]]
                </b-table-column>

                <b-table-column field="last_active" label="Last Workout" header-class="text-center" v-slot="props">
                    <div v-if="props.row.last_active" class="d-flex">
                        <div class="text-nowrap me-3">
                            [[ getDate(props.row.last_active) ]]
                        </div>
                        <div class="text-nowrap ms-auto">
                            [[ getFrequency(props.row) ]]
                        </div>
                    </div>
                    <div v-else>Never</div>
                </b-table-column>

            </b-table>

        </div>

    </div>

{% endblock %}

{% block javascript %}

    {{ block.super }}

    <script type="text/javascript">

        new Vue({
            el: "#vue-app",
            data() {
                return {
                    items_active: [
                        {% for exercise in active_exercises %}
                        {
                            "exercise_url": "{% url 'fitness:exercise_detail' exercise.uuid %}",
                            "exercise": "{{ exercise.name|escapejs }}",
                            "muscle_group": "{{ exercise.muscle.all.0.muscle_group }}",
                            "frequency": "{{ exercise.frequency.days }} day{{ exercise.frequency.days|pluralize:"s" }}",
                            {% if exercise.last_active %}
                            "last_active": new Date("{{ exercise.last_active|date:"Y-m-d" }}"),
                            {% endif %}
                            {% if exercise.delta_days is not None %}
                            "delta_days": {{ exercise.delta_days }},
                            {% endif %}
                            "overdue": "{{ exercise.overdue }}"
                        },
                        {% endfor %}
                    ],
                    items_inactive: [
                        {% for exercise in inactive_exercises %}
                        {
                            "exercise_url": "{% url 'fitness:exercise_detail' exercise.uuid %}",
                            "exercise": "{{ exercise.name|escapejs }}",
                            "muscle_group": "{{ exercise.muscle.all.0.muscle_group }}",
                            "last_active": "{{ exercise.last_active|date:"N j, Y" }}",
                            {% if exercise.delta_days %}
                            "delta_days": {{ exercise.delta_days }},
                            {% endif %}
                            "overdue": "{{ exercise.overdue }}"
                        },
                        {% endfor %}
                    ],
                }
            },
            methods: {
                getFrequency(row) {
                    if (row.delta_days === 0) {
                        return "Today";
                    } else {
                        return row.delta_days + " " + pluralize("day", row.delta_days) + " ago";
                    }
                },
                getDate(date) {
                    return getFormattedDate(date, "long");
                },
                rowClass(row, index) {
                    if (!row) return;
                    if (row.overdue === "1") return "selected";
                    if (row.overdue === "2") return "overdue";
                },
            }
        });

    </script>

{% endblock %}
