{% extends "base.html" %}

{% block title %} Fitness :: Summary {% endblock %}

{% block content %}

    <script type="text/javascript" src="{{ STATIC_URL }}js/datatables.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/dataTables.bootstrap4.min.js"></script>

    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/datatables.min.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/dataTables.bootstrap4.min.css" />

    <script type="text/javascript">

        var metadata = []
        var table;

        $(document).ready(function() {

            table = $('#active_exercises, #inactive_exercises').DataTable( {
                "columnDefs": [
                    { "targets": [2], "dataSort": 4 },
                    { "targets": [3,4], "visible": false },
                ],
                info: false,
                language: {
                    'emptyTable': 'No exercises found'
                },
                paging: false,
                searching: false,
                "sorting": [[3, 'asc']],
            });

        });

    </script>

    {% include "common/show_messages.html" %}

    <h1>Active Exercises</h1>

    <table class="table" id="active_exercises">

        <thead>
            <tr>
                <th>Exercise</th>
                <th>Muscle Group</th>
                <th>Date</th>
                <th></th>
                <th></th>
            </tr>
        </thead>

    {% for exercise in active_exercises %}

        <tr>
            <td><a href="{% url 'exercise_detail' exercise.id %}">{{ exercise.exercise }}</a></td>
            <td>{{ exercise.muscle.muscle_group }}</td>
            {% if exercise.last_active %}
                <td>{{ exercise.last_active|date:"N j, Y" }} - {{ exercise.delta_days }} day{{ exercise.delta_days|pluralize:"s" }} ago</td>
            {% else %}
                <td>Never</td>
            {% endif %}
            <td>{{ exercise.last_active|date:"U" }}</td>
            <td>{{ exercise.delta_days }}</td>
        </tr>

    {% endfor %}

    </table>

    <h1>Inactive Exercises</h1>

    <table class="table" id="active_exercises" style="display:none" width="100%">

        <thead>
            <tr>
                <th>Exercise</th>
                <th>Muscle Group</th>
                <th>Date</th>
                <th></th>
                <th></th>
            </tr>
        </thead>

    {% for exercise in inactive_exercises %}

        <tr>
            <td><a href="{% url 'exercise_detail' exercise.id %}">{{ exercise.exercise }}</a></td>
            <td>{{ exercise.muscle.muscle_group }}</td>
            {% if exercise.last_active %}
                <td>{{ exercise.last_active|date:"N j, Y" }} - {{ exercise.delta_days }} day{{ exercise.delta_days|pluralize:"s" }} ago</td>
            {% else %}
                <td>Never</td>
            {% endif %}
            <td>{{ exercise.last_active|date:"U" }}</td>
            <td>{{ exercise.delta_days }}</td>
        </tr>

    {% endfor %}

    </table>

{% endblock %}
