<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>

    <head>

        <meta charset="utf-8" />
        <title>Bordercore :: {{ title|default:"Bordercore" }}</title>

        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap-glyphicons.css" />

        <link rel="stylesheet" type="text/css" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.css" />

        {% if debug %}
            <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/theme-{{ request.user.userprofile.theme }}.css" />
        {% else %}
            <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/theme-{{ request.user.userprofile.theme }}.min.css" />
        {% endif %}

        {% block extra_head %}{% endblock %}

    </head>

    <body>

        <div class="wrapper">

            <nav id="sidebar">

                <div class="sidebar-header">
                    <h3>Bordercore</h3>
                    <strong>BC</strong>
                    {% block title %} {% endblock %}
                </div>

                <ul class="list-unstyled components" id="navbar">

                    <nav-bar inline-template>
                        <div>
                            <li v-for="item in items" v-cloak>
                                <div v-if="item.subitems">
                                    <a :href="'#' + subMenuId(item.id)" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle" :id="getSectionId(item.id)">
                                        <span class="nav-icon text-center">
                                            <font-awesome-icon :icon="item.icon"></font-awesome-icon>
                                        </span>
                                        [[ item.name ]]
                                    </a>
                                    <ul class="collapse list-unstyled" :id="subMenuId(item.id)">
                                        <li v-for="subitem in item.subitems">
                                            <a :href="subitem.url" :id="getSubSectionId(item.id, subitem.id)">[[ subitem.name ]]</a>
                                        </li>
                                    </ul>
                                </div>
                                <a v-else :href="item.url" :id="getSectionId(item.id)">
                                    <span class="nav-icon text-center">
                                        <font-awesome-icon :icon="item.icon"></font-awesome-icon>
                                    </span>
                                    <span>[[ item.name ]]</span>
                                    <span v-if="item.badge > 0" class="badge badge-info float-right">[[ item.badge ]]</span>
                                </a>
                            </li>
                        </div>

                    </nav-bar>

                </ul>

                <div id="below-nav">
                    <a href="{% url 'accounts:logout' %}">Logout</a>
                </div>

            </nav>

            <div class="container-fluid" id="content">

                <div class="row" id="top-search">

                    <div class="col-lg-5">
                        <div class="p-2">
                            <button type="button" id="sidebarCollapse" class="btn btn-info mr-3" @click="handleSidebarCollapse()">
                                <i class="fas fa-align-left"></i>
                                <font-awesome-icon icon="align-left"></font-awesome-icon>
                            </button>
                        </div>
                    </div>

                    <div class="col-lg-7 pt-2" style="padding-right: 25px">

                        <search-simple-suggest
                            ref="simpleSuggest"
                            value-attribute="id"
                            :max-suggestions=20
                            accesskey="s"
                            user-name="{{ user.get_username }}"
                            initial-search-type="{{ request.session.top_search_filter }}"
                            suggest-search-url="{% url 'search:search_tags_and_titles' %}?term="
                            query-search-url="{% url 'search:search' %}"
                            tag-search-url="{% url 'search:kb_search_tag_detail' 666 %}"
                            uuid-search-url="{% url 'blob:detail' '00000000-0000-0000-0000-000000000000' %}"
                            note-tag-search-url="{% url 'search:notes' %}?tagsearch="
                            note-query-search-url="{% url 'search:notes' %}"
                            bookmark-tag-search-url="{% url 'bookmark:get_bookmarks_by_tag' 666 %}"
                            drill-query-search-url="{% url 'drill:search' %}"
                            store-in-session-url="{% url "accounts:store_in_session" %}"
                        >
                        </search-simple-suggest>

                    </div>
                </div>

                <hr class="m-0" />

                <div class="row content-non-nav">

                    <div class="{{ col_left|default:"col-lg-3" }}" {% if not left_block_nohighlight %}id="left-block"{% endif %}>
                        {% block left-block %}
                        {% endblock %}
                    </div>

                    <div class="{{ col_content|default:"col-lg-9" }}">
                        {% block content %}
                        {% endblock %}
                    </div>

                </div>

            </div>

        </div>

        {% block javascript %}

            {% if debug %}
                <script type="text/javascript" src="{{ STATIC_URL }}js/javascript-bundle.js.gz"></script>
            {% else %}
                <script type="text/javascript" src="{{ STATIC_URL }}js/javascript-bundle.min.js.gz"></script>
            {% endif %}


            <script type="text/javascript">

                axios.defaults.xsrfCookieName = "csrftoken"
                axios.defaults.xsrfHeaderName = "X-CSRFTOKEN"

                Vue.mixin({ delimiters: ["[[", "]]"] });

                const timestamp = new Date().getTime()

                {% if user.userprofile.sidebar_image %}
                const sidebar = document.getElementById("sidebar");
                sidebar.style.backgroundImage = "url('https://bordercore-blobs.s3.amazonaws.com/sidebar/{{ user.userprofile.uuid }}/{{ user.userprofile.sidebar_image }}')";
                {% endif %}

                const NavBar = {
                    data() {
                        return {
                            items: [
                                {
                                    id: "homepage",
                                    name: "Home",
                                    url: "{% url 'homepage:homepage' %}",
                                    icon: "home"
                                },
                                {
                                    id: "bookmarks",
                                    name: "Bookmarks",
                                    url: "{% url 'bookmark:overview' %}",
                                    icon: "bookmark",
                                    badge: 0
                                },
                                {
                                    id: "nodes",
                                    name: "Nodes",
                                    url: "{% url 'node:list' %}",
                                    icon: "bookmark",
                                    badge: 0
                                },
                                {
                                    id: "feed",
                                    name: "Feeds",
                                    url: "",
                                    icon: "newspaper",
                                    subitems: [
                                        {
                                            id: "home",
                                            name: "Browse",
                                            url: "{% url 'feed:list' %}"
                                        },
                                        {
                                            id: "create",
                                            name: "Create a Feed",
                                            url: "{% url 'feed:create' %}"
                                        },
                                        {
                                            id: "update",
                                            name: "Manage Subscriptions",
                                            url: "{% url 'feed:subscriptions' %}"
                                        },

                                    ]
                                },
                                {
                                    id: "notes",
                                    name: "Notes",
                                    url: "{% url 'search:notes' %}",
                                    icon: "sticky-note"
                                },
                                {
                                    id: "search",
                                    name: "KB",
                                    icon: "copy",
                                    subitems: [
                                        {
                                            id: "home",
                                            name: "Search",
                                            url: "{% url 'search:search' %}"
                                        },
                                        {
                                            id: "search-tag",
                                            name: "Tag Search",
                                            url: "{% url 'search:kb_search_tag_detail_search' %}"
                                        },
                                        {
                                            id: "collection",
                                            name: "Collections",
                                            url: "{% url 'collection:list' %}"
                                        },
                                        {
                                            id: "blob-create",
                                            name: "Create Blob",
                                            url: "{% url 'blob:create' %}"
                                        },

                                    ]
                                },
                                {
                                    id: "drill",
                                    name: "Drill",
                                    url: "{% url 'drill:list' %}",
                                    icon: "graduation-cap"
                                },
                                {
                                    id: "music",
                                    name: "Music",
                                    icon: "music",
                                    subitems: [
                                        {
                                            id: "home",
                                            name: "Browse",
                                            url: "{% url 'music:list' %}"
                                        },
                                        {
                                            id: "create",
                                            name: "Add a Song",
                                            url: "{% url 'music:create_song' %}"
                                        },
                                    ]
                                },
                                {
                                    id: "todo",
                                    name: "Todo",
                                    url: "{% url 'todo:list' %}",
                                    icon: "tasks",
                                    {% if todo_count %}
                                    badge: {{ todo_count|default:0 }}
                                    {% endif %}
                                },
                                {
                                    id: "fitness",
                                    name: "Fitness",
                                    url: "{% url 'fitness:summary' %}",
                                    icon: "running",
                                    {% if exercise_count %}
                                    badge: {{ exercise_count|default:0 }}
                                    {% endif %}
                                },
                                {
                                    id: "prefs",
                                    name: "Prefs",
                                    url: "{% url 'accounts:prefs' %}",
                                    icon: "briefcase"
                                },

                            ],
                            activeClass: "active"
                        }
                    },
                    methods: {
                        getSectionId(id) {
                            return `nav-${id}`;
                        },
                        getSubSectionId(id, subSectionId) {
                            return `nav-${id}-${subSectionId}`;
                        },
                        subMenuId(id) {
                            return `${id}Submenu`;
                        },
                        getUntaggedBookmarkCount() {
                            let self = this;
                            doGet(
                                self,
                                "{% url "bookmark:get_new_bookmarks_count" 666 %}".replace(/666/, timestamp),
                                (response) => {
                                    count = response.data.count;
                                    // TODO: Lookup item by "id=bookmark" rather than the index number of "1"
                                    self.items[1].badge = count;

                                },
                                "Error getting new bookmarks count"
                            );

                        }
                    },
                    mounted() {

                        document.getElementById("nav-{{ section }}").classList.add("section-active");

                        {% if subsection %}
                        document.getElementById("nav-{{ section }}-{{ subsection }}").classList.add("subsection-active");
                        $("#{{ section }}Submenu").collapse("show");
                        {% endif %}

                        window.setInterval(this.getUntaggedBookmarkCount, 60000);

                    }
                }

                new Vue({
                    el: "#top-search",
                    methods: {
                        handleSidebarCollapse() {
                            document.getElementById("sidebar").classList.toggle("active");
                        }
                    },
                });

                new Vue({
                    el: "#navbar",
                    components: {
                        NavBar,
                    }
                });

            </script>

        {% endblock %}

    </body>

</html>
