<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>

    <head>

        <meta charset="utf-8" />
        <title>Bordercore :: {{ title|default:"Bordercore" }}</title>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap-glyphicons.css" />

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.0/{{ request.user.userprofile.theme }}/bootstrap.min.css" />

        <link rel="stylesheet" type="text/css" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.css" />

        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bordercore.css" />

        {% block extra_head %}{% endblock %}

    </head>

    <body>

        <div class="wrapper">

            <nav id="sidebar">

                <div class="sidebar-header">
                    <h3>Bordercore</h3>
                    <strong>BC</strong>
                    {% block title %} {% endblock %}
                </div>

                <ul class="list-unstyled components" id="navbar">

                    <nav-bar inline-template>
                        <div>
                            <li v-for="item in items" v-cloak>
                                <div v-if="item.subitems">
                                    <a :href="'#' + subMenuId(item.id)" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle" :id="getSectionId(item.id)">
                                        <span class="nav-icon text-center">
                                            <font-awesome-icon :icon="item.icon"></font-awesome-icon>
                                        </span>
                                        [[ item.name ]]
                                    </a>
                                    <ul class="collapse list-unstyled" :id="subMenuId(item.id)">
                                        <li v-for="subitem in item.subitems">
                                            <a :href="subitem.url" :id="getSubSectionId(item.id, subitem.id)">[[ subitem.name ]]</a>
                                        </li>
                                    </ul>
                                </div>
                                <a v-else :href="item.url" :id="getSectionId(item.id)">
                                    <span class="nav-icon text-center">
                                        <font-awesome-icon :icon="item.icon"></font-awesome-icon>
                                    </span>
                                    <span>[[ item.name ]]</span>
                                    <span v-if="item.badge > 0" class="badge badge-info float-right">[[ item.badge ]]</span>
                                </a>
                            </li>
                        </div>

                    </nav-bar>

                </ul>

                <div id="below-nav">
                    <a href="{% url 'logout' %}">Logout</a>
                </div>

            </nav>

            <div class="container-fluid" id="content">

                <div class="row" style="background-image: linear-gradient(to right, #a3a9cc, #ffffff);">

                    <div class="col-lg-10" id="top-search">
                        <div class="p-2">
                            <form class="form-inline">
                                <button type="button" id="sidebarCollapse" class="btn btn-info mr-3" @click="handleSidebarCollapse()">
                                    <i class="fas fa-align-left"></i>
                                    <font-awesome-icon icon="align-left"></font-awesome-icon>
                                </button>
                                <div class="position-relative">
                                    <div class="has-search">
                                        <input type="text" class="form-control" placeholder="Search" />
                                        <font-awesome-icon icon="search" class="form-control-feedback"></font-awesome-icon>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                    <div class="col-lg-2 align-self-end text-right">
                        <div class="pr-2 justify-content-center">
                            <span class="align-text-bottom" id="greeting">Hello <strong>{{ user.get_username }}</strong></span>
                        </div>
                    </div>

                </div>

                <hr class="m-0" />

                <div class="row content-non-nav">

                    <div class="{{ col_left|default:"col-lg-3" }}" {% if not left_block_nohighlight %}id="left-block"{% endif %}>
                        {% block left-block %}
                        {% endblock %}
                    </div>

                    <div class="{{ col_content|default:"col-lg-9" }}">
                        {% block content %}
                        {% endblock %}
                    </div>

                </div>

            </div>

        </div>

        {% block javascript %}

            {% if debug %}
                <script type="text/javascript" src="{{ STATIC_URL }}js/index-bundle-dev.js.gz"></script>
            {% else %}
                <script type="text/javascript" src="{{ STATIC_URL }}js/index-bundle.js.gz"></script>
            {% endif %}


            <script type="text/javascript">

                axios.defaults.xsrfCookieName = "csrftoken"
                axios.defaults.xsrfHeaderName = "X-CSRFTOKEN"

                Vue.mixin({ delimiters: ["[[", "]]"] });

                const timestamp = new Date().getTime()

                const NavBar = {
                    data() {
                        return {
                            items: [
                                {
                                    id: "homepage",
                                    name: "Home",
                                    url: "{% url 'homepage' %}",
                                    icon: "home"
                                },
                                {
                                    id: "bookmarks",
                                    name: "Bookmarks",
                                    url: "{% url 'bookmark_overview' %}",
                                    icon: "bookmark",
                                    badge: 0
                                },
                                {
                                    id: "nodes",
                                    name: "Nodes",
                                    url: "{% url 'node_overview' %}",
                                    icon: "bookmark",
                                    badge: 0
                                },
                                {
                                    id: "feed",
                                    name: "Feeds",
                                    url: "",
                                    icon: "newspaper",
                                    subitems: [
                                        {
                                            id: "home",
                                            name: "Browse",
                                            url: "{% url 'feed_list' %}"
                                        },
                                        {
                                            id: "add",
                                            name: "Add a Feed",
                                            url: "{% url 'feed_add' %}"
                                        },
                                        {
                                            id: "edit",
                                            name: "Manage Subscriptions",
                                            url: "{% url 'feed_subscriptions' %}"
                                        },

                                    ]
                                },
                                {
                                    id: "notes",
                                    name: "Notes",
                                    url: "{% url 'notes_list' %}",
                                    icon: "sticky-note"
                                },
                                {
                                    id: "kb",
                                    name: "KB",
                                    icon: "copy",
                                    subitems: [
                                        {
                                            id: "home",
                                            name: "Search",
                                            url: "{% url 'search' %}"
                                        },
                                        {
                                            id: "search-tag",
                                            name: "Tag Search",
                                            url: "{% url 'kb_search_tag_detail_search' %}"
                                        },
                                        {
                                            id: "collection",
                                            name: "Collections",
                                            url: "{% url 'collection_list' %}"
                                        },
                                        {
                                            id: "blob-add",
                                            name: "Add Blob",
                                            url: "{% url 'blob_add' %}"
                                        },

                                    ]
                                },
                                {
                                    id: "drill",
                                    name: "Drill",
                                    url: "{% url 'drill_list' %}",
                                    icon: "graduation-cap"
                                },
                                {
                                    id: "music",
                                    name: "Music",
                                    icon: "music",
                                    subitems: [
                                        {
                                            id: "home",
                                            name: "Browse",
                                            url: "{% url 'music_list' %}"
                                        },
                                        {
                                            id: "add",
                                            name: "Add a Song",
                                            url: "{% url 'add_song' %}"
                                        },
                                    ]
                                },
                                {
                                    id: "todo",
                                    name: "Todo",
                                    url: "{% url 'todo_list' %}",
                                    icon: "tasks",
                                    {% if todo_count %}
                                    badge: {{ todo_count|default:0 }}
                                    {% endif %}
                                },
                                {
                                    id: "fitness",
                                    name: "Fitness",
                                    url: "{% url 'fitness_summary' %}",
                                    icon: "running",
                                    {% if exercise_count %}
                                    badge: {{ exercise_count|default:0 }}
                                    {% endif %}
                                },
                                {
                                    id: "prefs",
                                    name: "Prefs",
                                    url: "{% url 'prefs' %}",
                                    icon: "briefcase"
                                },

                            ],
                            activeClass: "active"
                        }
                    },
                    methods: {
                        getSectionId(id) {
                            return `nav-${id}`;
                        },
                        getSubSectionId(id, subSectionId) {
                            return `nav-${id}-${subSectionId}`;
                        },
                        subMenuId(id) {
                            return `${id}Submenu`;
                        },
                        getUntaggedBookmarkCount() {
                            let self = this;

                            axios.get("{% url 'bookmark_get_new_bookmarks_count' 666 %}".replace(/666$/, timestamp))
                                 .then(function (response) {

                                     count = response.data.count;
                                     // TODO: Lookup item by "id=bookmark" rather than the index number of "1"
                                     self.items[1].badge = count;

                                 })
                                 .catch(function (error) {
                                     console.log("Error getting new bookmarks count: " + error);
                                 })
                                 .finally(function () {
                                 });
                        }
                    },
                    mounted() {

                        document.getElementById("nav-{{ section }}").classList.add("section-active");

                        {% if subsection %}
                        document.getElementById("nav-{{ section }}-{{ subsection }}").classList.add("subsection-active");
                        $("#{{ section }}Submenu").collapse("show");
                        {% endif %}

                        window.setInterval(this.getUntaggedBookmarkCount, 60000);
                    }
                }

                new Vue({
                    el: "#top-search",
                    methods: {
                        handleSidebarCollapse() {
                            document.getElementById("sidebar").classList.toggle("active");
                        }
                    },
                });

                new Vue({
                    el: "#navbar",
                    components: {
                        NavBar
                    }
                });

            </script>

        {% endblock %}

    </body>

</html>
