<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>

    <head>

        <meta charset="utf-8" />
        <title>Bordercore :: {{ title|default:"Bordercore" }}</title>

        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap-glyphicons.css" />

        {% if debug %}
            <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}dist/css/theme-{{ request.user.userprofile.theme }}.css" />
            <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}dist/css/vue-sidebar-menu.css" />
        {% else %}
            <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/theme-{{ request.user.userprofile.theme }}.min.css" />
            <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/vue-sidebar-menu.min.css" />
        {% endif %}

        {% block extra_head %}{% endblock %}

    </head>

    <body>

        <div class="wrapper">

            <div class="container-fluid" id="content">

                <div class="row">
                    <div class="col-lg-12">

                        <div id="top-search" class="row">

                            <div class="col-lg-5 card-grid my-auto" id="top-title">
                                {% block title %} {% endblock %}
                            </div>

                            <div class="col-lg-7 my-auto">

                                <search-simple-suggest
                                    ref="simpleSuggest"
                                    value-attribute="id"
                                    :max-suggestions=20
                                    accesskey="s"
                                    user-name="{{ user.get_username }}"
                                    initial-search-type="{{ request.session.top_search_filter }}"
                                    suggest-search-url="{% url 'search:search_tags_and_titles' %}?term="
                                    query-search-url="{% url 'search:search' %}"
                                    tag-search-url="{% url 'search:kb_search_tag_detail' 666 %}"
                                    uuid-search-url="{% url 'blob:detail' '00000000-0000-0000-0000-000000000000' %}"
                                    note-tag-search-url="{% url 'search:notes' %}?tagsearch="
                                    note-query-search-url="{% url 'search:notes' %}"
                                    bookmark-tag-search-url="{% url 'bookmark:get_bookmarks_by_tag' 666 %}"
                                    drill-query-search-url="{% url 'drill:search' %}"
                                    store-in-session-url="{% url "accounts:store_in_session" %}"
                                >
                                </search-simple-suggest>

                            </div>
                        </div>

                    </div>

                </div>

                {% block nav %}
                {% endblock %}

                <div class="row content-main">

                    {% if not no_left_block %}

                        <div id="left-block" class="col-lg-3 px-0">
                            {% block left-block %}
                            {% endblock %}
                        </div>

                    {% endif %}

                    <div class="col-lg-{{ content_block_width|default:"9" }}">
                        {% block content %}
                        {% endblock %}
                    </div>

                </div>

            </div>

        </div>

        <div id="sidebar">
            <sidebar-menu @toggle-collapse="onToggleCollapse" @item-click="onItemClick" :menu="menu" :collapsed="collapsed" width="240px" />
            <span slot="footer" v-if="!collapsed">
                <div id="below-nav">
                    <a href="{% url 'accounts:logout' %}">Logout</a>
                </div>
            </span>
            <span slot="toggle-icon">
                <font-awesome-icon icon="arrows-alt-h"></font-awesome-icon>
            </span>
            <span slot="dropdown-icon">
                <font-awesome-icon icon="angle-right"></font-awesome-icon>
            </span>
        </div>

        {% block javascript %}

            {% if debug %}
                <script type="text/javascript" src="{{ STATIC_URL }}dist/js/javascript-bundle.js.gz"></script>
            {% else %}
                <script type="text/javascript" src="{{ STATIC_URL }}js/javascript-bundle.min.js.gz"></script>
            {% endif %}

            <script type="text/javascript">

                axios.defaults.xsrfCookieName = "csrftoken"
                axios.defaults.xsrfHeaderName = "X-CSRFTOKEN"

                Vue.mixin({ delimiters: ["[[", "]]"] });

                const timestamp = new Date().getTime()

                {% if user.userprofile.sidebar_image %}
                const sidebar = document.getElementById("sidebar");
                sidebar.style.backgroundImage = "url('https://bordercore-blobs.s3.amazonaws.com/sidebar/{{ user.userprofile.uuid }}/{{ user.userprofile.sidebar_image }}')";
                {% endif %}

                new Vue({
                    el: "#top-search"
                });

                new Vue({
                    el: "#sidebar",
                    data() {
                        return {
                            collapsed: false,
                            menu: [
                                {
                                    header: true,
                                    title: "Bordercore",
                                    hiddenOnCollapse: true,
                                    class: "sidebar-header"
                                },
                                {
                                    href: "{% url 'homepage:homepage' %}",
                                    title: "Home",
                                    class: "first-item",
                                    icon: {
                                        element: "font-awesome-icon",
                                        attributes: {
                                            icon: "home",
                                        },
                                        class: "fa-xs"
                                    }
                                },
                                {
                                    href: "{% url 'bookmark:overview' %}",
                                    title: "Bookmarks",
                                    alias: "/bookmark/*",
                                    icon: {
                                        element: "font-awesome-icon",
                                        attributes: {
                                            icon: "bookmark",
                                        }
                                    },
                                    badge: {
                                        text: "0",
                                        class: "vsm--badge_default"
                                    }
                                },
                                {
                                    href: "{% url 'node:list' %}",
                                    title: "Nodes",
                                    alias: "/node/*",
                                    icon: {
                                        element: "font-awesome-icon",
                                        attributes: {
                                            icon: "box",
                                        }
                                    }
                                },
                                {
                                    href: "",
                                    title: "Feeds",
                                    icon: {
                                        element: "font-awesome-icon",
                                        attributes: {
                                            icon: "newspaper",
                                        }
                                    },
                                    child: [
                                        {
                                            href: "{% url 'feed:list' %}",
                                            title: "Browse"
                                        },
                                        {
                                            href: "{% url 'feed:create' %}",
                                            title: "Create a Feed"
                                        },
                                        {
                                            href: "{% url 'feed:subscriptions' %}",
                                            title: "Manage"
                                        }
                                    ]
                                },
                                {
                                    href: "{% url 'search:notes' %}",
                                    title: "Notes",
                                    icon: {
                                        element: "font-awesome-icon",
                                        attributes: {
                                            icon: "sticky-note",
                                        }
                                    }
                                },
                                {
                                    href: "",
                                    title: "KB",
                                    icon: {
                                        element: "font-awesome-icon",
                                        attributes: {
                                            icon: "copy",
                                        }
                                    },
                                    child: [
                                        {
                                            href: "{% url 'search:search' %}",
                                            title: "Search",
                                            alias: "/search/search*",
                                        },
                                        {
                                            href: "{% url 'search:kb_search_tag_detail_search' %}",
                                            title: "Tag Search",
                                            alias: "/search/tagdetail/*",
                                        },
                                        {
                                            href: "{% url 'collection:list' %}",
                                            title: "Collections",
                                            alias: "/collection/*",
                                        },
                                        {
                                            href: "{% url 'blob:create' %}",
                                            title: "Create Blob",
                                            alias: "/blob/*"
                                        }
                                    ]
                                },
                                {
                                    href: "{% url 'drill:list' %}",
                                    title: "Drill",
                                    alias: "/drill/*",
                                    icon: {
                                        element: "font-awesome-icon",
                                        attributes: {
                                            icon: "graduation-cap",
                                        }
                                    }
                                },
                                {
                                    href: "",
                                    title: "Music",
                                    icon: {
                                        element: "font-awesome-icon",
                                        attributes: {
                                            icon: "music",
                                        }
                                    },
                                    child: [
                                        {
                                            href: "{% url 'music:list' %}",
                                            title: "Browse",
                                            alias: "/music/*"
                                        },
                                        {
                                            href: "{% url 'music:create_song' %}",
                                            title: "Add a Song"
                                        }
                                    ]
                                },
                                {
                                    href: "{% url 'todo:list' %}",
                                    title: "Todo",
                                    alias: "/todo/*",
                                    icon: {
                                        element: "font-awesome-icon",
                                        attributes: {
                                            icon: "tasks",
                                        }
                                    },
                                    {% if todo_count %}
                                    badge: {
                                        text: {{ todo_count|default:0 }},
                                        class: "vsm--badge_default"
                                    }
                                    {% endif %}
                                },
                                {
                                    href: "{% url 'fitness:summary' %}",
                                    title: "Fitness",
                                    alias: "/fitness/*",
                                    icon: {
                                        element: "font-awesome-icon",
                                        attributes: {
                                            icon: "running",
                                        }
                                    },
                                    {% if exercise_count %}
                                    badge: {
                                        text: {{ exercise_count|default:0 }},
                                        class: "vsm--badge_default"
                                    }
                                    {% endif %}
                                },
                                {
                                    href: "{% url 'accounts:prefs' %}",
                                    title: "Prefs",
                                    alias: "/accounts/*",
                                    icon: {
                                        element: "font-awesome-icon",
                                        attributes: {
                                            icon: "briefcase",
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    methods: {
                        onToggleCollapse(collapsed) {
                            this.collapsed = collapsed;
                            const wrapper = document.querySelector(".wrapper");
                            if (collapsed) {
                                wrapper.classList.add("collapsed");
                            } else {
                                wrapper.classList.remove("collapsed");
                            }
                        },
                        onItemClick(event, item, node) {
                            this.ps.update();
                        },
                        getUntaggedBookmarkCount() {

                            let self = this;
                            doGet(
                                self,
                                "{% url "bookmark:get_new_bookmarks_count" 666 %}".replace(/666/, timestamp),
                                (response) => {
                                    count = response.data.count;
                                    self.menu.find(item => item.title === "Bookmarks").badge.text = count;

                                },
                                "error getting new bookmarks count"
                            );
                        }
                    },
                    mounted() {

                        window.setInterval(this.getUntaggedBookmarkCount, 60000);

                        const ps = new PerfectScrollbar(".vsm--scroll-wrapper");

                        // Save this so that we can update the scrollbar when expanding items in the sidebar
                        this.ps = ps;

                    }
                });

            </script>

        {% endblock %}

    </body>

</html>
