{% load render_bundle from webpack_loader %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html class="h-100" color-mode="dark">

    <head>

        <meta charset="utf-8" />
        <title>Bordercore :: Login</title>

        {% if debug %}
            <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}dist/css/bordercore.css" />
        {% else %}
            {% render_bundle "dist/css/bordercore" %}
        {% endif %}

    </head>

    <body class="h-100" style="background-image: url('{{STATIC_URL}}img/header_cyber.jpg'); background-size: cover">

        <div id="vue-app" class="container d-flex justify-content-center align-items-center h-100">
            <div class="jumbotron p-5 text-white bg-dark rounded-3">

                <h1 class="display-3 mb-5">Bordercore Login</h1>

                {% if message %}
                    <p class="alert alert-danger">{{ message }}</p>
                {% endif %}
                <form action="{% url 'accounts:login' %}" method="post" class="w-75 mx-auto">
                    {% csrf_token %}

                    <div class="row mb-3 align-items-center">
                        <label class="form-label col-lg-3 text-end" for="username">Username</label>
                        <div class="col-lg-9">
                            <div class="input-group">
                                <span class="input-group-text">
                                    <font-awesome-icon icon="user"></font-awesome-icon>
                                </span>
                                <input class="form-control" type="text" name="username" value="{% firstof request.POST.username request.COOKIES.bordercore_username %}" id="username" placeholder="Username">
                            </div>
                        </div>
                    </div>

                    <div class="row mb-3 align-items-center">
                        <label class="form-label col-lg-3 text-end" for="password">Password</label>
                        <div class="col-lg-9">
                            <div class="input-group">
                                <span class="input-group-text">
                                    <font-awesome-icon icon="lock"></font-awesome-icon>
                                </span>
                                <input class="form-control" type="password" name="password" id="password" placeholder="Password">
                            </div>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label class="col-form-label col-lg-3"></label>
                        <div class="col-auto input-group justify-content-end">
                            <button type="submit" class="btn btn-lg btn-primary">
                                Sign in
                            </button>
                        </div>
                    </div>

                    <input type="hidden" name="next" value="{% firstof next '/' %}" />

                </form>

            </div>

        </div>

        {% if debug %}
            <script type="text/javascript" src="{{ STATIC_URL }}dist/js/javascript-bundle.js.gz"></script>
        {% else %}
            {% render_bundle "dist/js/javascript" %}
        {% endif %}

        <script>

            const app = createApp({
                components: {
                    FontAwesomeIcon,
                },
            });
            app.mount("#vue-app");

        </script>
    </body>

</html>
