<script type="text/javascript">

    // Hilight the current section in the navbar
    $(document).ready(function() {

        $('.navbar-nav a:contains("{{ section }}")').addClass('active')

    })

</script>

<div class="row">
    <div class="col-lg-12">

        <div class="navbar navbar-dark navbar-expand-lg bg-dark main-navbar">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item"><a class="nav-link" href="{% url 'homepage' %}"><i class="glyphicon glyphicon-home"></i> Home</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'bookmark_list' %}">Bookmarks</a></li>

                <li class="dropdown nav-item">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Feeds</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{% url 'feed_list' %}">Browse</a>
                        <a class="dropdown-item" href="{% url 'feed_add' %}">Add a Feed</a>
                        <a class="dropdown-item" href="{% url 'feed_subscriptions' %}">Manage Subscriptions</a>
                    </div>
                </li>

                <li class="nav-item"><a class="nav-link" href="{% url 'notes_list' %}">Notes</a></li>

                <li class="dropdown nav-item">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">KB</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{% url 'search' %}">Search</a>
                        <a class="dropdown-item" href="{% url 'kb_search_tag_detail_search' %}">Tag Search</a>
                        <a class="dropdown-item" href="{% url 'collection_list' %}">Collections</a>
                        <a class="dropdown-item" href="{% url 'blob_add' %}">Add Blob</a>
                        <a class="dropdown-item" href="{% url 'search_admin' %}">Admin</a>
                    </div>
                </li>

                <li class="nav-item"><a class="nav-link" href="{% url 'deck_list' %}">Drill</a></li>

                <li class="dropdown nav-item">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Music</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{% url 'music_list' %}">Browse</a>
                        <a class="dropdown-item" href="{% url 'add_song' %}">Add a Song</a>
                        <a class="dropdown-item" href="{% url 'wishlist' %}">Wish List</a>
                    </div>
                </li>

                <li class="nav-item"><a class="nav-link" href="{% url 'todo_list' %}">Todo</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'fitness_summary' %}">Fitness</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'prefs' %}">Prefs</a></li>

            </ul>

        </div>

    </div>
</div>
