{% extends "base.html" %}

{% load dict_get %}

{% block title %} Music {% endblock %}

{% block left-block %}

    {% if info.id %}
        <img src="{% url 'album_artwork' info.id %}" height="300" width="300" />
    {% endif %}

    {% if notes %}
        <div>

            <br /><br />

            <table class="table table-bordered table-striped">
                <caption><strong>Notes</strong></caption>
                {% for note in notes %}
                    <tr><td>{{ note }}</td></tr>
                {% endfor %}
            </table>

        </div>
    {% endif %}


{% endblock %}

{% block content %}

    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/tagsinput.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/typeahead-bootstrap3.css" />
    <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap-tagsinput.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/typeahead.bundle.min.js"></script>

    <script type="text/javascript">

        $(document).ready(function() {

            {% include "common/common-typeaheadjs-tagsinput.js" %}

            $("input[type='file']").change( function(){
                $("button[type='submit']").removeAttr("disabled");
            });

        });

    </script>

    {% for message in messages %}
        <div class="alert alert-{{ message.tags|lower }}">{{ message|safe }}</div>
    {% endfor %}

    <div class="row">

        <div class="col-lg-7">
            <p class="lead">{{ action }} Song</p>
        </div>

        <div class="col-lg-12">

            <form enctype="multipart/form-data" action="{{ request.path }}" method="post">
                {% csrf_token %}

                <input type="hidden" name="sha1sum" value="{{ sha1sum }}" />

                {% if action == 'Upload' %}
                    <div class="form-group">
                        <div class="controls">

                            <input type="file" name="song" class="form-control col-lg-6 my-3" accept="audio/*" />

                            <button type="submit" class="btn btn-secondary" name="upload" disabled="true">Upload</button>

                            <a class="btn btn-secondary" href="{% url 'music_list' %}">Cancel</a>

                        </div>
                    </div>
                {% endif %}

                {% if action == 'Review' %}

                    {% for field in form %}
                        <div class="form-group{% if field.errors %} error{% endif %}">
                            <label class="col-lg-2 col-form-label" for="inputTitle">{{ field.label }}</label>
                            <div class="col-lg-5 controls">
                                {{ field }}
                                {% for error in field.errors %}
                                    <span class="form-error">{{ error }}</span>
                                {% endfor %}
                            </div>
                        </div>
                        {% if field.label == 'Year' %}
                            <div class="form-group{% if field.errors %} error{% endif %}">
                                <label class="col-lg-2 col-form-label" for="inputTitle">Album</label>
                                <div class="col-lg-5">
                                    <input class="form-control" id="id_album" name="album" type="text" value="{{ info.album.0 }}" />
                                </div>
                            </div>

                            <div class="form-group{% if field.errors %} error{% endif %}">
                                <label class="col-lg-2 col-form-label" for="inputTitle">Compilation</label>
                                <div class="col-lg-5">
                                    <input type="checkbox" name="compilation" id="id_compilation" />
                                </div>
                            </div>

                            <div class="form-group{% if field.errors %} error{% endif %}">
                                <label class="col-lg-2 col-form-label" for="inputTitle">Original Release Year</label>
                                <div class="col-lg-5">
                                    <input class="form-control" id="id_original_release_year" name="original_release_year" type="text" />
                                </div>
                            </div>

                        {% endif %}
                    {% endfor %}

                    <div class="form-group">
                        <div class="col-lg-3 offset-lg-2">
                            <button type="submit" class="btn btn-secondary" name="add">Add</button>
                            <a class="btn btn-secondary" href="{% url 'add_song' %}">Cancel</a>
                        </div>
                    </div>

            </form>

                {% endif %}

        </div>

    </div>

{% endblock %}
