{% extends "base.html" %}

{% load dict_get %}

{% block title %} Music {% endblock %}

{% block left-block %}

    {% if info.id %}
        <img src="{% url 'album_artwork' info.id %}" height="300" width="300" />
    {% endif %}

    {% if notes %}
        <div>

            <br /><br />

            <table class="table table-bordered table-striped">
                <caption><strong>Notes</strong></caption>
                {% for note in notes %}
                    <tr><td>{{ note }}</td></tr>
                {% endfor %}
            </table>

        </div>
    {% endif %}


{% endblock %}

{% block content %}

    <div id="vue-messages">
        {% include "common/show_messages.html" with width=6 %}
    </div>

    <div class="row">

        <div class="col-lg-7">
            <p class="lead">{{ action }} Song</p>
        </div>

        <div class="col-lg-12">

            <form enctype="multipart/form-data" action="{{ request.path }}" method="post">
                {% csrf_token %}

                <input type="hidden" name="sha1sum" value="{{ sha1sum }}" />

                {% if action == 'Upload' %}
                    <div class="form-group">
                        <div class="controls" id="file-upload">

                            <input type="file" name="song" class="form-control col-lg-6 my-3" accept="audio/*" @change="onChange" />

                            <button type="submit" class="btn btn-secondary" name="upload" disabled="true" ref="submitButton">Upload</button>

                            <a class="btn btn-secondary" href="{% url 'music_list' %}">Cancel</a>

                        </div>
                    </div>
                {% endif %}

                {% if action == 'Review' %}

                    {% for field in form %}

                        {% if field.label == "Tags" %}

                            <div id="tagsearch">
                                <div class="form-group {% if field.errors %} error{% endif %}">
                                    <label class="col-lg-2 col-form-label" for="inputTitle">Tags</label>

                                    <input type="hidden" name="tags" v-model="tagsHidden" />

                                    <div class="col-lg-5 controls" id="vue-wrapper">
                                        <vue-tags-input
                                         ref="tagsInputComponent"
                                         v-model="tag"
                                         :tags="tags"
                                         @tags-changed=tagsChanged
                                         :autocomplete-items="filteredItems"
                                         :add-only-from-autocomplete="false"
                                         placeholder=""
                                         />
                                    </div>
                                    {% for error in field.errors %}
                                        <span class="form-error">{{ error }}</span>
                                    {% endfor %}
                                </div>
                            </div>

                        {% elif field.label == 'Year' %}

                            <div class="form-group{% if field.errors %} error{% endif %}">
                                <label class="col-lg-2 col-form-label" for="inputTitle">Year</label>
                                <div class="col-lg-5">
                                    <input class="form-control" id="id_year" name="year" type="text" value="{{ info.date.0 }}" />
                                </div>
                            </div>

                            <div class="form-group{% if field.errors %} error{% endif %}">
                                <label class="col-lg-2 col-form-label" for="inputTitle">Album</label>
                                <div class="col-lg-5">
                                    <input class="form-control" id="id_album" name="album" type="text" value="{{ info.album.0 }}" />
                                </div>
                            </div>

                            <div class="form-group{% if field.errors %} error{% endif %}">
                                <label class="col-lg-2 col-form-label" for="inputTitle">Compilation</label>
                                <div class="col-lg-5">
                                    <input type="checkbox" name="compilation" id="id_compilation" />
                                </div>
                            </div>

                            <div class="form-group{% if field.errors %} error{% endif %}">
                                <label class="col-lg-2 col-form-label" for="inputTitle">Original Release Year</label>
                                <div class="col-lg-5">
                                    <input class="form-control" id="id_original_release_year" name="original_release_year" type="text" />
                                </div>
                            </div>

                        {% else %}

                            <div class="form-group{% if field.errors %} error{% endif %}">
                                <label class="col-lg-2 col-form-label" for="inputTitle">{{ field.label }}</label>
                                <div class="col-lg-5 controls">
                                    {{ field }}
                                    {% for error in field.errors %}
                                        <span class="form-error">{{ error }}</span>
                                    {% endfor %}
                                </div>
                            </div>

                        {% endif %}
                    {% endfor %}

                    <div class="form-group">
                        <div class="col-lg-3 offset-lg-2">
                            <button type="submit" class="btn btn-secondary" name="add">Add</button>
                            <a class="btn btn-secondary" href="{% url 'add_song' %}">Cancel</a>
                        </div>
                    </div>

            </form>

                {% endif %}

        </div>

    </div>

{% endblock %}

{% block javascript %}

    {{ block.super }}

    {{ tags|json_script:"initial-tags"|default:"" }}

    <script src="https://unpkg.com/@johmun/vue-tags-input/dist/vue-tags-input.js"></script>

    <script type="text/javascript">

        Vue.mixin({ delimiters: ["[[", "]]"] });

        {% if action == 'Upload' %}
        new Vue({
            el: "#file-upload",
            methods: {
                onChange(evt) {
                    this.$refs.submitButton.removeAttribute("disabled");
                }
            },
        });
        {% endif %}

        {% if action == 'Review' %}
        new Vue({
            el: "#tagsearch",
            data() {
                return {
                    tag: "",
                    tags: [],
                    autocompleteItems: [],
                    tagsHidden: ""
                }
            },
            watch: {
                "tag": "initItems",
            },
            methods: {
                tagsChanged(newTags) {
                    this.tagsHidden=newTags.map(x => x.text).join(",")
                },
                initItems() {

                    // Set a minimum character count to trigger the ajax call
                    if (this.tag.length < 3) return;

                    return axios.get("{% url 'tag_search' %}?query=" + this.tag)
                                .then(response => {
                                    this.autocompleteItems = response.data.map(a => {
                                        return { text: a.value };
                                    })
                                })
                }
            },
            mounted() {
                initialTags = JSON.parse(document.getElementById("initial-tags").textContent);
                if (initialTags) {
                    this.tags = initialTags;
                    this.tagsHidden=initialTags.map(x => x.text).join(",")
                }
            },
            computed: {
                filteredItems() {
                    return this.autocompleteItems.filter(i => {
                        return i.text.toLowerCase().indexOf(this.tag.toLowerCase()) !== -1;
                    });
                }
            }
        });
        {% endif %}

        new Vue({
            el: "#vue-messages",
        });

    </script>

{% endblock %}
