{% extends "base.html" %}

{% block title %} Music {% endblock %}

{% block nav %}

    <div class="d-flex mb-3">
        <div class="mr-auto align-self-center">
            <ul class="breadcrumb mb-0 pt-0 pb-0">
                <li class="breadcrumb-item"> <a href="{% url 'music:list' %}">Music</a> </li>
                <li class="breadcrumb-item"> <a href="{% url 'music:artist_detail' album.artist %}">{{ album.artist }}</a> </li>
                <li class="breadcrumb-item active"> {{ album.title }} </li>
            </ul>
        </div>
    </div>

{% endblock %}

{% block content %}

    <div class="row no-gutters h-100" id="vue-app">

        <div class="col-lg-3 d-flex flex-column">

            <div class="card-grid ml-2">

                <img src="{{ MEDIA_URL_MUSIC }}artwork/{{ album.uuid }}" class="mw-100" height="400" width="400" />

                {% if album.note %}
                    <h5 class="mt-3" v-html="getNote('{{ object.note }}')"></h5>
                {% endif %}

                <div class="mt-3" id="audio_player">
                    <audio controls controlsList="nodownload" id="player" class="mw-100" ref="audioPlayer">
                        <source src="" type="audio/mpeg" />
                        Your browser does not support the audio tag.
                    </audio>
                </div>

                <div class="ml-4 mt-1">
                    <input type="checkbox" id="continuous_play" @change="onCheck">
                    <label for="continuous_play">Continous Play</label>
                </div>

            </div>

        </div>

        <div class="col-lg-9">

            <div class="card-grid ml-2">

                <div class="right-column">

                    <h1>{{ album.title }}</h1>
                    <h3><a href="{% url 'music:artist_detail' album.artist %}">{{ album.artist }}</a></h3>
                    <h6>{{ album.year }}</h6>
                    {% if album.original_release_year != album.year %}
                    <h5>Originally released {{ album.original_release_year }}</h5>
                    {% endif %}

                    <b-table
                        hover
                        primary-key="uuid"
                        :items="songList"
                        :fields="fields"
                        selectable
                        select-mode="single"
                        @row-clicked="rowClicked"
                        @row-hovered="rowHovered"
                        @row-unhovered="rowUnHovered"
                        selected-variant="info"
                        sort-by="track"
                        ref="table"
                    >

                        <template #cell(title)="data">
                            <span v-html="data.value"></span>
                            <span class="pl-2 table-note" v-html="data.item.note"></span>
                        </template>

                        <template #cell(uuid)="data">
                            <div class="hover-target hidden">
                                <dropdown-menu v-model="show" :right="right" transition="translate-fade-down" class="text-center">
                                    <font-awesome-icon icon="ellipsis-v" class="burger-menu"></font-awesome-icon>
                                    <div slot="dropdown">
                                        <a class="dropdown-item" href="#" @click="onClickUpdate(data.value)">Update</a>
                                        <a class="dropdown-item" href="#" @click="onClickAddToPlaylist(data.value)">Add to playlist</a>
                                    </div>
                                </dropdown-menu>
                            </div>
                        </template>

                    </b-table>

                </div>

            </div>

        </div>

        <add-to-playlist
            ref="addToPlaylist"
            get-playlists-url="{% url 'playlist-list' %}"
            add-to-playlist-url="{% url 'music:add_to_playlist' %}?query="
            default-playlist="{{ request.session.music_playlist }}"
        >
        </add-to-playlist>

    </div>

{% endblock %}

{% block javascript %}

    {{ block.super }}

    <script type="text/javascript" charset="utf-8">

        Vue.mixin({ delimiters: ["[[", "]]"] });

        const EventBus = new Vue();

        let currentlyPlayingSongUuid = null;

        new Vue({
            el: "#vue-app",
            components: {
                AddToPlaylist
            },
            data() {
                return {
                    songList: [
                        {% for song in song_list %}
                        {
                            uuid: "{{ song.uuid }}",
                            track: {{ song.track }},
                            title: "{{ song.title|safe }}",
                            note: "{{ song.note|safe }}",
                            length: "{{ song.length }}"
                        },
                        {% endfor %}
                    ],
                    fields: [
                        {
                            key: "track",
                            tdClass: "text-center",
                            thClass: "col-action text-center",
                        },
                        {
                            key: "title",
                        },
                        {
                            key: "length",
                            tdClass: "text-center",
                            thClass: "text-center",
                        },
                        {
                            key: "uuid",
                            label: "",
                            tdClass: "text-center align-middle",
                            thClass: "col-action",
                        },
                    ],
                    continuousPlay: false,
                    show: false,
                    right: true,
                }
            },
            methods: {
                rowClicked(item, index, evt) {
                    // If we found anthing other than a TD element, we've
                    //  clicked on the "on hover" context menu. In that case,
                    //  don't play the song.
                    if (evt.srcElement.nodeName === "TD") {
                        currentlyPlayingSongUuid = item.uuid;
                        this.playCurrentlySelectedSong();
                    }
                },
                rowHovered(item, index, evt) {
                    evt.currentTarget.querySelector(".hover-target").classList.remove("hidden");
                },
                rowUnHovered(item, index, evt) {
                    evt.currentTarget.querySelector(".hover-target").classList.add("hidden");
                },
                onClickUpdate(uuid) {
                    window.location="{% url 'music:update' '00000000-0000-0000-0000-000000000000' %}".replace(/00000000-0000-0000-0000-000000000000/, uuid);
                },
                onClickAddToPlaylist(uuid) {
                    this.$refs.addToPlaylist.openModal(uuid);
                },
                onCheck(evt) {
                    this.continuousPlay = evt.srcElement.checked;
                },
                getNote(note) {
                    return markdown.render(note);
                },
                playCurrentlySelectedSong() {
                    axios.get("{% url 'music:get_song_info' '00000000-0000-0000-0000-000000000000' %}".replace('00000000-0000-0000-0000-000000000000', currentlyPlayingSongUuid))
                         .then(response => {
                             let vid = document.getElementById("player");
                             vid.src = response.data.url;
                             vid.play()
                         })
                }
            },
            mounted() {

                EventBus.$on("onEnded", payload => {

                    // Find next song in list to play
                    let index = this.songList.findIndex(x => x.uuid === currentlyPlayingSongUuid);
                    index = index + 1;

                    if (this.continuousPlay && index < this.songList.length) {
                        currentlyPlayingSongUuid = this.songList[index].uuid;
                        this.$refs.table.selectRow(index);
                        this.playCurrentlySelectedSong();
                    } else {
                        this.$refs.table.unselectRow(index - 1);
                    }

                });

            }

        });

        document.getElementById("player").onended = function(evt) {
            EventBus.$emit("onEnded");
        };

    </script>

{% endblock %}
