{% extends "base.html" %}

{% block title %} Music {% endblock %}

{% block nav %}

    <div class="d-flex mb-3" id="vue-nav">
        <div class="me-auto align-self-center">
            <ul class="breadcrumb mb-0 pt-0 pb-0">
                <li class="breadcrumb-item"> <a href="{% url 'music:list' %}"><font-awesome-icon icon="home" class="icon-hover"></font-awesome-icon></a> </li>
                <li class="breadcrumb-item"> <a href="{% url 'music:artist_detail' album.artist.uuid %}">{{ album.artist.name }}</a> </li>
                <li class="breadcrumb-item active">{{ album.title }}</li>
            </ul>
        </div>
    </div>

{% endblock %}

{% block content %}

    <div class="row g-0 h-100" id="vue-app">

        <div class="col-lg-3 d-flex flex-column">

            <div class="card-grid ms-2 d-flex flex-column align-items-center">

                <img src="{{ IMAGES_URL }}album_artwork/{{ album.uuid }}?cache_buster={{ request.GET.cache_buster }}" class="mw-100" height="400" width="400" />

                {% if album.note %}
                    <h5 class="mt-3" v-html="getNote('{{ object.note|safe|escapejs }}')"></h5>
                {% endif %}

                <audio-player
                    ref="audioPlayer"
                    :track-list="songList"
                    song-url="{{ MEDIA_URL_MUSIC }}songs/"
                    mark-listened-to-url="{% url 'music:mark_song_as_listened_to' '00000000-0000-0000-0000-000000000000' %}"
                    @current-song="selectRow"
                >
                </audio-player>

                {% for tag in album.tags.all %}
                    {% if forloop.first %}
                        <div class="align-self-start ms-3 mt-3 mb-3">
                            Tags:
                    {% endif %}
                    <span class="tag">{{ tag.name }}</span>
                    {% if forloop.last %}
                        </div>
                    {% endif %}
                {% endfor %}

            </div>

        </div>

        <div class="col-lg-9 me-0">

            <div class="card-grid ms-2">

                <div class="me-2">
                    <card title="">
                        <template v-slot:content>
                            <div class="hover-target d-flex">
                                <h1>
                                    {{ album.title }}
                                </h1>
                                <drop-down-menu
                                    ref="dropDownMenu"
                                    :show-on-hover="true"
                                    :links="albumDetailMenuItems"
                                >
                                </drop-down-menu>
                            </div>
                            <h3>
                                <a href="{% url 'music:artist_detail' album.artist.uuid %}">{{ album.artist.name }}</a>
                            </h3>

                            <h6>{{ album.year }}</h6>

                            {% if album.original_release_year != album.year %}
                                <h5>
                                    Originally released {{ album.original_release_year }}
                                </h5>
                            {% endif %}
                        </template>
                    </card>
                    <card title="">
                        <template v-slot:content>
                            <b-table
                                :data="songList"
                                :mobile-cards="false"
                                :default-sort="['year','desc']"
                                hoverable
                                :selected.sync="selectedSong"
                                ref="table"
                                header-class="cursor-pointer"
                                sort-icon="chevron-up"
                                :row-class="(row, index) => 'hover-target'"
                                @cellclick="onSongClicked"
                            >

                                <b-table-column field="track" label="#" cell-class="text-center" header-class="cursor-pointer text-center" v-slot="props">
                                    <span>[[ props.row.track ]]</span>
                                </b-table-column>

                                <b-table-column field="title" label="Title" header-class="cursor-pointer" v-slot="props">
                                        <span>[[ props.row.title ]]</span>
                                        <span class="ps-2 table-note" v-html="props.row.note"></span>
                                    </b-table-column>

                                    <b-table-column field="length" label="Length" header-class="cursor-pointer" sortable v-slot="props">
                                        <span>[[ props.row.length ]]</span>
                                    </b-table-column>

                                    <b-table-column field="uuid" label="" cell-class="col-action text-center align-middle" v-slot="props">
                                        <drop-down-menu :show-on-hover="true">
                                            <div slot="dropdown">
                                                <li>
                                                    <a class="dropdown-item" href="#" @click.prevent="onClickUpdate(props.row.uuid)">
                                                        <font-awesome-icon icon="pencil-alt" class="text-primary me-3"></font-awesome-icon>Update
                                                    </a>
                                                </li>
                                                <li>
                                                    <a class="dropdown-item" href="#" @click.prevent="onClickAddToPlaylist(props.row.uuid)">
                                                        <font-awesome-icon icon="plus" class="text-primary me-3"></font-awesome-icon>Add to playlist
                                                    </a>
                                                </li>
                                            </div>
                                        </drop-down-menu>
                                    </b-table-column>

                                </b-table>

                        </template>
                    </card>
                </div>
            </div>

        </div>

        <add-to-playlist
            ref="addToPlaylist"
            get-playlists-url="{% url 'playlist-list' %}"
            add-to-playlist-url="{% url 'music:add_to_playlist' %}?query="
            default-playlist="{{ request.session.music_playlist }}"
        >
        </add-to-playlist>

        <form action="{% url 'music:album_update' album.uuid %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
            <div class="modal fade" id="modalUpdateAlbum" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="myModalLabel">Update Album</h4>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                            </button>
                        </div>
                        <div class="modal-body">

                            {% for field in form %}

                            {% if field.label == "Tags" %}

                                <div class="row mb-3">
                                    <label class="col-lg-4 col-form-label fw-bold text-end">Tags</label>
                                    <div class="col-lg-8">
                                        <tags-input
                                            search-url="{% url 'tag:search' %}?query="
                                        >
                                        </tags-input>
                                    </div>
                                </div>

                            {% elif field.label == "Artist" %}

                                <div class="{% if field.errors %} error{% endif %} row mb-3">
                                    <label class="col-lg-4 col-form-label fw-bold text-end">Artist</label>

                                    <div class="col-lg-8">
                                        <simple-suggest
                                            id="id_artist"
                                            name="artist"
                                            ref="simpleSuggest"
                                            display-attribute="artist"
                                            value-attribute="artist"
                                            search-url="{% url 'music:search_artists' %}?term="
                                            place-holder=""
                                            :debounce=300
                                        >
                                        </simple-suggest>
                                    </div>
                                    {% for error in field.errors %}
                                        <span class="form-error">{{ error }}</span>
                                    {% endfor %}
                                </div>

                            {% elif field.label == "Cover image" %}

                                <div class="row mb-3">
                                    <label class="col-lg-4 col-form-label fw-bold text-end">Cover Image</label>
                                    <div class="col-lg-8">
                                        <div class="input-group">
                                            <input type="text" name="filename" :value="filename" class="form-control" autocomplete="off" />
                                            <span class="input-group-append">
                                                <label class="btn btn-primary">Choose image
                                                    <input type="file" name="cover_image" hidden accept="image/*" @change="onCoverImageSelect" />
                                                </label>
                                            </span>
                                        </div>
                                    </div>
                                </div>

                            {% else %}

                                <div class="{% if field.errors %} error{% endif %} row mb-3">
                                    <label class="col-lg-4 col-form-label fw-bold text-end">{{ field.label }}</label>

                                    <div class="col-lg-8">
                                {{ field }}
                                {% for error in field.errors %}
                                    <span class="form-error">{{ error }}</span>
                                {% endfor %}
                                    </div>

                                </div>

                            {% endif %}
                            {% endfor %}

                            <div class="row">
                                <div class="col-lg-12 offset-lg-4">
                                    <input id="btn-action" class="btn btn-primary" type="submit" name="Go" value="Update" />
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </form>

    </div>

{% endblock %}

{% block javascript %}

    {{ block.super }}

    {{ tags|json_script:"initial-tags"|default:"" }}

    <script type="text/javascript" charset="utf-8">

        new Vue({
            el: "#vue-nav",
            name: "Nav"
        });

        new Vue({
            el: "#vue-app",
            components: {
                AddToPlaylist,
            },
            data() {
                const songList = [
                    {% for song in song_list %}
                    {
                        "track": "{{ song.track }}",
                        "uuid": "{{ song.uuid }}",
                        "year": "{{ song.year_effective|default:'' }}",
                        "title": "{{ song.title|safe }}",
                        "length": "{{ song.length }}",
                        "note": "{{ song.note|safe|escapejs }}",
                    },
                    {% endfor %}
                ];

                return {
                    songList,
                    selectedSong: null,
                    show: false,
                    right: true,
                    filename: null,
                    albumDetailMenuItems: [
                        {
                            id: uuidv4(),
                            title: "Update Album",
                            url: "#",
                            clickHandler: this.handleUpdateAlbum,
                            icon: "pencil-alt"
                        },
                        {% if not album.song_set.all %}
                        {
                            id: uuidv4(),
                            title: "Delete Album",
                            url: "#",
                            clickHandler: this.handleDeleteAlbum,
                            icon: "times"
                        }
                        {% endif %}
                    ]
                }
            },
            methods: {
                onSongClicked(row, column, rowIndex, columnIndex) {
                    // Don't play the song if we've clicked on the
                    //  'on-hover' menu.
                    if (columnIndex !== 3) {
                        this.$refs.audioPlayer.playTrack(row.uuid);
                    }
                },
                selectRow(index) {
                    // Select a row based on index number. If the index is -1,
                    // assume we only want to deselect any currently selected row.
                    this.$refs.table.clearSelected();
                    if (index != -1) {
                        this.$refs.table.selectRow(index);
                    }
                },
                onClickUpdate(uuid) {
                    window.location="{% url 'music:update' '00000000-0000-0000-0000-000000000000' %}?return_url={{ request.get_full_path }}".replace(/00000000-0000-0000-0000-000000000000/, uuid);
                },
                onClickAddToPlaylist(uuid) {
                    this.$refs.addToPlaylist.openModal(uuid);
                },
                getNote(note) {
                    return markdown.render(note);
                },
                handleUpdateAlbum() {
                    const modal = new Modal("#modalUpdateAlbum");
                    modal.show();
                },
                handleDeleteAlbum() {
                    axios.delete("{% url 'album-detail' object.uuid %}")
                         .then((response) => {
                             window.location = "{% url 'music:list' %}";
                         }, (error) => {
                             console.log(error);
                         });
                },
                onCoverImageSelect(evt) {
                    this.filename = evt.target.files[0].name;
                }
            },
            mounted() {
                this.$refs.simpleSuggest.$refs.suggestComponent.text = "{{ form.instance.artist.name }}";
            }
        });

    </script>

{% endblock %}
