{% extends "base.html" %}

{% block extra_head %}

    <script type="text/javascript" src="{{ STATIC_URL }}js/datatables.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/dataTables.bootstrap4.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}/js/jquery.jplayer.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}/js/jplayer.cleanskin.js"></script>

    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/datatables.min.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/dataTables.bootstrap4.min.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/jplayer.clean.player.light.css" />

    <style>
        /* Bootstrap Style Overrides */
        .webPlayer .controls {
            box-sizing: content-box;
        }
        .progressbar {
            background-image: none;
            background-color: transparent;
            border-radius: 0px;
            height: auto;
            margin-bottom: auto;
            overflow: visible;
        }
    </style>

{% endblock %}

{% block title %} Music {% endblock %}

{% block left-block %}
    <div class="row">
        <div class="col-lg-2">
            <img src="{{ STATIC_URL }}albums/{{ album.artist }}/{{ album.title|urlencode }}/artwork.jpg" height="400" width="400" />
            <h5>{{ object.comment|default:""|safe }}</h5>
        </div>
    </div>
{% endblock %}

{% block content %}

    <script type="text/javascript" charset="utf-8">

        var table;

        $(document).ready(function() {

            table = $('#song_list').dataTable( {
                "info": false,
                "filter": false,
                "paginate": false,
                "displayLength": 50,
                "sorting": [[1, 'asc']],
                "lengthChange": false,
                "searchable": false,
                "columnDefs": [
                    { "targets": [0,2,5], "visible": false },
                    { "targets": [1], "sorting": [ "asc", "desc" ] },
                    { "targets": [4], "iDataSort": 5 }
                ],
            } );

            $('.webPlayer').videoPlayer({
                swfPath: "/js",
                supplied: "mp3",
                useStateClassSkin: true,
                autoBlur: false,
                smoothPlayBar: true,
                keyEnabled: true,
                remainingDuration: true,
                toggleDuration: true,
                volume: 1.0,
                size: {
                    "width": "600px"
                },
                name: $('#song_list').DataTable().cell(0, 2).data(),
                "media": {
                    "mp3": "{{ STATIC_URL }}albums/{{ album.artist|safe }}/{{ album.title|safe|urlencode }}/01 - " + $('#song_list').DataTable().cell(0, 2).data() + ".mp3"
                }
            });

            $('#song_list tbody').on( 'click', 'tr', function () {
                table.$('tr.selected').removeClass('selected');
                $(this).addClass('selected');

                var songId = $('#song_list').DataTable().cell('.selected', 0).data();

                var info;
                $.ajax( { type: 'GET',
                          url: '{% url 'get_song_info' 666%}'.replace(666, songId),
                          success: function(json) {

                        info = json;

                        var songTitle = $('#song_list').DataTable().cell('.selected', 2).data();

                        // Unescape any HTML entities (eg translate "&amp;" to "&")
                        // http://stackoverflow.com/questions/1912501/unescape-html-entities-in-javascript
                        songTitle = new DOMParser().parseFromString(songTitle, "text/html").documentElement.textContent;

                        var songTitleDisplay = $('#song_list').DataTable().cell('.selected', 3).data();
                        var trackNumber = $('#song_list').DataTable().cell('.selected', 1).data();
                        if (trackNumber.length == 1) {
                            trackNumber = "0" + trackNumber;
                        }

                        $('.play-progress span').html(songTitleDisplay);

                        $("#uniqueContainer-1").jPlayer("setMedia", {
                            title: songTitle,
                            mp3: "{{ STATIC_URL }}albums/{{ album.artist|safe }}/{{ album.title|safe|urlencode }}/" + trackNumber + " - " + encodeURIComponent(songTitle) + ".mp3"
                        });

                        $("#uniqueContainer-1").jPlayer("play");
                    }
                          });

            } );

        });

</script>

<div class="row">
    <div class="col-lg-8">
        {% block breadcrumbs %}
            <ol class="breadcrumb">
                <li class="breadcrumb-item"> <a href="{% url 'music_list' %}">Music</a> </li>
                <li class="breadcrumb-item"> <a href="{% url 'artist_detail' album.artist %}">{{ album.artist }} </li></a> </li>
                <li class="breadcrumb-item active"> {{ album.title }} </li>
            </ol>
        {% endblock %}

    </div>
    {% include "music/header.html" %}
</div>

<div class="row">

    <div class="col-lg-8">
        <h2>{{ album.title }}</h2>
        <h3>{{ album.artist }}</h3>
        <h5>{{ album.year }}</h5>
        {% if album.original_release_year != album.year %}
            <h5>Originally released {{ album.original_release_year }}</h5>
        {% endif %}
    </div>

</div>

<div class="row">
    <div class="col-lg-11">
        {% include "common/datatable.html" with data=song_list cols=cols id="song_list" %}
    </div>
</div>

{% include "common/jplayer.html" %}

{% endblock %}
