{% extends "base.html" %}

{% block title %} Music {% endblock %}

{% block nav %}

    <div class="d-flex mb-3" id="vue-nav">
        <div class="me-auto align-self-center">
            <ul class="breadcrumb mb-0 pt-0 pb-0">
                <li class="breadcrumb-item">
                    <a href="{% url 'music:list' %}">
                        <font-awesome-icon icon="home" class="glow"></font-awesome-icon>
                    </a>
                </li>
                <li class="breadcrumb-item active">{{ artist.name }}</li>
            </ul>
        </div>
    </div>

{% endblock %}

{% block content %}

    <div class="row g-0 h-100 mx-2" id="vue-app">
        <note-modal ref="note"></note-modal>
        <div class="col-lg-3 d-flex flex-column">

            <div class="card-grid ms-2">

            {% if artist_image %}
                <div
                    @drop.prevent="handleImageDrop($event)"
                    @dragover.prevent
                    @dragenter.prevent
                >
                    <img id="artist_image" src="{{ IMAGES_URL }}artist_images/{{ artist.uuid }}" class="mw-100" />
                </div>
            {% endif %}

            {% if song_list %}
                <audio-player
                    ref="audioPlayer"
                    :track-list="songList"
                    song-url="{{ MEDIA_URL_MUSIC }}songs/"
                    mark-listened-to-url="{% url 'music:mark_song_as_listened_to' '00000000-0000-0000-0000-000000000000' %}"
                    @current-song="selectRow"
                >
                </audio-player>
            {% endif %}

            </div>

        </div>

        <div class="col-lg-9">

            <div class="me-2">

                <div class="card-grid ms-2">

                    <div class="d-flex">
                        <h2 class="ms-3">
                            {{ artist.name }}
                        </h2>

                        <drop-down-menu
                            ref="dropDownMenu"
                            :show-on-hover="true"
                            :links="artistDetailMenuItems"
                        >
                        </drop-down-menu>
                    </div>

                    {% if album_list %}

                        <card title="">

                            <template v-slot:title-slot>
                                <h4 class="fw-bold">
                                    {{ album_list|length }} album{{ album_list|pluralize }}
                                </h4>
                            </template>

                            <template v-slot:content>

                                <div class="d-flex flex-wrap">

                                {% for album in album_list %}

                                    <div class="d-flex flex-column w-25 hoverable p-2">
                                        <div class="mt-3">
                                            <a href="{% url 'music:album_detail' album.uuid %}">
                                                <img src="{{ IMAGES_URL }}album_artwork/{{ album.uuid }}" height="150" width="150" />
                                            </a>
                                        </div>
                                        <div class="mt-2 fw-bold">
                                            {{ album.title }}
                                        </div>
                                        <div>
                                            {{ album.year }}
                                        </div>
                                    </div>

                                {% endfor %}

                                </div>

                            </template>

                        </card>

                    {% endif %}

                    {% if compilation_album_list %}

                        <card title="">

                            <template v-slot:title-slot>
                                <h4 class="font-weigth-bold">
                                    Songs from {{ compilation_album_list|length }} compilation album{{ compilation_album_list|pluralize }}
                                </h4>
                            </template>

                            <template v-slot:content>

                                <div class="d-flex flex-wrap">

                                    {% for album in compilation_album_list %}

                                        <div class="d-flex flex-column w-25 hoverable p-2">
                                            <div class="mt-3">
                                                <a href="{% url 'music:album_detail' album.uuid %}">
                                                    <img src="{{ IMAGES_URL }}album_artwork/{{ album.uuid }}" height="150" width="150" />
                                                </a>
                                            </div>
                                            <div class="mt-2 fw-bold">
                                                {{ album.title }}
                                            </div>
                                            <div>
                                                {{ album.year }}
                                            </div>
                                        </div>

                                    {% endfor %}

                                </div>

                            </template>

                        </card>

                    {% endif %}

                    {% if song_list %}

                        <card title="" id="album-song-list">

                            <template v-slot:title-slot>
                                <h4 class="fw-cold">
                                    {{ song_list|length }} song{{ song_list|pluralize }}
                                </h4>
                            </template>

                            <template v-slot:content>

                                <b-table
                                    :data="songList"
                                    :mobile-cards="false"
                                    :default-sort="['year','desc']"
                                    hoverable
                                    ref="table"
                                    header-class="cursor-pointer"
                                    sort-icon="chevron-up"
                                    :row-class="(row, index) => 'hover-target'"
                                    @cellclick="onSongClicked"
                                >

                                    <b-table-column field="title" label="Title" header-class="cursor-pointer" sortable v-slot="props">
                                        [[ props.row.title ]]
                                    </b-table-column>

                                    <b-table-column field="note" label="" header-class="cursor-pointer" sortable v-slot="props">
                                        <span v-if="props.row.note">
                                            <a class="ms-1" href="#" @click="onShowNote(props.row)">
                                                <font-awesome-icon icon="sticky-note" class="glow text-primary"></font-awesome-icon>
                                            </a>
                                        </span>
                                    </b-table-column>
                                        <b-table-column field="year" label="Year" header-class="cursor-pointer" sortable v-slot="props">
                                        <span>[[ props.row.year ]]</span>
                                    </b-table-column>

                                    <b-table-column field="rating" label="Rating" header-class="cursor-pointer text-end" sortable v-slot="props">
                                        <div class="ms-auto">
                                            <div class="rating-container d-flex" :class="{'d-none': props.row.rating === ''}"
                                                 @mouseleave="onMouseLeaveRatingContainer">
                                                <span v-for="starCount in Array(5).fill().map((x,i)=>i)"
                                                      :key="starCount"
                                                      class="rating me-1"
                                                      :class="{'rating-star-selected': parseInt(props.row.rating, 10) > starCount}"
                                                      :data-rating="starCount"
                                                      @click="setRating($event, props.row, starCount)"
                                                      @mouseover="onMouseOverRating($event, starCount)"
                                                >
                                                    <font-awesome-icon icon="star"></font-awesome-icon>
                                                </span>
                                            </div>
                                        </div>
                                    </b-table-column>

                                    <b-table-column field="length" label="Length" header-class="cursor-pointer" sortable v-slot="props">
                                        <span>[[ props.row.length ]]</span>
                                    </b-table-column>

                                    <b-table-column field="uuid" label="" cell-class="col-action text-center align-middle" v-slot="props">
                                        <drop-down-menu :show-on-hover="true">
                                            <div slot="dropdown">
                                                <li>
                                                    <a class="dropdown-item" href="#" @click.prevent="onClickUpdate(props.row.uuid)">
                                                        <font-awesome-icon icon="pencil-alt" class="text-primary me-3"></font-awesome-icon>Update
                                                    </a>
                                                </li>
                                                <li>
                                                    <a class="dropdown-item" href="#" @click.prevent="onClickAddToPlaylist(props.row.uuid)">
                                                        <font-awesome-icon icon="plus" class="text-primary me-3"></font-awesome-icon>Add to playlist
                                                    </a>
                                                </li>
                                            </div>
                                        </drop-down-menu>
                                    </b-table-column>

                                </b-table>

                            </template>

                        </card>

                        <add-to-playlist
                            ref="addToPlaylist"
                            get-playlists-url="{% url 'playlist-list' %}"
                            add-to-playlist-url="{% url 'music:add_to_playlist' %}?query="
                            default-playlist="{{ request.session.music_playlist }}"
                        >
                        </add-to-playlist>

                    {% endif %}

                </div>

            </div>

        </div>

        <div class="modal fade" id="modalUpdateArtistImage" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel">Update Artist Image</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        </button>
                    </div>
                    <div class="modal-body">

                        <div class="row">
                            <label class="col-lg-4 col-form-label fw-bold text-end">Artist Image</label>
                            <div class="col-lg-8">
                                <div class="input-group">
                                    <input type="text" name="filename" :value="artistDetailFilename" class="form-control" autocomplete="off" />
                                    <span class="input-group-append">
                                        <label class="btn btn-primary">Choose image
                                            <input id="id_image" type="file" name="cover_image" hidden accept="image/*" @change="onArtistImageSelect" />
                                        </label>
                                    </span>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <input id="btn-action" class="btn btn-primary" data-bs-dismiss="modal" type="button" value="Update" />
                    </div>
                </div>
            </div>
        </div>

    </div>

    {% block help %}
        <div class="d-none" id="help-text">
*Note:* You can drag an image file onto the artist image to change it.
        </div>
    {% endblock %}

{% endblock %}

{% block javascript %}

    {{ block.super }}

    <script type="text/javascript" charset="utf-8">

        new Vue({
            el: "#vue-nav",
        });

        new Vue({
            el: "#vue-app",
            data() {
                const songList = [
                    {% for song in song_list %}
                    {
                        "uuid": "{{ song.uuid }}",
                        "year": "{{ song.year_effective|default:'' }}",
                        "title": "{{ song.title|safe }}",
                        "length": "{{ song.length }}",
                        "note": "{{ song.note|safe|escapejs }}",
                        "rating": "{{ song.rating|default:'' }}"
                    },
                    {% endfor %}
                ];

                return {
                    songList,
                    selectedSong: null,
                    artistDetailFilename: null,
                    artistDetailMenuItems: [
                        {
                            id: uuidv4(),
                            title: "Update Artist Image",
                            url: "#",
                            clickHandler: this.handleUpdateArtistImage,
                            icon: "pencil-alt"
                        },
                    ],
                    show: false,
                }
            },
            methods: {
                 getStarClass(rating, currentRating) {
                    if (rating <= currentRating - 1) {
                        return "rating-star-selected";
                    }
                    return "";
                },
                onShowNote(song) {
                    this.$refs.note.showNote(song.note);
                },
                setRating(evt, row, rating) {
                    const els = evt.currentTarget.parentElement.querySelectorAll(".rating");
                    for (const el of els) {
                        el.classList.remove("rating-star-hovered");
                        if (parseInt(el.getAttribute("data-rating", 10)) < rating + 1) {
                            el.classList.add("rating-star-selected");
                        } else {
                            el.classList.remove("rating-star-selected");
                        }
                    }
                    rating = rating + 1;
                    if (rating === parseInt(row.rating, 10)) {
                        // If we've selected the current rating, treat it
                        // as if we've de-selected a rating entirely
                        // and remove it.
                        rating = "";
                    }
                    animateCSS(evt.currentTarget, "heartBeat");
                    doPost(
                        this,
                        "{% url 'music:set_song_rating' %}",
                        {
                            "song_uuid": row.uuid,
                            "rating": rating,
                        },
                        (response) => {
                            for (const song of this.songList) {
                                if (song.uuid === row.uuid) {
                                    song.rating = rating;
                                }
                            }
                        },
                        "",
                    );
                },
                onMouseLeaveRatingContainer() {
                    const els = document.querySelectorAll(".rating");
                    for (const el of els) {
                        el.classList.remove("rating-star-hovered");
                    }
                },
                onMouseOverRating(evt, rating) {
                    // The event is triggered on an individual star. Go
                    // up to the parent and select all stars for the row.
                    const els = evt.currentTarget.parentElement.querySelectorAll(".rating");
                    // Loop over each star rating. Add the "hovered" class if:
                    //  1) The rating is > the currently selected rating
                    //  2) The rating is < the currently "hovered" rating
                    for (const el of els) {
                        if (!el.classList.contains("rating-star-selected") &&
                            parseInt(el.getAttribute("data-rating"), 10) < rating + 1) {
                            el.classList.add("rating-star-hovered");
                        } else {
                            el.classList.remove("rating-star-hovered");
                        }
                    }
                },
                onSongClicked(row, column, rowIndex, columnIndex) {
                    // Don't play the song if we've clicked on the
                    //  'on-hover' menu or the rating or note columns.
                    if (column.field !== "uuid" && column.field !== "rating" && column.field !== "note") {
                        this.$refs.audioPlayer.playTrack(row.uuid);
                        this.selectedSong = row;
                        this.selectRow(rowIndex);
                    }
                },
                selectRow(index) {
                    // First deselect any selected rows
                    const allRows = document.querySelectorAll("table tr");
                    for (const row of allRows) {
                        row.classList.remove("selected");
                    }

                    // Select a row based on index number. If the index is -1,
                    // assume we only want to deselect any currently selected row.
                    if (index != -1) {
                        const selectedRow = this.songList[index];
                        this.$refs.table.selectRow(selectedRow);
                        document.querySelector(`table tbody tr:nth-child(${index + 1})`).classList.add("selected");
                    } else {
                        this.$refs.table.selectRow({});
                    }
                },
                onClickUpdate(uuid) {
                    window.location="{% url 'music:update' '00000000-0000-0000-0000-000000000000' %}?return_url={{ request.get_full_path|safe }}".replace(/00000000-0000-0000-0000-000000000000/, uuid);
                },
                onClickAddToPlaylist(uuid) {
                    this.$refs.addToPlaylist.openModal(uuid);
                },
                handleUpdateArtistImage() {
                    const modal = new Modal("#modalUpdateArtistImage");
                    modal.show();
                },
                handleImageDrop(evt) {
                    let image = evt.dataTransfer.files[0]
                    if (image.type.indexOf("image/") >= 0) {
                        this.uploadArtistImage(image);
                    }
                },
                onArtistImageSelect(evt) {
                    let image = document.getElementById("id_image").files[0];
                    this.uploadArtistImage(image);
                },
                uploadArtistImage(image) {
                    let formData = new FormData();
                    formData.append("artist_uuid", "{{ artist.uuid }}");
                    formData.append("image", image);

                    axios.post("{% url "music:update_artist_image" %}", formData, {
                        headers: {
                            "Content-Type": "multipart/form-data"
                        }
                    }).then(response => {
                        this.artistDetailFilename = image.name;
                        const artistImage = document.getElementById("artist_image");
                        artistImage.src = artistImage.src + "?" + new Date().getTime();
                    });
                },
            },
        });

    </script>

{% endblock %}
