{% extends "base.html" %}

{% block title %} Music {% endblock %}

{% block nav %}

    <div class="d-flex mb-3" id="vue-nav">
        <div class="mr-auto align-self-center">
            <ul class="breadcrumb mb-0 pt-0 pb-0">
                <li class="breadcrumb-item"> <a href="{% url 'music:list' %}"><font-awesome-icon icon="home" class="icon-hover"></font-awesome-icon></a> </li>
                <li class="breadcrumb-item active">{{ artist_name }}</li>
            </ul>
        </div>
    </div>

{% endblock %}

{% block content %}

    <div class="row no-gutters h-100" id="vue-app">

        <div class="col-lg-3 d-flex flex-column">

            <div class="card-grid ml-2">

            {% if song_list %}
                <div id="audio_player">
                    <audio controls controlsList="nodownload" id="player" class="mw-100">
                        <source src="" type="audio/mpeg">
                        Your browser does not support the audio tag.
                    </audio>
                </div>
            {% endif %}

            </div>

        </div>

        <div class="col-lg-9">

            <div class="card-grid ml-2">

                <h2> {% if album_list %} {{ album_list.0.artist }} {% else %} {{ song_list.0.artist }} {% endif %} </h2>

                {% if album_list %}
                    {{ album_list|length }} album{{ album_list|pluralize }} <br />
                {% endif %}

                <table class="table-borderless">
                    <tr>

                        {% for album in album_list %}

                            {% if forloop.counter0|divisibleby:"4" %}

                    </tr>
                    <tr>

                            {% endif %}

                            <td>
                                <a href="{% url 'music:album_detail' album.uuid %}">
                                    <img src="{{ IMAGES_URL }}album_artwork/{{ album.uuid }}" height="150" width="150" /> <br />
                                </a>

                                <strong> {{ album.title }} </strong><br />
                                {{ album.year }} <br />

                            </td>

                        {% endfor %}

                    </tr>
                </table>

            {% if compilation_album_list %}

                {{ compilation_album_list|length }} compilation album{{ compilation_album_list|pluralize }} <br />

                <table class="table-borderless">
                    <tr>

                        {% for album in compilation_album_list %}

                            {% if forloop.counter0|divisibleby:"3" %}

                    </tr>
                    <tr>

                            {% endif %}

                            <td>
                                <a href="{% url 'music:album_detail' album.uuid %}">
                                    <img src="{{ IMAGES_URL }}album_artwork/{{ album.uuid }}" height="150" width="150" /> <br />
                                </a>

                                <strong> {{ album.title }} </strong><br />
                                {{ album.year }} <br />

                            </td>

                        {% endfor %}

                    </tr>
                </table>

            {% endif %}

            {% if song_list %}

                <div class="row">

                    <div class="col-lg-11">

                        <br />
                        {% if album_list %}
                            <h4>Other songs</h4>
                        {% endif %}

                        <b-table
                            hover
                            primary-key="uuid"
                            :items="songList"
                            :fields="fields"
                            selectable
                            select-mode="single"
                            @row-clicked="rowClicked"
                            @row-hovered="rowHovered"
                            @row-unhovered="rowUnHovered"
                            selected-variant="info"
                            sort-by="year"
                            sort-desc
                            ref="table"
                        >

                            <template #cell(title)="data">
                                <span v-html="data.value"></span>
                                <span class="pl-2 table-note" v-html="data.item.note"></span>
                            </template>

                            <template #cell(uuid)="data">
                                <div class="hover-target hidden">
                                    <dropdown-menu v-model="show" :right="true" transition="translate-fade-down" class="text-center">
                                        <font-awesome-icon icon="ellipsis-v"></font-awesome-icon>
                                        <div slot="dropdown">
                                            <a class="dropdown-item" href="#" @click="onClickUpdate(data.value)">Update</a>
                                            <a class="dropdown-item" href="#" @click="onClickAddToPlaylist(data.value)">Add to playlist</a>
                                        </div>
                                    </dropdown-menu>
                                </div>
                            </template>

                        </b-table>

                    </div>

                </div>

            </div>

            <add-to-playlist
                ref="addToPlaylist"
                get-playlists-url="{% url 'playlist-list' %}"
                add-to-playlist-url="{% url 'music:add_to_playlist' %}?query="
                default-playlist="{{ request.session.music_playlist }}"
            >
            </add-to-playlist>

            {% endif %}

        </div>

    </div>

{% endblock %}

{% block javascript %}

    {{ block.super }}

    <script type="text/javascript" charset="utf-8">

        Vue.mixin({ delimiters: ["[[", "]]"] });

        const EventBus = new Vue();

        new Vue({
            el: "#vue-nav",
        });

        new Vue({
            el: "#vue-app",
            components: {
                AddToPlaylist
            },
            data() {
                return {
                    currentlyPlayingSongUuid: null,
                    songList: [
                        {% for song in song_list %}
                        {
                            "uuid": "{{ song.uuid }}",
                            "year": "{{ song.year_effective|default:'' }}",
                            "title": "{{ song.title|safe }}",
                            "length": "{{ song.length }}",
                            "note": "{{ song.note|safe }}",
                        },
                        {% endfor %}
                    ],
                    fields: [
                        {
                            key: "title",
                            sortable: true
                        },
                        {
                            key: "year",
                            sortable: true
                        },
                        {
                            key: "length",
                            sortable: true
                        },
                        {
                            key: "uuid",
                            label: "",
                            tdClass: "text-center align-middle",
                            thClass: "col-action",
                        },
                    ],
                    show: false,
                }
            },
            methods: {
                rowClicked(item, index, evt) {
                    // If we found anthing other than a TD element, we've
                    //  clicked on the "on hover" context menu. In that case,
                    //  don't play the song.
                    if (evt.srcElement.nodeName === "TD") {

                        this.currentlyPlayingSongUuid = item.uuid;

                        axios.get("{% url 'music:get_song_info' '00000000-0000-0000-0000-000000000000' %}".replace('00000000-0000-0000-0000-000000000000', this.currentlyPlayingSongUuid))
                             .then(response => {
                                 let vid = document.getElementById("player");
                                 vid.src = response.data.url;
                                 vid.play()
                             })

                    }
                },
                rowHovered(item, index, evt) {
                    evt.currentTarget.querySelector(".hover-target").classList.remove("hidden");
                },
                rowUnHovered(item, index, evt) {
                    evt.currentTarget.querySelector(".hover-target").classList.add("hidden");
                },
                onClickUpdate(uuid) {
                    window.location="{% url 'music:update' '00000000-0000-0000-0000-000000000000' %}?return_url={{ request.get_full_path|safe }}".replace(/00000000-0000-0000-0000-000000000000/, uuid);
                },
                onClickAddToPlaylist(uuid) {
                    this.$refs.addToPlaylist.openModal(uuid);
                },
            },
            mounted() {

                EventBus.$on("onEnded", payload => {

                    // Find next song in list to play
                    let index = this.songList.findIndex(x => x.uuid === this.currentlyPlayingSongUuid);
                    this.$refs.table.unselectRow(index);

                });

            }

        });

        {% if song_list %}
        document.getElementById("player").onended = function(evt) {
            EventBus.$emit("onEnded");
        };
        {% endif %}

    </script>

{% endblock %}
