{% extends "base.html" %}

{% block extra_head %}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.20/sl-1.3.1/datatables.min.css"/>
{% endblock %}

{% block title %} Music {% endblock %}

{% block left-block %}
    {% if song_list %}
        <div id="audio_player">
            <audio controls controlsList="nodownload" id="player" class="mw-100">
                <source src="" type="audio/mpeg">
  Your browser does not support the audio tag.
            </audio>
        </div>
    {% endif %}
{% endblock %}

{% block content %}

    <div class="row">

        <div class="col-lg-6">

            {% block breadcrumbs %}
                <ul class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="{% url 'music_list' %}">
                            <span class="fas fa-home"></span>
                        </a>
                    </li>
                    <li class="breadcrumb-item active">{{ artist_name }}</li>
                </ul>
            {% endblock %}

        </div>

        {% include "music/header.html" %}

    </div>

    <div class="row">

        <div class="col-lg-11">

            <h2> {% if album_list %} {{ album_list.0.artist }} {% else %} {{ song_list.0.artist }} {% endif %} </h2>

            {% if album_list %}
                {{ album_list|length }} album{{ album_list|pluralize }} <br />
            {% endif %}

        </div>
    </div>

    <table class="table-borderless">
        <tr>

            {% for album in album_list %}

                {% if forloop.counter0|divisibleby:"4" %}

        </tr>
        <tr>

                {% endif %}

                <td>
                    <a href="{% url 'album_detail' album.id %}">
                        <img src="{{ MEDIA_URL_MUSIC }}artwork/{{ album.id }}" height="150" width="150" /> <br />
                    </a>

                    <strong> {{ album.title }} </strong><br />
                    {{ album.year }} <br />

                </td>

            {% endfor %}

        </tr>
    </table>

    {% if compilation_album_list %}

        {{ compilation_album_list|length }} compilation album{{ compilation_album_list|pluralize }} <br />

        <table class="table-borderless">
            <tr>

                {% for album in compilation_album_list %}

                    {% if forloop.counter0|divisibleby:"3" %}

            </tr>
            <tr>

                    {% endif %}

                    <td>
                        <a href="{% url 'album_detail' album.id %}">
                            <img src="{{ MEDIA_URL_MUSIC }}artwork/{{ album.id }}" height="150" width="150" /> <br />
                        </a>

                        <strong> {{ album.title }} </strong><br />
                        {{ album.year }} <br />

                    </td>

                {% endfor %}

            </tr>
        </table>
    {% endif %}

    {% if song_list %}

        <div class="row">

            <div class="col-lg-11">

                <br />
                {% if album_list %}
                    <h4>Other songs</h4>
                    <br />
                {% endif %}

                <div class="col-lg-11" id="song_list" @click="onClick">
                    {% include "common/datatable.html" with data=song_list %}
                </div>


            </div>

        </div>

    {% endif %}

{% endblock %}

{% block javascript %}

    {{ block.super }}

    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.20/sl-1.3.1/datatables.min.js"></script>

    <script type="text/javascript" charset="utf-8">

        new Vue({
            delimiters: ["[[", "]]"],
            el: "#song_list",
            methods: {
                onClick(evt) {

                    // If we clicked on column title to sort, ignore this event. We don't
                    //  actually want to play a song
                    if (evt.target.tagName == "TH") {
                        return;
                    }

                    var songId = table.cell(".selected", 6).data();

                    axios.get("{% url 'get_song_info' 666 %}".replace(/666$/, songId))
                         .then(response => {
                             $("#player").get(0).src = response.data.url;
                             $("#player").get(0).play()
                         })
                }
            }
        });

        {% include "music/search.js" %}

        var table;

        $(document).ready(function() {

            table = $("#song_list table").DataTable( {
                initComplete: function () {
                    var api = this.api();
                    $("#song_list table").show();
                    api.columns.adjust();
                },
                "select": true,
                "paginate": false,
                "info": false,
                "sorting": [[0, 'desc']],
                "filter": false,
                "lengthChange": false,
                "dom": "<'row'<'span6'<'toolbar'>l><'span6'f>r>t<'row'<'span6'i><'span6'p>>",
                "searchable": false,
                "columnDefs": [
                    { "targets": [0], "sorting": [ "desc", "asc" ] },
                    { "targets": [3], "iDataSort": 4 },
                    { "targets": [1,4,6], "visible": false },
                ],
            } );

        });

    </script>

{% endblock %}
