{% extends "base.html" %}

{% block title %} Music {% endblock %}

{% block content %}

    {% include "common/processing.html" %}

    <div id="vue-app">
        <h1 class="text-center">Upload Album</h1>
        <div id="create-album-container">
            <div>
                <label for="id_file" class="form-label">Upload album zipfile</label>
                <input class="form-control form-control-lg" id="id_file" type="file" @change="handleAlbumUpload">
            </div>
            <Transition name="slide-fade">
                <div v-cloak v-if="songList.length">
                    <div class="d-flex justify-content-evenly mt-2">
                        <div>
                            <div class="text4 fw-bold text-center me-3">ARTIST</div>
                            <div v-cloak class="text-center me-3">[[ artist ]]</div>
                        </div>
                        <div>
                            <div class="text4 fw-bold text-center me-3">ALBUM</div>
                            <div v-cloak class="text-center me-3">[[ album ]]</div>
                        </div>
                        <div>
                            <div class="text4 fw-bold text-center me-3">SONG COUNT</div>
                            <div v-cloak class="text-center me-3">[[ songList.length ]]</div>
                        </div>
                    </div>
                    <div class="mt-2">
                        <hr class="divider" />
                        <div class="d-flex justify-content-evenly">
                            <div class="d-flex">
                                <div class="text-nowrap me-3">Song Source</div>
                                <select v-model="songSource" class="form-control form-select" id="id_source">
                                    <option v-for="source in songSources" :value="source.id">[[ source.name ]]</option>
                                </select>
                            </div>
                            <div class="d-flex">
                                <div class="text-nowrap me-3">Tags</div>
                                <tags-input
                                    ref="tagsInput"
                                    id="id_tags"
                                    search-url="{% url 'tag:search' %}?query="
                                >
                                </tags-input>
                            </div>
                        </div>
                    </div>
                    <div v-if="artistsUnique.size > 1" class="d-flex flex-column justify-content-center mt-3">
                        <hr class="divider" />
                        <div class="d-flex justify-content-center">
                            <div class="me-3">
                                <strong class="me-2">NOTE</strong>Multiple artists detected. Please choose one:
                            </div>
                            <div>
                                <select v-model="artist" class="form-control form-select">
                                <option v-for="artist in artistsUnique" :value="artist">[[ artist ]]</option>
                                </select>
                            </div>
                        </div>
                        <table>
                            <tr>
                                <th class="text-center">Track #</th>
                                <th>Artist</th>
                                <th>Title</th>
                                <th>Note</th>
                            </tr>
                            <tr v-for="song in songList">
                                <td class="text-center">[[ song.track ]]</td>
                                <td>[[ song.artist ]]</td>
                                <td><input class="form-control" type="text" size="20" v-model="song.title" /></td>
                                <td><input class="form-control" type="text" size="20" v-model="song.note" /></td>
                            </tr>
                        </table>
                    </div>
                    <div class="d-flex justify-content-center mt-2">
                        <input type="button" class="btn btn-primary btn-lg" @click="handleAlbumAdd" value="Add" />
                    </div>
                </div>
            </Transition>
        </div>
    </div>

{% endblock %}

{% block javascript %}

    {{ block.super }}

    <script type="text/javascript" charset="utf-8">

        const app = createApp({
            name: "CreateAlbum",
            delimiters: ["[[", "]]"],
            components: {
                TagsInput,
            },
            setup() {
                const album = ref("");
                const artist = ref("");
                let fileData = null;
                const songList = ref([]);
                const songSources = {{ song_sources|safe }}.info;
                const songSource = ref(songSources.filter(x => x.name === "{{ song_source_default }}")[0].id);
                const tagsInput = ref(null);

                const artistsUnique = ref();

                function collectSongListChanges() {
                    let songListChanges = {};
                    for (song of songList.value) {
                        songListChanges[song.track] = {
                            "title": song.title,
                            "note": song.note,
                        }
                    };
                    return JSON.stringify(songListChanges);
                };

                function detectMultipleArtists() {
                    artistsUnique.value = new Set(songList.value.map((x) => x.artist));
                };

                function handleAlbumAdd(evt) {
                    const modal = new Modal("#modalProcessing");
                    modal.show();

                    const formData = new FormData();
                    formData.append("zipfile", fileData);
                    formData.append("artist", artist.value);
                    formData.append("source", songSource.value);
                    formData.append("tags", tagsInput.value.tagsCommaSeparated);
                    formData.append("songListChanges", collectSongListChanges());
                    axios.post(
                        "{% url 'music:add_album_from_zipfile' %}",
                        formData,
                        {
                            headers: {
                                "Content-Type": "multipart/form-data",
                            },
                    }).then((response) => {
                        if (response.data.status !== "OK") {
                            modal.hide();
                            EventBus.$emit(
                                "toast",
                                {
                                    "body": response.data.error,
                                    "variant": "danger",
                                    "autoHide": false,
                                },
                            );
                        } else {
                            window.location = response.data.url;
                        }
                    });
                };

                function handleAlbumUpload(evt) {
                    const modal = new Modal("#modalProcessing");
                    modal.show();

                    const formData = new FormData();
                    fileData = evt.target.files[0];
                    if (!fileData) {
                        return;
                    }
                    formData.append("zipfile", fileData);
                    axios.post(
                        "{% url 'music:scan_album_from_zipfile' %}",
                        formData,
                        {
                        headers: {
                            "Content-Type": "multipart/form-data",
                        },
                    }).then((response) => {
                        setTimeout(() => {
                            modal.hide();
                        }, 500);
                        album.value = response.data.album;
                        artist.value = response.data.artist[0];
                        songList.value = response.data.song_info;
                        detectMultipleArtists();
                    });
                };

                return {
                    album,
                    artist,
                    artistsUnique,
                    handleAlbumAdd,
                    handleAlbumUpload,
                    songList,
                    songSource,
                    songSources,
                    tagsInput,
                };
            },
        });
        app.mount("#vue-app");

    </script>

{% endblock %}
