{% extends "base.html" %}

{% block title %} Music {% endblock %}

{% block content %}

    <div class="row g-0 h-100">
        <div id="vue-song-info" class="col-lg-3 d-flex flex-column">

            <div class="w-100" v-cloak>

                <transition name="fade">
                    <div v-if="$store.state.dupeSongs.length > 0" class="card-body">
                        <h6 class="text-warning mb-2 text-center">
                            Possible duplicate songs found
                        </h6>
                        <div v-for="dupe in $store.state.dupeSongs" class="my-2">
                            <hr class="dupe-song-divider" />
                            <div class="d-flex">
                                <font-awesome-icon icon="music" class="text-info mt-1"></font-awesome-icon>
                                <div class="ms-2">
                                    <a :href="dupe.url" target="bc-dupe-song">[[ dupe.title ]]</a>
                                    <div v-if="dupe.note" class="dupe-song-note text-truncate">
                                    [[ dupe.note ]]
                                    </div>
                                    <div v-if="dupe.album_name">
                                        <a class="text-primary" :href="dupe.album_url">[[ dupe.album_name ]]</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </transition>

                <card v-if="$store.state.songLength !== null" title="Song Info" class="backdrop-filter">
                    <template v-slot:content>
                        <ul>
                            <li>Song Length <span class="ms-1 text-primary">[[ $store.state.songLengthPretty ]]</span></li>
                            {% if action == "Create" %}
                                <li>Song Size <span class="ms-1 text-primary">[[ $store.state.songSize ]]</span></li>
                                <li>Sample Rate <span class="ms-1 text-primary">[[ $store.state.sampleRate ]]</span></li>
                                <li>Bit Rate <span class="ms-1 text-primary">[[ $store.state.bitRate ]]</span></li>
                            {% endif %}
                        </ul>
                    </template>
                </card>

                <card title="Tag Suggestions" class="backdrop-filter ms-3">
                    <template v-slot:content>
                        <ul class="list-group interior-borders">
                            {% for tag in tag_counts %}
                                <li class="tag-list list-group-item list-group-item-secondary text-info d-flex" @click.prevent="onClickTag('{{ tag.name }}')">
                                    <div class="ps-2 text-truncate">
                                        {{ tag.name }}
                                    </div>
                                    <div class="ms-auto pe-2">
                                        <span class="px-2 badge rounded-pill bg-info">
                                            {{ tag.count }}
                                        </span>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    </template>
                </card>

            </div>

            {% if action == "Create" %}
                <div v-if="$store.state.songLength === null" class="flex-shrink-0">
                    <card title="" class="flex-shrink-0 backdrop-filter ms-3">
                        <template v-slot:content>
                            <div>
                                Choose the local MP3 file containing the song you want to upload. Any embedded <strong>ID3v2</strong> tags will be scanned and the corresponding form fields will be populated.
                            </div>
                        </template>
                    </card>
                </div>
            {% endif %}

        </div>

        <div class="col-lg-8 h-100">

            <div id="vue-app">

                {% if request.POST.Go and not form.errors %}
                    <div class="alert alert-success offset-lg-3">Post {{ action }}ed</div>
                {% endif %}

                <p class="lead offset-lg-3 fw-bold ps-2">{{ action }} a Song</p>

                <form id="song-form" action="{{ request.path }}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="return_url" value="{{ request.GET.return_url }}" />

                {% if form.non_field_errors %}
                    <div class="row">
                        <div class="col-lg-9 offset-lg-3">
                            <div class="form-error mb-2">
                        {% for error in form.non_field_errors %}
                            {{ error|safe }}
                        {% endfor %}
                            </div>
                        </div>
                    </div>
                {% endif %}

                <input type="hidden" name="sha1sum" :value="sha1sum" />
                <input type="hidden" name="length" :value="songLength" />

                {% if action == "Create" %}
                    <div class="row mb-3">
                        <label class="col-lg-3 col-form-label fw-bold text-end">File</label>

                        <div class="col-lg-9">
                            <div class="input-group">

                                <input type="text" name="filename" :value="filename" class="form-control" id="id_filename" autocomplete="off" />

                                <span class="input-group-append">
                                    <label class="btn btn-primary">Choose song
                                        <input type="file" id="id_file" name="song" hidden accept="audio/*" @change="onChange" @blur="onDupeCheck()" />
                                    </label>
                                </span>

                            </div>
                        </div>
                    </div>
                {% endif %}

                {% for field in form %}
                    {% if field.label == "Tags" %}

                        <div class="{% if field.errors %} error{% endif %} row mb-3">
                            <label class="col-lg-3 col-form-label fw-bold text-end">Tags</label>

                            <div class="col-lg-9">
                                <tags-input
                                    ref="tagsInput"
                                    id="id_tags"
                                    search-url="{% url 'tag:search' %}?query=">
                                </tags-input>
                            </div>
                    {% for error in field.errors %}
                        <span class="form-error">{{ error }}</span>
                    {% endfor %}
                        </div>

                    {% elif field.label == "Artist" %}

                        <div class="{% if field.errors %} error{% endif %} row mb-3">
                            <label class="col-lg-3 col-form-label fw-bold text-end">Artist</label>

                            <div class="col-lg-9">
                                <simple-suggest
                                    id="id_artist"
                                    name="artist"
                                    ref="simpleSuggest"
                                    display-attribute="artist"
                                    value-attribute="artist"
                                    search-url="{% url 'music:search_artists' %}?term="
                                    place-holder=""
                                    :debounce=300
                                    @blur="onDupeCheck()"
                                >
                                </simple-suggest>
                            </div>
                            {% for error in field.errors %}
                                <span class="form-error">{{ error }}</span>
                            {% endfor %}
                        </div>

                    {% elif field.label == 'Compilation' %}

                        <div class="{% if field.errors %} error{% endif %} row align-items-center mb-3">
                            <label class="col-lg-3 col-form-label fw-bold text-end">Compilation</label>
                            <div class="col-lg-9 form-inline">
                                <input type="checkbox" name="compilation" id="id_compilation" v-model="isCompilation" />
                            </div>
                        </div>

                        <div v-if="isCompilation" class="{% if field.errors %} error{% endif %} row mb-3" id="album_artist_field">
                            <label class="col-lg-3 col-form-label fw-bold text-end">Album Artist</label>
                            <div class="col-lg-9">
                                <input class="form-control" id="id_album_artist" name="album_artist" type="text" value="Various Artists" autocomplete="off" />
                            </div>
                        </div>

                    {% elif field.label != 'Length' and field.label != 'Sha1sum' %}

                        <div class="{% if field.errors %} error{% endif %} row mb-3">
                            <label class="col-lg-3 col-form-label fw-bold text-end">{{ field.label }}</label>

                            <div class="col-lg-9">
                                {{ field }}
                                {% for error in field.errors %}
                                    <span class="form-error">{{ error }}</span>
                                {% endfor %}
                            </div>

                        </div>

                    {% endif %}
                {% endfor %}

                {% if form.instance.album.title %}
                    <div class="row mb-3">
                        <label class="col-lg-3 col-form-label fw-bold text-end">Album</label>
                        <label class="col-lg-9 text-start mb-0 form-no-input">{{ form.instance.album.title }}</label>
                    </div>
                {% endif %}

                <div>
                    <div class="col-lg-9 offset-lg-3">
                        <input class="btn btn-primary ms-2" type="submit" name="Go" value="{{ action }}">
                        {% if form.instance.id %}
                            <input class="btn btn-secondary ms-2" type="submit" name="Go" value="Delete" @click="onClickDelete">
                        {% endif %}
                        <a class="ms-3" {% if request.GET.return_url %}href="{{ request.GET.return_url }}" {% else %}href="{% url 'music:list' %}"{% endif %}>Cancel</a>
                    </div>
                </div>

                </form>

            </div>

        </div>

    </div>

    <div id="modalProcessing" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-processing modal-dialog modal-sm modal-dialog-centered" role="document">
            <h4 class="modal-content p-3 d-flex flex-row justify-content-center">
                <div>
                    Processing...
                </div>
                <div class="spinner-border ms-2 text-info" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </h4>
        </div>
    </div>

{% endblock %}

{% block javascript %}

    {{ block.super }}

    {{ tags|json_script:"initial-tags"|default:"" }}

    <script type="text/javascript">

        const store = new Vuex.Store({
            state: {
                {% if action == "Create" %}
                songLength: null,
                songLengthPretty: null,
                {% else %}
                songUuid: "{{ song.uuid }}",
                songLength: {{ song.length }},
                songLengthPretty: "{{ song_length_pretty }}",
                {% endif %}
                songSize: null,
                sampleRate: null,
                bitRate: null,
                dupeSongs: [],
            },
            getters: {},
            mutations: {},
        });

        new Vue({
            el: "#vue-song-info",
            name: "songInfo",
            store,
            methods: {
                onClickTag(tagName) {
                    EventBus.$emit("add-tag", tagName);
                }
            },
        });

        new Vue({
            el: "#vue-app",
            name: "songForm",
            store,
            computed: {
                songLength() {
                    return this.$store.state.songLength;
                },
            },
            data() {
                return {
                    filename: null,
                    sha1sum: null,
                    isCompilation: false,
                    {% if action == "Update" %}
                    uuid: "{{ song.uuid }}",
                    {% endif %}
                };
            },
            methods: {
                onDupeCheck() {
                    const artist = document.getElementById("id_artist").value;
                    const title = document.getElementById("id_title").value;
                    if (!artist || !title) {
                        return;
                    }
                    doGet(
                        this,
                        "{% url 'music:dupe_song_checker' %}?artist=" + artist + "&title=" + title,
                        (response) => {
                            let dupes = response.data.dupes;
                            if (this.$store.state.songUuid) {
                                this.$store.state.dupeSongs = dupes.filter((x) => x.uuid !== this.$store.state.songUuid);
                            } else {
                                this.$store.state.dupeSongs = dupes;
                            }
                        },
                        "Error checking for duplicate songs",
                    );
                },
                onChange(evt) {
                    const self = this;

                    this.filename = evt.target.files[0].name;

                    const song = document.getElementById("id_file").files[0];
                    const formData = new FormData();
                    formData.append("song", song);

                    const modal = new Modal("#modalProcessing");
                    modal.show();

                    axios.post("{% url "music:get_song_id3_info" %}", formData, {
                        headers: {
                            "Content-Type": "multipart/form-data",
                        },
                    }).then((response) => {
                        const array = ["title", "artist", "year", "track", "album_name"];
                        array.forEach(function(item, index) {
                            data = response.data[item];
                            if (data) {
                                document.getElementById("id_" + item).value = data;
                                if (item === "artist") {
                                    // Sync the artist input value with the simpleSuggest Vue component's value
                                    self.$refs.simpleSuggest.query = data;
                                }
                            }
                        });
                        this.$store.state.songLength = response.data.length;
                        this.$store.state.songLengthPretty = response.data.length_pretty;
                        this.$store.state.songSize = response.data.filesize;
                        this.$store.state.sampleRate = response.data.sample_rate;
                        this.$store.state.bitRate = response.data.bit_rate;
                        this.sha1sum = response.data.sha1sum;

                        // Wait a tiny amount before closing the modal. If the song upload happens
                        //  really fast, then "hide" could be called too quickly after "show",
                        //  which prevents the modal from closing.
                        window.setTimeout(() => {
                            const modal = Modal.getInstance(document.getElementById("modalProcessing"));
                            modal.hide();
                        }, 200);

                        this.onDupeCheck();

                    });
                },
                select() {},
                onClickDelete(evt) {
                    const formEl = document.getElementById("song-form");
                    formEl.setAttribute("action", "{% url 'music:delete' '00000000-0000-0000-0000-000000000000' %}".replace("00000000-0000-0000-0000-000000000000", this.uuid));
                    formEl.submit();
                },
            },
            mounted() {
                {% if action == "Update" %}
                this.$refs.simpleSuggest.query = "{{ form.artist.value|safe }}";
                {% endif %}

                // The title input is automatically generated by Django,
                //  so use JavaScript to add an event handler after the fact.
                const title = document.getElementById("id_title");
                title.addEventListener("blur", this.onDupeCheck);

                EventBus.$on("add-tag", (tagName) => {
                    let tagList = document.getElementsByName("tags")[0].value.split(",");
                    // Ignore if we've already added this tag
                    if (tagList.includes(tagName)) {
                        return;
                    }
                    this.$refs.tagsInput.addTag(tagName);
                });

            },
        });

    </script>

{% endblock %}
