<div class="col-lg-5">

    <form id="search" class="form-inline float-right" name="nav_form" action="{{ request.path }}" method="get">

        <vue-simple-suggest ref="suggestComponent"
                            v-model="query"
                            display-attribute="name"
                            value-attribute="value"
                            :list="tagSearch"
                            :filter-by-query=true
                            :debounce=200
                            :name="inputName"
                            placeholder="Search"
                            autofocus
                            autocomplete="off"
                            @select="select"
                            :styles="autoCompleteStyle"
                            >
            <div slot="suggestion-item" slot-scope="scope">
                <span v-html="boldenSuggestion(scope)"></span>
            </div>
        </vue-simple-suggest>

    </form>

</div>
