<script type="text/javascript" src="{{ STATIC_URL }}js/typeahead.bundle.min.js"></script>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/typeahead-bootstrap3.css" />

<script type="text/javascript">

    $(document).ready(function() {

        var engine = new Bloodhound({
            name: 'tags',
            remote: {
                url: '{% url 'music_search' %}?query=%QUERY',
                wildcard: '%QUERY'
            },
            datumTokenizer: function(d) { return Bloodhound.tokenizers.whitespace(d.val); },
            queryTokenizer: Bloodhound.tokenizers.whitespace
        });

        engine.initialize();

        $('#music-search').typeahead({
            autoselect: true
        }, {
            displayKey: 'name',
            source: engine,
        });

        $('#music-search').on('keyup', function(event, selection) {
            if ((event.which && event.which == 13) || (event.keyCode && event.keyCode == 13)) {
                $('#search').submit();
                return false;
            } else {
                return true;
            }
        });

        $('#music-search').bind('typeahead:selected', function(obj, datum, name) {
            var url = null;
            if (datum.type == 'album') {
                url = '{% url 'album_detail' 666 %}'.replace(/666$/, datum.id);
            } else {
                url = '{% url 'artist_detail' 666 %}'.replace(/666$/, datum.value);
            }
            window.location = url;
        });

});

</script>

<div class="col-lg-3 float-right">

    <form class="form-inline float-right" name="nav_form" id="blog-search-form" action="{{ request.path }}" method="get">
        <input id="music-search" type="text" class="form-control" name="search_item" value="{{ request.GET.search_item }}" autocomplete="off" placeholder="Search" />
    </form>

</div>
