{% extends "base.html" %}

{% block title %} Music {% endblock %}

{% block content %}

    <div id="vue-messages">
        {% include "common/show_messages.html" %}
    </div>

    <div class="row no-gutters h-100" id="vue-app">

        <div class="col-lg-3 d-flex flex-column">

            <card title="Featured Album" class-name="flex-grow-0">

                <template v-slot:content>
                    {% if random_albums %}
                        <table class="table table-borderless">
                            <tr>
                                <td>
                                    <a href="{% url 'music:album_detail' random_albums.uuid %}">
                                        <img src="{{ MEDIA_URL_MUSIC }}artwork/{{ random_albums.uuid }}" height="150" width="150" />
                                    </a>

                                </td>
                                <td>
                                    <strong>{{ random_albums.artist }}</strong>
                                    <br />
                                    {{ random_albums.title }}
                                </td>
                            </tr>
                        </table>
                    {% endif %}
                </template>
            </card>

            <card title="Recently Played Songs">

                <template v-slot:content>

                    <ul class="list-group">
                        {% for song in recent_songs %}
                            <li class="list-group-item list-group-item-secondary text-info">{{ song.song.title}} <strong>{{ song.song.artist }}</strong></li>
                        {% endfor %}
                    </ul>
                </template>

            </card>

        </div>

        <div class="col-lg-9">

            <div class="card-grid ml-2">

                <div class="d-flex">

                    <h3>Recently added music</h3>

                    <div class="mr-2 ml-auto">
                        <add-button url="{% url 'music:create' %}">
                        </add-button>
                    </div>

                </div>

                <div class="col-lg-11">
                    <b-table
                        hover
                        primary-key="uuid"
                        :items="myProvider"
                        :fields="fields"
                        sort-by="year"
                        sort-desc
                        ref="table"
                    >
                        <template #cell(artist)="data">
                            <a :href="data.item.artist_url">[[ data.value ]]</a>
                        </template>
                    </b-table>

                </div>

            </div>

        </div>

    </div>

{% endblock %}

{% block javascript %}

    {{ block.super }}

    <script type="text/javascript" charset="utf-8">

        new Vue({
            el: "#vue-messages",
        });

        Vue.mixin({ delimiters: ["[[", "]]"] });

        new Vue({
            el: "#vue-app",
            data() {
                return {
                    fields: [
                        {
                            key: "year"
                        },
                        {
                            key: "artist"
                        },
                        {
                            key: "title"
                        },
                        {
                            key: "length"
                        },
                    ]
                }
            },
            methods: {
                myProvider(ctx, callback) {
                    const params = '?page=' + ctx.currentPage + '&size=' + ctx.perPage
                    const promise = axios.get("{% url 'music:recent_songs' %}" + params)

                    return promise.then(data => {
                        const items = data.data.song_list
                        return items || []
                    })
                }
            }
        });

   </script>

{% endblock %}
