{% extends "base.html" %}

{% block extra_head %}

    <script type="text/javascript" src="{{ STATIC_URL }}js/datatables.min.js"></script>

    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/datatables.min.css" />

{% endblock %}

{% block title %} Music {% endblock %}

{% block content %}

<script type="text/javascript" charset="utf-8">

    var oTable;

    $(document).ready(function() {

        $('#song_list tbody').on( 'click', 'tr', function () {
            if ( $(this).hasClass('selected') ) {
                $(this).removeClass('selected');
                $('#btn-edit').attr("disabled", "disabled");
                $('#btn-delete').attr("disabled", "disabled");
            } else {
                oTable.$('tr.selected').removeClass('selected');
                $(this).addClass('selected');
                $('#btn-edit').removeAttr("disabled");
                $('#btn-delete').removeAttr("disabled");
            }
        } );

        {% if messages %}
        {% for message in messages %}
        $('#feedback').fadeIn(1000).html('{{ message }}');
        setTimeout( function() {
            $('#feedback').fadeOut(1000);
        }, 3000);
        {% endfor %}
        {% endif %}

        $('#btn-edit').on('click', function() {
            var selectedSongID = $('#song_list').DataTable().cell('.selected', 4).data();
            window.location='{% url 'song_edit' 666 %}'.replace(666, selectedSongID);
            return false;
        });

        function formatArtist( data, type, row ) {
            return '<a href="{% url 'show_artist' 666 %}">'.replace(666, row[1]) + row[1] + '</a>';
        }

        oTable = $('#song_list').DataTable( {
            "serverSide": true,
            "ajaxSource": "{% url 'get_song_list' %}",
            "paginate": true,
            "info": false,
            "displayLength": 50,
            "sorting": [[0, 'desc']],
            "filter": true,
            "lengthChange": false,
            "language": {
                "zeroRecords": "No songs found",
                "search": "Filter",
            },
            "dom": "<'row'<'span6'<'toolbar'>l><'span6'f>r>t<'row'<'span6'i><'span6'p>>",
            "searchable": false,
            "columnDefs": [
                { "targets": [0], "class": "col-lg-2", "sorting": [ "desc", "asc" ] },
                { "targets": [1], "render": formatArtist, "useRendered": false },
                { "targets": [3], "visible": false },
            ],
        } );

    });

</script>

{% include "music/header.html" %}

<div class="row">

    <div class="col-lg-5">
        <div class="panel panel-primary">
            <div class="panel-heading">Recently Played Songs</div>
            <ul class="list-group">

{% for song in recent_songs %}
    <li class="list-group-item">{{ song.song.title}} <strong>{{ song.song.artist }}</strong></li>
{% endfor %}
            </ul>
        </div>
    </div>

    <div class="col-lg-6">
        <br />
        <table class="table">
            <tr><td>
                <a href="{% url 'show_album' random_albums.id %}">
                    <img src="{{ STATIC_URL }}albums/{{ random_albums.artist }}/{{ random_albums.title|urlencode }}/artwork.jpg" height="150" width="150" />
                </a>

            </td>
            <td>
{{ random_albums.artist }}
                <br />
{{ random_albums.title }}
            </td>
            </tr>
        </table>
    </div>

</div>

<br />

<div class="row">

{% include "common/datatable.html" with id="song_list" %}

</div>

{% endblock %}

