{% extends "base.html" %}

{% block title %} Music {% endblock %}

{% block nav %}

    <div class="d-flex mb-3" id="vue-nav">
        <div class="mr-auto align-self-center">
            <ul class="breadcrumb mb-0 pt-0 pb-0">
                <li class="breadcrumb-item"> <a href="{% url 'music:list' %}"><font-awesome-icon icon="home" class="icon-hover"></font-awesome-icon></a> </li>
                <li class="breadcrumb-item active">Playlist: {{ playlist.name }}</li>
            </ul>
        </div>
    </div>

{% endblock %}

{% block content %}

    <div class="row no-gutters h-100" id="vue-app">

        <div class="col-lg-3 d-flex flex-column">

            <div class="card-body">

                {% if playlist.type == "tag" %}

                    <div>
                        Songs matching tag <strong class="text-primary">{{ playlist.parameters.tag }}</strong>
                    </div>

                {% elif playlist.type == "recent" %}

                    <div>
                        Songs added recently
                    </div>

                {% elif playlist.type == "time" %}

                    <div>
                        Songs between the years <strong class="text-primary">{{ playlist.parameters.start_year }}</strong> and <strong class="text-primary">{{ playlist.parameters.end_year }}</strong>
                    </div>

                {% endif %}

                {% if playlist.parameters.exclude_recent %}

                    <div>
                        not listened to within the past <strong class="text-primary">{{ playlist.parameters.exclude_recent }}</strong> day{{ playlist.parameters.exclude_recent|pluralize }}
                    </div>

                {% endif %}

                {% if playlist.parameters.exclude_albums %}

                    <div>
                        not on an album
                    </div>

                {% endif %}

                <div class="mt-3" id="audio_player">
                    <audio controls controlsList="nodownload" id="player" class="mw-100" ref="audioPlayer">
                        <source src="" type="audio/mpeg" />
                        Your browser does not support the audio tag.
                    </audio>
                </div>

            </div>

        </div>

        <div class="col-lg-9">

            <div class="card-grid ml-2">

                <div class="d-flex">
                    <h2 class="text-info">
                        {{ playlist.name }}
                    </h2>
                    <drop-down-menu
                        :links="playlistMenuItems"
                        class="dropdownmenu"
                    >
                    </drop-down-menu>
                </div>

                {% if playlist.note %}
                    <h6>{{ playlist.note }}</h6>
                {% endif %}

                <small v-if="songCount > 0" class="text-primary ml-2"><strong>[[ songCount ]]</strong> [[ songCountPluralized ]], <strong v-html="totalTime"></strong></small>
            </div>

            <div class="right-column ml-3">

                <b-table
                    hover
                    primary-key="playlistitem_uuid"
                    :items="songList"
                    :fields="fields"
                    selectable
                    select-mode="single"
                    @row-clicked="onRowClicked"
                    @row-hovered="onRowHovered"
                    @row-unhovered="onRowUnHovered"
                    {% if playlist.type == "manual" %}
                    v-sortable
                    {% endif %}
                    :sorting="songList"
                    selected-variant="custom"
                    sort-by="sort_order"
                    show-empty
                    empty-text="No songs in the playlist"
                    ref="table"
                >

                    <template #cell(playlistitem_uuid)="data">
                        <div class="hover-target hidden">
                            <dropdown-menu v-model="showDropdownSong" :right="true" transition="translate-fade-down" class="text-center">
                                <font-awesome-icon icon="ellipsis-v"></font-awesome-icon>
                                <div slot="dropdown">
                                    <a class="dropdown-item" href="#" @click.prevent="onClickRemove(data.value)">Remove from playlist</a>
                                    <a class="dropdown-item" href="#" @click.prevent="onClickUpdateSong(data.item.song_uuid)">Update</a>
                                </div>
                            </dropdown-menu>
                        </div>
                    </template>

                </b-table>

            </div>

        </div>

        <form action="{% url 'music:delete_playlist' playlist.uuid %}" method="post">

            {% csrf_token %}

            <div class="modal fade" id="modalDelete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">

                        <div class="modal-header">
                            <h4 class="modal-title" id="myModalLabel">Delete Playlist</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        </div>

                        <div class="modal-body">
                            Are you sure you want to delete this playlist?
                        </div>

                        <div class="modal-footer justify-content-end">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                            <input id="btn-action" class="btn btn-primary" type="submit" name="Go" value="Confirm" />
                        </div>

                    </div>
                </div>
            </div>
        </form>

        <form action="{% url 'music:playlist_update' playlist.uuid %}" method="post">
            {% csrf_token %}
            <create-update-playlist
                tag-search-url="{% url 'tag:search' %}?doctype=song"
                action="Update"
                :playlist="JSON.parse('{{ playlist_json }}')"
            />
        </form>

    </div>

{% endblock %}

{% block javascript %}

    {{ block.super }}

    {{ tags|json_script:"initial-tags"|default:"" }}

    <script type="text/javascript">

        const EventBus = new Vue();

        let currentlyPlayingSongUuid = null;

        new Vue({
            el: "#vue-nav",
        });

        {% if playlist.type == "manual" %}

        let sortable = null;

        Vue.directive("sortable", {
            update(el, binding, vnode) {

                const sort_items = vnode.data.attrs.sorting;

                let options = {};

                if (sort_items) {

                    options.onStart = function sortableStart(evt) {
                        // Disable the table's hover feature will we're dragging and dropping
                        table.hover = false;
                    }

                    options.onUpdate = function sortableUpdate(evt) {
                        const deleted = sort_items.splice(evt.oldIndex, 1);
                        sort_items.splice(evt.newIndex, 0, deleted[0]);
                    };

                    options.onEnd = function sortableEnd(evt) {
                        table.hover = true;
                        if (evt.newIndex !== evt.oldIndex) {

                            const bodyFormData = new URLSearchParams();
                            bodyFormData.append("playlistitem_uuid", evt.item.dataset.pk);
                            bodyFormData.append("position", evt.newIndex + 1);

                            axios("{% url 'music:sort_playlist' %}", {
                                method: "POST",
                                data: bodyFormData,
                            })
                                .then((response) => {
                                    console.log("Success");
                                    EventBus.$emit("get-playlist");
                                }, (error) => {
                                    console.log(error);
                                });

                        }
                    }
                }

                sortable = Sortable.create(document.querySelector("tbody"), options);
            }
        });

        {% endif %}

        const table = new Vue({
            el: "#vue-app",
            components: {
                CreateUpdatePlaylist
            },
            data() {
                return {
                    songList: [],
                    fields: [
                        {% if playlist.type == "manual" %}
                        {
                            key: "sort_order",
                            label: "#",
                        },
                        {% endif %}
                        {
                            key: "title",
                            {% if playlist.type != "manual" %}
                            sortable: true,
                            {% endif %}
                        },
                        {
                            key: "artist",
                            {% if playlist.type != "manual" %}
                            sortable: true,
                            {% endif %}
                        },
                        {
                            key: "year",
                            {% if playlist.type != "manual" %}
                            sortable: true,
                            {% endif %}
                        },
                        {
                            key: "length",
                            {% if playlist.type != "manual" %}
                            sortable: true,
                            {% endif %}
                            tdClass: "text-center",
                            thClass: "text-center",
                        },
                        {
                            key: "playlistitem_uuid",
                            label: "",
                            tdClass: "text-center align-middle",
                            thClass: "col-action",
                        },
                    ],
                    menuValue: "",
                    totalTime: 0,
                    continuousPlay: true,
                    showDropdownPlaylist: false,
                    showDropdownSong: false,
                    hover: true,
                    playlistMenuItems: [
                        {
                            id: uuidv4(),
                            title: "Update",
                            url: "#",
                            clickHandler: this.onClickUpdatePlaylist,
                        },
                        {
                            id: uuidv4(),
                            title: "Delete",
                            url: "#",
                            clickHandler: this.onClickDelete,
                        }
                    ]
                }
            },
            methods: {
                getPlaylist() {
                    doGet(
                        this,
                        "{% url "music:get_playlist" playlist.uuid %}",
                        (response) => {
                            this.songList = response.data.playlistitems;
                            this.totalTime = response.data.totalTime;
                        },
                        "Error getting playlist"
                    );
                },
                onRowClicked(item, index, evt) {
                    // If we found anthing other than a TD element, we've
                    //  clicked on the "on hover" context menu. In that case,
                    //  don't play the song.
                    if (evt.srcElement.nodeName === "TD") {
                        currentlyPlayingSongUuid = item.song_uuid;
                        this.playCurrentlySelectedSong();
                    }
                },
                onRowHovered(item, index, evt) {
                    evt.currentTarget.querySelector(".hover-target").classList.remove("hidden");
                },
                onRowUnHovered(item, index, evt) {
                    evt.currentTarget.querySelector(".hover-target").classList.add("hidden");
                },
                onClickRemove(uuid) {
                    axios.delete("{% url 'playlistitem-detail' '00000000-0000-0000-0000-000000000000' %}".replace('00000000-0000-0000-0000-000000000000', uuid))
                         .then((response) => {

                             this.$bvToast.toast("Song deleted from playlist", {
                                 title: "Info",
                                 variant: "primary"
                             })

                             EventBus.$emit("get-playlist");

                             console.log("Success");
                         }, (error) => {
                             console.log(error);
                         });

                },
                onClickUpdateSong(uuid) {
                    window.location="{% url 'music:update' '00000000-0000-0000-0000-000000000000' %}?return_url={{ request.get_full_path }}".replace(/00000000-0000-0000-0000-000000000000/, uuid);
                 },
                playCurrentlySelectedSong() {
                    axios.get("{% url 'music:get_song_info' '00000000-0000-0000-0000-000000000000' %}".replace('00000000-0000-0000-0000-000000000000', currentlyPlayingSongUuid))
                         .then(response => {
                             let vid = document.getElementById("player");
                             vid.src = response.data.url;
                             vid.play()
                         })
                },
                onClickDelete() {
                    $("#modalDelete").modal("show")
                },
                onClickUpdatePlaylist() {
                    $("#modalCreateUpdate").modal("show")
                    window.setTimeout(() => { document.getElementById("id_name").focus() }, 500);
                },
            },
            computed: {
                songCount() {
                    return this.songList.length;
                },
                songCountPluralized() {
                    return pluralize("song", this.songList.length);
                }
            },
            mounted() {

                this.getPlaylist();

                EventBus.$on("get-playlist", payload => {
                    this.getPlaylist();
                });

                EventBus.$on("onEnded", payload => {

                    // Find next song in list to play. Use "computedItems" to
                    //  account for table sorting.
                    let index = this.$refs.table.computedItems.findIndex(x => x.song_uuid === currentlyPlayingSongUuid);
                    index = index + 1;

                    if (this.continuousPlay && index < this.songList.length) {
                        currentlyPlayingSongUuid = this.songList[index].song_uuid;
                        this.$refs.table.selectRow(index);
                        this.playCurrentlySelectedSong();
                    } else {
                        this.$refs.table.unselectRow(index - 1);
                    }

                });

            }
        });

        document.getElementById("player").onended = function(evt) {
            EventBus.$emit("onEnded");
        };

    </script>

{% endblock %}
