{% extends "base.html" %}

{% block extra_head %}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.20/sl-1.3.1/datatables.min.css"/>
{% endblock %}

{% block title %} Music :: Tag Search {% endblock %}

{% block left-block %}

    <br /><br />

    <div id="audio_player">
        <audio controls controlsList="nodownload" id="player">
            <source src="" type="audio/mpeg">
  Your browser does not support the audio tag.
        </audio>
    </div>

{% endblock %}

{% block content %}

<div class="row">
    <div class="col-lg-12">
        {% block breadcrumbs %}
            <ol class="breadcrumb">
                <li class="breadcrumb-item"> <a href="{% url 'music_list' %}">Music</a> </li>
                <li class="breadcrumb-item active"> Tag: <strong>{{ tag_name }}</strong> </li>
            </ol>
        {% endblock %}

    </div>

</div>

<div class="row">
    <div class="col-lg-11">
        {% include "common/datatable.html" with data=results cols=cols id="song_list" %}
    </div>
</div>

{% endblock %}

{% block javascript %}

    {{ block.super }}

    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.20/sl-1.3.1/datatables.min.js"></script>

    <script type="text/javascript" charset="utf-8">

        var table;

        $(document).ready(function() {

            table = $("#song_list").DataTable( {
                initComplete: function () {
                    var api = this.api();
                    $("#song_list").show();
                    api.columns.adjust();
                },
                "select": true,
                "info": false,
                "filter": false,
                "paginate": false,
                "displayLength": 50,
                "sorting": [[1, "asc"]],
                "lengthChange": false,
                "searchable": false,
                "columnDefs": [
                    { "targets": [1], "sorting": [ "asc", "desc" ] },
                    { "targets": [3], "visible": false },
                ],
            } );

            table.on("select", function () {

                var songId = $("#song_list").DataTable().cell(".selected", 3).data();

                var info;
                $.ajax( { type: "GET",
                          url: "{% url 'get_song_info' 666%}".replace(/666$/, songId),
                          success: function(json) {

                        info = json;

                        var songTitle = $("#song_list").DataTable().cell(".selected", 0).data();

                        // Unescape any HTML entities (eg translate "&amp;" to "&")
                        // http://stackoverflow.com/questions/1912501/unescape-html-entities-in-javascript
                        songTitle = new DOMParser().parseFromString(songTitle, "text/html").documentElement.textContent;

                        $(".play-progress span").html(songTitle);
                        $("#player").get(0).src = info.url;
                        $("#player").get(0).play()

                    }
                          });

            } );

        });

    </script>

{% endblock %}
