{% extends "base.html" %}

{% block title %} Music :: Tag Search {% endblock %}

{% block nav %}

    <div class="d-flex mb-3">
        <div class="mr-auto align-self-center">
            <ul class="breadcrumb mb-0 pt-0 pb-0">
                <li class="breadcrumb-item"> <a href="{% url 'music:list' %}">Music</a> </li>
                <li class="breadcrumb-item active"> Tag: <strong>{{ tag_name }}</strong> </li>
            </ul>
        </div>
    </div>

{% endblock %}

{% block content %}

    <div class="row no-gutters h-100" id="vue-app">

        {% if not album_list and not song_list %}
            <div class="col-lg-12">
                <div class="card-grid ml-2">
                <search-no-result class="right-column">
                    <template v-slot:message>
                        You have no music tagged with <strong>{{ tag_name }}</strong>
                    </template>
                </search-no-result>
                </div>
            </div>
        {% endif %}


        <div class="col-lg-3 d-flex flex-column">

            <div class="card-grid ml-2">

                {% if song_list %}
                    <audio-player
                        ref="audioPlayer"
                        :track-list="songList"
                        song-url="{{ MEDIA_URL_MUSIC }}songs/"
                        mark-listened-to-url="{% url 'music:mark_song_as_listened_to' '00000000-0000-0000-0000-000000000000' %}"
                        @current-song="selectRow"
                    >
                    </audio-player>
                {% endif %}

            </div>

        </div>

        <div class="col-lg-9">

            <div class="card-grid ml-2">

                {% if album_list %}

                    <div class="right-column">
                        <card>

                        <template v-slot:title-slot>
                            <h4>
                                <strong>
                                {{ album_list|length }} album{{ album_list|pluralize }}
                                </strong>
                            </h4>
                        </template>

                        <template v-slot:content>
                            <table class="table-borderless">
                                <tr>

                                {% for album in album_list %}

                                {% if forloop.counter0|divisibleby:"4" %}

                                </tr>
                                <tr>

                                {% endif %}

                                <td class="album hoverable">
                                    <a href="{% url 'music:album_detail' album.uuid %}">
                                        <img src="{{ IMAGES_URL }}album_artwork/{{ album.uuid }}" height="150" width="150" /> <br />
                                    </a>
                                    <div class="mt-1 font-weight-bold">
                                            {{ album.title }}
                                    </div>
                                    <div class="text-light">
                                        <a href="{% url 'music:artist_detail' album.artist.uuid %}">
                                            {{ album.artist.name }}
                                        </a>
                                    </div>
                                </td>

                                {% endfor %}

                                </tr>
                            </table>
                        </template>

                        </card>
                    </div>

                {% endif %}

            </div>

            <div class="card-grid ml-2 pr-0">

                {% if song_list %}

                <div class="right-column">
                    <card>
                        <template v-slot:title-slot>
                            <h4>
                                <strong>
                                {{ song_list|length }} song{{ song_list|pluralize }}
                                </strong>
                            </h4>
                        </template>

                        <template v-slot:content>

                            <b-table
                                hover
                                primary-key="uuid"
                                :items="songList"
                                :fields="fields"
                                selectable
                                select-mode="single"
                                @row-selected="rowSelected"
                                selected-variant="custom"
                                sort-by="year"
                                sort-desc
                                ref="table"
                            >
                            </b-table>

                        </template>

                    </card>
                </div>

                {% endif %}

            </div>

        </div>

    </div>

{% endblock %}

{% block javascript %}

    {{ block.super }}

    <script type="text/javascript" charset="utf-8">

        new Vue({
            el: "#vue-app",
            data() {
                return {
                    songList: [
                        {% for song in song_list %}
                        {
                            "uuid": "{{ song.uuid }}",
                            "title": "{{ song.title|safe }}",
                            "artist": "{{ song.artist|safe }}",
                            "year": "{{ song.year|default:'' }}",
                            "length": "{{ song.length }}",
                        },
                        {% endfor %}
                    ],
                    fields: [
                        {
                            key: "title",
                            sortable: true
                        },
                        {
                            key: "artist",
                            sortable: true
                        },
                        {
                            key: "year",
                            sortable: true
                        },
                        {
                            key: "length",
                            sortable: true
                        },
                    ]
                }
            },
            methods: {
                rowSelected(evt) {
                    if (evt.length > 0) {
                        this.$refs.audioPlayer.playTrack(evt[0].uuid);
                    }
                },
                selectRow(index) {
                    // Select a row based on index number. If the index is -1,
                    // assume we only want to deselect any currently selected row.
                    this.$refs.table.clearSelected();
                    if (index != -1) {
                        this.$refs.table.selectRow(index);
                    }
                },
            },
        });

    </script>

{% endblock %}
