{% extends "base.html" %}

{% block title %} Music :: Tag Search {% endblock %}

{% block nav %}

    <div class="d-flex mb-3">
        <div class="me-auto align-self-center">
            <ul class="breadcrumb mb-0 pt-0 pb-0">
                <li class="breadcrumb-item"> <a href="{% url 'music:list' %}">Music</a> </li>
                <li class="breadcrumb-item active"> Tag: <strong>{{ tag_name }}</strong> </li>
            </ul>
        </div>
    </div>

{% endblock %}

{% block content %}

    <div id="vue-app" class="row g-0 h-100 align-items-start">

        {% if not album_list %}
            <div v-if="!songList.length" class="col-lg-12">
                <div class="card-grid ms-2">
                <search-no-result class="me-3">
                    <template v-slot:message>
                        You have no music tagged with <strong>{{ tag_name }}</strong>
                    </template>
                </search-no-result>
                </div>
            </div>
        {% endif %}

        <div class="sticky-top col-lg-3 d-flex flex-column h-100">

            <div class="card-grid flex-grow-1 ms-2">

                <audio-player
                    v-if="songList"
                    ref="audioPlayer"
                    :track-list="songList"
                    song-url="{{ MEDIA_URL_MUSIC }}songs/"
                    mark-listened-to-url="{% url 'mark_song_as_listened_to' '00000000-0000-0000-0000-000000000000' %}"
                    @current-song="onCurrentSong"
                    @is-playing="handleIsPlaying"
                >
                </audio-player>

            </div>

        </div>

        <div class="col-lg-9 d-flex flex-column h-100">
            {% if album_list %}
                <div class="card-grid ms-2">
                    <div class="me-3">
                        <card class="backdrop-filter h-100">
                            <template v-slot:title-slot>
                                <h4>
                                    <strong>
                                        {{ album_list|length }} album{{ album_list|pluralize }}
                                    </strong>
                                </h4>
                            </template>
                            <template v-slot:content>
                                <div class="d-flex flex-wrap">
                                {% for album in album_list %}
                                    <div class="collection-container p-3">
                                        <div class="collection">
                                            <a href="{% url 'music:album_detail' album.uuid %}">
                                                <img src="{{ IMAGES_URL }}album_artwork/{{ album.uuid }}" height="150" width="150" /> <br />
                                            </a>
                                            <div class="mt-1 fw-bold">
                                                {{ album.title }}
                                            </div>
                                            <div class="text-light">
                                                <a href="{% url 'music:artist_detail' album.artist.uuid %}">
                                                    {{ album.artist.name }}
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                                </div>
                            </template>
                        </card>
                    </div>
                </div>
            {% endif %}

            <div class="card-grid h-100 ms-2 pe-0">

                <div v-if="songList" class="h-100 me-3">
                    <card class="backdrop-filter h-100">
                        <template v-slot:title-slot>
                            <h4>
                                <strong>
                                    [[ songList.length ]] [[ pluralize("song", songList.length) ]]
                                </strong>
                            </h4>
                        </template>

                        <template v-slot:content>

                            <o-table
                                :data="songList"
                                :default-sort="['year', 'desc']"
                                hoverable
                                v-model:selected.sync="selectedSong"
                                @select="handleSongSelect"
                                ref="table"
                            >

                                <o-table-column field="title" label="Title" sortable v-slot="props">
                                    <span v-if="selectedSong.uuid === props.row.uuid" class="me-2">
                                        <img id="isPlaying" src="{{ STATIC_URL }}img/equaliser-animated-green.gif" width="20" height="20" />
                                    </span>
                                    <span>[[ props.row.title ]]</span>
                                </o-table-column>

                                <o-table-column field="artist__name" label="Artist" sortable v-slot="props">
                                    <span>[[ props.row.artist__name ]]</span>
                                </o-table-column>

                                <o-table-column field="year" label="Year" sortable v-slot="props">
                                    <span>[[ props.row.year ]]</span>
                                </o-table-column>

                                <o-table-column field="length" label="Length" sortable v-slot="props">
                                    <span>[[ props.row.length ]]</span>
                                </o-table-column>

                            </o-table>

                        </template>

                    </card>
                </div>

            </div>

        </div>

    </div>

{% endblock %}

{% block javascript %}

    {{ block.super }}

    {{ song_list|json_script:"songList" }}

    <script type="text/javascript" charset="utf-8">

        const app = createApp({
            name: "SongList",
            delimiters: ["[[", "]]"],
            components: {
                AudioPlayer,
                Card,
                SearchNoResult,
            },
            setup() {
                const selectedSong = ref({});

                const audioPlayer = ref(null);

                function onCurrentSong(songNumber) {
                    if (songNumber === -1) {
                        selectedSong.value = {};
                        return;
                    }
                    selectedSong.value = songList[songNumber];
                };

                function handleIsPlaying(isPlaying) {
                    let src = null;
                    if (isPlaying) {
                        src = "{{ STATIC_URL }}img/equaliser-animated-green.gif";
                    } else {
                        src = "{{ STATIC_URL }}img/equaliser-animated-green-frozen.gif";
                    }

                    document.getElementById("isPlaying").src = src;
                };

                function handleSongSelect(row) {
                    audioPlayer.value.playTrack(row.uuid);
                };

                return {
                    audioPlayer,
                    handleIsPlaying,
                    handleSongSelect,
                    onCurrentSong,
                    pluralize,
                    songList: JSON.parse(document.getElementById("songList").textContent),
                    selectedSong,
                };
            },
        });
        app.use(Oruga, {
            iconComponent: "font-awesome-icon",
            iconPack: "fa",
            table: {
                sortIcon: "caret-up",
            },
        });
        app.mount("#vue-app");

    </script>

{% endblock %}
