{% extends "base.html" %}

{% block title %} Music {% endblock %}

{% block content %}

    <div id="vue-messages">
        {% include "common/show_messages.html" %}
    </div>

{% if request.POST.Go and not form.errors %}
    <div class="alert alert-success offset-lg-2">Post {{ action }}ed</div>
{% endif %}

<p class="lead offset-lg-2">{{ action }} a Song</p>

<form action="{{ request.path }}" method="post">
    {% csrf_token %}

    {% for field in form %}
        {% if field.label == "Tags" %}

            <div id="tagsearch">
                <div class="form-group{% if field.errors %} error{% endif %} row">
                    <label class="col-lg-2 col-form-label" for="inputTitle">Tags</label>
                <input type="hidden" name="tags" v-model="tagsHidden" />

                <div class="col-lg-5" id="vue-wrapper">
                    <vue-tags-input
                        ref="tagsInputComponent"
                        v-model="tag"
                        :tags="tags"
                        @tags-changed=tagsChanged
                        :autocomplete-items="filteredItems"
                        :add-only-from-autocomplete="false"
                        placeholder="">
                        <div slot="autocomplete-item" slot-scope="scope" @click="scope.performAdd(scope.item)">
                            <div>[[ scope.item.text ]]</div>
                        </div>
                    </vue-tags-input>
                </div>
                {% for error in field.errors %}
                    <span class="form-error">{{ error }}</span>
                {% endfor %}
            </div>

        {% else %}

            <div class="form-group{% if field.errors %} error{% endif %} row">
                <label class="col-lg-2 col-form-label" for="inputTitle">{{ field.label }}</label>

                <div class="col-lg-5">
                    {{ field }}
                    {% for error in field.errors %}
                        <span class="form-error">{{ error }}</span>
                    {% endfor %}
                </div>

            </div>

        {% endif %}
    {% endfor %}

    <div class="form-group row">
        <label class="col-lg-2 col-form-label">Album</label>
        <label class="col-lg-5 text-left">{{ form.instance.album.title }}</label>
    </div>

    <div class="form-group row">
        <label class="col-lg-2 col-form-label">Times Played</label>
        <label class="col-lg-5 text-left">{{ form.instance.times_played }}</label>
    </div>

    <div class="form-group">
        <div class="col-lg-5 offset-lg-2">
            <input class="btn btn-secondary" type="submit" name="Go" value="{{ action }}">
            <input class="btn btn-secondary{% if not form.instance.id %} disabled{% endif %}" type="submit" name="Go" value="Delete">
            <a class="btn btn-secondary" href="{% url 'music:list' %}">Cancel</a>
        </div>
    </div>

    </form>

{% if file_info %}

    <div class="row">

        <div class="col-lg-3">
            <img src="{{ STATIC_URL }}albums/{{ song.artist }}/{{ song.album.title }}/artwork.jpg" width="150" height="150" />
        </div>

        <div class="col-lg-4">

            <table class="table table-striped">
1                <tr><td><strong>length</strong></td><td>{{ file_info.length }}</td></tr>
                <tr><td><strong>bit rate</strong></td><td>{{ file_info.id3_info.info.bitrate }}</td></tr>
                <tr><td><strong>sample rate</strong></td><td>{{ file_info.id3_info.info.sample_rate }}</td></tr>
                <tr><td><strong>file size</strong></td><td>{{ file_info.filesize }}</td></tr>
            </table>

        </div>

    </div>

{% endif %}

{% endblock %}

{% block javascript %}

    {{ block.super }}

    {{ tags|json_script:"initial-tags"|default:"" }}

    <script type="text/javascript">

        new Vue({
            delimiters: ["[[", "]]"],
            el: "#tagsearch",
            data() {
                return {
                    tag: "",
                    tags: [],
                    autocompleteItems: [],
                    tagsHidden: ""
                }
            },
            watch: {
                "tag": "initItems",
            },
            methods: {
                tagsChanged(newTags) {
                    this.tagsHidden=newTags.map(x => x.value).join(",")
                },
                initItems() {

                    // Set a minimum character count to trigger the ajax call
                    if (this.tag.length < 3) return;

                    return doGet(
                        this,
                        "{% url "tag:search" %}?query=" + this.tag,
                        (response) => {
                            this.autocompleteItems = response.data.map(a => {
                                return { text: a.text, value: a.value };
                            })
                        },
                        ""
                    );

                }
            },
            mounted() {
                initialTags = JSON.parse(document.getElementById("initial-tags").textContent);
                if (initialTags) {
                    this.tags = initialTags;
                    this.tagsHidden=initialTags.map(x => x.value).join(",")
                }
            },
            computed: {
                filteredItems() {
                    return this.autocompleteItems.filter(i => {
                        return i.text.toLowerCase().indexOf(this.tag.toLowerCase()) !== -1;
                    });
                }
            }
        });

        new Vue({
            el: "#vue-messages",
        });

    </script>

{% endblock %}
