{% extends "base.html" %}

{% block extra_head %}

{% endblock %}

{% block title %} {{ section }} {% endblock %}

{% block content %}

<script type="text/javascript">

$(document).ready(function() {

{% if action == 'Edit' %}
        $("input.btn[value='Delete']").click( function() {
            $("form#todo-form").attr("action", "{% url 'todo_delete' pk %}");
        })
{% endif %}

});

</script>

{% if message %}
<div class="alert alert-success">{{ message }}</div>
{% endif %}

<p class="lead offset-lg-1">
{{ action }} WishList
</p>

<form action="{{ request.path }}" method="post">
{% csrf_token %}

{% for field in form %}
<div class="form-group {% if field.errors %}error{% endif %} row">
    <label class="col-lg-1 col-form-label" for="inputTitle">{{ field.label }}</label>

    <div class="col-lg-5">
{{ field }}

{% for error in field.errors %}
      <span class="form-error">{{ error }}</span>
{% endfor %}

</div>

</div>
{% endfor %}

<div class="form-group">
    <div class="offset-lg-1">
        <input class="btn btn-secondary" type="submit" name="Go" value="{{ action }}" />
        <input class="btn btn-secondary{% if not form.instance.id %} disabled{% endif %}" type="submit" name="Go" value="Delete" />
        <a class="btn btn-secondary" href="{% url 'wishlist' %}">Cancel</a>
    </div>
</div>

</form>

{% endblock %}
