{% extends "base.html" %}

{% block extra_head %}
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap3-typeahead.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/bloodhound.js"></script>
{% endblock %}

{% load favicon %}

{% block title %} Bookmarks {% endblock %}

{% block content %}

<script type="text/javascript">

$(document).ready(function() {

    var engine = new Bloodhound({
		name: 'tags',
		remote: '{% url 'bookmark_tag_search' %}?query=%QUERY',
        datumTokenizer: function(d) {
            return Bloodhound.tokenizers.whitespace(d.val);
        },
        queryTokenizer: Bloodhound.tokenizers.whitespace
    });

    engine.initialize();

    $('#tag-filter').typeahead({
        source: engine.ttAdapter(),
		updater: function(item) {
			window.location='{% url 'bookmark_tag' %}?tagsearch=' + item;
		}
	});

	var selectedId;

	$('i.icon-remove').hide();

	$('.tag-container').hover( function() {
		selectedId = $(this).find('a').attr('id').split('_')[1];
		$('i.icon-remove').hide();
		 $('i#delete_' + selectedId ).show();
	});

	$('.tag-container').mouseleave( function() {
		$('i.icon-remove').hide();
	});

	$('i.icon-remove').click( function() {
		$.ajax( { type: 'DELETE',
				  url: '{% url 'bookmark_delete' 666 %}'.replace(666, selectedId),
				  success: function(data) {
					  $('#link_' + selectedId).parent().remove()
				  },
				  error: function(jqXHR, textStatus, errorThrown) {
					  console.log('error: ' + textStatus);
				  }
				});

	})

	// Hitting return will begin the search
    $('#bookmark-search').keypress( function(e) {
		if ((e.which && e.which == 13) || (e.keyCode && e.keyCode == 13)) {
			$('#bookmark-search-form').submit();
            return false;
        } else {
            return true;
        }
	});

    $('#sort-container').sortable( {
		connectWith: '.bookmark-list',
		stop: function(event, ui) {
			var myMatches = $(ui.item).find('a').attr('id').match(/link_(.*)$/);
			var link_id = myMatches[1];

			$.ajax( { type: 'POST',
                  url: '{% url 'tag_bookmark_list' %}',
                  data: { tag: '{{ tag_filter }}', link_id: link_id, position: ui.item.index() + 1 },
                  success: function() {
                  }
                });

		}
	});

	$('#favorite_tags').change( function(e) {
		var tag = $('#favorite_tags').val();
		window.location='{% url 'bookmark_tag' %}?tagsearch=' + tag;
	});

});

</script>

<ul class="breadcrumb pull-right">
<li><a href="{% url 'bookmark_list' %}">List</a><span class="divider">/</span></li>
<li>Tags</li>
</ul>

<br /><br />

<form class="form-inline" name="nav_form" id="tag-search-form" action="{% url 'bookmark_list' %}" method="get">

Search
<input id="bookmark-search" type="text" name="search_item" size="20" value="{{ request.GET.search_item }}" accesskey="s" />

Tag Filter <input id="tag-filter" type="text" value="{{ tag_filter }}" autocomplete="off" />

<select id="favorite_tags">
  <option>Favorites</option>
{% for tag in favorite_tags %}
  <option value="{{ tag.name }}">{{ tag.name }}</option>
{% endfor %}
</select>

</form>

{% if bookmarks %}

<ul id="sort-container" class="bookmark-list unstyled">

{% for link in bookmarks %}

<li style="padding: 4px;">
	<span class="tag-container">
	<span style="width: 18px; border: 1px solid white; float: left">
	  <i class="icon-remove glyphicon glyphicon-remove" id="delete_{{ link.id }}"></i>
	</span> &nbsp; &nbsp;
	<span style="width: 20px">{{ link.url|favicon:16|safe }} </span> &nbsp; &nbsp;
	<a class="one-tag" href="{{ link.url }}" id="link_{{ link.id }}">{{ link.title }}</a>
	</span>
</li>

{% endfor %}

</ul>

{% endif %}

{% endblock %}
