{% extends "base.html" %}

{% block title %} KB :: Documents {% endblock %}

{% block content %}

    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap-tagsinput-custom.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap-tagsinput.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/datepicker3.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/typeahead-bootstrap3.css" />

    <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap-datepicker.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap-tagsinput.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.field_selection.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/typeahead.bundle.min.js"></script>

    <script type="text/javascript">

        $(document).ready(function() {

            var engine = new Bloodhound({
                name: 'tags',
                remote: {
                    url: '{% url 'tag_search' %}?query=%QUERY',
                    wildcard: '%QUERY'
                },
                datumTokenizer: function(d) { return Bloodhound.tokenizers.whitespace(d.val); },
                queryTokenizer: Bloodhound.tokenizers.whitespace
            });

            engine.initialize();

            $('#id_tags').tagsinput({
                confirmKeys: [13, 188],
                tagClass: function(item) {
                    return 'label label-primary';
                },
                typeaheadjs: {
                    source: engine,
                    displayKey: 'value',
                    valueKey: 'value',
                    options: {'autoselect': true}
                }
            });

            $('#markdown-support').change( function(event) {
                var value = $(this).val();
                var range = $('#id_content').getSelection();
                var text = $('#id_content').val();
                if (value == 'Bold') {
                    $('#id_content').val( text.substr(0, range.start) + '**' + range.text + '**' +  text.substr(range.end, text.length - range.end));
                } else if (value == 'Insert link') {
                    $('#id_content').val( text.substr(0, range.start) + '[text](url)' + range.text + text.substr(range.end, text.length - range.end));
                } else if (value == 'Insert list') {
                    $('#id_content').val( text.substr(0, range.start) + '\n - List item\n' + text.substr(range.end, text.length - range.end));
                } else if (value == 'Indent Code') {
                    var newtext = '    ' + range.text.replace(/\n/g, "\n    ");
                    $('#id_content').val( text.substr(0, range.start) + newtext  + text.substr(range.end, text.length - range.end));
                } else if (value == 'Escape HTML') {
                    var escapedText = range.text.replace(/</g, "&lt;").replace(/>/g, "&gt;");
                    $('textarea').val( text.substr(0, range.start) + escapedText +  text.substr(range.end, text.length - range.end));
                }
                // Reset the dropdown
                $('#markdown-support')[0].selectedIndex = 0
            } );

            $('.date').datepicker({
                todayBtn: "linked",
                format: "mm-dd-yyyy",
                multidate: false
            });

            // Handle the typeahead for the Source field
            var engineSource = new Bloodhound({
                name: 'tags',
                remote: {
                    url: '{% url 'search_document_source' %}?doc_source=%QUERY',
                    wildcard: '%QUERY'
                },
                datumTokenizer: function(d) { return Bloodhound.tokenizers.whitespace(d.val); },
                queryTokenizer: Bloodhound.tokenizers.whitespace
            });

            engineSource.initialize();

            $('#id_source').typeahead({
                autoselect: true,
                minLength: 3,
            }, {
                displayKey: 'source',
                source: engineSource,
            });

            $('#id_author, #id_title').keypress( function(e) {
                // Transforms 'JERRELL SCHIVERS' to 'Jerrell Schivers'
                if (e.which && (e.which == 2 || e.which == 8747)) { // Control-B (Linux) or Alt-B (Mac)
                    $(this).val( $(this).val().toLowerCase().replace(/(\s+)(.)|^(.)/g, formatName) );
                    return false;
                }
            });

        });

        function formatName(match, capture1, capture2) {
            return capture2 ? capture1 + capture2.toUpperCase() : match.toUpperCase();
        }

    </script>

{% if request.POST.Go and not form.errors %}

    {% include "common/show_messages.html" %}

{% endif %}

<form class="form-horizontal" action="{{ request.path }}" method="post">
    <legend class="col-lg-offset-1"> {{ action }} Document</legend>
    {% csrf_token %}

    {% for field in form %}
        <div class="form-group {% if field.errors %}error{% endif %}">
            <label class="col-lg-1 control-label" for="inputTitle">{{ field.label }}</label>

            {% if field.label == 'Pub date' %}

                <div class="col-lg-7">

                    <div class="form-group row">

                        <!-- Tacking on the glyphs in an input-group class messes up the layout -->
                        <div class="col-lg-3">
                            <input class="form-control date" type="text" name="pub_date" value="{{ field.value }}" />
                        </div>

                        <div class="col-lg-3">
                            <select id="markdown-support" class="form-control">
                                <option>Markdown</option>
                                <option>Insert link</option>
                                <option>Bold</option>
                                <option>Indent Code</option>
                                <option>Insert list</option>
                                <option>Escape HTML</option>
                            </select>
                        </div>

                    </div>

                </div>

            {% else %}

                <div class="col-lg-5">
                    {{ field }}
                </div>
            {% endif %}

            {% for error in field.errors %}
                <span class="form-error">{{ error }}</span>
            {% endfor %}

        </div>
    {% endfor %}

    <div class="form-group">
        <div class="col-lg-3 col-lg-offset-1">
            <input class="btn btn-default" type="submit" name="Go" value="{{ action }}" />
            <input class="btn btn-default{% if not form.instance.id %} disabled{% endif %}" type="submit" name="Go" value="Delete" />
            <a class="btn btn-default" href="">Cancel</a>
        </div>
    </div>

</form>

{% endblock %}
