/* Sticky footer support
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
          background-color: #e5e5e5;
          border-top: 1px solid #cccccc;
}

/* End of sticky footer support */


/* Don't display the '*' for required fields */
.asteriskField {
    display: none;
}

/* Additional support for hilighting a clicked row.  This is needed to
  better integrate datatables with Bootstrap. */
/*.row_selected, .row_selected a { background-color: #0173bc; color: #ffffff }*/
/*.table tbody tr:hover td,
.table tbody tr:hover th {
  background-color: transparent;
}*/

#row_selected, #row_selected a {
           background-color: #0173bc;
           color: #ffffff;
}

/* Use this to center content */
.center {
     float: none;
     margin-left: auto;
     margin-right: auto;
}

/* For tables with a toolbar, make room for a Bootstrap alert */
/* .btn-group { */
/*   height: 40px; */
/* } */

.form-error {
  color: #b94a48;
}

#bookmarks_show_untagged_only_note {
    font-size: 12px;
    padding-right: 20px;
    padding-top: 10px;
}

.monospaced {
    font-family: Courier
 }

/* The default margin for the pagination controls at the bottom
   of a datatables table is 20px -- why is this? */
ul.pagination {
    margin: 0px;
                }

#bookmarks_show_untagged_only_note {
                                     margin-right: 10px;
                                     }

#bookmarks_breadcrumb {
                        margin: 0px;
                        }