
/* Sticky footer support.  See http://twitter.github.io/bootstrap/examples/sticky-footer.html */

html, body {
             height: 100%;
             /* The html and body elements cannot have any padding or margin. */
             }

/* Wrapper for page content to push down footer */
#wrap {
        min-height: 100%;
        height: auto !important;
        height: 100%;
        /* Negative indent footer by it's height */
        margin: 0 auto -60px;
        }

/* Set the fixed height of the footer here */
#push, #footer {
                 height: 60px;
                 }
#footer {
          color: #eeeeee;
          background-color: #465158;
          }

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
#footer {
          margin-left: -20px;
          margin-right: -20px;
          padding-left: 20px;
          padding-right: 20px;
          }
}

/* End of sticky footer support */


/* Don't display the '*' for required fields */
.asteriskField {
    display: none;
}

/* Additional support for hilighting a clicked row.  This is needed to
  better integrate datatables with Bootstrap. */
.row_selected, .row_selected a { background-color: #0173bc; color: #ffffff }
.table tbody tr:hover td,
.table tbody tr:hover th {
  background-color: transparent;
}

/* For tables with a toolbar, make room for a Bootstrap alert */
.btn-group {
  height: 40px;
}

.form-error {
  color: #b94a48;
}

#bookmarks_show_untagged_only_note {
    font-size: 12px;
    padding-right: 20px;
    padding-top: 10px;
}
