[hidden] {
  display: none !important;
           }

#title {
  padding: 5px 0 0 15px;
}

#left-block {
    padding: 17px;
}

.hidden {
   display: none;
}


.list_annotation {
  color: #C76257;
  font-size: 80%;
}

/* Don't display the '*' for required fields */
.asteriskField {
    display: none;
}

#row_selected, #row_selected a {
   background-color: #0173bc;
   color: #ffffff;
}

/* Use this to center content */
.center {
     float: none;
     margin-left: auto;
     margin-right: auto;
}

.bold {
   font-weight: bold;
}

.alert-margin {
   margin-left: 0px;
}

/* Animated buttons */

.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

.form-error {
  color: #b94a48;
}

#bookmarks_show_untagged_only_note {
    font-size: 12px;
    padding-right: 20px;
    padding-top: 10px;
}

.bookmark-list {
    list-style-type: none;
}

.monospaced {
    font-family: Courier
 }

/* The default margin for the pagination controls at the bottom
   of a datatables table is 20px -- why is this? */
ul.pagination {
    margin: 0px;
                }

#exerciseDetailChart {
   width: 800px;
   height: 400px;
}

#bookmarks_show_untagged_only_note {
                                     margin-right: 10px;
                                     }

#bookmarks_breadcrumb {
                        margin: 0px;
                        }

.search_book_title {
                    color: #0173bc;
 }

.search_book_author {
   font-size: smaller;
 }

.important {
   background-color: #eeeeee;
   padding: 3px;
}

.search_book_title #edit_link{
                    font-size: 8px;
 }

.search_todo_date {
                    font-weight: normal;
                    color: #C76257;
                    font-size: 10px;
 }

.search_bordercore_blogpost_snippet {
                                      font-weight: bold;
                                      }

#kbsearch {
    width: 330px;
}

#kb_blob_search {
   width: 340px;
}

.blob_edit_amazon_name_field {
   width: 100px;
}

#blob_collection_list {
   font-size: 18px;
   margin-botoom: 10px;
}

/* We need this because the "input-group" class ruins the field alignment */
#blob_edit_file {
   padding-left: 15px;
}

#blob_note {
             border: 1px solid #999999;
             padding: 5px;
}

#myModal #title {
    width: 300px;
}

a.tag:link {
    color: white;
}
/* visited link */
a.tag:visited {
    color: white;
}

/* mouse over link */
a.tag:hover {
    color: white;
}

/* selected link */
a.tag:active {
    color: yellow;
               }

.voffset {
   margin-top: 5px;
}

.top-buffer {
   margin-top: 20px;
}

.random-image-card {
   border: 0px;
}

.random-image-card .card-header {
   margin-bottom: 15px;
}

.random-image-card .list-group {
   width: 90%;
   margin: 0 auto;
}

#tag-detail-tab-content {
    padding-left: 10px;
}

.table-borderless td,
.table-borderless th {
   border: 0;
   padding: 10px;
}

.collection_sortable {
   list-style-type: none;
   margin: 0;
   padding: 0;
}

.collection_sortable li {
   margin: 3px 3px 3px 0;
   padding: 15px 15px 130px 15px;
   float: left;
   width: 200px;
   height: 110px;
   text-align: center;
}

#document_note {
   background-color: #0173bc;
   color: #ffffff;
   padding: 10px;
}
