{% extends "base.html" %}

{% load dict_get %}

{% block extra_head %}

    <!-- <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap3-typeahead.min.js"></script> -->

    <!-- <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap3-typeahead.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/bloodhound.js"></script> -->

    <script type="text/javascript" src="{{ STATIC_URL }}js/typeahead.bundle.js"></script>

    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/typeahead-bootstrap3.css" />

{% endblock %}

{% block title %} Search {% endblock %}

{% block content %}

<script type="text/javascript" charset="utf-8">

   $(document).ready(function() {

        $('.facet').on('click', function(e) {

            // For all faceting categories checked, all that list to a
            // hidden field in the search form, then submit the form

            facets = [];

            $('.facet').each(function(index) {
                if (this.checked) {
                    facets.push(this.id)
                }
            });

            $('#facets').val(facets);

            $('#search').submit();

        });

        var engine = new Bloodhound({
            datumTokenizer: function(data) {
                return Bloodhound.tokenizers.obj.whitespace(data.title);
            },
            remote: {
                url: '{% url 'search_book_title' %}?title=%QUERY',
            },
	        mydatumTokenizer: Bloodhound.tokenizers.obj.whitespace('value'),
	        queryTokenizer: Bloodhound.tokenizers.whitespace
        });

        engine.initialize();

        $('#book-title-search').typeahead(
            {
                hint: true,
                highlight: true,
                minLength: 3
            }, {
	            source: engine.ttAdapter(),
                displayKey: 'title',
                updater: function(item) {
                    console.log(item);
	            }
            });

        $('#book-title-search').bind('typeahead:selected', function(obj, datum, name) {
            window.open("{{ STATIC_URL }}ebooks/" + datum.filename, "book")
        });

    });

</script>

    <div class="row">

        <div class="col-md-12">

            <form id="search" class="form-inline" action="{% url 'search' %}" method="get">
                <input type="hidden" id="facets" name="facets" value="" />

                <div class="form-group">

                    <input class="form-control" type="text" name="search" value="{{ request.GET.search }}" placeholder="Search" />

Limit
                    <select name="rows" class="form-control">
                        <option>100</option>
                        <option>200</option>
                        <option>1000</option>
                        <option>No limit</option>
                    </select>
Sort by
                    <select name="sort" class="form-control">
                        <option value="rank">Rank</option>
                        <option value="project_name">Project Name</option>
                    </select>

                    <input class="btn btn-default" type="submit" name="Go" value="Search" />

{% if info %}
    &nbsp; <strong>{{ numFound }}</strong> match{{ info|pluralize:"es" }} found
{% endif %}

<span class="pull-right"><a href="{% url 'search_admin' %}">Admin</a></span>

                </div>

            </form>

        </div>

    </div>

	<br />

{% if request.GET and not info %}

	<div class="row">
		<br />
		<div class="_col-md-offset-1 col-md-10 alert alert-info">Nothing found</div>
	</div>

{% else %}

	<div class="row">

        <div class="col-md-2">
		<div class="panel panel-info">

			<div class="panel-heading">Categories</div>
            <div class="panel-body">
{% for facet in facet_counts|dictsortreversed:"count" %}

	<label class="checkbox">
        <input type="checkbox" name="filter_query" class="facet" id="{{ facet.doctype }}"
               {% if facet.doctype in filter_query %}checked="checked"{% endif %}
			   /> {{ facet.doctype_purty }} ({{ facet.count }})
   </label>
{% endfor %}

            </div>
            </div>

<div class="form-group">
<input id="book-title-search" type="text" class="form-control _typeahead" placeholder="Book Title" />
</div>

		</div>

		<div class="col-md-10">

{% if request.GET %}

{% for match in info %}

<!-- id: {{ match.id }} -->

{% if match.doctype == 'bordercore_todo' %}

	<h4 class="search_book_title">Todo: {{ match.bordercore_todo_task.0 }}  <span class="search_todo_date">{{ match.last_modified }}</span></h4>

{% elif match.doctype == 'bordercore_bookmark' %}

	<h4 class="search_book_title">Link: <a href="{{ match.url }}">{{ match.bordercore_bookmark_title.0 }}</a>  <span class="search_todo_date">{{ match.last_modified }}</span></h4>

{% elif match.doctype == 'bordercore_blog' %}

	<h4 class="search_book_title">{{ match.bordercore_blogpost_title.0|default:"Blog Post" }}  <span class="search_todo_date">{{ match.last_modified }}</span></h4>

    <h5>{{ match.blogpost_snippet|safe }}</h5>

{% elif match.doctype == 'document' %}

	<h4 class="search_book_title">{{ match.title|default:"Blog Post" }}
        <span class="search_todo_date">{{ match.last_modified }}</span>
{% if match.url  %}
    <a href="{{ match.url }}"><i class="glyphicon glyphicon-link"></i></a>
{% endif %}
    </h4>

    <h5>{{ match.blogpost_snippet|safe }}</h5>

{% else %}

	<h4 class="search_book_title"><a href="{{ STATIC_URL }}ebooks/{{ match.filename }}" target="book">{{ match.title }}</a></h4>
	&nbsp; &nbsp; {{ match.author }}

{% endif %}

{% endfor %}

{% endif %}

{% endif %}

{% endblock %}
