// The overflow:hidden eliminates the horizontal scrollbar when
//  setting the padding to 0px on the main fluid container
//  https://stackoverflow.com/questions/37978307/bootstrap-container-fluid-padding/50005919
.container-fluid {
  overflow: hidden;
  padding: 0;
}

// Used on the last block in a flex column to extend to the bottom of the page
.extend-block {
  flex: 1 0 auto;
}

// Add this to the right-most column in a flex grid
.right-column {
  margin-right: 1rem;
}

.card-title {
  font-size: 1.2rem;

  a {
    color: $body-color;
  }
}

.card-grid {
  padding: 0 $grid-margin * 0.5;
  margin: 0 0 $grid-margin;
}

.editable-textarea {
  display: none;
  background-color: $gray-900;
  color: $white;
}

.editable-textarea-label p:last-child {
  margin-bottom: 0;
}

.editing {
  .editable-textarea {
    display: block;
    width: 100%;
  }

  .editable-textarea-label {
    display: none;
  }
}

[hidden] {
  display: none !important;
}

.hidden {
  display: none;
}

/* Used to hide mustached content before Vue has loaded */
[v-cloak] {
  display: none;
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  border-radius: 0.6rem;
}

::-webkit-scrollbar-thumb {
  background-color: #25335b;
  border-radius: 0.6rem;
}

::-webkit-scrollbar-thumb:hover {
  background-color: lighten(#25335b, 5%);
}

.close-button {
  color: $close-button-hover-color;
}

//
// Common selectors
//

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

body {
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration-color: transparent;
  text-underline-offset: 0.25rem;

  &:hover {
    color: $link-decoration-color;
  }

  &.text-success {
    &:hover {
      color: $link-color !important;
    }
  }
}

p {
  font-family: "Poppins", sans-serif;
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.7em;
}

i,
span {
  display: inline-block;
}

.selected, {
  background-color: $selected-background-color;
  color: $white;
}

.icon-hover {
  &:hover {
    color: $primary;
    transform: scale(1.1);
  }
}

.w-20 {
  width: 20%;
}

.vh-50 {
  height: 50vh;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 3s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.highlight-box {
  padding: 1em;
  background: lighten($background-color-dark, 5%);
  border-radius: 0.7rem;
  box-shadow: 1px 1px 5px #4b00ff, -1px -1px 5px #4b00ff;
}

.list-header-border {
  border-bottom: 0.25rem solid purple
}

.circle {
  display: flex;
  width: 2.5rem;
  height: 2.5rem;
  align-items: center;
  justify-content: center;
  padding: 0;
  border: none;
  background-color: $info;
  border-radius: 1.5rem;
  color: $white;
}

.button-icon {
  display: inline-block;
  padding: 0.25rem 0.5rem;
  border-color: #fff;
  background-color: #161e4e;
  border-radius: 0.375rem;
  box-shadow: 0 4px 6px #4b00ff, 0 1px 3px #4b00ff;

  &:hover {
    transform: translateY(-1px);
  }
}

.button-add {
  @extend .circle;
  color: inherit;
  cursor: pointer;
  font: inherit;
  transition: transform 250ms;

  &:hover {
    background-color: $primary;
    color: $info !important;
    transform: translateY(-0.25rem);

    .fa-plus {
      color: $white !important;
    }
  }

  &:focus {
    color: $white;
    outline: 0;
  }
}

li.active a {
  color: #fff;
}

a.tag {
  &:link {
    color: white;
  }

  &:visited {
    color: white;
  }

  &:hover {
    color: white;
  }

  &:active {
    color: yellow;
  }
}

.scrollable-panel-container {
  height: 92vh;
}

// Show vertical scrollbar if necessary.
// Hide horizontal scrollbar.
.scrollable-panel {
  overflow-x: hidden;
  overflow-y: auto;
}

// Hide all scrollbars by default.
// Reveal vertical scrollbar on hover.
.scrollable-panel-scrollbar-hover {
  overflow: hidden;

  &:hover {
    // "overlay" not supported by Firefox
    @supports not( -moz-appearance:none ){
      overflow-y: overlay;
    }
    @supports ( -moz-appearance:none ){
      overflow-y: auto;
    }
  }
}

.table-borderless td,
.table-borderless th {
  padding: 0.6rem;
  border: 0;
}

.hoverable {
  border-radius: 0.5rem;

  &:hover {
    background-color: rgba(0, 0, 0, 0.2);
  }
}

// A list with only interior borders
.interior-borders {
  li:first-child {
    border-top: none;
  }

  li:last-child {
    border-bottom: none;
  }

  li {
    border-right: none;
    border-left: none;
  }
}

.list-delete {
  display: none;
  color: $white;

  &:hover {
    transform: scale(1.1);

    @extend .close-button;
  }
}

// A more understated "add" button
.button-plus {
  padding: 0 0.5rem 0 0.5rem;
  border-radius: 0.25rem;

  &:hover {
    background-color: $button-plus-hover-background-color;
  }
}

.fader::after {
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4em;
  background-image: linear-gradient(to bottom, rgba($background-color-dark, 0), rgba($background-color-dark, 1) 90%);
  content: "";
  pointer-events: none;
}

// Disable the outline around toast close buttons when you click on them
button:focus {
  outline: 0;
}

// Override the color used by Bootstrap
.toast-header .close {
  color: #000;
}

input.form-control,
select.form-control,
textarea.form-control,
div.CodeMirror {
  background-color: $form-background-color;
  color: $form-color;

  &:hover {
    border-color: $form-border-color-hover;
  }

  &:focus {
    border-color: $form-border-color-hover;
    background-color: $form-background-color-focus;
    color: $form-color;
  }

  &:disabled {
    background-color: $form-background-color-disabled;
  }
}

.form-control::placeholder {
  color: $gray-600;
}

.tag, .ti-input .ti-tag {
  padding: 0 0.43rem 0.06rem 0.42rem;
  border: 0.12rem solid #364b76;
  margin: 0 3px 0 0;
  background-color: #25335b !important;
  border-radius: 1.5rem !important;
  color: #80b5ea !important;
  line-height: 2;
  white-space: nowrap;

  &:hover {
    background-color: #1f61eb !important;
    color: #fff !important;
    text-decoration: none;
  }
}

.card-box-shadow {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

// Dropdown Menus

// Used internally by vue-dropdown-menu's DropdownMenu.vue
.dropdown-menu.show {
  border: 1px solid $gray-900;
  margin-top: -0.1rem;
  background-color: $dropdown-menu-background-color;
  box-shadow: 0 0.25rem 1.5rem rgba(0, 0, 0, 0.24);
  color: $dropdown-menu-color;
}

.dropdown-item {
  color: $white;

  &:hover {
    background-color: $text-selection-background-color;
    color: $white;
  }
}

// Extra content after the dropdown item's name
.dropdown-item-extra {
  width: 1.25rem;
  height: 1.25rem;
  padding-top: 0.25rem;
  background-color: $info;
  border-radius: 50%;
  color: $white;
  font-size: 0.75rem;
  font-weight: bold;
  line-height: 0.75rem;
  text-align: center;
}

.option-icon {
  display: flex;
  width: 2.5rem;
  min-width: 2.5rem;
  height: 2.5rem;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 1.2rem;
  &:hover {
    background-color: rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transform: translateY(-1px);
  }
  &.enabled {
    background-color: #3e3e6b;
  }
}

// The round, target point that spawns the dropdown menu below it
.dropdownmenu {
  display: flex;
  width: 2.5rem;
  min-width: 2.5rem;
  height: 2.5rem;
  margin-left: auto; // Push to the right
  color: $dropdown-color;
  font-size: 1rem;

  &.calendar-date-format-menu {
    // If we add this class, don't push to the right
    margin-left: none;
  }

  // This class is generated by the <dropdown-menu> tag
  .dropdown {
    width: 100%;

    // Vertically center the ellipsis
    margin-top: auto;
    margin-bottom: auto;

    // Horizontally center the ellipsis
    text-align: center;
  }

  &.small {
    width: 1.5rem;
    min-width: 1.5rem;
    height: 1.5rem;
  }

  &:hover {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 100%;
  }
}

// CSS transition for dropdown, top to down
.translate-fade-down-enter-active,
.translate-fade-down-leave-active {
  transition: all 250ms;
  transition-timing-function: cubic-bezier(0.53, 2, 0.36, 0.85);
}

.translate-fade-down-enter,
.translate-fade-down-leave-active {
  opacity: 0;
}

.translate-fade-down-enter,
.translate-fade-down-leave-to {
  position: absolute;
}

.translate-fade-down-enter {
  transform: translateY(-0.6rem);
}

.translate-fade-down-leave-active {
  transform: translateY(0.6rem);
}

// Error pages

.response-code {
  font-size: 6.25rem;
  font-weight: bold;
}

// Login page

.jumbotron {
  border: 0.12rem solid #fff;
  border-radius: 1.5rem;
  opacity: 0.9;
}

html.login,
body.login {
  height: 100%;
}

.list-annotation {
  color: #c76257;
  font-size: 80%;
}

.divider {
  background-color: $gray-600;
}

// Help

#modal-body-help {
  h1 {
    color: #4ccf77;
    font-size: 1rem;
    text-transform: uppercase;
  }
  strong {
    color: #00ffd1;
  }
  em {
    color: yellow;
  }
}

//
// Tables
//

// Eliminate the focus effect when selecting a row or column
.b-table tr:focus,
.b-table th:focus {
  outline: 0;
}

.table-note {
  color: $cyan;
  font-size: 0.75rem;

  p {
    margin-bottom: 0;
  }
}

table.b-table th {
  border-top: 0;
  color: #09fec3b3;
}

// Selected row
.table-custom {
  background-color: $selected-background-color !important;
  color: $white !important;
}

.table-hover tr.selected:hover a {
  background-color: rgba(0, 0, 0, 0.075);
  transition: none;
}

// BootstrapVue table sort icon: none
body .table.b-table > tfoot > tr > [aria-sort=none],
body .table.b-table > thead > tr > th[aria-sort=none] {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='101' height='101' view-box='0 0 101 101' preserveAspectRatio='none'%3e%3cpath fill='white' opacity='.3' d='M51 1l25 23 24 22H1l25-22z'/%3e%3cpath fill='white' opacity='.3' d='M51 101l25-23 24-22H1l25 22z'/%3e%3c/svg%3e") !important;
}

// BootstrapVue table sort icon: ascending
body .table.b-table > tfoot > tr > [aria-sort=ascending],
body .table.b-table > thead > tr > th[aria-sort=ascending] {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='101' height='101' view-box='0 0 101 101' preserveAspectRatio='none'%3e%3cpath fill='white' d='M51 1l25 23 24 22H1l25-22z'/%3e%3cpath fill='white' opacity='.3' d='M51 101l25-23 24-22H1l25 22z'/%3e%3c/svg%3e") !important;
}

// BootstrapVue table sort icon: descending
body .table.b-table > tfoot > tr > [aria-sort=descending],
body .table.b-table > thead > tr > [aria-sort=descending] {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='101' height='101' view-box='0 0 101 101' preserveAspectRatio='none'%3e%3cpath fill='white' opacity='.3' d='M51 1l25 23 24 22H1l25-22z'/%3e%3cpath fill='white' d='M51 101l25-23 24-22H1l25 22z'/%3e%3c/svg%3e") !important;
}

.table_header {
  border-radius: 0.25rem;
}

.table-borders table,
.table-borders td {
  padding: 0.6rem;
  border: 0.06rem solid #ccc;
}

.table-borders th {
  padding: 0.6rem;
  border-bottom: 3px solid #ccc;
}

.alert-margin {
  margin-left: 0;
}

// Animated buttons

.glyphicon-refresh-animate {
  -animation: spin 0.7s infinite linear;
  -webkit-animation: spin2 0.7s infinite linear;
}

@-webkit-keyframes spin2 {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  from { transform: scale(1) rotate(0deg); }
  to { transform: scale(1) rotate(360deg); }
}

// Bootstrap modifications

.breadcrumb {
  padding-left: 1rem + 1.25rem;
  background-color: $background-color-light;
}

$nav-tabs-link-active-border-color: 0 0 $nav-highlight-color;
$nav-tabs-link-hover-border-color: $nav-border-color;

// Modified from bootstrap/scss/_nav.scss
.nav-tabs {
  border-bottom: 2px solid $nav-border-color;

  .nav-link {
    border-bottom: 2px solid $background-color-light;
    color: $nav-not-selected-color;

    @include hover-focus() {
      color: $nav-border-color;
    }
  }

  .nav-link.active,
  .nav-item.show .nav-link {
    border-bottom-color: $nav-highlight-color;
    color: $nav-highlight-color !important;
    text-shadow: 0 0 1px $nav-highlight-color;
  }
}

.card-body {
  @extend .card-box-shadow;
  margin: 0 0 1rem 1rem;
  background-color: $background-color-dark;
  border-radius: 0.4rem;

  .side-panel {
    width: 18.75rem;
  }
}

.list-group-item-secondary {
  background-color: $list-group-item-secondary;
}

.modal-content {
  background-color: $modal-background-color;
}

// Forms
.form-error {
  padding-top: 0.3rem;
  margin-left: 0.6rem;
  color: $yellow;
  font-weight: bold;
}

// Used when you want to display text instead of a form field
.form-no-input {
  padding: 0.4rem 1.25rem;
}

.input-group .highlight-changed-field {
  color: #f00;
}

.highlight-changed-field.color-transition {
  color: #495057;
  transition: 2s;
  transition-delay: 1s;
}

//
// Markdown
//

// This primarily applies to markdown generated by org-mode exported files.
//  Note the `white-space` selector to preserve newlines.

blockquote > p {
  padding: 0.5rem 0 0.5rem 0.5rem;
  border-left: 0.25rem solid $markdown-blockquote-border-left;
  margin: 0.5rem;
  background-color: $markdown-blockquote-background-color;
  white-space: pre-line;
}

pre {
  padding: 0.3rem;
  padding-left: 0.8rem;
  border-top: 0.05rem solid $markdown-border-color;
  border-bottom: 0.05rem solid $markdown-border-color;
  background: $markdown-background-color;
}

// Inline code. Exclude code in pre blocks, since
//  that is handled by highlight.js

*:not(pre) > code {
  padding: 0.25rem 0.5rem 0.25rem 0.5rem;
  background-color: $markdown-code-background-color;
  color: $markdown-code-color;
}

// Top Title

#top-title {
  padding-left: $grid-margin;
  font-size: 2rem;
}

//
// Top Search
//

#top-search {
  @extend .card-box-shadow;
  margin: $grid-margin $grid-margin $grid-margin $grid-margin;
  background-color: $background-color-dark;
  border-radius: 0.4rem;
}

#top-search input {
  width: 0.6rem;
  border-radius: 10em;
  cursor: pointer;
  transition: all 0.5s;
}

#top-search input:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

#top-search input:focus {
  width: 25rem;
  padding-left: 2rem;
  border-color: #66cc75;
  background-color: $form-background-color;
  box-shadow: 0 0 0.3rem rgba(109, 207, 246, 0.5);
  color: $form-color;
  cursor: auto;
}

#top-search-filter-type {
  color: $cyan;
  font-weight: bold;
}

.top-search-object-type {
  color: $cyan;
}

.top-search-splitter {
  width: 100%;
  padding: 0.6rem;
  background-color: $gray-700;
  color: $white;
  cursor: auto;
  font-size: larger;
  font-weight: bold;
}

.top-search-suggestion {
  overflow: hidden;
  width: 100%;
  padding: 0.6rem;
  text-overflow: ellipsis;
  white-space: nowrap;

  svg {
    margin-top: 0.1rem;
  }

  .matched {
    color: $primary;
  }
}

.suggest-item {
  background-color: $gray-900;
}

.search-with-doctypes {
  // Note that we can't simply use ".suggest-item.hover", since a similar
  //   selector defined by vue-simple-suggest overrides it via a !important flag
  .vue-simple-suggest.designed .suggestions .suggest-item.hover {
    background-color: $selected-background-color !important;
  }

  // Set the padding to zero so that we can programmatically control the background color lower down
  //   in the container hierarchy, based on whether an item is a divider or not.
  .list-group-item {
    padding: 0 !important;
  }

  .vue-simple-suggest.designed .suggestions {
    padding: 0 !important;
    color: $green !important;
  }
}

#top-search-form .has-search svg {
  left: 1rem;
}

//
// Bookmarks
//

.bookmark-list,
.bookmark-list a {
  &:hover {
    background-color: #1e233a;
  }
}

.bookmark-list:hover a {
  background-color: #1e233a;
}

.bookmark-list-date {
  text-align: right;
  vertical-align: text-bottom;
  white-space: nowrap;
}

.bookmark-list-favicon {
  vertical-align: text-bottom;
}

.bookmark-list-link {
  vertical-align: text-bottom;
}

#bookmark-sidebar {
  position: fixed;
  z-index: 200;
  left: -18.75rem;
  overflow: hidden;
  width: 18.75rem;
  height: 25rem;
  padding: 0.3rem;
  border: 0.06rem solid #999;
  background-color: #fff;
  transition: all 1s ease;
}

#bookmark-sidebar.show {
  left: 1.25rem;
  transition: all 1s ease;
}

.monospaced {
  font-family: Courier, sans-serif;
}

// The "has-search" rules provide space for a Font Awesome
//  search icon inside a search input box

.has-search {
  // Specifies the distance between the search icon and where
  //   you start typing your search query
  .form-control {
    padding-left: 2rem;
  }

  // Absolutely position a search icon inside a search box.
  // For the left position, use a page-specific spacer below.
  svg {
    position: absolute;
    z-index: 2;
    top: 0.7rem;
    display: block;
    color: #aaa;
    line-height: 2.375rem;
    pointer-events: none;
    text-align: center;
  }
}

.main-search-spacer {
  left: 0.5rem;
}

//
// Search
//

.search-input {
  width: 25rem;
}

.search-result {
  padding: 0.5rem 1.5rem 0.5rem 1.5rem;
  border-bottom: 0.1rem solid $blue;

  &:hover {
    background-color: lighten($body-background, 5%);
  }

  h4 {
    .favorite {
      font-size: 1rem;
    }

    small {
      color: #6aa8f6;
      font-size: 0.75rem;
    }
  }

  h5 {
    color: #ddd;
    font-size: 1rem;

    em {
      color: yellow;
    }
  }

  &.grid {
    width: 33%;
    border-bottom: 0;
  }
}

.search-result-date {
  color: #919ca6;
}

.search-result-header {
  color: #6a87f6;
}

.search-result-important {
  background-color: $gray-700;
}

.search-todo-date {
  color: #c76257;
  font-size: 0.5rem;
  font-weight: normal;
}

.tab-content {
  border-radius: 0.4rem;
}

.bookmark-dropdown {
  width: 2.5rem;
}

//
// Blobs
//

.blob-list-nav {
  background-color: $blob-list-nav;
}

.blob-list {
  .blob-content {
    overflow: hidden;
    height: 18.75rem;
    font-size: 0.25rem;
  }

  .blob-info {
    font-size: 0.6rem;
  }

  &:hover {
    background-color: rgba(0, 0, 0, 0.2);
  }
}

.nav-selected {
  border-bottom: 5px solid $blue;
}

h2#name {
  color: #6ac2f6;
}

#blob_subtitle {
  color: $teal;
}

.tree-menu {
  ul {
    padding-left: 1em;
    line-height: 1.5em;

    li::marker {
      color: #4591ff;
      content: "• ";
    }
  }

  a {
    color: $tree-menu-color;
  }
}

.tree-folder a {
  color: $tree-menu-folder-color;
  font-weight: bold;
}

.hide-list-element {
  padding-left: 0;
  list-style-type: none;
}

#overlay {
  position: fixed;
  z-index: 150;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  max-height: 100%;
  background-color: #000;
}

.slide-show {
  position: fixed;
  z-index: 200;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  object-fit: contain;
}

#blob-note {
  p {
    margin-bottom: 0;
  }
}

.blob-content {
  em {
    color: #ff0;
  }

  h1 {
    color: $markdown-heading;
    font-size: 2rem;
  }

  h2 {
    color: darken($markdown-heading, 30%);
    font-size: 1.75rem;
  }

  h3 {
    color: darken($markdown-heading, 40%);
    font-size: 1.5rem;
  }

  h4 {
    color: darken($markdown-heading, 50%);
    font-size: 1.25rem;
  }

  h5 {
    color: darken($markdown-heading, 60%);
    font-size: 1rem;
  }
}

.blob-detail-cover-image {
  height: 85vh;

  img {
    object-fit: contain;
    object-position: left top;
  }
}

//
// Notes
//

.note-search-result {
  .note-content {
    overflow: hidden;
    height: 18.75rem;
    font-size: 1rem;

    h1,
    .h1 {
      font-size: 3rem * 0.3;
    }

    h2,
    .h2 {
      font-size: 2.5rem * 0.3;
    }

    h3,
    .h3 {
      font-size: 2rem * 0.3;
    }

    h4,
    .h4 {
      font-size: 1.40625rem * 0.3;
    }

    h5,
    .h5 {
      font-size: 1.171875rem * 0.3;
    }

    h6,
    .h6 {
      font-size: 0.9375rem * 0.3;
    }
  }

  > li {
    border-top: 1px solid #00ffd1;
  }

  li:hover {
    background-color: rgba(0, 0, 0, 0.2);
  }
}

.note-content-truncated {
  overflow: hidden;
  max-height: 500px;
}

//
// Todo
//

.tag-list {
  a {
    color: $white;
  }

  &:hover {
    background-color: $background-color-light;
    cursor: pointer;
  }
}

.todo-col-manual-sorting {
  width: 6rem;
}

.todo-col-priority {
  width: 6rem;
}

.todo-col-date {
  width: 8rem;
}

.col-action {
  width: 4rem;
}

.cursor-pointer {
  cursor: pointer;
}

.cursor-grab {
  cursor: -webkit-grab;
  cursor: -moz-grab;
}

.filter-divider {
  background-color: #7367f0;
}

//
// Fitness
//

.last-active {
  width: 17rem;
}

#exercise-detail-chart {
  width: 50rem;
  height: 25rem;
}

//
// Sortable
//

.wide-list {
  span {
    width: 100%;
  }

  li {
    // Chrome adds unwanted corners to the edges of
    //   rounded elements during drag and drop, so only
    //   use rounded borders for Mozilla.
    @-moz-document url-prefix() {
      border-radius: 0.5rem;
    }

    &:hover {
      background-color: rgba(0, 0, 0, 0.2);

      .list-delete {
        display: block;
      }
    }
  }
}

// The element you've chosen to drag
.sortable-chosen {
  background-color: $background-color-dark !important;
}

// Disable the ghosting effect
.sortable-ghost {
  opacity: 0 !important;
}

// The element you're dragging
.sortable-drag {
  background: $background-color-dark !important;
}

//
// Node
//

.node-list-stats {
  font-size: 0.75rem;
}

.node-name {
  color: $cyan;
}

.node-note {
  font-size: small;
}

//
// Metrics
//

.metric-test-result-popover {
  width: 50rem;
  max-width: 100%;
}

//
// Drill
//

.favorite {
  color: #f00;
}

.progress-circle {
  circle.circle-partial {
    stroke: $drill-progress-circle-partial-color;
  }

  circle.circle-full {
    stroke: $drill-progress-circle-full-color;
  }

  text {
    fill: $primary;
  }
}

#modal-study {
  input.form-control {
    height: calc(1.5em + 0.75rem + 8px);
    border-radius: 0.25rem;
    font-size: 0.8rem;
  }

  #tag-name {
    width: 60%;
  }

  #study-random-count {
    width: 4rem;
  }

  #search-term {
    width: 45%;
  }
}

//
// Collections
//

.collection-container {
  width: $collection-list-item-width + 3rem;
}

.collection {
  overflow: hidden;
  width: $collection-list-item-width;

  img {
    width: $collection-list-item-width;
    height: $collection-list-item-width;
    border-radius: 0.25rem;
  }

  .collection-cover-container {
    bottom: -1.15rem;
    left: 0.01rem;
    display: block;
    width: $collection-list-item-width;
    height: 1.15rem;
    background-color: rgba(50, 50, 50, 0.5);
    font-size: smaller;
    transition: bottom 250ms;
  }

  &:hover {
    .collection-cover-container {
      bottom: -0.01rem;
      display: block;
    }
  }
}

.collection-item {
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

.collection-sortable li {
  width: 12.5rem;
  height: 12.5rem;
}

.collection_ghost_class {
  border-left: 0;
  opacity: 0;
}

//
// Music
//

// Audio player controls

audio {
  width: 37.5rem;
  outline: none;
}

#audio_player audio {
  width: 25rem;
}

.album {
  width: 19rem;
}

// CodeMirror

.CodeMirror-cursor {
  border-left: 1px solid #7fe7c4 !important;
}

div.CodeMirror-focused {
  background-color: $form-background-color-focus;
  caret-color: $form-color;
  color: $form-color;
}

.CodeMirror-selected {
  background: $text-selection-background-color !important;
}

// Styles for vue-simple-suggest VUE typeahead component

// Original: https://unpkg.com/vue-simple-suggest/dist/styles.css

.vue-simple-suggest > ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.vue-simple-suggest.designed {
  position: relative;
}

.vue-simple-suggest.designed,
.vue-simple-suggest.designed * {
  box-sizing: border-box;
}

.vue-simple-suggest.designed.focus .input-wrapper input {
  border: 0.06rem solid #aaa;
}

.vue-simple-suggest.designed .suggestions {
  position: absolute;
  z-index: 1000;
  top: 100%;
  top: calc(100% + 0.3rem);
  right: 0;
  left: 0;
  border: 0.06rem solid #aaa;
  background-color: #fff;
  border-radius: 0.18rem;
  opacity: 1;
}

.vue-simple-suggest.designed .suggestions .suggest-item {
  background-color: $vue-simple-suggest-item-background-color;
  cursor: pointer;
  user-select: none;
}

.vue-simple-suggest.designed .suggestions .suggest-item,
.vue-simple-suggest.designed .suggestions .misc-item {
  padding: 0.3rem 0.6rem;
}

.vue-simple-suggest.designed .suggestions .suggest-item.hover {
  background-color: #2874d5 !important;

  b {
    color: $vue-simple-suggest-item-hover-bold-color !important;
  }
}

.vue-simple-suggest.designed .suggestions .suggest-item.selected {
  background-color: #2832d5;
  color: #fff;
}

// Vue Tags Input VUE

// Use this for forms
.vue-tags-input {
  min-width: 100%;
  border-color: #262c49 !important;
  background-color: #3e3e6b !important;
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  color: #6ea6e0 !important;

  .ti-new-tag-input {
    background: transparent;
    color: #6ea6e0;
  }

  .ti-autocomplete {
    background: $background-color-dark !important;
    color: #6ea6e0;
  }

  .ti-input {
    padding: 0.37rem 0.75rem;
    border-color: #262c49 !important;
    background-color: #3e3e6b;
    border-bottom-left-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
  }

  &.ti-focus .ti-input {
    // Mimic Bootstrap's default focus behavior
    border-color: #7fe7c4 !important;

    background-color: $background-color-dark !important;
    box-shadow: 0 0 0 0.2rem rgba($primary, 0.25);
    color: #6ea6e0 !important;
  }
}

// vuejs-datepicker
.calendar {
  color: $black;
}

// Sidebar

.sidebar-icon {
  color: #9a7ba3;
}

.wrapper {
  display: flex;
  align-items: stretch;
  padding-left: 15rem;

  &.collapsed {
    display: flex;
    align-items: stretch;
    padding-left: 3.1rem;
  }
}

.sidebar-transition {
  transition: 0.3s ease;
}

#sidebar {
  .sidebar-header {
    padding: 0.8rem 0 0.6rem 0;
    color: #09fec3b3;
    font-size: 2rem;
  }

  .sidebar-header strong {
    display: none;
    font-size: 1.8em;
  }

  .first-item {
    margin-top: 2rem;
  }
}

.v-sidebar-menu {
  z-index: 100 !important;

  &.vsm_expanded {
    max-width: 15rem !important;
  }
}

/* CONTENT STYLE */

#content {
  width: 100%;
  min-height: 100vh;
  transition: all 0.3s;
}
