{% extends "base.html" %}

{% block title %} KB :: Document Detail {% endblock %}

{% block content %}

<div class="row">

	<div class="col-md-12">
		<h1>{{ document.title }}</h1>
	</div>

</div>

<div class="row">

{% if document.sub_heading %}

	<div class="col-md-12">
		<h3>{{ document.sub_heading }}</h3>
	</div>

{% endif %}

</div>

<div class="row">

{% if document.authors %}

	<div class="col-md-12">
		by {{ document.authors }}
	</div>

{% endif %}

</div>

<div class="row">

{% if document.pub_date %}

	<div class="col-md-12">
		{{ document.pub_date }}
	</div>

{% endif %}

</div>

<div class="row">

{% if document.tags.all %}

	<div class="col-md-12">Tags:
{% for tag in document.tags.all %}
	<span class="label label-primary">{{ tag.name }}</span>
{% endfor %}
	</div>
{% endif %}

</div>

<div class="row">

<div class="col-md-12">
	<br />
{{ document.get_markdown|safe }}
</div>

</div>

<div class="row">

{% if document.source %}

	<div class="col-md-12">

{% if document.url %}

	Source: <a href="{{ document.url }}">{{ document.source }}</a>

{% else %}

	Source: {{ document.source }}

{% endif %}

	</div>

{% else %}

{% if document.url %}

	<div class="col-md-12">

		<a href="{{ document.url }}">Source</a>

	</div>

{% endif %}

{% endif %}

</div>

<div class="row">

<div class="col-md-12">
	<br />
	<a href="{% url 'document_edit' document.id %}">Edit</a>
</div>

</div>

{% endblock %}
