{% extends "base.html" %}

{% block extra_head %}

<script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap-tokenizer.js"></script>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap-tokenizer.css" />

{% endblock %}

{% block title %} Blog {% endblock %}

{% block content %}

{% include "blog/header.html" %}

<script type="text/javascript" src="{{ STATIC_URL }}/js/jquery.field_selection.js"></script>
<script type="text/javascript">

$(document).ready(function() {

	$("input[name='tags']").tokenizer( { delimiters: [13, 188] } );

    $('#markdown-support').change( function(event) {
        var value = $(this).val();
        var range = $('#id_post').getSelection();
        var text = $('#id_post').val();
        if (value == 'Bold') {
            $('#id_post').val( text.substr(0, range.start) + '**' + range.text + '**' +  text.substr(range.end, text.length - range.end));
        } else if (value == 'Insert link') {
            $('#id_post').val( text.substr(0, range.start) + '[text](url)' + range.text + text.substr(range.end, text.length - range.end));
        } else if (value == 'Insert list') {
            $('#id_post').val( text.substr(0, range.start) + '\n - List item\n' + text.substr(range.end, text.length - range.end));
        } else if (value == 'Indent Code') {
            var newtext = '    ' + range.text.replace(/\n/g, "\n    ");
            $('#id_post').val( text.substr(0, range.start) + newtext  + text.substr(range.end, text.length - range.end));
        } else if (value == 'Escape HTML') {
		    var escapedText = range.text.replace(/</g, "&lt;").replace(/>/g, "&gt;");
		    $('textarea').val( text.substr(0, range.start) + escapedText +  text.substr(range.end, text.length - range.end));
        }
        // Reset the dropdown
        $('#markdown-support')[0].selectedIndex = 0
    } );

});

</script>

<script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap-datepicker.js"></script>
<link href="{{ STATIC_URL }}css/datepicker.css" rel="stylesheet" media="screen" />

<script type="text/javascript">

$(document).ready(function() {

	$('#datepicker').datepicker().on('changeDate', function(ev){ });
});

</script>

{% if request.POST.Go and not form.errors %}

<div class="alert alert-success offset2">
Post {{ action }}ed
</div>

{% endif %}

<p class="lead offset2"> {{ action }} a Blog Post</p>

<form class="form-horizontal" action="{{ request.path }}" method="post">
{% csrf_token %}

{% for field in form %}
<div class="control-group {% if field.errors %}error{% endif %}">
    <label class="control-label" for="inputTitle">{{ field.label }}</label>

    <div class="controls">
{% if field.label == 'Date' %}

	<div class="date" id="datepicker" data-date="{{ field.value|date:"m-d-Y" }}" data-date-format="mm-dd-yyyy">
	  <input class="span2" size="16" type="text" name="date" value="{{ field.value|date:"m-d-Y" }}" />
	  <span class="add-on"><i class="icon-th"></i></span>

<select id="markdown-support" class="span2">
<option>Markdown</option>
<option name="option">Insert link</option>
<option name="option">Bold</option>
<option name="option">Indent Code</option>
<option name="option">Insert list</option>
<option name="option">Escape HTML</option>
</select>

    </div>

{% else %}

{{ field }}

{% endif %}

{% for error in field.errors %}
      <span class="form-error">{{ error }}</span>
{% endfor %}

    </div>

</div>
{% endfor %}

  <div class="control-group">
    <div class="controls">
	  <input class="btn" type="submit" name="Go" value="{{ action }}">
	  <input class="btn{% if not form.instance.id %} disabled{% endif %}" type="submit" name="Go" value="Delete">
	  <a class="btn" href="{% url 'blog_list' %}">Cancel</a>
	</div>
  </div>

</form>

{% endblock %}
