
<script type="text/javascript" src="{{ STATIC_URL }}js/typeahead.bundle.min.js"></script>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/typeahead-bootstrap3.css" />

<script type="text/javascript">

    $(document).ready(function() {

        var engine = new Bloodhound({
            name: 'tags',
            remote: '{% url 'tag_search' %}?query=%QUERY' + '&type=blog',
            datumTokenizer: function(d) { return Bloodhound.tokenizers.whitespace(d.val); },
            queryTokenizer: Bloodhound.tokenizers.whitespace
        });

        engine.initialize();

        $('#tag-filter').typeahead(null, {
            source: engine.ttAdapter()
        });

		$('#tag-filter').bind('typeahead:selected', function(obj, datum, name) {
            window.location='{% url 'blog_list' %}?tagsearch=' + datum.value;
		});

        $('#blog-search').change(function(obj) {
            $('form#blog-search-form').submit();
        });

    });

</script>

<div class="container">
    <div class="row">
        <div class="col-lg-7">

            <form class="form-inline" name="nav_form" id="blog-search-form" action="{% url 'blog_list' %}" method="get">

                <label>Search</label>
                <div class="form-group">
                    <input class="form-control" id="blog-search" type="text" name="search_item" value="{{ request.GET.search_item }}" accesskey="s" />
                </div>

                <label>Tag Filter</label>
                <div class="form-group">
                    <input class="form-control" id="tag-filter" type="text" value="{{ request.GET.tagsearch }}" autocomplete="off" />
                </div>

&nbsp; &nbsp; <a class="btn" href="{% url 'blog_edit' %}">Add post</a>

            </form>

        </div>
    </div>
</div>
