<script type="text/javascript">

$(document).ready(function() {

	// Hitting return will begin the search
    $('#blog-search').keypress( function(e) {
		if ((e.which && e.which == 13) || (e.keyCode && e.keyCode == 13)) {
			$('#blog-search-form').submit();
            return false;
        } else {
            return true;
        }
	});

	$('#tag-filter').typeahead({
		source: function (query, process) {
			return $.getJSON('tag_search.json',
						 { query: query },
						 function (data) {
							 return process(data);
						 });
		},
		updater: function(item) {
			window.location='{{ request.path }}?tagsearch=' + item;
		}
	});

});

</script>

<form class="form-inline" name="nav_form" id="blog-search-form" action="{{ request.path }}" method="get">

Search
<input id="blog-search" type="text" name="search_item" size="20" value="{{ request.GET.search_item }}" accesskey="s" />

Tag Filter <input id="tag-filter" type="text" value="{{ request.GET.tagsearch }}" autocomplete="off" />

<!-- Blog: -->
<!-- <& /common/dropdown.html, table => 'blog', cols => ['blog_id','blog_name'], value => $blog_id, clause => "WHERE user_id=$local{user_id}", onchange => 'blog_id', sort_order => 'blog_name' &> -->

&nbsp; &nbsp; <a class="btn" href="edit.html?action=add">Add post</a>

</form>
