{% extends "base.html" %}

{% block title %} Blog {% endblock %}

{% block content %}

{% include "blog/header.html" %}

{% if posts %}

{% include "blog/list_entires.html" with posts=posts %}

{% if show_pagination %}
<div class="pager">
  <ul>
        {% if posts.has_previous %}
  <li>          <a href="?page={{ posts.previous_page_number }}&tagsearch={{ request.GET.tagsearch }}">previous</a></li>
        {% endif %}

  <li>          Page <strong>{{ posts.number }}</strong> of <strong>{{ posts.paginator.num_pages }}</strong></li>

        {% if posts.has_next %}
<li>            <a href="?page={{ posts.next_page_number }}&tagsearch={{ request.GET.tagsearch }}">next</a></li>
        {% endif %}
  </ul>
</div>
{% endif %}

{% else %}

<div class="alert">
<h4>Nothing found</h4>
</div>

{% endif %}

{% endblock %}
