{% load markup %}

{% block extra_head %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/code_style.css" />
{% endblock %}

{% for post in posts %}

<br />

<h2>
{{ post.title|default:"Blog Post" }}
</h2>
<i class="icon-time"></i> <span class="muted"> {{ post.date }} </span>

<br /><br />

<div class="blog-entry">
 {{ post.post|markdown:"codehilite"|safe }}
</div>

{% if post.tags.all %}

{% for tag in post.tags.all %}
<a class="label label-info" href="{% url blog.views.tag_search %}?tagsearch={{ tag.name }}">{{ tag.name }}</a>
{% endfor %}

{% endif %}

<div class="pull-right">
  <a href="{% url blog.views.blog_list post.id %}/edit">Edit</a>
</div>


<hr />

{% endfor %}
