<div id="modalProcessing" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-processing modal-dialog modal-sm modal-dialog-centered" role="document">
        <h4 class="modal-content p-3 d-flex flex-row justify-content-center">
            <div>
                Processing...
            </div>
            <div class="spinner-border ms-2 text-secondary" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </h4>
    </div>
</div>
