{% load get_message_level %}

{% for message in messages %}

    <div class="row no-gutters">
        <div class="col-lg-{{ width|default:12 }} offset-lg-{{ offset|default:0 }}">

    {% if message.tags == "error" or "show_in_dom" in message.tags %}

        <div class="card-grid ml-2 mr-2">

            <div class="message-{{ message.tags }} card-body ml-0 p-3">
                <font-awesome-icon class="mr-1" icon="exclamation-triangle"></font-awesome-icon>
                {{ message|safe }}
            </div>

        </div>

    {% else %}

        <b-toast
            toaster="b-toaster-top-right"
            title="Alert"
            {% if message.tags == "error" %}
                auto-hide-delay=60000
            {% else %}
                auto-hide-delay=5000
            {% endif %}
            :visible=true
            :variant="'{{ message.tags|get_message_level }}'"
        >
            <font-awesome-icon class="mr-1 pt-1 text-success" icon="check"></font-awesome-icon>
            {{ message|safe }}
        </b-toast>

    {% endif %}

        </div>
    </div>

{% endfor %}
