{% load get_message_level %}

{% for message in messages %}

    <div class="row">
        <div class="col-lg-{{ width|default:12 }} offset-lg-{{ offset|default:0 }}">

    {% if message.tags == "error" or "show_in_dom" in message.tags %}

        <b-alert
            :show=true
            :variant="'{{ message.tags|get_message_level }}'"
        >
          {{ message|safe }}
        </b-alert>

    {% else %}

        <b-toast
            toaster="b-toaster-top-right"
            title="Alert"
            {% if message.tags == "error" %}
                :static=true
                auto-hide=false
            {% else %}
                auto-hide-delay=5000
            {% endif %}
            :visible=true
            :variant="'{{ message.tags|get_message_level }}'"
        >
          {{ message|safe }}
        </b-toast>

    {% endif %}

        </div>
    </div>

{% endfor %}
