html {
   position: relative;
   min-height: 100%;
   height: 100%;
}

body {
  /* Margin bottom by footer height */
   margin-bottom: 60px;
   height: 100%;
}

#left-block {
   height: 100%;
}

#left-block-container {
   border: 2px solid #e5e5e5;
   background-color: #f1f1f1;
   height: 100%;
   padding: 15px;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
          background-color: #e5e5e5;
          border-top: 1px solid #cccccc;
}

.hidden {
   display: none;
}

/* Don't display the '*' for required fields */
.asteriskField {
    display: none;
}

#row_selected, #row_selected a {
           background-color: #0173bc;
           color: #ffffff;
}

/* Use this to center content */
.center {
     float: none;
     margin-left: auto;
     margin-right: auto;
}

/* Animated buttons */

.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

.form-error {
  color: #b94a48;
}

#bookmarks_show_untagged_only_note {
    font-size: 12px;
    padding-right: 20px;
    padding-top: 10px;
}

.bookmark-list {
    list-style-type: none;
}

.monospaced {
    font-family: Courier
 }

/* The default margin for the pagination controls at the bottom
   of a datatables table is 20px -- why is this? */
ul.pagination {
    margin: 0px;
                }

#exerciseDetailChart {
   width: 800px;
   height: 400px;
}

#bookmarks_show_untagged_only_note {
                                     margin-right: 10px;
                                     }

#bookmarks_breadcrumb {
                        margin: 0px;
                        }

.search_book_title {
                    color: #0173bc;
 }

.search_book_author {
   font-size: smaller;
 }

.important {
   background-color: #cccccc;
}

.search_book_title #edit_link{
                    font-size: 8px;
 }

.search_todo_date {
                    font-weight: normal;
                    color: #C76257;
                    font-size: 10px;
 }

.search_bordercore_blogpost_snippet {
                                      font-weight: bold;
                                      }

#search_tags_searchform {
    font-size: 18px;
}

#kbsearch {
    width: 330px;
}

#kb_blob_search {
   width: 340px;
}

#myModal #title {
    width: 300px;
}

a.tag:link {
    color: white;
}

/* visited link */
a.tag:visited {
    color: white;
}

/* mouse over link */
a.tag:hover {
    color: white;
}

/* selected link */
a.tag:active {
    color: yellow;
               }

.voffset {
   margin-top: 5px;
}

.top-buffer {
   margin-top: 20px;
}

.random-image-panel {
   border: 0px;
}

.random-image-panel .panel-heading {
   margin-bottom: 15px;
}

.random-image-panel .list-group {
   width: 90%;
   margin: 0 auto;
}

.bootstrap-tagsinput {
width: 100% !important;
}

#tag-detail-tab-content {
    padding-left: 10px;
}

.table-borderless td,
.table-borderless th {
   border: 0;
   padding: 10px;
}

.collection_sortable {
   list-style-type: none;
   margin: 0;
   padding: 0;
}

.collection_sortable li {
   margin: 3px 3px 3px 0;
   padding: 15px 15px 130px 15px;
   float: left;
   width: 200px;
   height: 110px;
   text-align: center;
}