{% extends "base.html" %}

{% block title %} Bookshelf {% endblock %}

{% block extra_head %}
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui.min.js"></script>
{% endblock %}

{% block content %}

    <script>

        $(document).ready(function() {

            $('#bookshelf_sortable').sortable(           {
                connectWith: '.bookshelf_sortable',
                stop: function(event, ui) {
                    var info = ui.item.attr('id').split(',')
                    $.ajax({
                        url: '{% url 'sort_bookshelf' %}',
                        type: "POST",
                        data: { shelf_id : info[0], blob_id : info[1], position:  (ui.item.index() + 1) }
                    });

                }
            });

            $( "#bookshelf_sortable" ).disableSelection();

        });

    </script>

    <div class="row">
        <div class="col-lg-12">

            <ul id="bookshelf_sortable">
                {% for id, properties in object_list.items %}
                    <h3>{{ properties.name }}</h3>
                    {% for match in properties.blob_list %}
                        <li id="{{ id }},{{ match.internal_id }}">
                            <img src="{{ match.cover_url }}" height="75" width="70"/>
                            <br/>
                            <a href="{% url 'blob_detail' match.sha1sum %}">{{ match.title.0 }}</a>
                        </li>
                    {% endfor %}
                {% endfor %}
            </ul>
        </div>
    </div>

{% endblock %}
