{% extends "base.html" %}

{% block title %} Todo {% endblock %}

{% block content %}

    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap-tagsinput-custom.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap-tagsinput.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/typeahead-bootstrap3.css" />

    <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap-tagsinput.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/typeahead.bundle.min.js"></script>

<script type="text/javascript">

$(document).ready(function() {

        var engine = new Bloodhound({
            name: 'tags',
            remote: {
                url: '{% url 'tag_search' %}?query=%QUERY',
                wildcard: '%QUERY'
            },
            datumTokenizer: function(d) { return Bloodhound.tokenizers.whitespace(d.val); },
            queryTokenizer: Bloodhound.tokenizers.whitespace
        });

        engine.initialize();

        $('#id_tags').tagsinput({
            confirmKeys: [13, 188],
            tagClass: function(item) {
                return 'label label-primary';
            },
            typeaheadjs:  [{
                minLength: 2
            }, {
                    source: engine,
                    displayKey: function (data) {
                        return data.value;
                    },
               valueKey: 'value',
                    options: {'autoselect': true},
                    templates: {
                        suggestion: function(data) {
                            return '<div class="tt-suggest-page">' + data.value.replace(data._query, '<strong>' + data._query+ '</strong>') + '</div>';
                            }
                    }
                }]
        });

        {% if action == 'Edit' %}
        $("input.btn[value='Delete']").click( function() {
            $("form#todo-form").attr("action", "{% url 'todo_delete' pk %}");
        })
        {% endif %}

});

</script>

{% if message %}
    <div class="alert alert-success">{{ message }}</div>
{% endif %}

<p class="lead col-lg-offset-2">{{ action }} Task</p>

<form id="todo-form" class="form-horizontal" action="{{ request.path }}" method="post">
    {% csrf_token %}

    {% for field in form %}
        <div class="form-group{% if field.errors %} error{% endif %}">
            <label class="col-lg-2 control-label" for="inputTitle">{{ field.label }}</label>

            <div class="col-lg-5">
                {{ field }}
                {% for error in field.errors %}
                    <span class="form-error">{{ error }}</span>
                {% endfor %}
            </div>

        </div>
    {% endfor %}

    <div class="form-group">
        <div class="col-lg-3 col-lg-offset-2">
            <input class="btn btn-default" type="submit" name="Go" value="{{ action }}" />
            <input class="btn btn-default{% if not form.instance.id %} disabled{% endif %}" type="submit" name="Go" value="Delete" />
            <a class="btn btn-default" href="{% url 'todo_list' %}">Cancel</a>
        </div>
    </div>

</form>

{% endblock %}
