{% extends "base.html" %}

{% block title %} Todo {% endblock %}

{% block content %}

    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/tagsinput.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/typeahead-bootstrap3.css" />

    <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap-tagsinput.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/typeahead.bundle.min.js"></script>

<script type="text/javascript">

$(document).ready(function() {

        {% include "common/common-typeaheadjs-tagsinput.js" %}

        {% if action == 'Edit' %}
        $("input.btn[value='Delete']").click( function() {
            $("form#todo-form").attr("action", "{% url 'todo_delete' pk %}");
        })
        {% endif %}

});

</script>

{% if message %}
    <div class="alert alert-success">{{ message }}</div>
{% endif %}

<p class="lead offset-lg-2">{{ action }} Task</p>

<form id="todo-form" action="{{ request.path }}" method="post">
    {% csrf_token %}

    {% for field in form %}
        <div class="form-group{% if field.errors %} error{% endif %} row">
            <label class="col-lg-2 col-form-label" for="inputTitle">{{ field.label }}</label>

            <div class="col-lg-5">
                {{ field }}
                {% for error in field.errors %}
                    <span class="form-error">{{ error }}</span>
                {% endfor %}
            </div>

        </div>
    {% endfor %}

    <div class="form-group">
        <div class="col-lg-3 offset-lg-2">
            <input class="btn btn-secondary" type="submit" name="Go" value="{{ action }}" />
            <input class="btn btn-secondary{% if not form.instance.id %} disabled{% endif %}" type="submit" name="Go" value="Delete" />
            <a class="btn btn-secondary" href="{% url 'todo_list' %}">Cancel</a>
        </div>
    </div>

</form>

{% endblock %}
