{% extends "base.html" %}

{% block title %} {{ section }} {% endblock %}

{% block extra_head %}

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.21/rr-1.2.7/sl-1.3.1/datatables.min.css"/>

{% endblock %}

{% block left-block %}

    <h2>
        Todo tags
    </h2>

    {% for tag in tags %}
        <div id="todo_tag_list">
            <a class="btn {% ifequal tagsearch tag.name %}btn-primary{% else %}btn-info{% endifequal %}" href="{% url 'todo_list' %}?tagsearch={{ tag.name }}">
                {{ tag.name }} <span class="badge {% ifequal tagsearch tag.name %}badge-light{% else %}badge-light{% endifequal %}">{{ tag.count }}</span>
            </a>
        </div>
    {% endfor %}


{% endblock %}

{% block content %}

    <div class="row" id="vue-app">
        <div class="col-lg-10">
            <form class="form-inline" role="form">

                <button-group></button-group>

                <div class="form-group">
                    <input id="todo_search" type="text" class="form-control" placeholder="Search">
                </div>

                <div class="form-group">
                    <label id="todo_feedback" class="alert alert-success d-none">{{ messages.0.message }}</label>
                </div>

            </form>
        </div>
    </div>

{% include "common/datatable.html" with data=info cols=cols id="todo_list" %}

{% endblock %}

{% block javascript %}

    {{ block.super }}

    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.21/rr-1.2.7/sl-1.3.1/datatables.min.js"></script>

    <script type="text/javascript" charset="utf-8">

        Vue.mixin({ delimiters: ["[[", "]]"] });

        const EventBus = new Vue();

        window.addEventListener("keyup", function(e) {
            var value = document.getElementById("todo_search").value;
            table.search(value).draw();
        });

        const ButtonGroup = {
            template: `
                <div class="btn-group">
                    <a class="btn btn-secondary" id="btn-add" href="{% url 'todo_add' %}">Add</a>
                    <input type="button" class="btn btn-secondary" id="btn-edit" value="Edit" :disabled="isDisabledEdit" @click="onClickEdit" />
                    <input type="button" class="btn btn-secondary" id="btn-delete" value="Delete" :disabled="isDisabledDelete" @click="onClickDelete" />
                </div>
            `,
            methods: {
                onClickDelete(evt) {

                    var selectedId = table.cell(".selected", 3).data();

                    this.isDisabledEdit = true;
                    this.isDisabledDelete = true;

                    fetch("{% url 'Todo-list' %}" + selectedId,
                          {
                              method: "DELETE",
                              headers: {
                                  "X-CSRFToken": "{{ csrf_token }}"
                              }
                          }
                    ).then(response => {
                        return response;
                    }).then(() => {

                        var element = document.getElementById("todo_feedback");
                        element.classList.remove("d-none");
                        element.innerHTML = "Task Deleted.";

                        table.row(".selected").remove();
                        table.draw();

                        this.isDisabledEdit = true;
                        this.isDisabledDelete = true;

                        // Now that we've deleted a row, re-order the "sort_order" column
                        //  to eliminate the new gap, so that rows range from 1 to <table size>
                        sort_order = 1;
                        table.rows().every( function ( index ) {
                            table.cell(index,1).data(sort_order++).draw();
                        });

                    })
                },
                onClickEdit(evt) {

                    var selectedId = table.cell(".selected", 3).data();
                    window.location="{% url 'todo_edit' '00000000-0000-0000-0000-000000000000' %}".replace(/00000000-0000-0000-0000-000000000000$/, selectedId);

                },
            },
            data() {
                return {
                    isDisabledEdit: true,
                    isDisabledDelete: true
                }
            },
            mounted() {

                EventBus.$on("toggleDisabledEdit", payload => {
                    if (payload == "disable") {
                        this.isDisabledEdit = true;
                    } else if (payload == "enable") {
                        this.isDisabledEdit = false;
                    }
                });

                EventBus.$on("toggleDisabledDelete", payload => {
                    if (payload == "disable") {
                        this.isDisabledDelete = true;
                    } else if (payload == "enable") {
                        this.isDisabledDelete = false;
                    }
                });

            }
        };

        new Vue({
            el: "#vue-app",
            components: {
                ButtonGroup
            }
        });


        var table;

        $(document).ready(function() {

            function formatDragHandle( data, type, row ) {
                return "<img width='20' height='16' src='{{ STATIC_URL }}img/drag_and_drop_handle.png' />"
            }

            table = $('#todo_list').DataTable( {
                initComplete: function () {
                    var api = this.api();
                    $('#todo_list').show();
                    api.columns.adjust();
                },
                "rowReorder": {
                    "dataSrc": 1,
                    "snapX": 10
                },
                "select": true,
                "order": [[ 0, "asc" ]],
                "info": false,
                "paginate": false,
                "filter": true,
                "language": {
                    "emptyTable": "Nothing to do"
                },
                "lengthChange": false,
                "dom": "<'row'<'col-lg-3'<'toolbar'>l>r>t<'row'<'float-right col-lg-4'p>>",
                "searchable": false,
                "columnDefs": [
                    { "targets": [0], "orderData": 1, "orderSequence": [ "asc" ], "class": "cursor_grab", "render": formatDragHandle },
                    { "targets": [2], "sorting": [ "desc", "asc" ] },
                    { "targets": [-1], "dataSort": 2, "sorting": [ "desc", "asc" ] },
                    { "targets": [1,2,3], "visible": false },
                ],
            } );

            var uuid = null;

            table.on( "select", function () {
                EventBus.$emit("toggleDisabledEdit", "enable");
                EventBus.$emit("toggleDisabledDelete", "enable");
            } ).on( "deselect", function () {
                EventBus.$emit("toggleDisabledEdit", "disable");
                EventBus.$emit("toggleDisabledDelete", "disable");
            }).on('row-reorder', function(e, diff, edit) {

                // edit.triggerRow is the row the drag was initiated on
                uuid = edit.triggerRow.data()[3]

                new_position = null;

                // diff is an array of rows affected by the move.
                // Iterate through this array, looking for the row
                // we've moved and record its new position
                for ( var i=0, ien=diff.length ; i<ien ; i++ ) {
                    var rowData = table.row( diff[i].node ).data();

                    if (rowData[3] == uuid) {
                        new_position = diff[i].newData;
                        break;
                    }
                }

                if (new_position != null) {

                    const data = new URLSearchParams();
                    data.append("tag", "{{ tagsearch }}");
                    data.append("todo_uuid", uuid);
                    data.append("position", new_position);

                    fetch("{% url 'sort_todo' %}", {
                        method: "POST",
                        headers: {
                            "X-CSRFToken": "{{ csrf_token }}"
                        },
                        body: data,
                    }
                    ).then(data => {
                        console.log("Success");
                    });

                }
            }).on( 'order.dt', function ( e, settings, details ) {
                var order = table.order();
                colNumber = order[0][0];
                if( colNumber == 0 ) {
                    // If we're sorting on the "Manual" column (index=0),
                    // enable row reordering and switch to the "grab" cursor.

                    table.rowReorder.enable();

                    table.rows().every( function ( index ) {
                        $(table.cell(index,0).node()).addClass("cursor_grab");
                    });
                } else {
                    // If we're sorting on any column other than "Manual",
                    // disable row reordering and switch away from the "grab" cursor.
                    table.rowReorder.disable();

                    table.rows().every( function ( index ) {
                        $(table.cell(index,0).node()).removeClass("cursor_grab");
                    });
                }
            });

        });

    </script>

{% endblock %}
