{% extends "base.html" %}

{% block title %} Todo {% endblock %}

{% block content %}

    <div class="row g-0 h-100 mx-2" id="vue-app">

        <div class="col-lg-3 d-flex flex-column flex-grow-last">

            <div class="card-body backdrop-filter" v-cloak>

                <h4>Priority</h4>
                <div v-for="option in filterPriorityOptions" :class="getPriorityClass(option[0])" class="tag-list ps-2 py-1 pe-1 d-flex" @click.prevent="onClickPriority" :data-priority="option[0]">
                    <div>[[ option[1] ]]</div>
                    <div class="ms-auto me-1">
                        <span class="px-2 badge rounded-pill bg-info">[[ option[2] ]]</span>
                    </div>
                </div>

                <hr class="filter-divider" />

                <h4>Created</h4>
                <div v-for="option in filterTimeOptions" :class="getTimeClass(option[0])" class="tag-list ps-2 py-1 pe-1 d-flex" @click.prevent="onClickTime" :data-created="option[0]">
                    <div>[[ option[1] ]]</div>
                    <div class="ms-auto me-1">
                        <span class="px-2 badge rounded-pill bg-info">[[ option[2] ]]</span>
                    </div>
                </div>

                <hr class="filter-divider" />

                <h4>Tags</h4>
                {% for tag in tags %}
                    <div class="tag-list ps-2 py-1 pe-1 d-flex" :class="getTagClass('{{ tag.name }}')" @click.prevent="onClickTag" data-tag="{{ tag.name }}">
                        <div>{{ tag.name }}</div>
                        <div class="ms-auto me-1">
                            <span class="px-2 badge rounded-pill {% ifequal tagsearch tag.name %}bg-dark{% else %}bg-info{% endifequal %}">{{ tag.count }}
                            </span></div>
                    </div>
                {% empty %}
                    <div class="text-success">No tags found</div>
                {% endfor %}

            </div>

        </div>

        <div class="col-lg-9">

            <div class="card-grid ms-2">

                <div class="d-flex justify-content-between">

                    <form class="form-inline" role="form">

                        <div class="ms-2">
                            <input type="text" v-model="filterSearch" class="form-control" placeholder="Search" @keydown.enter.prevent="search()">
                        </div>

                    </form>

                    <div class="me-2">
                        <add-button href="#" :click-handler="handleCreateTodo">
                        </add-button>
                    </div>

                </div>

                <b-table
                    :data="items"
                    :mobile-cards="false"
                    :default-sort="['sort_order','asc']"
                    hoverable
                    draggable
                    sort-icon="chevron-up"
                    :row-class="(row, index) => 'hover-target'"
                    @drop="onDrop"
                    @dragend="onDragEnd"
                    @dragover="onDragOver"
                    @dragstart="onDragStart"
                >

                    <b-table-column field="sort_order" label="Manual" cell-class="todo-col-manual-sorting drag-handle text-center cursor-grab" header-class="cursor-pointer" sortable v-slot="props">
                        <font-awesome-icon icon="bars"></font-awesome-icon>
                    </b-table-column>

                    <b-table-column field="name" label="Name" sortable header-class="cursor-pointer" v-slot="props">
                        [[ props.row.name ]]
                        <span v-if="props.row.url">
                            <a class="ms-1" :href="props.row.url">
                                <font-awesome-icon icon="link"></font-awesome-icon>
                            </a>
                        </span>
                        <div class="table-note" v-html="getNote(props.row.note)"></div>
                    </b-table-column>

                    <b-table-column field="priority" label="Priority" cell-class="todo-col-priority" sortable header-class="cursor-pointer" v-slot="props">
                        [[ props.row.priority_name ]]
                    </b-table-column>

                    <b-table-column field="created" label="Date" sortable cell-class="todo-col-date text-nowrap" header-class="cursor-pointer" v-slot="props">
                        [[ getDate(props.row.created) ]]
                    </b-table-column>

                    <b-table-column field="uuid" label="" cell-class="col-action" v-slot="props">
                        <drop-down-menu :show-on-hover="true">
                            <div slot="dropdown">
                                <li>
                                    <a class="dropdown-item" href="#" @click.prevent="onClickUpdate(props.row)">
                                        <font-awesome-icon icon="pencil-alt" class="text-primary me-3"></font-awesome-icon>Update
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#" @click.prevent="onClickDelete(props.row)">
                                        <font-awesome-icon icon="trash-alt" class="text-primary me-3"></font-awesome-icon>Delete
                                    </a>
                                </li>
                            </div>
                        </drop-down-menu>
                    </b-table-column>

                    <template #empty>
                        <div class="text-center">No tasks found</div>
                    </template>

                </b-table>

            </div>

        </div>

        <create-update-todo
            ref="updateTodo"
            :priority-list="JSON.parse('{{ priority_list }}')"
            update-todo-url="{% url 'todo-detail' '00000000-0000-0000-0000-000000000000' %}"
            create-todo-url="{% url 'todo-list' %}"
            tag-search-url="{% url 'tag:search' %}?query="
            @post-todo-add="getTodoList()"
            @post-todo-update="getTodoList()"
        >
        </create-update-todo>

    </div>

{% endblock %}

{% block javascript %}

    {{ block.super }}

    <script type="text/javascript" charset="utf-8">

        const table = new Vue({
            el: "#vue-app",
            name: "TodoTable",
            data() {
                return {
                    filterTag: "{{ filter.todo_filter_tag|default:'' }}",
                    filterPriority: "{{ filter.todo_filter_priority|default:'' }}",
                    filterTime: "{{ filter.todo_filter_time|default:'' }}",
                    filterSearch: "",
                    filterCache: {},
                    items: [],
                    draggingRow: null,
                    draggingRowIndex: null,
                    filterPriorityOptions: null,
                    filterTimeOptions: null,
                    show: false,
                    right: true,
                    hover: true,
                };
            },
            computed: {
                isFiltered() {
                    return this.filterPriority !== "" || this.filterTime !== "";
                },
            },
            mounted() {
                this.getTodoList();
            },
            methods: {
                getTodoList() {
                    doGet(
                        this,
                        "{% url 'todo:get_tasks' %}" +
                        `?tag=${this.filterTag}` +
                        `&priority=${this.filterPriority}` +
                        `&time=${this.filterTime}` +
                        `&search=${this.filterSearch}`,
                        (response) => {
                            this.items = response.data.todo_list;
                            this.filterPriorityOptions = response.data.priority_counts;
                            this.filterTimeOptions = response.data.created_counts;
                        },
                        "Error todo list",
                    );
                },
                sortChanged(evt) {
                    if (evt.sortBy === "") {
                        sortable.option("disabled", false);
                        this.fields[0].class="drag-handle text-center cursor-grab";
                    } else {
                        sortable.option("disabled", true);
                        this.fields[0].class="drag-handle text-center";
                    }
                },
                onDragOver(payload) {
                    payload.event.dataTransfer.dropEffect = "move";
                    payload.event.preventDefault();
                },
                onDragStart(payload) {
                    payload.event.currentTarget.classList.add("dragging");
                    this.draggingRow = payload.row;
                    this.draggingRowIndex = payload.index;
                    payload.event.dataTransfer.effectAllowed = "move";
                },
                onDragEnd(payload) {
                    payload.event.currentTarget.classList.remove("dragging");
                },
                onDrop(payload) {
                    const todoUuid = this.draggingRow.uuid;
                    const newIndex = payload.index;

                    const bodyFormData = new URLSearchParams();
                    bodyFormData.append("todo_uuid", todoUuid);
                    bodyFormData.append("position", newIndex + 1);
                    bodyFormData.append("tag", this.filterTag);

                    axios("{% url 'todo:sort' %}", {
                        method: "POST",
                        data: bodyFormData,
                    })
                        .then((response) => {
                            console.log("Success");
                            this.getTodoList();
                        }, (error) => {
                            console.log(error);
                        });
                },
                onClickDelete(todoInfo) {
                    const self = this;
                    axios.delete("{% url 'todo-detail' '00000000-0000-0000-0000-000000000000' %}".replace("00000000-0000-0000-0000-000000000000", todoInfo.uuid))
                         .then((response) => {
                             EventBus.$emit(
                                 "toast",
                                 {
                                     "body": "Todo task deleted",
                                     "variant": "info",
                                 },
                             );

                             self.getTodoList();

                             console.log("Success");
                         }, (error) => {
                             console.log(error);
                         });
                },
                onClickTag(evt) {
                    if (this.filterTag == evt.currentTarget.dataset.tag) {
                        this.filterTag = "";
                    } else {
                        this.filterTag = evt.currentTarget.dataset.tag;
                    }
                    this.getTodoList();
                },
                onClickPriority(evt) {
                    if (this.filterPriority == evt.currentTarget.dataset.priority) {
                        this.filterPriority = "";
                    } else {
                        this.filterPriority = evt.currentTarget.dataset.priority;
                    }
                    this.getTodoList();
                },
                onClickTime(evt) {
                    if (this.filterTime == evt.currentTarget.dataset.created) {
                        this.filterTime = "";
                    } else {
                        this.filterTime = evt.currentTarget.dataset.created;
                    }
                    this.getTodoList();
                },
                getTagClass(tag) {
                    if (tag === this.filterTag) {
                        return "selected rounded-sm";
                    }
                },
                getPriorityClass(priority) {
                    if (priority === parseInt(this.filterPriority)) {
                        return "selected rounded-sm";
                    }
                },
                getTimeClass(created) {
                    if (created === this.filterTime) {
                        return "selected rounded-sm";
                    }
                },
                getDate(date) {
                    return getFormattedDate(date);
                },
                search() {
                    if (this.filterSearch === "") {
                        this.filterPriority = this.filterCache.priority;
                        this.filterTime = this.filterCache.time;
                        this.filterCache = {};
                    } else {
                        this.filterCache = {
                            "priority": this.filterPriority,
                            "time": this.filterTime,
                        };
                        this.filterPriority = "";
                        this.filterTime = "";
                    }
                    this.getTodoList();
                },
                getNote(note) {
                    return markdown.render(note);
                },
                onClickUpdate(todoInfo) {
                    this.$refs.updateTodo.setAction("Update");
                    this.$refs.updateTodo.todoInfo = todoInfo;
                    EventBus.$emit("addTags", todoInfo.tags);
                    const modal = new Modal("#modalUpdateTodo");
                    modal.show();
                    setTimeout( () => {
                        document.getElementById("id_name").focus();
                    }, 500);
                },

                handleCreateTodo() {
                    this.$refs.updateTodo.setAction("Create");

                    const initialTagList = [
                        {
                            "display": this.filterTag,
                            "text": this.filterTag,
                        },
                    ];

                    this.$refs.updateTodo.todoInfo = {
                        note: "",
                        priority: this.filterPriority || 2,
                        tags: initialTagList,
                    };
                    if (this.filterTag) {
                        EventBus.$emit(
                            "addTags", initialTagList,
                        );
                    }
                    const modal = new Modal("#modalUpdateTodo");
                    modal.show();
                    setTimeout( () => {
                        document.getElementById("id_name").focus();
                    }, 500);
                },
            },
        });

    </script>

{% endblock %}
