{% extends "base.html" %}

{% block title %} Todo {% endblock %}

{% block content %}

    <div class="row no-gutters h-100" id="vue-app">

        <div class="col-lg-3 d-flex flex-column">

            <div class="card-body">

                <h4>Priority</h4>
                <div v-for="option in filterPriorityOptions" :class="getPriorityClass(option[0])" class="tag-list pl-2 py-1 pr-1 d-flex" @click.prevent="onClickPriority" :data-priority="option[0]">
                    <div>[[ option[1] ]]</div>
                    <div class="ml-auto">
                        <span class="px-2 badge badge-pill">[[ option[2] ]]</span>
                    </div>
                </div>

                <hr class="filter-divider" />

                <h4>Created</h4>
                <div v-for="option in filterTimeOptions" :class="getTimeClass(option[0])" class="tag-list pl-2 py-1 pr-1 d-flex" @click.prevent="onClickTime" :data-created="option[0]">
                    <div>[[ option[1] ]]</div>
                    <div class="ml-auto">
                        <span class="px-2 badge badge-pill">[[ option[2] ]]</span>
                    </div>
                </div>

                <hr class="filter-divider" />

                <h4>Tags</h4>
                {% for tag in tags %}
                    <div class="tag-list pl-2 py-1 pr-1 d-flex" :class="getTagClass('{{ tag.name }}')" @click.prevent="onClickTag" data-tag="{{ tag.name }}">
                        <div>{{ tag.name }}</div>
                        <div class="ml-auto"><span class="px-2 badge badge-pill {% ifequal tagsearch tag.name %}badge-dark{% else %}badge-info{% endifequal %}">{{ tag.count }}</span></div>
                    </div>
                {% empty %}
                    <div class="text-success">No tags found</div>
                {% endfor %}

            </div>

        </div>

        <div class="col-lg-9">

            <div class="card-grid ml-2">

                <div class="d-flex justify-content-between">

                    <form class="form-inline" role="form">

                        <div class="form-group ml-2">
                            <input type="text" v-model="filterSearch" class="form-control" placeholder="Search" @keydown.enter.prevent="search()">
                        </div>

                    </form>

                    <div class="mr-2">
                        <add-button :href="'{% url 'todo:create' %}?tagsearch=' + this.filterTag">
                        </add-button>
                    </div>

                </div>

                <b-table
                    :hover="hover"
                    primary-key="uuid"
                    :items="items"
                    :fields="fields"
                    :sort-compare="sortCompare"
                    @sort-changed="sortChanged"
                    @row-hovered="rowHovered"
                    @row-unhovered="rowUnHovered"
                    onEnd="onEnd"
                    v-sortable
                    :sorting="items"
                    sort-by="manualSorting"
                    show-empty
                    empty-text="No tasks found"
                >

                    <template #cell(name)="data">
                        <span v-html="data.value"></span>
                        <span v-if="data.item.url"><a class="ml-1" :href="data.item.url"><font-awesome-icon icon="link"></font-awesome-icon></a></span>
                        <div class="table-note" v-html="getNote(data.item.note)"></div>
                    </template>

                    <template #cell(manualSorting)="data">
                        <font-awesome-icon icon="bars"></font-awesome-icon>
                        <span v-html="data.value"></span>
                    </template>

                    <template #cell(uuid)="data">
                        <div class="hover-target hidden">
                            <dropdown-menu v-model="show" :right="right" transition="translate-fade-down" class="text-center">
                                <font-awesome-icon icon="ellipsis-v"></font-awesome-icon>
                                <div slot="dropdown">
                                    <a class="dropdown-item" href="#" @click.prevent="onClickUpdate(data.value)">Update</a>
                                    <a class="dropdown-item" href="#" @click.prevent="onClickDelete(data.value)">Delete</a>
                                </div>
                            </dropdown-menu>
                        </div>
                    </template>

                    <template #cell(created)="data">
                        [[ getDate(data.value) ]]
                    </template>

                </b-table>

            </div>

        </div>

    </div>

{% endblock %}

{% block javascript %}

    {{ block.super }}

    <script type="text/javascript" charset="utf-8">

        let sortable = null;

        Vue.directive("sortable", {
            update(el, binding, vnode) {

                const sort_items = vnode.data.attrs.sorting;
                let options = {
                    handle: ".drag-handle"
                };

                if (sort_items) {

                    options.onStart = function sortableStart(evt) {
                        // Disable the table's hover feature will we're dragging and dropping
                        table.hover = false;
                    }

                    options.onUpdate = function sortableUpdate(evt) {
                        const deleted = sort_items.splice(evt.oldIndex, 1);
                        sort_items.splice(evt.newIndex, 0, deleted[0]);
                    };

                    options.onEnd = function sortableEnd(evt) {
                        table.hover = true;
                        if (evt.newIndex !== evt.oldIndex) {

                            const bodyFormData = new URLSearchParams();
                            bodyFormData.append("todo_uuid", evt.item.dataset.pk);
                            bodyFormData.append("position", evt.newIndex + 1);

                            // We don't have access to the Vue app's "filterTag"
                            //  data, which we need to send with the Ajax request.
                            //  So we instead emit a message with a partial payload
                            // which is captured inside the Vue app elsewhere.
                            EventBus.$emit("todo-sort", bodyFormData);
                        }
                    }
                }

                sortable = Sortable.create(document.querySelector("tbody"), options);
            }
        });

        const table = new Vue({
            el: "#vue-app",
            data() {
                return {
                    filterTag: "{{ filter.todo_filter_tag|default:'' }}",
                    filterPriority: "{{ filter.todo_filter_priority|default:'' }}",
                    filterTime: "{{ filter.todo_filter_time|default:'' }}",
                    filterSearch: "",
                    filterCache: {},
                    items: [],
                    fields: [
                        {
                            key: "manualSorting",
                            label: "Manual",
                            class: "drag-handle text-center cursor-grab",
                            sortable: false,
                            thClass: "todo-col-manual-sorting",
                        },
                        {
                            key: "name",
                            sortable: true,
                        },
                        {
                            key: "priority",
                            sortable: true,
                            thClass: "todo-col-priority"
                        },
                        {
                            key: "created",
                            label: "Date",
                            class: "text-nowrap",
                            sortable: true,
                            sortDirection: "desc",
                            thClass: "todo-col-date"
                        },
                        {
                            key: "uuid",
                            label: "",
                            tdClass: "text-center align-top",
                            thClass: "col-action"
                        }
                    ],
                    filterPriorityOptions: null,
                    filterTimeOptions: null,
                    show: false,
                    right: true,
                    hover: true
                }
            },
            methods: {
                getTodoList() {
                    doGet(
                        this,
                        "{% url 'todo:get_tasks' %}" +
                        `?tag=${this.filterTag}` +
                        `&priority=${this.filterPriority}` +
                        `&time=${this.filterTime}` +
                        `&search=${this.filterSearch}`,
                        (response) => {
                            this.items = response.data.todo_list;
                            this.filterPriorityOptions = response.data.priority_counts;
                            this.filterTimeOptions = response.data.created_counts;
                        },
                        "Error todo list"
                    );
                },
                sortCompare(aRow, bRow, key, sortDesc) {

                    let a = aRow[key]
                    let b = bRow[key]

                    if (key === "manualSorting") {
                        a = aRow["sort_order"];
                        b = bRow["sort_order"];
                    }

                    return a < b ? -1 : a > b ? 1 : 0;

                },
                sortChanged(evt) {
                    if (evt.sortBy === "") {
                        sortable.option("disabled", false);
                        this.fields[0].class="drag-handle text-center cursor-grab";
                    } else {
                        sortable.option("disabled", true);
                        this.fields[0].class="drag-handle text-center";
                    }
                },
                rowHovered(item, index, evt) {
                    evt.currentTarget.querySelector(".hover-target").classList.remove("hidden");
                },
                rowUnHovered(item, index, evt) {
                    evt.currentTarget.querySelector(".hover-target").classList.add("hidden");
                },
                onClickUpdate(item, index, evt) {
                    window.location="{% url 'todo:update' '00000000-0000-0000-0000-000000000000' %}".replace(/00000000-0000-0000-0000-000000000000/, item);
                },
                onClickDelete(item, index, evt) {

                    let selectedUuid = item;
                    axios.delete("{% url 'todo-detail' '00000000-0000-0000-0000-000000000000' %}".replace('00000000-0000-0000-0000-000000000000', selectedUuid))
                         .then((response) => {

                             this.$bvToast.toast("Todo task deleted", {
                                 title: "Info",
                                 variant: "primary"
                             })

                             EventBus.$emit("get-todo-list");

                             console.log("Success");
                         }, (error) => {
                             console.log(error);
                         });

                },
                onClickTag(evt) {
                    if (this.filterTag == evt.currentTarget.dataset.tag) {
                        this.filterTag = "";
                    } else {
                        this.filterTag = evt.currentTarget.dataset.tag;
                    }
                    this.getTodoList();
                },
                onClickPriority(evt) {
                    if (this.filterPriority == evt.currentTarget.dataset.priority) {
                        this.filterPriority = "";
                    } else {
                        this.filterPriority = evt.currentTarget.dataset.priority;
                    }
                    this.getTodoList();
                },
                onClickTime(evt) {
                    if (this.filterTime == evt.currentTarget.dataset.created) {
                        this.filterTime = "";
                    } else {
                        this.filterTime = evt.currentTarget.dataset.created;
                    }
                    this.getTodoList();
                },
                getTagClass(tag) {
                    if (tag === this.filterTag) {
                        return "selected rounded-sm"
                    }
                },
                getPriorityClass(priority) {
                    if (priority === this.filterPriority) {
                        return "selected rounded-sm"
                    }
                },
                getTimeClass(created) {
                    if (created === this.filterTime) {
                        return "selected rounded-sm"
                    }
                },
                onChange(event) {
                    this.getTodoList();
                    sortable.option("disabled", true);
                },
                getDate(date) {
                    return getFormattedDate(date);
                },
                search() {
                    if (this.filterSearch === "") {
                        this.filterPriority = this.filterCache.priority;
                        this.filterTime = this.filterCache.time;
                        this.filterCache = {}
                    } else {
                        this.filterCache = {
                            "priority": this.filterPriority,
                            "time": this.filterTime
                        };
                        this.filterPriority = "";
                        this.filterTime = "";
                    }
                    this.getTodoList();
                },
                getNote(note) {
                    return markdown.render(note);
                }
            },
            computed: {
                isFiltered() {
                    return this.filterPriority !== "" || this.filterTime !== "";
                }
            },
            mounted() {

                EventBus.$on("get-todo-list", payload => {
                    this.getTodoList();
                });

                EventBus.$on("todo-sort", bodyFormData => {

                    bodyFormData.append("tag", this.filterTag);
                    axios("{% url 'todo:sort' %}", {
                        method: "POST",
                        data: bodyFormData,
                    })
                        .then((response) => {
                            console.log("Success");
                        }, (error) => {
                            console.log(error);
                        });
                });

                var el = document.querySelector("tbody");

                this.getTodoList();

            }
        });

    </script>

{% endblock %}
