{% extends "base.html" %}

{% block title %} Todo {% endblock %}

{% block content %}

{% if message %}
    <div class="alert alert-success">{{ message }}</div>
{% endif %}

<p class="lead offset-lg-2">{{ action }} Task</p>

<form id="todo-form" action="{{ request.path }}" method="post">
    {% csrf_token %}

    {% for field in form %}
        <div class="form-group{% if field.errors %} error{% endif %} row">
            <label class="bold col-lg-2 col-form-label text-right" for="inputTitle">{{ field.label }}</label>

            <div class="col-lg-5">

            {% if field.label == 'Tags' %}

                <tags-input
                    search-url="{% url 'tag:search' %}?query="
                >
                </tags-input>

            {% else %}

                {{ field }}
                {% for error in field.errors %}
                    <span class="form-error">{{ error }}</span>
                {% endfor %}

            {% endif %}

            </div>

        </div>
    {% endfor %}

    <div class="form-group">
        <div class="col-lg-5 offset-lg-2">
            <input class="btn btn-secondary" type="submit" name="Go" value="{{ action }}" />
            <input id="btn-delete" class="btn btn-secondary{% if not form.instance.id %} disabled{% endif %}" type="submit" name="Go" value="Delete" />
            <a class="btn btn-secondary" href="{% url 'todo:list' %}">Cancel</a>
        </div>
    </div>

</form>

{% endblock %}

{% block javascript %}

    {{ block.super }}

    {{ tags|json_script:"initial-tags"|default:"" }}

    <script type="text/javascript">

        Vue.mixin({ delimiters: ["[[", "]]"] });

        new Vue({
            el: "#todo-form",
            components: {
                TagsInput
            }
        });

        {% if object %}
        document.getElementById("btn-delete").addEventListener("click", function(evt) {
            var formEl = document.getElementById("todo-form");
            formEl.setAttribute("action", "{% url 'todo:delete' uuid %}");
        });
        {% endif %}

    </script>


{% endblock %}
