<script type="text/javascript">

// $("#month").autocomplete({
//  source: "http://www.bordercore.com/top_search.json",
//  minLength: 2,
//  delay: 1000,
//  select: function(event, ui) { document.location = ui.item.value; }
//  });


// Hilight the current section in the navbar
$(document).ready(function() {
	$('.nav li:contains("{{ section }}")').attr('class', 'active')
})

</script>

<div class="navbar">
  <div class="navbar-inner">
    <!-- <a class="brand" href="#">Title</a> -->
    <ul class="nav">
      <li><a href="/"><i class="icon-home"></i> Home</a></li>
      <li><a href="/bookmarks/">Bookmarks</a></li>
	  <li><a href="/feeds/">Feeds</a></li>
      <li><a href="/blog/">Blog</a></li>
      <li><a href="/music/">Music</a></li>
      <li><a href="/calendar/">Calendar</a></li>
      <li><a href="http://www.bordercore.com/todo/">Todo</a></li>
	  <!--      <li><a href="/addressbook/">Addressbook</a></li> -->
      <li><a href="http://www.bordercore.com/photos/">Photos</a></li>

	  <li class="dropdown">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown">
		  Misc  <b class="caret"></b>
		</a>
		<ul class="dropdown-menu">
		  <li><a href="http://www.bordercore.com/prefs/"><i class="icon-cog"></i> Prefs</a></li>
		  <li><a href="/logout"><i class="icon-off"></i> Logout</a></li>
		</ul>
	  </li>
    </ul>
	<form class="navbar-search">
	  <input type="text" class="search-query span2" placeholder="Search">
	</form>
  </div>
</div>


