// Base styles
@import "../variables";

* {
  --brand-hue: 231;
  --brand-saturation: 57%;
  --brand-lightness: 15%;

  --alpha: 0.8;

  --text-hue: var(--brand-hue);
  --text-saturation: 15%;
  --text-lightness: 85%;

  --text1: #fff;
  --text2: hsl(var(--brand-hue) 5% 65%);

  // highlight
  --text3-hue: 164;
  --text3-saturation: 89%;
  --text3-lightness: 69%;
  --text3: hsl(var(--text3-hue) var(--text3-saturation) var(--text3-lightness));

  --text4: #6ea6e0;

  // "on hover" links
  --text5: #10ff00;

  --text6: #4591ff;

  --text-disabled: #333;
  --text-em: ##ffff00;

  --surface1: hsl(var(--brand-hue) var(--brand-saturation) var(--brand-lightness));
  --surface1-alpha: hsl(var(--brand-hue) var(--brand-saturation) var(--brand-lightness) var(--alpha));

  // on-hover
  --surface2: hsl(var(--brand-hue) calc(var(--brand-saturation) + 15%) var(--brand-lightness));

  --surface3: hsl(var(--brand-hue) calc(var(--brand-saturation) + 25%) calc(var(--brand-lightness) + 10%));
  --surface4: hsl(var(--brand-hue) calc(var(--brand-saturation) + 35%) calc(var(--brand-lightness) + 15%));
  --surface5: #3e3e6b;

  // Slightly lighter than the background
  --surface6: #20253e;

  --surface7: #7367f0;

  // Node colors
  // Increase the HSL lightness by 5% for the tinted properties
  --node-color-1: hsl(231 56% 14%);
  --node-color-1-tinted: hsl(231 56% 19%);
  --node-color-2: hsl(290 55% 38%);
  --node-color-2-tinted: hsl(290 55% 43%);
  --node-color-3: hsl(225, 29%, 41%);
  --node-color-3-tinted: hsl(225, 29%, 46%);
  --node-color-4: hsl(206 66% 32%);
  --node-color-4-tinted: hsl(206 66% 37%);

  // Override Bootstrap CSS properties
  --bs-body-color: var(--text1);
  --bs-body-bg: var(--surface1);
}

// TODO: These throw an error if we pass in the CSS property directly,
//  so hard-code them for now.
$body-color: #fff; // Should match var(--text1)
$primary: #6ea6e0; // Should match var(--text4)

// Custom Bootstrap variables
$form-select-indicator-color: var(--text1);
$modal-header-border-color: var(--text3);
$pagination-bg: var(--surface5);
$pagination-disabled-bg: var(--surface1);
$pagination-hover-bg: var(--surface7);

$nav-tabs-border-color: var(--surface5);
$nav-tabs-border-width: 0.18rem;

$table-cell-padding-y: 0.75rem;
$table-cell-padding-x: 0.75rem;

$list-group-item-padding-y: 0.75rem;
$list-group-item-padding-x: 1.25rem;

$spacer: 1rem;
$card-spacer-y: $spacer * 1.25;
$card-spacer-x: $spacer * 1.25;

// Import the Bootstrap core
// (This file imports all Bootstrap core's variables and components from the Bootstrap core package installed via npm)
@import "../../../node_modules/bootstrap/scss/bootstrap.scss";

// Import CSS for perfect-scrollbar
@import "../../css/perfect-scrollbar.css";

// Import CSS for Prism syntax highlighter
@import "../../../static/css/prism-synthwave84.css";

// Custom colors for this theme
$form-bg: var(--surface5);
$form-bg-focus: var(--surface1);
$form-bg-disabled: var(--surface2);
$form-border-color-hover: var(--text3);
$icon-glow-color: var(--text3);
$nav-highlight-color: var(--text5);

// Misc theme-related styles
.btn-close {
  // Mimics the Bootstrap "btn-close-white" class
  -webkit-filter: invert(1) grayscale(100%) brightness(200%);
  filter: invert(1) grayscale(100%) brightness(200%);
}

// Import core SCSS
@import "../base";
