// Base styles
@import "../variables";

// Custom Bootswatch variables which overrides the "darkly" theme
$gray-700: #27293d;
$gray-900: #262c49;

@import "../../../node_modules/bootswatch/dist/darkly/variables";

// Custom Bootstrap variables
$secondary: $gray-500;

// Import the Bootstrap core
// (This file imports all Bootstrap core's variables and components from the Bootstrap core package installed via npm)
@import "../../../node_modules/bootstrap/scss/bootstrap.scss";

@import "../../../node_modules/bootswatch/dist/darkly/bootswatch";

// Import styles for BootstrapVue
@import "../../../node_modules/bootstrap-vue/src/index.scss";

// Import CSS for perfect-scrollbar
@import "../../css/perfect-scrollbar.css";

// The close button for toast dialogs
.close {
  color: #1b4f72;
}

// The close button for Bootstrap modals
.modal-header .close {
  color: $white;
}

h4 {
  color: $markdown-heading;
}

// Inline code. Exclude code in pre blocks, since
//  that is handled by highlight.js

*:not(pre) > code {
  background-color: #c9c9bf;
  color: #000;
  padding: 0.25rem;
}

// Custom colors for this theme
$background-color-dark: #10163a;
$background-color-light: #262c49;
$form-background-color: $gray-500;
$light-blue: #212132;
$link-hover-color: $green;
$list-group-item-secondary: $background-color-dark;
$markdown-background-color: $gray-700;
$markdown-border-color: $gray-600;
$modal-background-color: $gray-900;
$nav-tabs-border-color: $white;
$selected-background-color: $blue;
$sidebar-background-color: #343a40;

// Import highlight.js CSS
@import "../../../node_modules/highlight.js/styles/gradient-dark.css";

// Import core SCSS
@import "../base";
