{% extends "base.html" %}

{% load get_doctype %}

{% block title %} KB :: Tag Detail {% endblock %}

{% block content %}

{% include "kb/header.html" %}

    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap-tagsinput-custom.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap-tagsinput.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/typeahead-bootstrap3.css" />

    <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap-tagsinput.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/typeahead.bundle.min.js"></script>

    <script type="text/javascript">

        $(document).ready(function() {

            var engine = new Bloodhound({
                name: 'tags',
                remote: '{% url 'tag_search' %}?query=%QUERY',
                datumTokenizer: function(d) { return Bloodhound.tokenizers.whitespace(d.text); },
                queryTokenizer: Bloodhound.tokenizers.whitespace
            });

            engine.initialize();

            $('#tag-filter').tagsinput({
                confirmKeys: [13, 188],
                tagClass: function(item) {
                    if (item.is_meta == 'true') {
                        return 'label label-success';
                    } else {
                        return 'label label-primary';
                    }
                },
                itemValue: 'value',
                typeaheadjs: {
                    source: engine.ttAdapter(),
                    displayKey: 'value',
                    valueKey: 'value',
                    options: {'autoselect': true}
                }
            });

            // Tags are stored by tagsinput as objects which look like this:
            //
            // { 'text': 'emacs', 'value': 'emacs', 'is_meta': 'false' }

            // Add the initial list of tags in the search box
            {% for tag in tag_list %}
            $('#tag-filter').tagsinput('add',{'value':'{{ tag.name }}', 'text':'{{ tag.name }}', 'is_meta': '{{ tag.is_meta }}'});
            {% endfor %}

            $('#tag-filter').on('beforeItemAdd', function(event) {
                var tags = get_tag_list_string();
                if (tags) {
                    tags = tags + ',' + event.item;
                } else {
                    tags = event.item;
                }
                event.cancel = true;
                window.location='{% url 'kb_search_tag_detail' 666 %}'.replace('666', tags);
            });

            $('#tag-filter').on('itemRemoved', function(event) {
                var tags = get_tag_list_string();
                event.cancel = true;
                window.location='{% url 'kb_search_tag_detail' 666 %}'.replace('666', tags);
            });

            $('#other_tags').change( function(event) {
                var tags = get_tag_list_string() + ',' + $(this).val();
                window.location='{% url 'kb_search_tag_detail' 666 %}'.replace('666', tags);
            });

            $('#myTab a').click(function (event) {
                event.preventDefault();
                $(this).tab('show');
            });

            $('.meta_tag').click(function (event) {
                event.preventDefault();
                var tags = get_tag_list_string() + ',' + event.target.innerHTML;
                window.location='{% url 'kb_search_tag_detail' 666 %}'.replace('666', tags);
            });

            function get_tag_list_string() {
                return $.map( $('#tag-filter').tagsinput('items'), function( element ) { return element.value } ).join();
            }

             // Select first tab when the page first loads
            $('#myTab a:first').tab('show');

        });

    </script>

    <br />

    <div class="row" id="search_tags_searchform">
        <div class="col-md-10">

            <form id="tag-filter-form" class="form-inline" action="{% url 'kb_search_tag_detail' tag %}" method="get" autocomplete="off">
                <div class="form-group">
                    <input id="tag-filter" class="form-control" type="text" name="taglist" placeholder="Tag List" />
                </div>
                {% if tag_counts %}
                <div class="form-group">
                    <!-- <label>&nbsp; &nbsp; Other tags:</label> -->
                    <select id="other_tags" class="form-control">
                        <option value="-1">Other tags</option>
                        {% for tag, count in tag_counts %}
                            <option value="{{ tag }}">{{ tag }} ({{ count }})</option>
                        {% endfor %}
                    </select>
                </div>
                {% endif %}
                <div class="form-group">
                {% for tag in meta_tags %}
                    {% if forloop.first %}
                        &nbsp; <label>Meta Tags: </label>
                    {% endif %}
                    <span class="label label-success"><a class="meta_tag tag" href="">{{ tag }}</a></span>
                {% endfor %}
                </div>
            </form>
        </div>
    </div>

    <ul class="nav nav-tabs" id="myTab">
        {% for doctype in doctype_counts %}
            <li><a href="#{{ doctype.0 }}">{{ doctype_mapping|get_doctype:doctype.0 }} <span class="badge alert-info">{{ doctype.1 }}</span></a></li>
        {% endfor %}
    </ul>

    <div class="tab-content" id="tag-detail-tab-content">

        <br />
        <div id="bordercore_bookmark" class="tab-pane fade in active">
            {% for match in info.matches.bordercore_bookmark %}
                <div class="row voffset">
                    <div class="col-md-12">
                        <a href="{{ match.url }}">{{ match.bordercore_bookmark_title.0 }}</a>
                    </div>
                </div>
            {% endfor %}
        </div>

        <div id="document" class="tab-pane fade in active">
            {% for match in info.matches.document %}
                <div class="row voffset">
                    <div class="col-md-12">
                        <a href="{% url 'document_detail' match.internal_id %}">{{ match.title }}</a>
                    </div>
                </div>
            {% endfor %}
        </div>

        <div id="bordercore_blog" class="tab-pane fade in active">
            {% for match in info.matches.bordercore_blog %}
                <div class="row voffset">
                    <div class="col-md-12">
                        <a href="{% url 'blog_list' match.internal_id %}">{{ match.bordercore_blogpost_title.0|default:"Blog Post" }}</a>
                    </div>
                </div>
            {% endfor %}
        </div>

        <div id="bordercore_todo" class="tab-pane fade in active">
            {% for match in info.matches.bordercore_todo %}
                <div class="row voffset">
                    <div class="col-md-12">
                        {{ match.bordercore_todo_task.0 }}  <span class="search_todo_date">{{ match.last_modified }}</span>
                    </div>
                </div>
            {% endfor %}
        </div>

     </div>
<br />
<a href="{{ request.META.HTTP_REFERER }}">Back</a>

{% endblock %}
