{% extends "base.html" %}

{% block title %} Fitness :: Add {% endblock %}

{% block content %}

    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/jquery.dataTables.bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/jquery.dataTables.css" />
    <script type="text/javascript" charset="utf-8" language="javascript" src="{{ STATIC_URL }}js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" charset="utf-8" language="javascript" src="{{ STATIC_URL }}js/dataTables.bootstrap.js"></script>

    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.color-2.1.2.min.js"></script>

    <script type="text/javascript">

    var metadata = []
    var table;

        $(document).ready(function() {

            table = $('#workout').DataTable( {
                info: false,
                language: {
                    'emptyTable': 'No workout data entered'
                },
                paging: false,
                searching: false
            });

            $('#btn-add').click( function () {
                var rowNode = table.row.add( [ $('#weight').val(), $('#reps').val() ] ).draw().node();
                $( rowNode ).css( 'color', 'red' ).animate( { color: '#666666' }, 2000 );
                $('#btn-submit').removeAttr("disabled");
            } );

            $("#form-workout").submit(function(e) {
                $('input[name="workout-data"]').val(JSON.stringify(table.data().toArray()));
            });

        });

    </script>

    <div class="row">
        <div class="col-lg-4">
            {% block breadcrumbs %}
                <ul class="breadcrumb pull-left">
                    <li> <a href="{% url 'fitness_summary' %}">Recent Exercises</a> </li>
                    <li>{{ exercise }}</li>
                </ul>
            {% endblock %}
        </div>
    </div>

    <div class="row">
        <h3 class="col-md-10">
            Exercise: {{ exercise.exercise }}
        </h3>
    </div>

<div class="row">

    <div class="col-md-10">

        <form id="form-workout" class="form-inline" action="{% url 'fitness_add' exercise.id %}" method="post" autocomplete="off">
            <input type="hidden" name="workout-data" id="input-metadata" />
            {% csrf_token %}

            <div class="form-group">
                <label>Weight</label>
                <input id="weight" class="form-control" type="text" name="weight" value="{{ recent_data.weight }}" />
            </div>

            <div class="form-group">
                <label>Reps</label>
                <input id="reps" class="form-control" type="text" name="reps" value="{{ recent_data.reps }}" />
            </div>

            <input class="btn btn-default" id="btn-add" type="button" name="Go" value="Add" />
            <input class="btn btn-default" id="btn-submit" disabled="disabled" type="submit" name="Go" value="Submit" />

        </form>

    </div>

</div>

<br />

<div class="row">

    <div class="col-md-5">
        <table class="table table-bordered" id="workout">
            <caption>Current workout</caption>
            <thead>
                <tr>
                    <th>Weight</th>
                    <th>Reps</th>
                </tr>
            </thead>
            {% for w in workout %}
                <tr><td>{{ w.0 }}</td><td>{{ w.1 }}</td></tr>
            {% endfor %}
        </table>
    </div>

</div>

{% if recent_data %}
<div class="row">

    <div class="col-md-10">
        <h3>Last workout: {{ recent_data.weight }} lbs at {{ recent_data.reps }} reps on {{ recent_data.date|date:"M d, Y" }}, {{ recent_data.date|timesince }} ago </h3>
    </div>

</div>
{% endif %}

{% endblock %}
