{% extends "base.html" %}

{% block title %} Collections {% endblock %}

{% block nav %}

    <div class="d-flex mb-3">
        <div class="me-auto align-self-center">
            <ul class="breadcrumb mb-0 pt-0 pb-0">
                <li class="breadcrumb-item"> <a href="{% url 'collection:list' %}">Collection List</a> </li>
                <li class="breadcrumb-item active">{{ collection.name|default:"Anonymous collection" }}</li>
            </ul>
        </div>
    </div>

{% endblock %}

{% block content %}

    <div class="row g-0 h-100" id="vue-app">

        <div class="col-lg-3 d-flex flex-column">

            <div class="card-body">

                {% if collection.description %}
                    <h3 class="mb-3">{{ collection.description }}</h3>
                {% endif %}

                <div class="mb-3" v-cloak>
                    <strong>Count</strong>
                    <span class="text-primary ms-1">
                        [[ $store.state.paginator.count ]] [[ getPluralized() ]]
                    </span>
                </div>

                <div class="mb-3">
                    <strong>Updated</strong>
                    <span class="text-primary ms-1">
                        {{ collection.modified|date:"F j, Y" }}
                    </span>
                </div>

                <a href="{% url 'blob:create' %}?collection_uuid={{ collection.uuid }}" class="btn btn-primary mt-2" role="button"><font-awesome-icon icon="plus" class="me-2"></font-awesome-icon>Add Blob</a>

                <hr />

                <h4 class="mt-3">Tag Filter</h4>

                <ul class="list-group flex-column w-100">
                    <div v-cloak>
                        <div class="tag-list ps-2 py-1 pe-1 d-flex" :class="{ 'selected rounded-sm': selectedTag === null }" @click.prevent="onClickSelectTag">
                            <div class="ps-2">
                                All blobs
                            </div>
                            <div class="ms-auto pe-2">
                                <span class="px-2 badge rounded-pill bg-info">
                                    {{ collection.blobs.count }}
                                </span>
                            </div>
                        </div>
                        <li v-for="tag in blobTags" class="tag-list ps-2 py-1 pe-1 d-flex" :class="{ 'selected rounded-sm': tag.tag === selectedTag }" @click.prevent="onClickSelectTag" :data-tag="tag.tag" :key="tag.tag">
                            <div class="ps-2">
                                [[ tag.tag ]]
                            </div>
                            <div class="ms-auto pe-2">
                                <span class="px-2 badge rounded-pill bg-info">
                                    [[ tag.blob_count ]]
                                </span>
                            </div>
                        </li>
                    </div>
                </ul>

            </div>

        </div>

        <div class="col-lg-9">

            <div class="me-3">

                <card>

                    <template v-slot:title-slot>

                        <div class="d-flex align-items-center">
                            <h3 class="me-auto">
                                {{ collection.name }}
                            </h3>

                            <h5 v-if="needsPagination()" class="mb-0">
                                <a v-if="$store.state.paginator.has_previous" href="#" @click.prevent="paginate('prev')">
                                    <font-awesome-icon icon="chevron-left" class="text-emphasis glow icon-hover" />
                                </a>
                                <span v-else>
                                    <font-awesome-icon icon="chevron-left" class="text-emphasis icon-disabled" />
                                </span>
                                <a v-if="$store.state.paginator.has_next" href="#" @click.prevent="paginate('next')" class="ms-1">
                                    <font-awesome-icon icon="chevron-right" class="text-emphasis glow icon-hover" />
                                </a>
                                <span v-else>
                                    <font-awesome-icon icon="chevron-right" class="text-emphasis icon-disabled" />
                                </span>
                            </h5>

                            <drop-down-menu
                                ref="dropDownMenu"
                                :links="collectionDetailMenuItems"
                                class="ms-5"
                            >
                            </drop-down-menu>
                        </div>

                    </template>

                    <template v-slot:content>
                        <div class="ms-2">
                            <blob-list inline-template>
                                <div id="collection-list" @drop.prevent="onAddBlob($event)" @dragover.prevent="onDragOverBlob($event)" @dragleave.prevent="onDragLeaveBlob($event)" @dragenter.prevent>
                                    <ul class="list-group list-group-horizontal text-center list-unstyled collection-sortable">
                                        <draggable v-model="blob_list" @change="onChange" ghost-class="collection_ghost_class" animation="500" forceFallback="true">
                                            <li v-for="blob in blob_list" :key="blob.id" class="collection-item hoverable cursor-pointer float-start p-3">
                                                <button type="button" class="collection-item-delete btn-close" data-bs-dismiss="modal" aria-label="Close" @click="removeBlob(blob.uuid)">
                                                </button>
                                                <div class="d-flex flex-column h-100" @click="onClick(blob.url)">
                                                    <a :href="[[ blob.url ]]">
                                                        <img :src="[[ blob.cover_url ]]" />
                                                    </a>

                                                    <div class="collection-item-name mt-auto">
                                                        [[ blob.name ]]
                                                    </div>

                                                </div>

                                            </li>
                                        </draggable>
                                    </ul>
                                </div>
                            </blob-list>

                           {% if not blob_list %}
                               <h5 class="text-info">
                                   This collection is empty.
                               </h5>
                           {% endif %}

                        </div>
                    </template>

                </card>

            </div>

        </div>

        <form action="{% url 'collection:update' collection.uuid %}" method="post" id="form-collection-edit">
            {% csrf_token %}
            <div class="modal fade" id="modalUpdate" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="myModalLabel">
                                Update Collection
                            </h4>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                        {% for field in form %}
                            <div class="{% if field.errors %} error{% endif %} row mb-3">
                                <label class="col-lg-3 col-form-label" for="inputTitle">{{ field.label }}</label>

                                <div class="col-lg-9">

                            {% if field.label == "Tags" %}

                                <tags-input
                                    search-url="{% url 'tag:search' %}?query="
                                >
                                </tags-input>

                            {% else %}

                                {{ field }}
                                {% for error in field.errors %}
                                    <span class="form-error">{{ error }}</span>
                                {% endfor %}

                            {% endif %}

                                </div>

                            </div>
                        {% endfor %}
                        </div>
                        <div class="modal-footer">
                            <input id="btn-action" class="btn btn-primary" type="submit" name="Go" value="Update" />
                        </div>

                    </div>
                </div>
            </div>
        </form>

        <form action="{% url 'collection:delete' collection.uuid %}" method="post" id="form-collection-edit">
            {% csrf_token %}
            <div class="modal fade" id="modalDelete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">

                        <div class="modal-header">
                            <h4 class="modal-title" id="myModalLabel">Delete Collection</h4>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>

                        <div class="modal-body">
                            <div>
                                Are you sure you want to delete this collection?
                            </div>

                            <div class="mt-3">
                                <input class="btn btn-primary" type="submit" value="Confirm" />
                                <a href="#" data-bs-dismiss="modal" class="ms-3">Cancel</a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </form>

        <div class="modal fade" id="modalSlideShow" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">

                    <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel">Begin Slide Show</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <div class="modal-body">

                        <div class="collection-slide-show-section p-3">

                            <div class="header text-primary">
                                Slide Show Type
                            </div>

                            <div class="row mt-3">
                                <div class="col-lg-12">
                                    <div class="form-check">
                                        <input v-model="slideShowType" class="form-check-input" type="radio" name="type" value="manual" checked>
                                        <label class="form-check-label d-flex" for="type">
                                            Manual
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div class="row mt-3">
                                <div class="col-lg-4">
                                    <div class="form-check">
                                        <input v-model="slideShowType" class="form-check-input" type="radio" name="type" value="automatic">
                                        <label class="form-check-label d-flex" for="type">
                                            Automatic
                                        </label>
                                    </div>
                                </div>
                                <div class="col-lg-8">
                                    <div>
                                        <select v-model="slideShowInterval" class="form-control form-select" :disabled="slideShowType === 'manual'">
                                            <option v-for="option in slideShowOptions" :key="option.value" :value="option.value">
                                            [[ option.display ]]
                                            </option>
                                        </select>
                                    </div>
                                    <div class="d-flex ps-1 mt-2">
                                        <input v-model="slideShowRandomize" class="form-check-input" type="checkbox" :disabled="slideShowType === 'manual'" />
                                        <div class="ms-2">
                                            Randomize
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="collection-slide-show-section p-3 mt-3">
                            <div class="header text-primary">
                                Options
                            </div>

                            <div class="row mt-3">
                                <div class="col-lg-4">
                                    Tag
                                </div>
                                <div class="col-lg-8">
                                    <select id="tag" class="form-control form-select">
                                        <option v-for="tag in blobTags" :value="tag.tag">
                                            [[ tag.tag ]]
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="modal-footer justify-content-end">
                        <input id="btn-action" class="btn btn-primary" type="button" name="Go" value="Confirm" @click="startSlideShow()" />
                    </div>

                </div>
            </div>
        </div>

        <div id="overlay" class="d-none">
            <img class="slide-show" src="" />
            <video class="slide-show d-none" controls autoplay loop muted>
                <source src="" type="video/mp4">
            </video>
        </div>

    </div>

    {% block help %}
        <div class="d-none" id="help-text">
*Note:* You can drag a file onto the collection list to create a blob and add it to the collection.
        </div>
    {% endblock %}

    <div id="modalProcessing" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-processing modal-dialog modal-sm modal-dialog-centered" role="document">
            <h4 class="modal-content p-3 d-flex flex-row justify-content-center">
                <div>
                    Processing...
                </div>
                <div class="spinner-border ms-2 text-info" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </h4>
        </div>
    </div>

{% endblock %}

{% block javascript %}

    {{ block.super }}

    {{ tags|json_script:"initial-tags"|default:"" }}

    {{ blob_tags|json_script:"blob_tags" }}

    <script type="text/javascript">

        const store = new Vuex.Store({
            state: {
                paginator: {{ paginator_info|safe }}
            },
            getters: {},
            mutations: {},
        });

        sizeOfCollection = {{ blob_list|length }};

        const BlobList = {
            data() {
                return {
                    blob_list: [
                        {% for blob in blob_list %}
                        {
                            id: {{ blob.id }},
                            uuid: "{{ blob.uuid }}",
                            name: "{{ blob.name|escapejs|safe }}",
                            url: "{% url 'blob:detail' blob.uuid %}",
                            cover_url: "{{ blob.cover_url }}"
                        },
                        {% endfor %}
                    ]
                }
            },
            methods: {
                onAddBlob(evt) {
                    document.getElementById("collection-list").classList.remove("collection-drag-over");

                    const modal = Modal.getInstance(document.getElementById("modalProcessing"));
                    modal.hide();

                    fileList = evt.dataTransfer.files;
                    const blob = fileList[0]
                    let formData = new FormData();
                    formData.append("blob", blob);
                    formData.append("collection_uuid", "{{ collection.uuid }}");

                    axios.post("{% url "collection:add_blob" %}", formData, {
                        headers: {
                            "Content-Type": "multipart/form-data"
                        }
                    }).then(response => {
                        const modal = Modal.getInstance(document.getElementById("modalProcessing"));
                        modal.hide();
                        if (response.data.status === "OK") {
                            const blobUuid = response.data.blob_uuid;
                            window.location="{% url 'blob:detail' '00000000-0000-0000-0000-000000000000' %}".replace(/00000000-0000-0000-0000-000000000000/, blobUuid);
                        } else {
                            const message = this.$createElement(
                                'div',
                                {
                                    domProps: { innerHTML: response.data.message }
                                }
                            )
                            EventBus.$emit(
                                "toast",
                                {
                                    "body": message,
                                    "variant": "danger",
                                    "autoHide": false,
                                },
                            );
                        }
                    });

                },
                onDragOverBlob(evt) {
                    document.getElementById("collection-list").classList.add("collection-drag-over");
                },
                onDragLeaveBlob(evt) {
                    document.getElementById("collection-list").classList.remove("collection-drag-over");
                },
                onChange(evt) {

                    // The backend expects the ordering to begin
                    // with 1, not 0, so add 1.
                    new_position = evt.moved.newIndex + 1;

                    doPost(
                        this,
                        "{% url "collection:sort" %}",
                        {
                            "collection_uuid": "{{ collection.uuid }}",
                            "blob_uuid": evt.moved.element.uuid,
                            "position": new_position
                        },
                        () => {},
                        "",
                        ""
                    );

                },
                onClick(url) {
                    window.location=url;
                },
                removeBlob(uuid) {

                    doPost(
                        this,
                        "{% url "blob:collection_mutate" %}",
                        {
                            "blob_uuid": uuid,
                            "collection_uuid": "{{ collection.uuid }}",
                            "mutation": "delete"
                        },
                        (response) => {
                            this.getBlobList();
                        },
                        "Blob removed from collection",
                        ""
                    );

                },
                getBlobList() {
                    doGet(
                        this,
                        "{% url 'collection:get_blob_list' collection.uuid %}",
                        (response) => {
                            this.blob_list = response.data;
                        },
                        "Error getting blob list"
                    );
                }
            },
            mounted() {
                document.getElementById("id_name").value = "{{ collection.name|safe }}";
                document.getElementById("id_description").value = "{{ collection.description|safe }}";
            }
        }

        new Vue({
            el: "#vue-app",
            name: "BlobListContainer",
            store,
            components: {
                BlobList,
                TagsInput
            },
            data() {
                return {
                    collectionDetailMenuItems: [
                        {
                            id: uuidv4(),
                            title: "Slide Show",
                            url: "#",
                            clickHandler: this.onClickSlideShow,
                            icon: "images"
                        },
                        {
                            id: uuidv4(),
                            title: "Update",
                            url: "#",
                            clickHandler: this.onClickUpdate,
                            icon: "pencil-alt"
                        },
                        {
                            id: uuidv4(),
                            title: "Delete",
                            url: "#",
                            clickHandler: this.onClickDelete,
                            icon: "times"
                        },
                    ],
                    slideShowImageInfo: {},
                    slideShowImageIndex: -1,
                    slideShowType: "manual",
                    slideShowInterval: "60",
                    slideShowRandomize: false,
                    slideShowOptions: [
                        {
                            value: "1",
                            display: "Rotate Every Minute",
                        },
                        {
                            value: "5",
                            display: "Rotate Every 5 Minutes",
                        },
                        {
                            value: "10",
                            display: "Rotate Every 10 Minutes",
                        },
                        {
                            value: "30",
                            display: "Rotate Every 30 Minutes",
                        },
                        {
                            value: "60",
                            display: "Rotate Every Hour",
                        },
                        {
                            value: "1440",
                            display: "Rotate Every Day",
                        },
                    ],
                    blobTags: JSON.parse(document.getElementById("blob_tags").textContent),
                    selectedTag: {% if request.GET.tag %}"{{ request.GET.tag }}"{% else %}null{% endif %}
                }
            },
            methods: {
                onClickSelectTag(evt) {
                    element = evt.currentTarget;
                    let url = "{% url 'collection:detail' collection.uuid %}";
                    if (element.dataset.tag) {
                        url = url + "?tag=" + element.dataset.tag;
                    }
                    window.location = url;
                },
                onClickUpdate() {
                    const modal = new Modal("#modalUpdate");
                    modal.show();
                },
                onClickSlideShow() {
                    document.getElementById("tag").value = "";
                    const modal = new Modal("#modalSlideShow");
                    modal.show();
                },
                startSlideShow() {
                    const modal = Modal.getInstance(document.getElementById("modalSlideShow"));
                    modal.hide();

                    // Hide scrollbars
                    document.body.style.overflow = "hidden";

                    // Add a black background
                    document.getElementById("overlay").classList.remove("d-none");

                    this.slideShowImageIndex = -1;

                    if (this.slideShowType === "automatic") {
                        this.getSlideShowImage();
                        setInterval( () => {
                            this.getSlideShowImage();
                        }, parseInt(this.slideShowInterval * 1000 * 60));
                    } else {
                        this.getSlideShowImage("next");
                    }
                },
                getSlideShowImage(direction = "next") {
                    const tag = document.getElementById("tag").value;
                    axios.get("{% url "collection:get_blob" collection.uuid %}" + `?randomize=${this.slideShowRandomize}&position=${this.slideShowImageIndex}&tag=${tag}&direction=${direction}`)
                         .then(response => {
                             this.slideShowImageIndex = response.data.index;
                             this.changeSlideShowImage(response.data.url, response.data.content_type);
                         })
                },
                changeSlideShowImage(url, type) {
                    if (type === "Image") {
                        document.querySelector("#overlay img").classList.remove("d-none");
                        document.querySelector("#overlay img").src = url;
                        document.querySelector("#overlay video").classList.add("d-none");
                        document.querySelector("#overlay video").src = null;
                    } else {
                        document.querySelector("#overlay img").classList.add("d-none");
                        document.querySelector("#overlay img").src = null;
                        document.querySelector("#overlay video").classList.remove("d-none");
                        document.querySelector("#overlay video").src = url;
                    }
                },
                onClickDelete() {
                    const modal = new Modal("#modalDelete");
                    modal.show();
                },
                paginate(direction) {
                    let pageNumber;
                    if (direction === "prev") {
                        pageNumber = this.$store.state.paginator.previous_page_number;
                    } else {
                        pageNumber = this.$store.state.paginator.next_page_number;
                    }
                    let url = "{% url 'collection:detail' collection.uuid %}?page=" + pageNumber;
                    if (this.selectedTag) {
                        url += "&tag=" + this.selectedTag;
                    }
                    window.location = url;
                },
                needsPagination() {
                    return this.$store.state.paginator.has_previous || this.$store.state.paginator.has_next;
                },
                getPluralized() {
                    return pluralize("blob", this.$store.state.paginator.count);
                },
            },
            computed: {
            },

            mounted() {

                let self = this;

                hotkeys("right,left,escape", function (event, handler) {
                    switch (handler.key) {
                        case "right":
                            self.getSlideShowImage("next");
                            break;
                        case "left":
                            self.getSlideShowImage("previous");
                            break;
                        case "escape":
                            document.querySelector("#overlay img").src = null;
                            document.querySelector("#overlay video").src = null;

                            // Restore the scrollbars
                            document.body.style.overflow = "visible";

                            // Remove the back background
                            document.getElementById("overlay").classList.add("d-none");
                            break;
                    }
                });

            }
        });

    </script>

{% endblock %}
