{% extends "base.html" %}

{% block title %} KB :: Collections {% endblock %}

{% block content %}

    <div id="vue-app">

        <div class="row card-grid">
            <div class="col-lg-12 d-flex">

                <h1>Collection List</h1>

                <div class="mr-2 ml-auto" @click="onClickCreate">
                    <add-button :href="'#'"></add-button>
                </div>

            </div>
        </div>

        <div class="card-grid ml-3">
            <div class="d-flex flex-column">
                <div class="d-flex flex-wrap">
                    <div v-for="collection in items" class="collection-container text-center hoverable p-3" @click="onClickCollection(collection.url)">
                        <div class="position-relative collection mx-auto">
                            <img :src="collection.cover_url" />
                            <div class="collection-cover-container position-absolute" v-html="getBlobCount(collection.objectcount)">
                            </div>
                        </div>
                        <div class="text-truncate">
                            <a :href="collection.url">[[ collection.name ]]</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card-grid ml-3">

            <form action="{% url 'collection:list' %}" method="post" id="form-collection-edit">
                <div class="modal fade" id="modalAdd" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="myModalLabel"><span id="action-type">Create</span> Collection</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            </div>
                            <div class="modal-body">
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="form-group{% if field.errors %} error{% endif %} row">
                            <label class="col-lg-3 col-form-label" for="inputTitle">{{ field.label }}</label>

                            <div class="col-lg-7">

                            {% if field.label == 'Tags' %}

                                <tags-input
                                    search-url="{% url 'tag:search' %}?query="
                                    :get-tags-from-event="true"
                                >
                                </tags-input>

                            {% else %}

                                {{ field }}
                                {% for error in field.errors %}
                                    <span class="form-error">{{ error }}</span>
                                {% endfor %}

                            {% endif %}

                            </div>

                        </div>
                    {% endfor %}

                            </div>
                            <div class="modal-footer">
                                <label id="feedback" _class="alert alert-success"></label>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <input id="btn-action" class="btn btn-primary" type="submit" name="Go" value="Create" />
                            </div>

                        </div>
                    </div>
                </div>
            </form>

        </div>

    </div>

{% endblock %}

{% block javascript %}

    {{ block.super }}

    <script type="text/javascript" charset="utf-8">

        Vue.mixin({ delimiters: ["[[", "]]"] });

        const EventBus = new Vue();

        new Vue({
            el: "#vue-app",
            data() {
                return {
                    items: [
                        {% for collection in collection_list %}
                        {
                            "name": "{{ collection.name }}",
                            "url": "{% url 'collection:detail' collection.uuid %}",
                            "tags": "{{ collection.tags }}",
                            "updated": "{{ collection.updated }}",
                            "objectcount": {{ collection.objectcount }},
                            "cover_url": "{{ collection.cover_url.0|safe }}",
                            "uuid": "{{ collection.uuid }}"
                        },
                        {% endfor %}
                    ],
                }
            },
            methods: {
                onClickCreate(evt) {

                    document.getElementById("id_name").value = "";
                    document.getElementById("id_description").value = "";
                    EventBus.$emit("addTags", []);
                    document.getElementById("action-type").innerHTML = "Create";
                    document.getElementById("btn-action").value = "Create";
                    document.getElementById("form-collection-edit").setAttribute("action", "{% url 'collection:create' %}");
                    $("#modalAdd").modal("show")
                    window.setTimeout(() => { document.getElementById("id_name").focus() }, 500);

                },
                onClickCollection(url) {
                    window.location = url;
                },
                getBlobCount(count) {
                    return count + " " + pluralize("blob", count);
                },
            },
            components: {
                TagsInput
            },
        });

    </script>

{% endblock %}
