{% extends "base.html" %}

{% block title %} Collection {% endblock %}

{% block left-block %}
    <h2>{{ object.description }}</h2>

    <br />

    <input type="submit" class="btn btn-primary" value="Gallery" id="show-gallery" data-toggle="modal" data-target="#gallery">

{% endblock %}

{% block content %}

    <div class="row">

        <div class="col-lg-12">

            {% block breadcrumbs %}
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"> <a href="{% url 'collection_list' %}">Collection List</a> </li>
                    <li class="breadcrumb-item active">{{ object.name }}</li>
                </ul>
            {% endblock %}

        </div>

    </div>

    {% include "common/show_messages_inline.html" %}

<div class="row">
        <div class="col-lg-12">

            <h3>{{ object.name }}</h3>
            <ul class="collection_sortable">
                {% for blob in blob_list %}
                    <li id="{{ blob.id }}">
                        <a href="{% url 'blob_detail' blob.uuid %}"><img src="{{ MEDIA_URL }}{{ blob.cover_url }}" /></a>
                        <br/>
                        <a href="{% url 'blob_detail' blob.uuid %}">{{ blob.title }}</a> {% if blob.collection_note %}<img src="{{ STATIC_URL }}img/note.png" height="16" width="16" data-toggle="popover" data-content="{{ blob.collection_note }}"/>{% endif %}
                    </li>
                {% empty %}
                    <div class="alert alert-warning" role="alert">Nothing in this collection</div>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="modal fade" id="gallery" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered w-75 mw-100" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div>
                        <img id="gallery_image" src="{{ MEDIA_URL }}{{ first_blob_cover_info.url }}" style="width: 100%"/>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascript %}

    {{ block.super }}

    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui.min.js"></script>

    <script type="text/javascript">

        $(document).ready(function() {

            $('[data-toggle="popover"]').popover({});

            $('.collection_sortable').sortable(           {
                connectWith: '.collection_sortable',
                stop: function(event, ui) {
                    $.ajax({
                        url: '{% url 'sort_collection' %}',
                        type: "POST",
                        data: { collection_id : {{ collection.id }},
                                blob_id : ui.item.attr('id'),
                                position:  (ui.item.index() + 1) }
                    });

                }
            });

            $( "#collection_sortable" ).disableSelection();

            current_index = 0;
            size_of_collection = {{ blob_list|length }};

            $(document).keydown(function(e) {

                if (e.which == 37 || e.which == 39) {

                    if (e.which == 39) { /* Right arrow */

                        if (current_index == size_of_collection - 1) {
                            return;
                        }
                        current_index++;

                    }

                    if (e.which == 37) { /* Left arrow */

                        if (current_index == 0) {
                            return;
                        }
                        current_index--;

                    }

                    $.ajax( { type: 'GET',
                              url: '{% url 'get_blob' object.id 666 %}'.replace(/666/, current_index),
                              }).done(function( json ) {
                        $("#gallery_image").attr("src", "{{ MEDIA_URL }}" + json.cover_info.url);
                    })

                }

            });

        });

    </script>

{% endblock %}
