{% extends "base.html" %}

{% block title %} Collection {% endblock %}

{% block extra_head %}
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui.min.js"></script>
{% endblock %}

{% block left-block %}
    <h2>{{ object.description }}</h2>
{% endblock %}

{% block content %}

    <script>

        $(document).ready(function() {

            $('[data-toggle="popover"]').popover({});

            $('.collection_sortable').sortable(           {
                connectWith: '.collection_sortable',
                stop: function(event, ui) {
                    $.ajax({
                        url: '{% url 'sort_collection' %}',
                        type: "POST",
                        data: { collection_id : {{ collection.id }},
                                blob_id : ui.item.attr('id'),
                                position:  (ui.item.index() + 1) }
                    });

                }
            });

            $( "#collection_sortable" ).disableSelection();

        });

    </script>

    <div class="row">

        <div class="col-lg-6">

            {% block breadcrumbs %}
                <ul class="breadcrumb pull-left">
                    <li> <a href="{% url 'collection_list' %}">Collection List</a> </li>
                    <li>{{ object.name }}</li>
                </ul>
            {% endblock %}

        </div>

    </div>

    <div class="row">
        <div class="col-lg-12">

            <h3>{{ object.name }}</h3>
            <ul class="collection_sortable">
                {% for blob in blob_list %}
                    <li id="{{ blob.internal_id }}">
                        <a href="{% url 'blob_detail' blob.sha1sum %}"><img src="{{ STATIC_URL }}{{ blob.cover_info.url }}" height="{{ blob.cover_info.height_cropped }}" width="{{ blob.cover_info.width_cropped }}"/></a>
                        <br/>
                        <a href="{% url 'blob_detail' blob.sha1sum %}">{{ blob.title.0 }}</a> {% if blob.note %}<img src="{{ STATIC_URL }}/img/note.png" height="16" width="16" data-toggle="popover" data-content="{{ blob.note }}"/>{% endif %}
                    </li>
                {% empty %}
                    <div class="alert alert-warning" role="alert">Nothing in this collection</div>
                {% endfor %}
            </ul>
        </div>
    </div>

{% endblock %}
