{% extends "base.html" %}

{% block title %} KB :: Collections {% endblock %}

{% block content %}

    <div id="vue-app">

        {% include "common/show_messages.html" %}

        <div class="row card-grid">
            <div class="col-lg-12 d-flex">

                <h1>Collection List</h1>

                <div class="mr-2 ml-auto" @click="onClickCreate">
                    <add-button url="#"></add-button>
                </div>

            </div>
        </div>

        <div class="card-grid ml-3">

            <b-table
                hover
                primary-key="uuid"
                :items="items"
                :fields="fields"
                select-mode="single"
                @row-hovered="rowHovered"
                @row-unhovered="rowUnHovered"
                selected-variant="info"
                sort-by="updated"
                sort-desc
            >
                <template #cell(name)="data">
                    <a :href="data.item.collection_url">[[ data.value ]]</a>
                </template>

                <template #cell(updated)="data">
                [[ getDate(data.value) ]]
                </template>

                <template #cell(uuid)="data">
                    <div class="hover-target hidden">
                        <dropdown-menu v-model="show" :right="true" transition="translate-fade-down" class="text-center">
                            <font-awesome-icon icon="ellipsis-v" class="burger-menu"></font-awesome-icon>
                            <div slot="dropdown">
                                <a class="dropdown-item" href="#" @click="onClickUpdate(data.value)">Update</a>
                                <a class="dropdown-item" href="#" @click="onClickDelete(data.value)">Delete</a>
                            </div>
                        </dropdown-menu>
                    </div>
                </template>

            </b-table>


            <form action="{% url 'collection:list' %}" method="post" id="form-collection-edit">
                <div class="modal fade" id="modalAdd" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="myModalLabel"><span id="action-type">Create</span> Collection</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            </div>
                            <div class="modal-body">
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="form-group{% if field.errors %} error{% endif %} row">
                            <label class="col-lg-3 col-form-label" for="inputTitle">{{ field.label }}</label>

                            <div class="col-lg-7">

                            {% if field.label == 'Tags' %}

                                <tags-input
                                    search-url="{% url 'tag:search' %}?query="
                                    :get-tags-from-event="true"
                                >
                                </tags-input>

                            {% else %}

                                {{ field }}
                                {% for error in field.errors %}
                                    <span class="form-error">{{ error }}</span>
                                {% endfor %}

                            {% endif %}

                            </div>

                        </div>
                    {% endfor %}

                            </div>
                            <div class="modal-footer">
                                <label id="feedback" _class="alert alert-success"></label>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <input id="btn-action" class="btn btn-primary" type="submit" name="Go" value="Create" />
                            </div>

                        </div>
                    </div>
                </div>
            </form>

        </div>

    </div>

{% endblock %}

{% block javascript %}

    {{ block.super }}

    <script type="text/javascript" charset="utf-8">

        Vue.mixin({ delimiters: ["[[", "]]"] });

        const EventBus = new Vue();

        new Vue({
            el: "#vue-app",
            data() {
                return {
                    items: [
                        {% for collection in info %}
                        {
                            "name": "{{ collection.name }}",
                            "collection_url": "{% url 'collection:detail' collection.uuid %}",
                            "tags": "{{ collection.tags }}",
                            "updated": "{{ collection.updated }}",
                            "objectcount": {{ collection.objectcount }},
                            "uuid": "{{ collection.uuid }}"
                        },
                        {% endfor %}
                    ],
                    fields: [
                        {
                            key: "name",
                            sortable: true
                        },
                        {
                            key: "tags",
                            sortable: true
                        },
                        {
                            key: "updated",
                            class: "text-center",
                            sortable: true,
                            sortDirection: "desc"
                        },
                        {
                            key: "objectcount",
                            label: "Object Count",
                            class: "text-center",
                            sortable: true,
                            sortDirection: "desc"
                        },
                        {
                            key: "uuid",
                            label: "",
                            tdClass: "text-center align-middle",
                            thClass: "col-action",
                        },
                    ],
                    selectedUuid: null,
                    show: false,
                }
            },
            methods: {
                rowHovered(item, index, evt) {
                    evt.currentTarget.querySelector(".hover-target").classList.remove("hidden");
                },
                rowUnHovered(item, index, evt) {
                    evt.currentTarget.querySelector(".hover-target").classList.add("hidden");
                },
                onClickCreate(evt) {

                    document.getElementById("id_name").value = "";
                    document.getElementById("id_description").value = "";
                    EventBus.$emit("addTags", []);
                    document.getElementById("action-type").innerHTML = "Create";
                    document.getElementById("btn-action").value = "Create";
                    document.getElementById("form-collection-edit").setAttribute("action", "{% url 'collection:create' %}");
                    $("#modalAdd").modal("show")
                    window.setTimeout(() => { document.getElementById("id_name").focus() }, 500);

                },
                onClickUpdate(uuid) {

                    doGet(
                        this,
                        `{% url 'collection:get_info' %}?uuid=${uuid}&query_type=uuid`,
                        (response) => {
                            nameEl = document.getElementById("id_name");
                            nameEl.value = response.data.name;
                            document.getElementById("id_description").value = response.data.description;
                            EventBus.$emit("addTags", response.data.tags);
                            document.getElementById("action-type").innerHTML = "Update";
                            document.getElementById("btn-action").value = "Update";
                            document.getElementById("form-collection-edit").setAttribute("action", "{% url 'collection:update' '00000000-0000-0000-0000-000000000000' %}".replace('00000000-0000-0000-0000-000000000000', uuid));
                            $("#modalAdd").modal("show");
                        },
                        ""
                    );

                },
                onClickDelete(uuid) {

                    let self = this;
                    this.selectedUuid = uuid;

                    axios.delete("{% url 'collection-detail' '00000000-0000-0000-0000-000000000000' %}".replace('00000000-0000-0000-0000-000000000000', uuid))
                         .then((response) => {

                             // Remove the deleted item from the list
                             const index = self.items.findIndex(x => x.uuid === self.selectedUuid)
                             const collectionName = self.items[index].name;
                             self.items.splice(index, 1);

                             this.$bvToast.toast(`Collection ${collectionName} deleted`, {
                                 title: "Info",
                                 variant: "info",
                                 allowHtml: true,
                             })

                             console.log("Success");

                         }, (error) => {
                             console.log(error);
                         });
                },
                getDate(date) {
                    return getFormattedDate(date);
                }
            },
            components: {
                TagsInput
            },
        });

    </script>

{% endblock %}
