<base target="_parent">

<div id="vue-app">
    <blob-list></blob-list>
</div>
{% if not blob_list %}
    <div class="alert alert-warning" role="alert">Nothing in this collection</div>
{% endif %}

<script type="text/javascript" src="{{ STATIC_URL }}js/index-bundle.js"></script>

<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap-glyphicons.css" />
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bordercore-{{ request.user.userprofile.theme }}.css" />

{% if debug %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/index-bundle-dev.js"></script>
{% else %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/index-bundle.js"></script>
{% endif %}

<script type="text/javascript">

    axios.defaults.xsrfCookieName = "csrftoken"
    axios.defaults.xsrfHeaderName = "X-CSRFTOKEN"

    Vue.mixin({ delimiters: ["[[", "]]"] });

    const BlobList = {
        template: `
            <div>
                <ul style="list-style-type:none" class="collection_sortable borderless">
                    <draggable v-model="blob_list" @change="onChange" ghost-class="collection_ghost_class" animation="500" forceFallback="true">
                        <li v-for="blob in blob_list" :key="blob.id">
                            <a :href="[[ blob.url ]]"><img :src="[[ blob.cover_url ]]" /></a>
                            <br/>
                            <a :href="[[ blob.url ]]">[[ blob.title ]]</a> {% if blob.collection_note %}<img src="{{ STATIC_URL }}img/note.png" height="16" width="16" data-toggle="popover" data-content="[[ blob.collection_note ]]"/>{% endif %}
                        </li>
                    </draggable>
                </ul>
            </div>
        `,
        data() {
            return {
                blob_list: [
                    {% for blob in blob_list %}
                    {
                        id: {{ blob.id }},
                        cover_url: "{{ blob.cover_url}}",
                        uuid: "{{ blob.uuid }}",
                        title: "{{ blob.title }}",
                        collection_note: "{{ blob.collection_note }}",
                        url: "{% url 'blob_detail' blob.uuid %}",
                        cover_url: "{{ blob.cover_url }}"
                    },
                    {% endfor %}
                ]
            }
        },
        methods: {
            onChange(evt) {

                // The backend expects the ordering to begin
                // with 1, not 0, so add 1.
                new_position = evt.moved.newIndex + 1;

                const bodyFormData = new URLSearchParams();
                bodyFormData.append("collection_id", {{ collection.id }});
                bodyFormData.append("blob_id", evt.moved.element.id);
                bodyFormData.append("position", new_position);

                axios("{% url "sort_collection" %}", {
                    method: "POST",
                    data: bodyFormData
                }).then(response => {
                    console.log("Success:", response.data);
                })
                  .catch((error) => {
                      this.$bvToast.toast(String(error), {
                          title: "Error",
                          noAutoHide: true,
                          variant: "danger"
                      })
                      console.error(error);
                  });
            }
        }
    }

    new Vue({
        el: "#vue-app",
        components: {
            BlobList
        }
    });

</script>
