<base target="_parent">

<div id="vue-app">
    <blob-list></blob-list>
</div>
{% if not blob_list %}
    <div class="alert alert-warning" role="alert">Nothing in this collection</div>
{% endif %}

<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT" crossorigin="anonymous"></script>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap-glyphicons.css" />
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bordercore.css" />

{% if debug %}
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
{% else %}
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
{% endif %}

<script src="//cdn.jsdelivr.net/npm/sortablejs@1.8.4/Sortable.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/Vue.Draggable/2.20.0/vuedraggable.umd.min.js"></script>

<script src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.js"></script>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<script type="text/javascript">

    axios.defaults.xsrfCookieName = "csrftoken"
    axios.defaults.xsrfHeaderName = "X-CSRFTOKEN"

    Vue.mixin({ delimiters: ["[[", "]]"] });

    const BlobList = {
        template: `
            <div>
                <ul style="list-style-type:none" class="collection_sortable borderless">
                    <draggable v-model="blob_list" @change="onChange" ghost-class="collection_ghost_class" animation="500" forceFallback="true">
                        <li v-for="blob in blob_list" :key="blob.id">
                            <a :href="[[ blob.url ]]"><img :src="[[ blob.cover_url ]]" /></a>
                            <br/>
                            <a :href="[[ blob.url ]]">[[ blob.title ]]</a> {% if blob.collection_note %}<img src="{{ STATIC_URL }}img/note.png" height="16" width="16" data-toggle="popover" data-content="[[ blob.collection_note ]]"/>{% endif %}
                        </li>
                    </draggable>
                </ul>
            </div>
        `,
        data() {
            return {
                blob_list: [
                    {% for blob in blob_list %}
                    {
                        id: {{ blob.id }},
                        cover_url: "{{ blob.cover_url}}",
                        uuid: "{{ blob.uuid }}",
                        title: "{{ blob.title }}",
                        collection_note: "{{ blob.collection_note }}",
                        url: "{% url 'blob_detail' blob.uuid %}",
                        cover_url: "{{ MEDIA_URL }}{{ blob.cover_url }}"
                    },
                    {% endfor %}
                ]
            }
        },
        methods: {
            onChange(evt) {

                // The backend expects the ordering to begin
                // with 1, not 0, so add 1.
                new_position = evt.moved.newIndex + 1;

                const bodyFormData = new URLSearchParams();
                bodyFormData.append("collection_id", {{ collection.id }});
                bodyFormData.append("blob_id", evt.moved.element.id);
                bodyFormData.append("position", new_position);

                axios("{% url "sort_collection" %}", {
                    method: "POST",
                    data: bodyFormData
                }).then(response => {
                    console.log("Success:", response.data);
                })
                  .catch((error) => {
                      this.$bvToast.toast(String(error), {
                          title: "Error",
                          noAutoHide: true,
                          variant: "danger"
                      })
                      console.error(error);
                  });
            }
        }
    }

    new Vue({
        el: "#vue-app",
        components: {
            BlobList
        }
    });

</script>
