{
  "plugins": [
    [
      "prismjs", {
        "languages": [
        "css",
        "diff",
        "javascript",
        "json",
        "lisp",
        "markup",
        "python",
        "scala",
        "shell-session",
        "sql",
        ],
        "css": true
      }
    ]
  ]
}
