{% extends "base.html" %}

{% load dict_get %}

{% load favicon %}

{% block title %} Node <span class="node-name">{{ node.name }}</span> {% endblock %}

{% block content %}

    <div id="vue-app" class="align-items-center mb-3">

        <div class="d-flex mb-3">
            <div class="flex-grow-1 me-auto align-self-center">
                <ul class="breadcrumb mb-0 pt-0 pb-0">
                    <li class="breadcrumb-item"> <a href="{% url 'node:list' %}">Nodes</a> </li>
                    <li class="breadcrumb-item active" v-cloak>[[ nodeName ]]</li>
                </ul>
            </div>
            <Transition name="fade" v-cloak>
                <div v-if="editLayout" class="text-primary ms-auto me-5">
                    Edit Layout
                </div>
            </Transition>
            <drop-down-menu
                ref="dropDownMenu"
                class="me-3"
                v-cloak
            >
                <template #dropdown class="mt-0">
                    <li>
                        <a class="dropdown-item" href="#" @click.prevent="onUpdateNode">
                            <span v-cloak>
                                <font-awesome-icon icon="plus" class="text-primary me-3"></font-awesome-icon>
                                Update node
                            </span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="#" @click.prevent="openCollectionModal">
                            <span v-cloak>
                                <font-awesome-icon icon="plus" class="text-primary me-3"></font-awesome-icon>
                                Add collection
                            </span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="#" @click.prevent="openAddNoteModal">
                            <span v-cloak>
                                <font-awesome-icon icon="plus" class="text-primary me-3"></font-awesome-icon>
                                Add note
                            </span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="#" @click.prevent="openSelectImageModal">
                            <span v-cloak>
                                <font-awesome-icon icon="plus" class="text-primary me-3"></font-awesome-icon>
                                Add media
                            </span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="#" @click.prevent="onAddQuote">
                            <span v-cloak>
                                <font-awesome-icon icon="plus" class="text-primary me-3"></font-awesome-icon>
                                Add quote
                            </span>
                        </a>
                    </li>
                    <li v-if="!hasTodoList">
                        <a class="dropdown-item" href="#" @click.prevent="onAddTodoList">
                            <span v-cloak>
                                <font-awesome-icon icon="plus" class="text-primary me-3"></font-awesome-icon>
                                Add todo list
                            </span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="#" @click.prevent="editLayout = !editLayout">
                            <span v-cloak>
                                <font-awesome-icon icon="pencil-alt" class="text-primary me-3"></font-awesome-icon>
                                [[ editLayoutDropDownItemValue ]]
                            </span>
                        </a>
                    </li>
                </template>
            </drop-down-menu>

            <div class="modal fade" id="modalUpdateNode" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="myModalLabel">
                                Update Node
                            </h4>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="row mb-3">
                                <label class="col-lg-3 col-form-label" for="inputTitle">Name</label>
                                <div class="col-lg-9">
                                    <input type="text" autocomplete="off" maxlength="200" id="id_node_name" :value="nodeName" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <input class="btn btn-primary" type="button" value="Update" @click.prevent="onClickUpdateNode">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <create-update-todo
            ref="updateTodo"
            :priority-list="JSON.parse('{{ priority_list }}')"
            update-todo-url="{% url 'todo-detail' '00000000-0000-0000-0000-000000000000' %}"
            create-todo-url="{% url 'todo-list' %}"
            tag-search-url="{% url 'tag:search' %}?query="
            @add="addNodeTodo"
            @update="handleTodoUpdate"
        >
        </create-update-todo>

        <div class="d-flex g-0 h-100 mx-2">
            <div
                v-for="(column, colIndex) in layout"
                :key="colIndex"
                class="node-column"
            >
                <slick-list
                    v-model:list="layout[colIndex]"
                    :distance="3"
                    @update:list="handleLayoutChange"
                    @sort:start="handleSortStart"
                    axis="xy"
                    group="node_column"
                    helper-class="slicklist-helper"
                >
                    <slick-item
                        v-for="(row, rowIndex) in layout[colIndex]"
                        :key="row.uuid"
                        :index="rowIndex"
                        :disabled="!editLayout"
                    >
                        <div class="slicklist-list-item-inner position-relative" :style="'z-index: ' + (300 - (colIndex*100) - rowIndex)">
                            <div v-if="row.type === 'collection'">
                                <collection-object-list
                                    node-uuid="{{ object.uuid }}"
                                    :uuid="row.uuid"
                                    :collection-object-list-initial="row"
                                    add-new-bookmark-url="{% url "collection:add_new_bookmark" %}"
                                    update-collection-url="{% url "node:update_collection" %}"
                                    update-object-note-url="{% url "collection:update_object_note" %}"
                                    :get-object-list-url="'{% url "collection:get_object_list" '00000000-0000-0000-0000-000000000000' %}'.replace('00000000-0000-0000-0000-000000000000', row.uuid)"
                                    remove-object-url="{% url "collection:remove_object" %}"
                                    sort-objects-url="{% url "collection:sort_objects" %}"
                                    delete-collection-url="{% url "node:delete_collection" %}"
                                    @open-note-image-modal="openModalNoteImage"
                                    @open-collection-update-modal="openModalCollectionUpdate"
                                    @open-object-select-modal="openObjectSelectModal"
                                    @update-layout="onUpdateLayout"
                                >
                                </collection-object-list>
                            </div>
                            <div v-if="row.type === 'note'">
                                <node-note
                                    node-uuid="{{ object.uuid }}"
                                    :node-note-initial="row"
                                    :note-url="'{% url "blob-detail" '00000000-0000-0000-0000-000000000000' %}'.replace('00000000-0000-0000-0000-000000000000', row.uuid)"
                                    set-note-color-url="{% url "node:set_note_color" %}"
                                    delete-note-url="{% url 'node:delete_note' %}"
                                    @open-note-metadata-modal="openModalNoteUpdate"
                                    @update-layout="onUpdateLayout"
                                >
                                </node-note>
                            </div>
                            <div v-else-if="row.type === 'todo'">
                                <node-todo-list
                                    ref="todoList"
                                    node-uuid="{{ object.uuid }}"
                                    get-todo-list-url="{% url "node:get_todo_list" object.uuid %}"
                                    add-node-todo-url="{% url "node:add_todo" %}"
                                    remove-node-todo-url="{% url 'todo-detail' '00000000-0000-0000-0000-000000000000' %}"
                                    sort-node-todos-url="{% url 'node:sort_todos' %}"
                                    delete-todo-list-url="{% url "node:delete_todo_list" %}"
                                    @open-create-update-todo-modal="openCreateUpdateTodoModal"
                                    @update-layout="onUpdateLayout"
                                >
                                </node-todo-list>
                            </div>
                            <div v-else-if="row.type === 'image'">
                                <node-image
                                    node-uuid="{{ object.uuid }}"
                                    :image-uuid="row.uuid"
                                    :image-title="row.image_title"
                                    :image-url="row.image_url"
                                    remove-image-url="{% url 'node:remove_image' %}"
                                    @open-modal-note-image="openModalNoteImage"
                                    @update-layout="onUpdateLayout"
                                >
                                </node-image>
                            </div>
                            <div v-else-if="row.type === 'quote'">
                                <node-quote
                                    ref="quote"
                                    node-uuid="{{ object.uuid }}"
                                    :node-quote-initial="row"
                                    get-quote-url="{% url "quote-detail" '00000000-0000-0000-0000-000000000000' %}"
                                    get-and-set-quote-url="{% url 'node:get_quote' %}"
                                    remove-quote-url="{% url 'node:remove_quote' %}"
                                    update-quote-url="{% url 'node:update_quote' %}"
                                    @open-quote-update-modal="openQuoteUpdateModal"
                                    @update-layout="onUpdateLayout"
                                >
                                </node-quote>
                            </div>
                        </div>
                    </slick-item>
                </slick-list>
            </div>

            <collection-object-list-modal
                ref="collectionUpdate"
                node-uuid="{{ object.uuid }}"
                add-collection-url="{% url 'node:add_collection' %}"
                search-url="{% url 'collection:search' %}?query="
                @update-layout="onUpdateLayout"
            >
            </collection-object-list-modal>

            <node-note-modal
                ref="noteUpdate"
                @open-modal-note-update="openModalNoteUpdate"
                @update-layout="onUpdateLayout"
            >
            </node-note-modal>

            <node-image-modal ref="noteImage">
            </node-image-modal>

            <node-quote-modal ref="quoteUpdate">
            </node-quote-modal>

            <object-select
                :has-filter="false"
                :initial-doctypes="['media']"
                label="_objectSelectImage"
                ref="objectSelectImage"
                search-object-url="{% url 'search:search_names' %}"
                title="Add Media"
                @select-object="selectObjectImage"
            >
            </object-select>
            <object-select
                label="_objectSelectCollection"
                ref="objectSelectCollection"
                search-object-url="{% url 'search:search_names' %}"
                @select-object="selectObjectCollection"
            >
            </object-select>

        </div>

    </div>

{% endblock %}

{% block javascript %}

    {{ block.super }}

    {{ object.layout|json_script:"layout" }}

    <script type="text/javascript">

        const app = createApp({
            name: "NodeDetail",
            delimiters: ["[[", "]]"],
            components: {
                CollectionObjectList,
                CollectionObjectListModal,
                CreateUpdateTodo,
                FontAwesomeIcon,
                DropDownMenu,
                NodeImage,
                NodeImageModal,
                NodeNote,
                NodeNoteModal,
                NodeQuote,
                NodeQuoteModal,
                NodeTodoList,
                ObjectSelect,
                SlickItem,
                SlickList,
            },
            setup() {
                const editLayout = ref(false);
                const layout = ref(JSON.parse(document.getElementById("layout").textContent));
                const nodeName = ref("{{ object.name }}");
                const nodeUuid = ref("{{ object.uuid }}");

                const collectionUpdate = ref(null);
                const noteImage = ref(null);
                const noteUpdate = ref(null);
                const quoteUpdate = ref(null);
                const objectSelectCollection = ref(null);
                const objectSelectImage = ref(null);
                const todoList = ref(null);
                const updateTodo = ref(null);

                let layoutCache = cloneDeep(layout.value);

                const editLayoutDropDownItemValue = computed(() => {
                    return editLayout.value ? "Disable Edit Layout" : "Enable Edit Layout";
                });

                const hasTodoList = computed(() => {
                    for (const col of layout.value) {
                        for (const row of col) {
                            if (row.type === "todo") {
                                return true;
                            }
                        }
                    }
                    return false;
                });

                function addNodeTodo(payload) {
                    todoList.value[0].addNodeTodo(payload);
                };

                function addNote(note) {
                    doPost(
                        "{% url "node:add_note" %}",
                        {
                            "node_uuid": nodeUuid.value,
                            "note_name": note.name,
                            "color": note.color,
                        },
                        (response) => {
                            layout.value = JSON.parse(response.data.layout);
                        },
                        "Note added",
                    );
                };

                function handleLayoutChange(evt) {
                    if (isEqual(layoutCache, layout.value)) {
                        return;
                    }
                    doPost(
                        "{% url "node:change_layout" %}",
                        {
                            "node_uuid": nodeUuid.value,
                            "layout": JSON.stringify(layout.value),
                        },
                        (response) => {
                            layoutCache = cloneDeep(layout.value);
                        },
                    );
                };

                function handleSortStart() {
                    layoutCache = layout.value;
                };

                function handleTodoUpdate() {
                    todoList.value[0].getTodoList();
                };

                function onAddQuote() {
                    doPost(
                        "{% url "node:add_quote" %}",
                        {
                            "node_uuid": nodeUuid.value,
                        },
                        (response) => {
                            layout.value = JSON.parse(response.data.layout);
                        },
                        "Quote added",
                    );
                };

                function onAddTodoList() {
                    doPost(
                        "{% url "node:add_todo_list" %}",
                        {
                            "node_uuid": nodeUuid.value,
                        },
                        (response) => {
                            layout.value = JSON.parse(response.data.layout);
                        },
                        "Todo list added",
                    );
                };

                function onClickUpdateNode() {
                    const name = document.querySelector("#id_node_name").value;
                    doPut(
                        "{% url 'node-detail' object.uuid %}",
                        {
                            "node_uuid": "{{ object.uuid }}",
                            "name": name,
                        },
                        (response) => {
                            nodeName.value = name;
                            document.querySelector(".node-name").innerHTML = name;
                            const modal = Modal.getInstance(document.querySelector("#modalUpdateNode"));
                            modal.hide();
                        },
                        "Node updated",
                    );
                };

                function onUpdateLayout(payload) {
                    layout.value = JSON.parse(payload);
                };

                function onUpdateNode() {
                    const modal = new Modal("#modalUpdateNode");
                    modal.show();
                    setTimeout(() => {
                        document.querySelector("#id_node_name").focus();
                    }, 500);
                };

                function openCollectionModal() {
                    collectionUpdate.value.openModal(
                        "Add",
                        null,
                        {
                            "collection_type": "ad-hoc",
                            "name": "New Collection",
                            "display": "list",
                            "rotate": -1,
                            "limit": 5,
                            "uuid": "",
                        },
                    );
                };

                function openAddNoteModal() {
                    noteUpdate.value.openModal("Add", addNote, {"color": 1});
                };

                function openCreateUpdateTodoModal(action, data) {
                    updateTodo.value.openModal(action, data);
                };

                function openModalCollectionUpdate(callback, data) {
                    collectionUpdate.value.openModal("Update", callback, data);
                };

                function openModalNoteImage(data) {
                    noteImage.value.openModal(data);
                };

                function openModalNoteUpdate(callback, data) {
                    noteUpdate.value.openModal("Update", callback, data);
                };

                function openQuoteUpdateModal(callback, data) {
                    quoteUpdate.value.openModal("Update", callback, data);
                };

                function openObjectSelectModal(callback, returnArgs) {
                    objectSelectCollection.value.openModal(callback, returnArgs);
                };

                function openSelectImageModal() {
                    objectSelectImage.value.openModal();
                };

                function selectObjectCollection(object, callback, returnArgs) {
                    const args = {
                        "collection_uuid": returnArgs.collectionUuid,
                    };
                    if (object.doctype === "Bookmark") {
                        args.bookmark_uuid = object.uuid;
                    } else {
                        args.blob_uuid = object.uuid;
                    }

                    doPost(
                        "{% url "collection:add_object" %}",
                        args,
                        (response) => {
                            callback();
                        },
                        "Object added",
                    );
                };

                function selectObjectImage(object, callback) {
                    doPost(
                        "{% url "node:add_image" %}",
                        {
                            "node_uuid": nodeUuid.value,
                            "image_uuid": object.uuid,
                        },
                        (response) => {
                            if (callback) {
                                callback();
                            }
                            layout.value = JSON.parse(response.data.layout);
                        },
                        "Image added",
                    );
                };

                return {
                    addNodeTodo,
                    addNote,
                    collectionUpdate,
                    editLayout,
                    editLayoutDropDownItemValue,
                    handleLayoutChange,
                    handleSortStart,
                    handleTodoUpdate,
                    hasTodoList,
                    layout,
                    noteUpdate,
                    objectSelectCollection,
                    objectSelectImage,
                    onAddQuote,
                    onAddTodoList,
                    onClickUpdateNode,
                    onUpdateNode,
                    openAddNoteModal,
                    openCollectionModal,
                    openCreateUpdateTodoModal,
                    openModalCollectionUpdate,
                    openModalNoteImage,
                    openModalNoteUpdate,
                    openQuoteUpdateModal,
                    openObjectSelectModal,
                    openSelectImageModal,
                    onUpdateLayout,
                    quoteUpdate,
                    noteImage,
                    nodeName,
                    nodeUuid,
                    selectObjectCollection,
                    selectObjectImage,
                    todoList,
                    updateTodo,
                };
            },
        });
        app.use(Oruga, {
            iconComponent: "font-awesome-icon",
            iconPack: "fa",
            table: {
                sortIcon: "caret-up",
            },
        });
        app.use(Slicksort);
        app.mount("#vue-app");

    </script>

{% endblock %}

{% block help %}

    <div class="d-none" id="help-text">
# Quote Keyboard Shortcuts
- **Right-Arrow** *-* Skip
- **U** *-* Update
    </div>

{% endblock %}
