{% extends "base.html" %}

{% load dict_get %}

{% load favicon %}

{% block title %} Node {% endblock %}

{% block content %}

    <div id="vue-app">

        {% for node in nodes %}
        <div class="row">

            <div class="col-lg-12">

                <a href="{% url "node:detail" node.uuid %}">{{ node.name }}</a>

            </div>
        </div>
        {% endfor %}

    </div>

{% endblock %}

{% block javascript %}

    {{ block.super }}

    <script type="text/javascript">

        axios.defaults.xsrfCookieName = "csrftoken"
        axios.defaults.xsrfHeaderName = "X-CSRFTOKEN"

        Vue.mixin({ delimiters: ["[[", "]]"] });

        new Vuex.Store({
            state: {
            },
            getters: {},
            mutations: {},
        });

        new Vue({
            el: "#vue-app",
            components: {
            }
        });

    </script>

{% endblock %}
